.alert {
  position: relative;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--blue-500);
  background-image: none;
  border-color: var(--blue-500);
}

.alert-heading {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.alert-link {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: inherit;
    opacity: 0.75;
  }
}

.alert {
  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: inherit;
    padding: 0.4rem 0.6rem;
    line-height: 1;
    font-size: 1.6rem;
    background-color: transparent;
    border-color: transparent;

    &:focus {
      outline: 2px solid rgba(0, 0, 0, 0.5);
      outline-offset: 0.2rem;
    }
  }
}

.alert {
  .dispose {
    display: none;
  }
}

/* Sticky alerts */
.sticky-alerts {
  position: fixed;
  top: 0;
  right: 2.4rem;
  z-index: 100;

  .alert {
    display: none;
    width: 27rem;
    margin-top: 1rem;
    right: -50rem;

    box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.045);
  }

  .alert.show {
    right: 0;

    transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .alert.fade {
    visibility: hidden;
    opacity: 0;

    transition: visibility 0s 0.4s, opacity 0.4s linear;
  }

  .alert.alert-block {
    display: block;
  }

  .alert.alert-block.dispose {
    display: none;
  }
}

.alert.is-blue {
  background-color: var(--blue-500);
  color: var(--white);
}

.alert.is-indigo {
  background-color: var(--indigo-500);
  color: var(--white);
}

.alert.is-pink {
  background-color: var(--pink-500);
  color: var(--white);
}

.alert.is-red {
  background-color: var(--red-500);
  color: var(--white);
}

.alert.is-orange {
  background-color: var(--orange-500);
  color: var(--white);
}

.alert.is-green {
  background-color: var(--green-500);
  color: var(--white);
}

.alert.is-dark-grey {
  background-color: var(--gray-900);
  color: var(--white);
}

.alert.is-rose {
  background-color: var(--rose-500);
  color: var(--black);
}

.alert.is-danger {
  background-color: var(--red-700);
  color: var(-black);
}

.alert.is-light {
  background-color: var(--gray-200);
  color: var(--black);
}

.alert.is-dark {
  background: var(--gray-900);
  color: var(--white);
}
