.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;

  .media {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &.rounded {
    border-radius: 10px;
  }
}

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;

  &.is-centered {
    justify-content: center;
  }
}

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.card-image {
  display: block;
  position: relative;

  &:first-child {
    img {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  &:last-child {
    img {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

}

.card-content {
  background-color: transparent;
  padding: 1.5rem;

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;

  &:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;

  &:not(:last-child) {
    border-right: 1px solid #ededed;
  }
}

/* Card Headings */

.card-heading-container {
  background-color: var(--white);
  border: 1px solid #e8e9eb;
  border-radius: 10px;

  &.custom-width {
    background-color: var(--white);
    border: 1px solid #e8e9eb;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
  }

  &.small {
    background-color: var(--white);
    border: 1px solid #e8e9eb;
    border-radius: 10px;
    height: 950px;
    margin: 50px;
  }

  &.custom {
    background-color: var(--white);
    border: 1px solid #e8e9eb;
    border-radius: 10px;
    margin-top: 2em;
    margin-left: 2em;
    width: 90%;
  }

  &.large {
    background-color: var(--white);
    border: 1px solid #e8e9eb;
    border-radius: 10px;
    height: 950px;
    margin: 50px;
  }
}