.label {
  display: inline-block;
  padding: 0.33333rem 0.5rem;
  border-radius: 0;
  font-size: 0.8rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  color: #000000;

  &.is-blue {
    background: var(--blue-400);
    color: #fefefe;
  }

  &.is-indigo {
    background: var(--indigo-400);
    color: #fefefe;
  }

  &.is-red {
    background: var(--red);
    color: #ffffff;
  }

  &.is-orange {
    background: var(--orange);
    color: #0a0a0a;
  }

  &.is-green {
    background: var(--green);
    color: #fefefe;
  }

  &.is-dark-grey {
    background: var(--gray-dark);
    color: #fefefe;
  }

  &.is-rounded {
    border: none;
    border-radius: 5px;
  }
}