.media-object {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: nowrap;

  @media (max-width: 39.99875em) {
    flex-wrap: wrap;
  }

  img {
    max-width: 100%;
  }
}

.media-object-section {
  padding: 0 1rem;
  flex: 1 1 auto;

  &:last-child > :last-child {
    margin-bottom: 0;
  }

  @media (max-width: 39.99875em) {
    padding: 0;
    padding-bottom: 1rem;
    flex-basis: 100%;
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  &.main-section {
    flex: 1 1 0px;
  }
}
