.menu {
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 0.05rem 0.2rem rgba(48, 55, 66, 0.3);
  list-style: none;
  margin: 0;
  min-width: 180px;
  padding: 0.4rem;
  transform: translateY(0.2rem);
  z-index: 300;

  &.menu-nav {
    background: transparent;
    box-shadow: none;
  }

  &__item {
    margin-top: 0;
    padding: 0 0.4rem;
    position: relative;
    text-decoration: none;

    > a {
      border-radius: 0.1rem;
      color: inherit;
      display: block;
      margin: 0 -0.4rem;
      padding: 0.2rem 0.4rem;
      text-decoration: none;

      &:focus,
      &:hover {
        background: #f1f1fc;
        color: #5755d9;
      }

      &:active {
        background: #f1f1fc;
        color: #5755d9;
      }
    }
  }
}

.menu .menu-item .form-checkbox,
.menu .menu-item .form-radio,
.menu .menu-item .form-switch {
  margin: 0.1rem 0;
}

.menu .menu-item + .menu-item {
  margin-top: 0.2rem;
}

.menu {
  .menu-badge {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .label {
      margin-right: 0.4rem;
    }
  }
}

.flyout-dropbutton {
  background-color: var(--blue-500);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;

  &::after {
    content: '';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M18.59 16.41L20 15l-8-8-8 8 1.41 1.41L12 9.83'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill='%235f6368'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    transform: rotate(180deg);
    transform-origin: center center;
    display: inline-block;
    width: 12px;
    margin-left: 4px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    transition: transform 350ms ease;
  }

  &.transparent {
    background-color: transparent;
    color: black;
  }

  &:hover {
    /* background-color: var(--blue-500); */
    color: #4f46e5;
  }

  &:focus {
    /* background-color: var(--blue-500); */
    color: #4f46e5;
  }
}

.flyout-dropdown {
  position: relative;
  display: inline-block;
}

.flyout-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: max-content;
  height: fit-content;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.158);
  z-index: 1;

  a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;

    &:hover {
      background-color: rgba(221, 221, 221, 0.26);
    }
  }

  &.small {
    min-width: 160px;
  }

  &.normal {
    min-width: 200px;
  }

  &.medium {
    min-width: 300px;
  }

  &.large {
    min-width: 600px;
  }
}

.flyout-dropdown-show {
  display: block;
}

.hover-grey:hover {
  background-color: rgba(221, 221, 221, 0.151);
}

.flyout-menu {
  a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: var(--blue-500);
    }
  }
}

.flyout-dropdown-menu {
  float: left;
  overflow: hidden;
  white-space: none;

  .flyout-dropbtn-menu {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
}

.flyout-menu a:hover,
.flyout-dropdown-menu:hover .flyout-dropbtn-menu {
  background-color: transparent;
  color: #6366f1;
}

.flyout-dropdown-content-menu {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: max-content;
  left: 0;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.flyout-dropdown-menu:hover .flyout-dropdown-content-menu {
  display: block;
}

.flyout-row-menu:after {
  content: '';
  display: table;
  clear: both;
}

.flyout-dropbtn-menu::after {
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M18.59 16.41L20 15l-8-8-8 8 1.41 1.41L12 9.83'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill='%235f6368'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: rotate(180deg);
  transform-origin: center center;
  display: inline-block;
  width: 12px;
  margin-left: 4px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  transition: transform 350ms ease;
}
