// Variables
$menu-toggle-width: 40px;
$menu-toggle-height: 40px;
$menu-icon-width: 20px;
$menu-icon-height: 2px;
$menu-icon-color: black;
$menu-list-top: 60px;
$menu-list-max-width: 300px;
$menu-list-background-color: white;
$menu-list-border-radius: 10px;
$menu-list-padding: 20px;
$menu-list-item-margin: 20px;
$menu-list-item-color: black;
$menu-list-item-font-size: 24px;
$dark-background-color: #333;
$dark-text-color: white;

.nav-menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.open {
        .menu-icon {
            transform: rotate(45deg);
        }

        .menu-list {
            right: 0;
            transition: right 0.3s ease-in-out;
        }
    }

    &.dark {
        .menu-icon,
        .menu-list {
            background-color: $dark-background-color;
        }

        .menu-list a {
            color: $dark-text-color;
        }
    }

    .menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $menu-toggle-width;
        height: $menu-toggle-height;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        margin: 0;

        .menu-icon {
            display: block;
            width: $menu-icon-width;
            height: $menu-icon-height;
            background-color: $menu-icon-color;
            position: relative;
            transition: transform 0.3s ease-in-out;
        }
    }

    .menu-list {
        position: absolute;
        top: $menu-list-top;
        right: -100%;
        width: 100%;
        max-width: $menu-list-max-width;
        background-color: $menu-list-background-color;
        border-radius: $menu-list-border-radius;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        padding: $menu-list-padding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        a {
            margin: $menu-list-item-margin;
            color: $menu-list-item-color;
            text-decoration: none;
            font-size: $menu-list-item-font-size;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
