.navbar {
  background-color: white;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

.navbar-brand > .navbar-item,
.navbar-brand .navbar-link {
  color: var(--black);
}

.navbar-brand .navbar-link::after {
  border-color: var(--black);
}

.navbar-burger {
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .navbar-start .navbar-link::after,
  .navbar-end .navbar-link::after {
    border-color: var(--black);
  }

  .navbar-dropdown a.navbar-item.active {
    background-color: white;
    color: var(--black);
  }
}

.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.has-shadow {
  box-shadow: 0 2px 0 0 whitesmoke;
}

.navbar.fixed-bottom,
.navbar.fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 30;
}

.navbar.fixed-bottom {
  bottom: 0;
}

.navbar.fixed-bottom.has-shadow {
  box-shadow: 0 -2px 0 0 whitesmoke;
}

.navbar.fixed-top {
  top: 0;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 3.25rem;
}

html.has-navbar-fixed-bottom,
body.has-navbar-fixed-bottom {
  padding-bottom: 3.25rem;
}

.navbar-brand,
.navbar-tabs {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-brand a.navbar-item:focus,
.navbar-brand a.navbar-item:hover {
  background-color: transparent;
}

.navbar-tabs {
  -webkit-overflow-scrolling: touch;
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.navbar-burger {
  color: var(--black);
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 2px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 17px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.navbar-burger.active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.active span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  position: relative;
}

.navbar-item .icon:only-child,
.navbar-link .icon:only-child {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}

a.navbar-item,
.navbar-link {
  cursor: pointer;
}

.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}

.navbar-item img {
  max-height: 2.75rem;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item.expanded {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.navbar-item.tab {
  border-bottom: 1px solid transparent;
  min-height: 3.25rem;
  padding-bottom: calc(0.5rem - 1px);
}

.navbar-item.tab:focus,
.navbar-item.tab:hover {
  background-color: transparent;
}

.navbar-item.tab.active {
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  padding-bottom: calc(0.5rem - 3px);
}

.navbar-content {
  flex-grow: 1;
  flex-shrink: 1;
}

.navbar-link:not(.arrowless) {
  padding-right: 2.5em;
}

.navbar-link:not(.arrowless)::after {
  margin-top: -0.375em;
  right: 1.125em;
}

.navbar-dropdown {
  font-size: 0.875rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: whitesmoke;
  border: none;
  display: none;
  height: 2px;
  margin: 0.5rem 0;
}

@media screen and (max-width: 767px) {
  .navbar > .container {
    display: block;
  }

  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-link::after {
    display: none;
  }

  .navbar-menu {
    background-color: white;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

  .navbar-menu.active {
    display: block;
  }

  .navbar.fixed-bottom-touch,
  .navbar.fixed-top-touch {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }

  .navbar.fixed-bottom-touch {
    bottom: 0;
  }

  .navbar.fixed-bottom-touch.has-shadow {
    box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
  }

  .navbar.fixed-top-touch {
    top: 0;
  }

  .navbar.fixed-top .navbar-menu,
  .navbar.fixed-top-touch .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 3.25rem);
    overflow: auto;
  }

  html.has-navbar-fixed-top-touch,
  body.has-navbar-fixed-top-touch {
    padding-top: 3.25rem;
  }

  html.has-navbar-fixed-bottom-touch,
  body.has-navbar-fixed-bottom-touch {
    padding-bottom: 3.25rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar.spaced {
    padding: 1rem 2rem;
  }

  .navbar.spaced .navbar-start,
  .navbar.spaced .navbar-end {
    align-items: center;
  }

  .navbar.spaced a.navbar-item,
  .navbar.spaced .navbar-link {
    border-radius: 4px;
  }

  .navbar.transparent a.navbar-item:focus,
  .navbar.transparent a.navbar-item:hover,
  .navbar.transparent a.navbar-item.active,
  .navbar.transparent .navbar-link:focus,
  .navbar.transparent .navbar-link:hover,
  .navbar.transparent .navbar-link.active {
    background-color: transparent !important;
  }

  .navbar.transparent .navbar-item.has-dropdown.active .navbar-link,
  .navbar.transparent .navbar-item.has-dropdown.hoverable:focus .navbar-link,
  .navbar.transparent
    .navbar-item.has-dropdown.hoverable:focus-within
    .navbar-link,
  .navbar.transparent .navbar-item.has-dropdown.hoverable:hover .navbar-link {
    background-color: transparent !important;
  }

  .navbar.transparent .navbar-dropdown a.navbar-item:focus,
  .navbar.transparent .navbar-dropdown a.navbar-item:hover {
    background-color: whitesmoke;
    color: var(--black);
  }

  .navbar.transparent .navbar-dropdown a.navbar-item.active {
    background-color: whitesmoke;
    color: #3273dc;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.has-dropdown-up .navbar-link::after {
    transform: rotate(135deg) translate(0.25em, -0.25em);
  }

  .navbar-item.has-dropdown-up .navbar-dropdown {
    border-bottom: 2px solid #dbdbdb;
    border-radius: 6px 6px 0 0;
    border-top: none;
    bottom: 100%;
    box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
    top: auto;
  }

  .navbar-item.active .navbar-dropdown,
  .navbar-item.hoverable:focus .navbar-dropdown,
  .navbar-item.hoverable:focus-within .navbar-dropdown,
  .navbar-item.hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar.spaced .navbar-item.active .navbar-dropdown,
  .navbar-item.active .navbar-dropdown.boxed,
  .navbar.spaced .navbar-item.hoverable:focus .navbar-dropdown,
  .navbar-item.hoverable:focus .navbar-dropdown.boxed,
  .navbar.spaced .navbar-item.hoverable:focus-within .navbar-dropdown,
  .navbar-item.hoverable:focus-within .navbar-dropdown.boxed,
  .navbar.spaced .navbar-item.hoverable:hover .navbar-dropdown,
  .navbar-item.hoverable:hover .navbar-dropdown.boxed {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #dbdbdb;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
    display: none;
    font-size: 0.875rem;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.375rem 1rem;
    white-space: nowrap;
  }

  .navbar-dropdown a.navbar-item {
    padding-right: 3rem;
  }

  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    background-color: whitesmoke;
    color: var(--black);
  }

  .navbar-dropdown a.navbar-item.active {
    background-color: whitesmoke;
    color: #3273dc;
  }

  .navbar.spaced .navbar-dropdown,
  .navbar-dropdown.boxed {
    border-radius: 6px;
    border-top: none;
    box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    display: block;
    opacity: 0;
    pointer-events: none;
    top: calc(100% + (-4px));
    transform: translateY(-5px);
    transition-duration: 86ms;
    transition-property: opacity, transform;
  }

  .navbar-dropdown.right {
    left: auto;
    right: 0;
  }

  .navbar-divider {
    display: block;
  }

  .navbar > .container .navbar-brand,
  .container > .navbar .navbar-brand {
    margin-left: -0.75rem;
  }

  .navbar > .container .navbar-menu,
  .container > .navbar .navbar-menu {
    margin-right: -0.75rem;
  }

  .navbar.fixed-bottom-desktop,
  .navbar.fixed-top-desktop {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }

  .navbar.fixed-bottom-desktop {
    bottom: 0;
  }

  .navbar.fixed-bottom-desktop.has-shadow {
    box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
  }

  .navbar.fixed-top-desktop {
    top: 0;
  }

  html.has-navbar-fixed-top-desktop,
  body.has-navbar-fixed-top-desktop {
    padding-top: 3.25rem;
  }

  html.has-navbar-fixed-bottom-desktop,
  body.has-navbar-fixed-bottom-desktop {
    padding-bottom: 3.25rem;
  }

  html.has-spaced-navbar-fixed-top,
  body.has-spaced-navbar-fixed-top {
    padding-top: 5.25rem;
  }

  html.has-spaced-navbar-fixed-bottom,
  body.has-spaced-navbar-fixed-bottom {
    padding-bottom: 5.25rem;
  }

  a.navbar-item.active,
  .navbar-link.active {
    color: var(--black);
  }

  a.navbar-item.active:not(:focus):not(:hover),
  .navbar-link.active:not(:focus):not(:hover) {
    background-color: transparent;
  }

  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.active .navbar-link {
    background-color: #fafafa;
  }
}
