/* Right Cornor Notification */
.notification {
  display: inline-flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 4px;
  position: relative;
  padding-left: 1rem;
  width: 25em;
  height: max-content;
  padding-bottom: 1.5rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);

  a {
    &:not(.btn) {
      &:not(.dropdown-item) {
        color: currentColor;
        text-decoration: underline;
      }
    }
  }

  strong {
    color: currentColor;
  }

  code,
  pre {
    background: white;
  }

  pre,
  code {
    background: transparent;
  }

  > .delete {
    right: 0.5rem;
    position: absolute;
    top: 0.5rem;
  }

  .title,
  .subtitle,
  .content {
    color: currentColor;
  }

  &.is-white {
    background-color: var(--white);
    color: black;
  }

  &.is-black {
    background-color: black;
    color: var(--white);
  }

  &.is-blue {
    background-color: var(--blue-500);
    color: var(--white);
  }
}
