.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;

  &__item {
    &--active {
      .page-link {
        z-index: 3;
        color: #fff;
        background-color: #4338ca;
        border-color: #4338ca;
      }
    }

    &--disabled {
      .page-link {
        color: #6c757d;
        pointer-events: none;
        background-color: #fff;
        border-color: #dee2e6;
      }
    }
  }

  .page-link {
    position: relative;
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    &:hover {
      z-index: 2;
      color: rgb(0, 0, 0);
      background-color: #e7e7e7;
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      z-index: 3;
      color: #000000;
      background-color: #ffffff;
      outline: 2px solid var(--blue-500);
    }

    &--large {
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;

      &:first-child {
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }

      &:last-child {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }
    }

    &--small {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;

      &:first-child {
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
      }

      &:last-child {
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .page-link {
      transition: none;
    }
  }
}
