.loading-placeholder {
    display: inline-block;
    min-height: var(--loading-placeholder-min-height, 1em);
    vertical-align: middle;
    cursor: wait;
    background-color: currentColor;
    opacity: var(--loading-placeholder-opacity, 0.5);

    &.size-xs {
        --loading-placeholder-min-height: 0.6em;
    }

    &.size-sm {
        --loading-placeholder-min-height: 0.8em;
    }

    &.size-lg {
        --loading-placeholder-min-height: 1.2em;
    }

    &.size-xl {
        --loading-placeholder-min-height: 1.8em;
    }

    &.btn {
        &::before {
            display: inline-block;
            content: "";
        }
    }

    &.glow {
        animation: loading-placeholder-glow
            var(--loading-placeholder-animation-duration, 2s) ease-in-out
            infinite;
    }

    &.wave {
        mask-image: linear-gradient(
            130deg,
            #000 55%,
            rgba(0, 0, 0, 0.8) 75%,
            #000 95%
        );
        mask-size: 200% 100%;
        animation: loading-placeholder-wave
            var(--loading-placeholder-animation-duration, 2s) linear infinite;
    }
}

@keyframes loading-placeholder-glow {
    50% {
        opacity: 0.2;
    }
}

@keyframes loading-placeholder-wave {
    100% {
        mask-position: -200% 0%;
    }
}
