.placeholder {
  display: inline-block;
  min-height: 1em;
  vertical-align: middle;
  cursor: wait;
  background-color: currentColor;
  opacity: 0.5;

  &.btn {
    &::before {
      display: inline-block;
      content: '';
    }
  }

  &.xs {
    min-height: 0.6em;
  }

  &.sm {
    min-height: 0.8em;
  }

  &.lg {
    min-height: 1.2em;
  }

  &.xl {
    min-height: 1.8em;
  }

  &.glow {
    animation: placeholder-glow 2s ease-in-out infinite;
  }

  &.wave {
    mask-image: linear-gradient(
      130deg,
      #000 55%,
      rgba(0, 0, 0, 0.8) 75%,
      #000 95%
    );
    mask-size: 200% 100%;
    animation: placeholder-wave 2s linear infinite;
  }
}

@-webkit-keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%;
  }
}

@keyframes placeholder-wave {
  100% {
    mask-position: -200% 0%;
  }
}
