// Define color variables
$blue-600: #007aff;
$blue-800: #0052cc;
$gray-900: #e6e6e6;
$gray-cacaca: #cacaca;

// Define slider styles
.slider {
  position: relative;
  height: 0.5em;
  margin: 1.25em 0 2.25em;
  background-color: $gray-900;
  cursor: pointer;
  user-select: none;
  touch-action: none;

  &.vertical {
    display: inline-block;
    width: 0.5em;
    height: 12.5em;
    margin: 0 1.25em;
    transform: scale(1, -1);
  }

  &.disabled,
  [disabled] {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

// Define slider-fill styles
.slider-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  max-width: 100%;
  height: 0.5em;
  background-color: $gray-cacaca;
  transition: all 0.2s ease-in-out;

  &.dragging {
    transition: all 0s linear;
  }

  &.vertical {
    top: 0;
    width: 0.5em;
    max-height: 100%;
  }
}

// Define slider-handle styles
.slider-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0;
  background-color: $blue-600;
  transition: all 0.2s ease-in-out;
  touch-action: manipulation;

  &:hover {
    background-color: $blue-800;
  }

  &.dragging {
    transition: all 0s linear;
  }

  &.vertical {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1.4em;
    height: 1.4em;
    transform: translateX(-50%);
  }

  [data-whatinput='mouse'] & {
    outline: 0;
  }
}
