.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap; /* add this to allow wrapping of items within the tile */

  .title-icon,
  .tile-action {
    flex: 0 0 auto;
  }

  .tile-content {
    flex: 1 1 auto;

    &:not(:first-child) {
      padding-left: 0.4rem;
    }

    &:not(:last-child) {
      padding-right: 0.4rem;
    }
  }

  .tile-title,
  .tile-subtitle {
    line-height: 1.2rem;
  }

  &.tile-centered {
    align-items: center;

    .tile-content {
      overflow: hidden;
    }

    .tile-title,
    .tile-subtitle {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
