.tile {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0.5rem;

  .title-icon,
  .tile-action {
    flex: 0 0 auto;
  }

  .tile-content {
    flex: 1 1 auto;
    padding: 0 0.4rem;
  }

  .tile-title,
  .tile-subtitle {
    line-height: 1.2rem;
  }

  &.tile-centered {
    align-items: center;

    .tile-content {
      overflow: hidden;
    }

    .tile-title,
    .tile-subtitle {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.is-large {
    .tile-content {
      padding: 0 1rem;
    }

    .tile-title,
    .tile-subtitle {
      font-size: 1.25rem;
    }
  }

  &.is-small {
    .tile-content {
      padding: 0 0.25rem;
    }

    .tile-title,
    .tile-subtitle {
      font-size: 1rem;
    }
  }
}
