// Variables
$tooltip-width: 10rem;
$tooltip-height: 1rem;
$tooltip-background-color: #191c20;
$tooltip-text-color: rgba(255, 255, 255, 0.8);
$tooltip-border-radius: 0.4rem;

// Tooltip container
[data-toggle="tooltip"] {
    position: relative;
    box-sizing: border-box;
}

// Tooltip arrow
[data-toggle="tooltip"]::before {
    content: "";
    width: $tooltip-height;
    height: $tooltip-height;
    background-color: $tooltip-background-color;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 90;
    transform: translate(-50%, -100%) rotate(45deg);
}

// Tooltip content
[data-toggle="tooltip"]::after {
    content: attr(data-title);
    width: $tooltip-width;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    color: $tooltip-text-color;
    background-color: $tooltip-background-color;
    border-radius: $tooltip-border-radius;
    text-align: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 90;
    transform: translate(-50%, -50%);
}

// Placement classes
.tooltip-top {
    top: 50%;
    transform: translate(-50%, -50%);
}
.tooltip-bottom {
    bottom: 50%;
    transform: translate(-50%, 50%);
}
.tooltip-left {
    left: 50%;
    transform: translate(-50%, -50%);
}
.tooltip-right {
    right: 50%;
    transform: translate(50%, -50%);
}

// Breakpoint classes
@media (min-width: 769px) {
    .tooltip-md {
        [data-toggle="tooltip"]::before {
            width: 1.2rem;
            height: 1.2rem;
        }
        [data-toggle="tooltip"]::after {
            width: 12rem;
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 993px) {
    .tooltip-lg {
        [data-toggle="tooltip"]::before {
            width: 1.5rem;
            height: 1.5rem;
        }
        [data-toggle="tooltip"]::after {
            width: 15rem;
            font-size: 1.6rem;
        }
    }
}

// Hover and focus states
[data-toggle="tooltip"]:not(:hover):not(:focus) {
    &::before,
    &::after {
        transition: none;
    }
    &::before {
        opacity: 0;
    }
    &::after {
        opacity: 0;
    }
}

[data-toggle="tooltip"]:hover::before,
[data-toggle="tooltip"]:focus::before {
    opacity: 1;
    transition: opacity 0.5s;
}

[data-toggle="tooltip"]:hover::after,
[data-toggle="tooltip"]:focus::after {
    opacity: 1;
    transition:
        all 0.1s,
        color 0s,
        background-color 0s;
}
