.shadow-none {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.shadow-sm {
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15) !important;
}

.dark-mode .shadow-sm {
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4) !important;
}

.shadow {
  -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15) !important;
}

.dark-mode .shadow {
  -webkit-box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4) !important;
}

.shadow-lg {
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15) !important;
}

.dark-mode .shadow-lg {
  -webkit-box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.4) !important;
}
