// For setting the color of a form input's accent
.accent-auto {
  accent-color: auto;
}

.accent-slate {
  accent-color: var(--slate);
}

.accent-slate-100 {
  accent-color: var(--slate-100);
}

.accent-slate-200 {
  accent-color: var(--slate-200);
}

.accent-slate-300 {
  accent-color: var(--slate-300);
}

.accent-slate-400 {
  accent-color: var(--slate-400);
}

.accent-slate-500 {
  accent-color: var(--slate-500);
}

.accent-slate-600 {
  accent-color: var(--slate-600);
}

.accent-slate-700 {
  accent-color: var(--slate-700);
}

.accent-slate-800 {
  accent-color: var(--slate-800);
}

.accent-slate-900 {
  accent-color: var(--slate-900);
}

.accent-blue-50 {
  accent-color: var(--blue-50);
}

.accent-blue-100 {
  accent-color: var(--blue-100);
}

.accent-blue-200 {
  accent-color: var(--blue-200);
}

.accent-blue-300 {
  accent-color: var(--blue-300);
}

.accent-blue-400 {
  accent-color: var(--blue-400);
}

.accent-blue-500 {
  accent-color: var(--blue-500);
}

.accent-blue-600 {
  accent-color: var(--blue-600);
}

.accent-blue-700 {
  accent-color: var(--blue-700);
}

.accent-blue-800 {
  accent-color: var(--blue-800);
}

.accent-blue-900 {
  accent-color: var(--blue-900);
}

.accent-light-blue-100 {
  accent-color: var(--light-blue-100);
}

.accent-light-blue-200 {
  accent-color: var(--light-blue-200);
}

.accent-light-blue-300 {
  accent-color: var(--light-blue-300);
}

.accent-light-blue-400 {
  accent-color: var(--light-blue-400);
}

.accent-light-blue-500 {
  accent-color: var(--light-blue-500);
}

.accent-light-blue-600 {
  accent-color: var(--light-blue-600);
}

.accent-light-blue-700 {
  accent-color: var(--light-blue-700);
}

.accent-light-blue-800 {
  accent-color: var(--light-blue-800);
}

.accent-light-blue-900 {
  accent-color: var(--light-blue-900);
}

.accent-indigo-100 {
  accent-color: var(--indigo-100);
}

.accent-indigo-200 {
  accent-color: var(--indigo-200);
}

.accent-indigo-300 {
  accent-color: var(--indigo-300);
}

.accent-indigo-400 {
  accent-color: var(--indigo-400);
}

.accent-indigo-500 {
  accent-color: var(--indigo-500);
}

.accent-indigo-600 {
  accent-color: var(--indigo-600);
}

.accent-indigo-700 {
  accent-color: var(--indigo-700);
}

.accent-indigo-700 {
  accent-color: var(--indigo-800);
}

.accent-indigo-700 {
  accent-color: var(--indigo-900);
}

.accent-purple-50 {
  accent-color: var(--purple-50);
}

.accent-purple-100 {
  accent-color: var(--purple-100);
}

.accent-purple-200 {
  accent-color: var(--purple-200);
}

.accent-purple-300 {
  accent-color: var(--purple-300);
}

.accent-purple-400 {
  accent-color: var(--purple-400);
}

.accent-purple-500 {
  accent-color: var(--purple-500);
}

.accent-purple-600 {
  accent-color: var(--purple-600);
}

.accent-purple-700 {
  accent-color: var(--purple-700);
}

.accent-purple-800 {
  accent-color: var(--purple-800);
}

.accent-purple-900 {
  accent-color: var(--purple-900);
}

.accent-deep-purple-100 {
  accent-color: var(--deep-purple-100);
}

.accent-deep-purple-200 {
  accent-color: var(--deep-purple-200);
}

.accent-deep-purple-300 {
  accent-color: var(--deep-purple-300);
}

.accent-deep-purple-400 {
  accent-color: var(--deep-purple-400);
}

.accent-deep-purple-500 {
  accent-color: var(--deep-purple-500);
}

.accent-deep-purple-600 {
  accent-color: var(--deep-purple-600);
}

.accent-deep-purple-700 {
  accent-color: var(--deep-purple-700);
}

.accent-deep-purple-800 {
  accent-color: var(--deep-purple-800);
}

.accent-deep-purple-900 {
  accent-color: var(--deep-purple-900);
}

.accent-fuchsia-50 {
  accent-color: var(--fuchsia-50);
}

.accent-fuchsia-100 {
  accent-color: var(--fuchsia-100);
}

.accent-fuchsia-200 {
  accent-color: var(--fuchsia-200);
}

.accent-fuchsia-300 {
  accent-color: var(--fuchsia-300);
}

.accent-fuchsia-400 {
  accent-color: var(--fuchsia-400);
}

.accent-fuchsia-500 {
  accent-color: var(--fuchsia-500);
}

.accent-fuchsia-600 {
  accent-color: var(--fuchsia-600);
}

.accent-fuchsia-700 {
  accent-color: var(--fuchsia-700);
}

.accent-fuchsia-800 {
  accent-color: var(--fuchsia-800);
}

.accent-fuchsia-900 {
  accent-color: var(--fuchsia-900);
}

.accent-pink-50 {
  accent-color: var(--pink-50);
}

.accent-pink-100 {
  accent-color: var(--pink-100);
}

.accent-pink-200 {
  accent-color: var(--pink-200);
}

.accent-pink-300 {
  accent-color: var(--pink-300);
}

.accent-pink-400 {
  accent-color: var(--pink-400);
}

.accent-pink-500 {
  accent-color: var(--pink-500);
}

.accent-pink-600 {
  accent-color: var(--pink-600);
}

.accent-pink-700 {
  accent-color: var(--pink-700);
}

.accent-pink-800 {
  accent-color: var(--pink-800);
}

.accent-pink-900 {
  accent-color: var(--pink-900);
}

.accent-rose-50 {
  accent-color: var(--rose-50);
}

.accent-rose-100 {
  accent-color: var(--rose-100);
}

.accent-rose-200 {
  accent-color: var(--rose-200);
}

.accent-rose-300 {
  accent-color: var(--rose-300);
}

.accent-rose-400 {
  accent-color: var(--rose-400);
}

.accent-rose-500 {
  accent-color: var(--rose-500);
}

.accent-rose-600 {
  accent-color: var(--rose-600);
}

.accent-rose-700 {
  accent-color: var(--rose-700);
}

.accent-rose-800 {
  accent-color: var(--rose-800);
}

.accent-red-50 {
  accent-color: var(--red-50);
}

.accent-red-100 {
  accent-color: var(--red-100);
}

.accent-red-200 {
  accent-color: var(--red-200);
}

.accent-red-300 {
  accent-color: var(--red-300);
}

.accent-red-400 {
  accent-color: var(--red-400);
}

.accent-red-500 {
  accent-color: var(--red-500);
}

.accent-red-600 {
  accent-color: var(--red-600);
}

.accent-red-700 {
  accent-color: var(--red-700);
}

.accent-red-800 {
  accent-color: var(--red-800);
}

.accent-red-900 {
  accent-color: var(--red-900);
}

.accent-orange-50 {
  accent-color: var(--orange-50);
}

.accent-orange-100 {
  accent-color: var(--orange-100);
}

.accent-orange-200 {
  accent-color: var(--orange-200);
}

.accent-orange-300 {
  accent-color: var(--orange-300);
}

.accent-orange-400 {
  accent-color: var(--orange-400);
}

.accent-orange-500 {
  accent-color: var(--orange-500);
}

.accent-orange-600 {
  accent-color: var(--orange-600);
}

.accent-orange-700 {
  accent-color: var(--orange-700);
}

.accent-orange-800 {
  accent-color: var(--orange-800);
}

.accent-orange-900 {
  accent-color: var(--orange-900);
}

.accent-yellow-50 {
  accent-color: var(--yellow-50);
}

.accent-yellow-100 {
  accent-color: var(--yellow-100);
}

.accent-yellow-200 {
  accent-color: var(--yellow-200);
}

.accent-yellow-300 {
  accent-color: var(--yellow-300);
}

.accent-yellow-400 {
  accent-color: var(--yellow-400);
}

.accent-yellow-500 {
  accent-color: var(--yellow-500);
}

.accent-yellow-600 {
  accent-color: var(--yellow-600);
}

.accent-yellow-700 {
  accent-color: var(--yellow-700);
}

.accent-yellow-800 {
  accent-color: var(--yellow-800);
}

.accent-yellow-900 {
  accent-color: var(--yellow-900);
}

.accent-lime-100 {
  accent-color: var(--lime-100);
}

.accent-lime-200 {
  accent-color: var(--lime-200);
}

.accent-lime-300 {
  accent-color: var(--lime-300);
}

.accent-lime-400 {
  accent-color: var(--lime-400);
}

.accent-lime-500 {
  accent-color: var(--lime-500);
}

.accent-lime-600 {
  accent-color: var(--lime-600);
}

.accent-lime-700 {
  accent-color: var(--lime-700);
}

.accent-lime-800 {
  accent-color: var(--lime-800);
}

.accent-lime-900 {
  accent-color: var(--lime-900);
}

.accent-green-50 {
  accent-color: var(--green-50);
}

.accent-green-100 {
  accent-color: var(--green-100);
}

.accent-green-200 {
  accent-color: var(--green-200);
}

.accent-green-300 {
  accent-color: var(--green-300);
}

.accent-green-400 {
  accent-color: var(--green-400);
}

.accent-green-500 {
  accent-color: var(--green-500);
}

.accent-green-600 {
  accent-color: var(--green-600);
}

.accent-green-700 {
  accent-color: var(--green-700);
}

.accent-green-800 {
  accent-color: var(--green-800);
}

.accent-green-900 {
  accent-color: var(--green-900);
}

.accent-teal-50 {
  accent-color: var(--teal-50);
}

.accent-teal-100 {
  accent-color: var(--teal-100);
}

.accent-teal-200 {
  accent-color: var(--teal-200);
}

.accent-teal-300 {
  accent-color: var(--teal-300);
}

.accent-teal-400 {
  accent-color: var(--teal-400);
}

.accent-teal-500 {
  accent-color: var(--teal-500);
}

.accent-teal-600 {
  accent-color: var(--teal-600);
}

.accent-teal-700 {
  accent-color: var(--teal-700);
}

.accent-teal-800 {
  accent-color: var(--teal-800);
}

.accent-teal-900 {
  accent-color: var(--teal-900);
}

.accent-gray-100 {
  accent-color: var(--gray-100);
}

.accent-gray-200 {
  accent-color: var(--gray-200);
}

.accent-gray-300 {
  accent-color: var(--gray-300);
}

.accent-gray-400 {
  accent-color: var(--gray-400);
}

.accent-gray-600 {
  accent-color: var(--gray-600);
}

.accent-gray-700 {
  accent-color: var(--gray-700);
}

.accent-gray-800 {
  accent-color: var(--gray-800);
}

.accent-gray-900 {
  accent-color: var(--gray-900);
}

.accent-zinc-50 {
  accent-color: var(--zinc-50);
}

.accent-zinc-100 {
  accent-color: var(--zinc-100);
}

.accent-zinc-200 {
  accent-color: var(--zinc-200);
}

.accent-zinc-300 {
  accent-color: var(--zinc-300);
}

.accent-zinc-400 {
  accent-color: var(--zinc-400);
}

.accent-zinc-500 {
  accent-color: var(--zinc-500);
}

.accent-zinc-600 {
  accent-color: var(--zinc-600);
}

.accent-zinc-700 {
  accent-color: var(--zinc-700);
}

.accent-zinc-800 {
  accent-color: var(--zinc-800);
}

.accent-zinc-900 {
  accent-color: var(--zinc-900);
}

.accent-light-50 {
  accent-color: var(--light-50);
}

.accent-light-100 {
  accent-color: var(--light-100);
}

.accent-light-200 {
  accent-color: var(--light-200);
}

.accent-light-300 {
  accent-color: var(--light-300);
}

.accent-light-400 {
  accent-color: var(--light-400);
}

.accent-light-500 {
  accent-color: var(--light-500);
}

.accent-light-600 {
  accent-color: var(--light-600);
}

.accent-light-700 {
  accent-color: var(--light-700);
}

.accent-light-800 {
  accent-color: var(--light-800);
}

.accent-light-900 {
  accent-color: var(--light-900);
}

.accent-white {
  accent-color: var(--white);
}

.accent-black {
  accent-color: var(--black);
}

.accent-dark-50 {
  accent-color: var(--dark-50);
}

.accent-dark-100 {
  accent-color: var(--dark-100);
}

.accent-dark-200 {
  accent-color: var(--dark-200);
}

.accent-dark-300 {
  accent-color: var(--dark-300);
}

.accent-dark-400 {
  accent-color: var(--dark-400);
}

.accent-dark-500 {
  accent-color: var(--dark-500);
}

.accent-dark-600 {
  accent-color: var(--dark-600);
}

.accent-dark-700 {
  accent-color: var(--dark-700);
}

.accent-dark-800 {
  accent-color: var(--dark-800);
}

.accent-dark-900 {
  accent-color: var(--dark-900);
}

.accent-inherit {
  accent-color: inherit;
}

.accent-initial {
  accent-color: initial;
}

.accent-revert {
  accent-color: revert;
}

.accent-unset {
  accent-color: unset;
}
