.justify-start {
  justify-content: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.justify-around {
  justify-content: space-around !important;
}

.justify-evenly {
  justify-content: space-evenly !important;
}

.justify-items-auto {
  justify-items: auto !important;
}

.justify-items-start {
  justify-items: start !important;
}

.justify-items-end {
  justify-items: end !important;
}

.justify-items-center {
  justify-items: center !important;
}

.justify-items-stretch {
  justify-items: stretch !important;
}

.justify-self-auto {
  justify-self: auto !important;
}

.justify-self-start {
  justify-self: start !important;
}

.justify-self-end {
  justify-self: end !important;
}

.justify-self-center {
  justify-self: center !important;
}

.justify-self-stretch {
  justify-self: stretch !important;
}

.justify-start.vertical.menu > li > a {
  justify-content: flex-start !important;
}

.justify-end.vertical.menu > li > a {
  justify-content: flex-end !important;
}

.justify-center.vertical.menu > li > a {
  justify-content: center !important;
}

.content-center {
  align-content: center !important;
}

.content-start {
  align-content: flex-start !important;
}

.content-end {
  align-content: flex-end !important;
}

.content-between {
  align-content: space-between !important;
}

.content-around {
  align-content: space-around !important;
}

.content-evenly {
  align-content: space-evenly !important;
}

.self-auto {
  align-self: auto !important;
}

.items-start {
  align-items: flex-start !important;
}

.self-start {
  align-self: flex-start !important;
}

.items-end {
  align-items: flex-end !important;
}

.self-end {
  align-self: flex-end !important;
}

.items-baseline {
  align-items: baseline !important;
}

.items-center {
  align-items: center !important;
}

.self-center {
  align-self: center !important;
}

.items-stretch {
  align-items: stretch !important;
}

.self-stretch {
  align-self: stretch !important;
}

.justify-center-middle {
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.vertical-align-baseline {
  vertical-align: baseline !important;
}

.vertical-items-start {
  vertical-align: top !important;
}

.vertical-items-center {
  vertical-align: middle !important;
}

.vertical-items-end {
  vertical-align: bottom !important;
}

.vertical-align-text-top {
  vertical-align: text-top !important;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-align-sub {
  vertical-align: sub !important;
}

.vertical-align-super {
  vertical-align: super !important;
}

@media (min-width: 360px) {
  .xs\:justify-start {
    justify-content: flex-start !important;
  }

  .xs\:justify-end {
    justify-content: flex-end !important;
  }

  .xs\:justify-center {
    justify-content: center !important;
  }

  .xs\:justify-between {
    justify-content: space-between !important;
  }

  .xs\:justify-around {
    justify-content: space-around !important;
  }

  .xs\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .xs\:justify-items-auto {
    justify-items: auto !important;
  }

  .xs\:justify-items-start {
    justify-items: start !important;
  }

  .xs\:justify-items-end {
    justify-items: end !important;
  }

  .xs\:justify-items-center {
    justify-items: center !important;
  }

  .xs\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .xs\:justify-self-auto {
    justify-self: auto !important;
  }

  .xs\:justify-self-start {
    justify-self: start !important;
  }

  .xs\:justify-self-end {
    justify-self: end !important;
  }

  .xs\:justify-self-center {
    justify-self: center !important;
  }

  .xs\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .xs\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .xs\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .xs\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .xs\:content-center {
    align-content: center !important;
  }

  .xs\:content-start {
    align-content: flex-start !important;
  }

  .xs\:content-end {
    align-content: flex-end !important;
  }

  .xs\:content-between {
    align-content: space-between !important;
  }

  .xs\:content-around {
    align-content: space-around !important;
  }

  .xs\:content-evenly {
    align-content: space-evenly !important;
  }

  .xs\:items-start {
    align-items: flex-start !important;
  }

  .xs\:self-start {
    align-self: flex-start !important;
  }

  .xs\:items-end {
    align-items: flex-end !important;
  }

  .xs\:self-end {
    align-self: flex-end !important;
  }

  .xs\:items-baseline {
    align-items: baseline !important;
  }

  .xs\:items-center {
    align-items: center !important;
  }

  .xs\:self-center {
    align-self: center !important;
  }

  .xs\:items-stretch {
    align-items: stretch !important;
  }

  .xs\:self-stretch {
    align-self: stretch !important;
  }

  .xs\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .xs\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .xs\:vertical-items-start {
    vertical-align: top !important;
  }

  .xs\:vertical-items-center {
    vertical-align: middle !important;
  }

  .xs\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .xs\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .xs\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .xs\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .xs\:vertical-align-super {
    vertical-align: super !important;
  }
}

@media (min-width: 640px) {
  .sm\:justify-start {
    justify-content: flex-start !important;
  }

  .sm\:justify-end {
    justify-content: flex-end !important;
  }

  .sm\:justify-center {
    justify-content: center !important;
  }

  .sm\:justify-between {
    justify-content: space-between !important;
  }

  .sm\:justify-around {
    justify-content: space-around !important;
  }

  .sm\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .sm\:justify-items-auto {
    justify-items: auto !important;
  }

  .sm\:justify-items-start {
    justify-items: start !important;
  }

  .sm\:justify-items-end {
    justify-items: end !important;
  }

  .sm\:justify-items-center {
    justify-items: center !important;
  }

  .sm\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .sm\:justify-self-auto {
    justify-self: auto !important;
  }

  .sm\:justify-self-start {
    justify-self: start !important;
  }

  .sm\:justify-self-end {
    justify-self: end !important;
  }

  .sm\:justify-self-center {
    justify-self: center !important;
  }

  .sm\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .sm\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .sm\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .sm\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .sm\:content-center {
    align-content: center !important;
  }

  .sm\:content-start {
    align-content: flex-start !important;
  }

  .sm\:content-end {
    align-content: flex-end !important;
  }

  .sm\:content-between {
    align-content: space-between !important;
  }

  .sm\:content-around {
    align-content: space-around !important;
  }

  .sm\:content-evenly {
    align-content: space-evenly !important;
  }

  .sm\:items-start {
    align-items: flex-start !important;
  }

  .sm\:self-start {
    align-self: flex-start !important;
  }

  .sm\:items-end {
    align-items: flex-end !important;
  }

  .sm\:self-end {
    align-self: flex-end !important;
  }

  .sm\:items-baseline {
    align-items: baseline !important;
  }

  .sm\:items-center {
    align-items: center !important;
  }

  .sm\:self-center {
    align-self: center !important;
  }

  .sm\:items-stretch {
    align-items: stretch !important;
  }

  .sm\:self-stretch {
    align-self: stretch !important;
  }

  .sm\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .sm\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .sm\:vertical-items-start {
    vertical-align: top !important;
  }

  .sm\:vertical-items-center {
    vertical-align: middle !important;
  }

  .sm\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .sm\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .sm\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .sm\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .sm\:vertical-align-super {
    vertical-align: super !important;
  }
}

@media (min-width: 768px) {
  .md\:justify-start {
    justify-content: flex-start !important;
  }

  .md\:justify-end {
    justify-content: flex-end !important;
  }

  .md\:justify-center {
    justify-content: center !important;
  }

  .md\:justify-between {
    justify-content: space-between !important;
  }

  .md\:justify-around {
    justify-content: space-around !important;
  }

  .md\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .md\:justify-items-auto {
    justify-items: auto !important;
  }

  .md\:justify-items-start {
    justify-items: start !important;
  }

  .md\:justify-items-end {
    justify-items: end !important;
  }

  .md\:justify-items-center {
    justify-items: center !important;
  }

  .md\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .md\:justify-self-auto {
    justify-self: auto !important;
  }

  .md\:justify-self-start {
    justify-self: start !important;
  }

  .md\:justify-self-end {
    justify-self: end !important;
  }

  .md\:justify-self-center {
    justify-self: center !important;
  }

  .md\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .md\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .md\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .md\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .md\:content-center {
    align-content: center !important;
  }

  .md\:content-start {
    align-content: flex-start !important;
  }

  .md\:content-end {
    align-content: flex-end !important;
  }

  .md\:content-between {
    align-content: space-between !important;
  }

  .md\:content-around {
    align-content: space-around !important;
  }

  .md\:content-evenly {
    align-content: space-evenly !important;
  }

  .md\:items-start {
    align-items: flex-start !important;
  }

  .md\:self-start {
    align-self: flex-start !important;
  }

  .md\:items-end {
    align-items: flex-end !important;
  }

  .md\:self-end {
    align-self: flex-end !important;
  }

  .md\:items-baseline {
    align-items: baseline !important;
  }

  .md\:items-center {
    align-items: center !important;
  }

  .md\:self-center {
    align-self: center !important;
  }

  .md\:items-stretch {
    align-items: stretch !important;
  }

  .md\:self-stretch {
    align-self: stretch !important;
  }

  .md\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .md\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .md\:vertical-items-start {
    vertical-align: top !important;
  }

  .md\:vertical-items-center {
    vertical-align: middle !important;
  }

  .md\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .md\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .md\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .md\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .md\:vertical-align-super {
    vertical-align: super !important;
  }
}

@media (min-width: 1024px) {
  .lg\:justify-start {
    justify-content: flex-start !important;
  }

  .lg\:justify-end {
    justify-content: flex-end !important;
  }

  .lg\:justify-center {
    justify-content: center !important;
  }

  .lg\:justify-between {
    justify-content: space-between !important;
  }

  .lg\:justify-around {
    justify-content: space-around !important;
  }

  .lg\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .lg\:justify-items-auto {
    justify-items: auto !important;
  }

  .lg\:justify-items-start {
    justify-items: start !important;
  }

  .lg\:justify-items-end {
    justify-items: end !important;
  }

  .lg\:justify-items-center {
    justify-items: center !important;
  }

  .lg\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .lg\:justify-self-auto {
    justify-self: auto !important;
  }

  .lg\:justify-self-start {
    justify-self: start !important;
  }

  .lg\:justify-self-end {
    justify-self: end !important;
  }

  .lg\:justify-self-center {
    justify-self: center !important;
  }

  .lg\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .lg\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .lg\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .lg\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .lg\:content-center {
    align-content: center !important;
  }

  .lg\:content-start {
    align-content: flex-start !important;
  }

  .lg\:content-end {
    align-content: flex-end !important;
  }

  .lg\:content-between {
    align-content: space-between !important;
  }

  .lg\:content-around {
    align-content: space-around !important;
  }

  .lg\:content-evenly {
    align-content: space-evenly !important;
  }

  .lg\:items-start {
    align-items: flex-start !important;
  }

  .lg\:self-start {
    align-self: flex-start !important;
  }

  .lg\:items-end {
    align-items: flex-end !important;
  }

  .lg\:self-end {
    align-self: flex-end !important;
  }

  .lg\:items-baseline {
    align-items: baseline !important;
  }

  .lg\:items-center {
    align-items: center !important;
  }

  .lg\:self-center {
    align-self: center !important;
  }

  .lg\:items-stretch {
    align-items: stretch !important;
  }

  .lg\:self-stretch {
    align-self: stretch !important;
  }

  .lg\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .lg\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .lg\:vertical-items-start {
    vertical-align: top !important;
  }

  .lg\:vertical-items-center {
    vertical-align: middle !important;
  }

  .lg\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .lg\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .lg\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .lg\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .lg\:vertical-align-super {
    vertical-align: super !important;
  }
}

@media (min-width: 1280px) {
  .xl\:justify-start {
    justify-content: flex-start !important;
  }

  .xl\:justify-end {
    justify-content: flex-end !important;
  }

  .xl\:justify-center {
    justify-content: center !important;
  }

  .xl\:justify-between {
    justify-content: space-between !important;
  }

  .xl\:justify-around {
    justify-content: space-around !important;
  }

  .xl\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .xl\:justify-items-auto {
    justify-items: auto !important;
  }

  .xl\:justify-items-start {
    justify-items: start !important;
  }

  .xl\:justify-items-end {
    justify-items: end !important;
  }

  .xl\:justify-items-center {
    justify-items: center !important;
  }

  .xl\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .xl\:justify-self-auto {
    justify-self: auto !important;
  }

  .xl\:justify-self-start {
    justify-self: start !important;
  }

  .xl\:justify-self-end {
    justify-self: end !important;
  }

  .xl\:justify-self-center {
    justify-self: center !important;
  }

  .xl\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .xl\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .xl\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .xl\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .xl\:content-center {
    align-content: center !important;
  }

  .xl\:content-start {
    align-content: flex-start !important;
  }

  .xl\:content-end {
    align-content: flex-end !important;
  }

  .xl\:content-between {
    align-content: space-between !important;
  }

  .xl\:content-around {
    align-content: space-around !important;
  }

  .xl\:content-evenly {
    align-content: space-evenly !important;
  }

  .xl\:items-start {
    align-items: flex-start !important;
  }

  .xl\:self-start {
    align-self: flex-start !important;
  }

  .xl\:items-end {
    align-items: flex-end !important;
  }

  .xl\:self-end {
    align-self: flex-end !important;
  }

  .xl\:items-baseline {
    align-items: baseline !important;
  }

  .xl\:items-center {
    align-items: center !important;
  }

  .xl\:self-center {
    align-self: center !important;
  }

  .xl\:items-stretch {
    align-items: stretch !important;
  }

  .xl\:self-stretch {
    align-self: stretch !important;
  }

  .xl\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .xl\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .xl\:vertical-items-start {
    vertical-align: top !important;
  }

  .xl\:vertical-items-center {
    vertical-align: middle !important;
  }

  .xl\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .xl\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .xl\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .xl\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .xl\:vertical-align-super {
    vertical-align: super !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:justify-start {
    justify-content: flex-start !important;
  }

  .\32xl\:justify-end {
    justify-content: flex-end !important;
  }

  .\32xl\:justify-center {
    justify-content: center !important;
  }

  .\32xl\:justify-between {
    justify-content: space-between !important;
  }

  .\32xl\:justify-around {
    justify-content: space-around !important;
  }

  .\32xl\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .\32xl\:justify-items-auto {
    justify-items: auto !important;
  }

  .\32xl\:justify-items-start {
    justify-items: start !important;
  }

  .\32xl\:justify-items-end {
    justify-items: end !important;
  }

  .\32xl\:justify-items-center {
    justify-items: center !important;
  }

  .\32xl\:justify-items-stretch {
    justify-items: stretch !important;
  }

  .\32xl\:justify-self-auto {
    justify-self: auto !important;
  }

  .\32xl\:justify-self-start {
    justify-self: start !important;
  }

  .\32xl\:justify-self-end {
    justify-self: end !important;
  }

  .\32xl\:justify-self-center {
    justify-self: center !important;
  }

  .\32xl\:justify-self-stretch {
    justify-self: stretch !important;
  }

  .\32xl\:justify-start.vertical.menu > li > a {
    justify-content: flex-start !important;
  }

  .\32xl\:justify-end.vertical.menu > li > a {
    justify-content: flex-end !important;
  }

  .\32xl\:justify-center.vertical.menu > li > a {
    justify-content: center !important;
  }

  .\32xl\:content-center {
    align-content: center !important;
  }

  .\32xl\:content-start {
    align-content: flex-start !important;
  }

  .\32xl\:content-end {
    align-content: flex-end !important;
  }

  .\32xl\:content-between {
    align-content: space-between !important;
  }

  .\32xl\:content-around {
    align-content: space-around !important;
  }

  .\32xl\:content-evenly {
    align-content: space-evenly !important;
  }

  .\32xl\:items-start {
    align-items: flex-start !important;
  }

  .\32xl\:self-start {
    align-self: flex-start !important;
  }

  .\32xl\:items-end {
    align-items: flex-end !important;
  }

  .\32xl\:self-end {
    align-self: flex-end !important;
  }

  .\32xl\:items-baseline {
    align-items: baseline !important;
  }

  .\32xl\:items-center {
    align-items: center !important;
  }

  .\32xl\:self-center {
    align-self: center !important;
  }

  .\32xl\:items-stretch {
    align-items: stretch !important;
  }

  .\32xl\:self-stretch {
    align-self: stretch !important;
  }

  .\32xl\:justify-center-middle {
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
  }

  .\32xl\:vertical-align-baseline {
    vertical-align: baseline !important;
  }

  .\32xl\:vertical-items-start {
    vertical-align: top !important;
  }

  .\32xl\:vertical-items-center {
    vertical-align: middle !important;
  }

  .\32xl\:vertical-items-end {
    vertical-align: bottom !important;
  }

  .\32xl\:vertical-align-text-top {
    vertical-align: text-top !important;
  }

  .\32xl\:vertical-align-text-bottom {
    vertical-align: text-bottom !important;
  }

  .\32xl\:vertical-align-sub {
    vertical-align: sub !important;
  }

  .\32xl\:vertical-align-super {
    vertical-align: super !important;
  }
}
