.align-left {
  justify-content: flex-start !important;
}

.align-right {
  justify-content: flex-end !important;
}

.align-center {
  justify-content: center !important;
}

.align-justify {
  justify-content: space-between !important;
}

.align-spaced {
  justify-content: space-around !important;
}

.align-left.vertical.menu>li>a {
  justify-content: flex-start !important;
}

.align-right.vertical.menu>li>a {
  justify-content: flex-end !important;
}

.align-center.vertical.menu>li>a {
  justify-content: center !important;
}

.align-top {
  align-items: flex-start !important;
}

.align-self-top {
  align-self: flex-start !important;
}

.align-bottom {
  align-items: flex-end !important;
}

.align-self-bottom {
  align-self: flex-end !important;
}

.align-middle {
  align-items: center !important;
}

.align-self-middle {
  align-self: center !important;
}

.align-stretch {
  align-items: stretch !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.align-center-middle {
  justify-content: center !important;
  align-items: center !important;
  align-content: center !important;
}

.vertical-align-baseline {
  vertical-align: baseline !important;
}

.vertical-align-top {
  vertical-align: top !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.vertical-align-bottom {
  vertical-align: bottom !important;
}

.vertical-align-text-top {
  vertical-align: text-top !important;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom !important;
}

.vertical-align-sub {
  vertical-align: sub !important;
}

.vertical-align-super {
  vertical-align: super !important;
}