.appearance-none {
  appearance: none !important;
}

.appearance-auto {
  appearance: auto !important;
}

.appearance-menulist-button {
  appearance: menulist-button !important;
}

.appearance-textfield {
  appearance: textfield !important;
}

.appearance-button {
  appearance: button !important;
}

.appearance-searchfield {
  appearance: searchfield !important;
}

.appearance-textarea {
  appearance: textarea !important;
}

.appearance-push-button {
  appearance: push-button !important;
}

.appearance-slider-horizontal {
  appearance: slider-horizontal !important;
}

.appearance-checkbox {
  appearance: checkbox !important;
}

.appearance-radio {
  appearance: radio !important;
}

.appearance-square-button {
  appearance: square-button !important;
}

.appearance-menulist {
  appearance: menulist !important;
}

.appearance-listbox {
  appearance: listbox !important;
}

.appearance-meter {
  appearance: meter !important;
}

.appearance-progress-bar {
  appearance: progress-bar !important;
}
