.backface-visible {
    backface-visibility: visible !important;
}

.backface-hidden {
    backface-visibility: hidden !important;
}

.backface-inherit {
    backface-visibility: inherit !important;
}

.backface-initial {
    backface-visibility: initial !important;
}

.backface-revert {
    backface-visibility: revert !important;
}

.backface-unset {
    backface-visibility: unset !important;
}