.backface-visible {
    backface-visibility: visible;
}

.backface-hidden {
    backface-visibility: hidden;
}

.backface-inherit {
    backface-visibility: inherit;
}

.backface-initial {
    backface-visibility: initial;
}

.backface-revert {
    backface-visibility: revert;
}

.backface-unset {
    backface-visibility: unset;
}
