.bg-fixed {
  background-attachment: fixed !important;
}

.bg-local {
  background-attachment: local !important;
}

.bg-scroll {
  background-attachment: scroll !important;
}

.bg-clip-border {
  background-clip: border-box !important;
}

.bg-clip-padding {
  background-clip: padding-box !important;
}

.bg-clip-content {
  background-clip: content-box !important;
}

.bg-clip-text {
  background-clip: text !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-current {
  background-color: currentColor !important;
}

.bg-bottom {
  background-position: bottom !important;
}

.bg-center {
  background-position: center !important;
}

.bg-left {
  background-position: left !important;
}

.bg-left-bottom {
  background-position: left bottom !important;
}

.bg-left-top {
  background-position: left top !important;
}

.bg-right {
  background-position: right !important;
}

.bg-right-bottom {
  background-position: right bottom !important;
}

.bg-right-top {
  background-position: right top !important;
}

.bg-top {
  background-position: top !important;
}

.bg-repeat {
  background-repeat: repeat !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.bg-repeat-x {
  background-repeat: repeat-x !important;
}

.bg-repeat-y {
  background-repeat: repeat-y !important;
}

.bg-repeat-round {
  background-repeat: round !important;
}

.bg-repeat-space {
  background-repeat: space !important;
}

.bg-auto {
  background-size: auto !important;
}

.bg-cover {
  background-size: cover !important;
}

.bg-contain {
  background-size: contain !important;
}

.bg-blend-normal {
  background-blend-mode: normal !important;
}

.bg-blend-multiply {
  background-blend-mode: multiply !important;
}

.bg-blend-screen {
  background-blend-mode: screen !important;
}

.bg-blend-overlay {
  background-blend-mode: overlay !important;
}

.bg-blend-darken {
  background-blend-mode: darken !important;
}

.bg-blend-lighten {
  background-blend-mode: lighten !important;
}

.bg-blend-color-dodge {
  background-blend-mode: color-dodge !important;
}

.bg-blend-color-burn {
  background-blend-mode: color-burn !important;
}

.bg-blend-hard-light {
  background-blend-mode: hard-light !important;
}

.bg-blend-soft-light {
  background-blend-mode: soft-light !important;
}

.bg-blend-difference {
  background-blend-mode: difference !important;
}

.bg-blend-exclusion {
  background-blend-mode: exclusion !important;
}

.bg-blend-hue {
  background-blend-mode: hue !important;
}

.bg-blend-saturation {
  background-blend-mode: saturation !important;
}

.bg-blend-color {
  background-blend-mode: color !important;
}

.bg-blend-luminosity {
  background-blend-mode: luminosity !important;
}

.bg-black {
  background-color: var(--black) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-gray-100 {
  background-color: var(--gray-100) !important;
}

.bg-gray-200 {
  background-color: var(--gray-200) !important;
}

.bg-gray-300 {
  background-color: var(--gray-300) !important;
}

.bg-gray-400 {
  background-color: var(--gray-400) !important;
}

.bg-gray-500 {
  background-color: var(--gray-500) !important;
}

.bg-gray-600 {
  background-color: var(--gray-600) !important;
}

.bg-gray-700 {
  background-color: var(--gray-700) !important;
}

.bg-gray-800 {
  background-color: var(--gray-800) !important;
}

.bg-gray-900 {
  background-color: var(--gray-900) !important;
}

.bg-slate {
  background-color: var(--slate) !important;
}

.bg-slate-100 {
  background-color: var(--slate-100) !important;
}

.bg-slate-200 {
  background-color: var(--slate-200) !important;
}

.bg-slate-300 {
  background-color: var(--slate-300) !important;
}

.bg-slate-400 {
  background-color: var(--slate-400) !important;
}

.bg-slate-500 {
  background-color: var(--slate-500) !important;
}

.bg-slate-600 {
  background-color: var(--slate-600) !important;
}

.bg-slate-700 {
  background-color: var(--slate-700) !important;
}

.bg-slate-800 {
  background-color: var(--slate-800) !important;
}

.bg-slate-900 {
  background-color: var(--slate-900) !important;
}

.bg-blue-100 {
  background-color: var(--blue-100) !important;
}

.bg-blue-200 {
  background-color: var(--blue-200) !important;
}

.bg-blue-300 {
  background-color: var(--blue-300) !important;
}

.bg-blue-400 {
  background-color: var(--blue-400) !important;
}

.bg-blue-500 {
  background-color: var(--blue-500) !important;
}

.bg-blue-600 {
  background-color: var(--blue-600) !important;
}

.bg-blue-700 {
  background-color: var(--blue-700) !important;
}

.bg-blue-800 {
  background-color: var(--blue-800) !important;
}

.bg-blue-900 {
  background-color: var(--blue-900) !important;
}

.bg-light-blue-100 {
  background-color: var(--light-blue-100) !important;
}

.bg-light-blue-200 {
  background-color: var(--light-blue-200) !important;
}

.bg-light-blue-300 {
  background-color: var(--light-blue-300) !important;
}

.bg-light-blue-400 {
  background-color: var(--light-blue-400) !important;
}

.bg-light-blue-500 {
  background-color: var(--light-blue-500) !important;
}

.bg-light-blue-600 {
  background-color: var(--light-blue-600) !important;
}

.bg-light-blue-700 {
  background-color: var(--light-blue-700) !important;
}

.bg-light-blue-800 {
  background-color: var(--light-blue-800) !important;
}

.bg-light-blue-900 {
  background-color: var(--light-blue-900) !important;
}

.bg-indigo-100 {
  background-color: var(--indigo-100) !important;
}

.bg-indigo-200 {
  background-color: var(--indigo-200) !important;
}

.bg-indigo-300 {
  background-color: var(--indigo-300) !important;
}

.bg-indigo-400 {
  background-color: var(--indigo-400) !important;
}

.bg-indigo-500 {
  background-color: var(--indigo-500) !important;
}

.bg-indigo-600 {
  background-color: var(--indigo-600) !important;
}

.bg-indigo-700 {
  background-color: var(--indigo-700) !important;
}

.bg-indigo-700 {
  background-color: var(--indigo-800) !important;
}

.bg-indigo-700 {
  background-color: var(--indigo-900) !important;
}

.bg-purple-100 {
  background-color: var(--purple-100) !important;
}

.bg-purple-200 {
  background-color: var(--purple-200) !important;
}

.bg-purple-300 {
  background-color: var(--purple-300) !important;
}

.bg-purple-400 {
  background-color: var(--purple-400) !important;
}

.bg-purple-500 {
  background-color: var(--purple-500) !important;
}

.bg-purple-600 {
  background-color: var(--purple-600) !important;
}

.bg-purple-700 {
  background-color: var(--purple-700) !important;
}

.bg-purple-800 {
  background-color: var(--purple-800) !important;
}

.bg-purple-900 {
  background-color: var(--purple-900) !important;
}

.bg-deep-purple-100 {
  background-color: var(--deep-purple-100) !important;
}

.bg-deep-purple-200 {
  background-color: var(--deep-purple-200) !important;
}

.bg-deep-purple-300 {
  background-color: var(--deep-purple-300) !important;
}

.bg-deep-purple-400 {
  background-color: var(--deep-purple-400) !important;
}

.bg-deep-purple-500 {
  background-color: var(--deep-purple-500) !important;
}

.bg-deep-purple-600 {
  background-color: var(--deep-purple-600) !important;
}

.bg-deep-purple-700 {
  background-color: var(--deep-purple-700) !important;
}

.bg-deep-purple-800 {
  background-color: var(--deep-purple-800) !important;
}

.bg-deep-purple-900 {
  background-color: var(--deep-purple-900) !important;
}

.bg-pink-100 {
  background-color: var(--pink-100) !important;
}

.bg-pink-200 {
  background-color: var(--pink-200) !important;
}

.bg-pink-300 {
  background-color: var(--pink-300) !important;
}

.bg-pink-400 {
  background-color: var(--pink-400) !important;
}

.bg-pink-500 {
  background-color: var(--pink-500) !important;
}

.bg-pink-600 {
  background-color: var(--pink-600) !important;
}

.bg-pink-700 {
  background-color: var(--pink-700) !important;
}

.bg-pink-800 {
  background-color: var(--pink-800) !important;
}

.bg-pink-900 {
  background-color: var(--pink-900) !important;
}

.bg-rose-300 {
  background-color: var(--rose-300) !important;
}

.bg-rose-400 {
  background-color: var(--rose-400) !important;
}

.bg-rose-500 {
  background-color: var(--rose-500) !important;
}

.bg-rose-600 {
  background-color: var(--rose-600) !important;
}

.bg-rose-700 {
  background-color: var(--rose-700) !important;
}

.bg-rose-800 {
  background-color: var(--rose-800) !important;
}

.bg-red-100 {
  background-color: var(--red-100) !important;
}

.bg-red-200 {
  background-color: var(--red-200) !important;
}

.bg-red-300 {
  background-color: var(--red-300) !important;
}

.bg-red-400 {
  background-color: var(--red-400) !important;
}

.bg-red-500 {
  background-color: var(--red-500) !important;
}

.bg-red-600 {
  background-color: var(--red-600) !important;
}

.bg-red-700 {
  background-color: var(--red-700) !important;
}

.bg-red-800 {
  background-color: var(--red-800) !important;
}

.bg-red-900 {
  background-color: var(--red-900) !important;
}

.bg-orange-100 {
  background-color: var(--orange-100) !important;
}

.bg-orange-200 {
  background-color: var(--orange-200) !important;
}

.bg-orange-300 {
  background-color: var(--orange-300) !important;
}

.bg-orange-400 {
  background-color: var(--orange-400) !important;
}

.bg-orange-500 {
  background-color: var(--orange-500) !important;
}

.bg-orange-600 {
  background-color: var(--orange-600) !important;
}

.bg-orange-700 {
  background-color: var(--orange-700) !important;
}

.bg-orange-800 {
  background-color: var(--orange-800) !important;
}

.bg-orange-900 {
  background-color: var(--orange-900) !important;
}

.bg-yellow-100 {
  background-color: var(--yellow-100) !important;
}

.bg-yellow-200 {
  background-color: var(--yellow-200) !important;
}

.bg-yellow-300 {
  background-color: var(--yellow-300) !important;
}

.bg-yellow-400 {
  background-color: var(--yellow-400) !important;
}

.bg-yellow-500 {
  background-color: var(--yellow-500) !important;
}

.bg-yellow-600 {
  background-color: var(--yellow-600) !important;
}

.bg-yellow-700 {
  background-color: var(--yellow-700) !important;
}

.bg-yellow-800 {
  background-color: var(--yellow-800) !important;
}

.bg-yellow-900 {
  background-color: var(--yellow-900) !important;
}

.bg-lime-100 {
  background-color: var(--lime-100) !important;
}

.bg-lime-200 {
  background-color: var(--lime-200) !important;
}

.bg-lime-300 {
  background-color: var(--lime-300) !important;
}

.bg-lime-400 {
  background-color: var(--lime-400) !important;
}

.bg-lime-500 {
  background-color: var(--lime-500) !important;
}

.bg-lime-600 {
  background-color: var(--lime-600) !important;
}

.bg-lime-700 {
  background-color: var(--lime-700) !important;
}

.bg-lime-800 {
  background-color: var(--lime-800) !important;
}

.bg-lime-900 {
  background-color: var(--lime-900) !important;
}

.bg-green-100 {
  background-color: var(--green-100) !important;
}

.bg-green-200 {
  background-color: var(--green-200) !important;
}

.bg-green-300 {
  background-color: var(--green-300) !important;
}

.bg-green-400 {
  background-color: var(--green-400) !important;
}

.bg-green-500 {
  background-color: var(--green-500) !important;
}

.bg-green-600 {
  background-color: var(--green-600) !important;
}

.bg-green-700 {
  background-color: var(--green-700) !important;
}

.bg-green-800 {
  background-color: var(--green-800) !important;
}

.bg-green-900 {
  background-color: var(--green-900) !important;
}

.bg-opacity-10 {
  opacity: 0.1 !important;
}

.bg-opacity-25 {
  opacity: 0.25 !important;
}

.bg-opacity-50 {
  opacity: 0.5 !important;
}

.bg-opacity-75 {
  opacity: 0.75 !important;
}

.bg-opacity-100 {
  opacity: 1 !important;
}

.hover\:bg-fixed:hover {
  background-attachment: fixed !important;
}

.hover\:bg-local:hover {
  background-attachment: local !important;
}

.hover\:bg-scroll:hover {
  background-attachment: scroll !important;
}

.hover\:bg-clip-border:hover {
  background-clip: border-box !important;
}

.hover\:bg-clip-padding:hover {
  background-clip: padding-box !important;
}

.hover\:bg-clip-content:hover {
  background-clip: content-box !important;
}

.hover\:bg-clip-text:hover {
  background-clip: text !important;
}

.hover\:bg-transparent:hover {
  background-color: transparent !important;
}

.hover\:bg-current:hover {
  background-color: currentColor !important;
}

.hover\:bg-bottom:hover {
  background-position: bottom !important;
}

.hover\:bg-center:hover {
  background-position: center !important;
}

.hover\:bg-left:hover {
  background-position: left !important;
}

.hover\:bg-left-bottom:hover {
  background-position: left bottom !important;
}

.hover\:bg-left-top:hover {
  background-position: left top !important;
}

.hover\:bg-right:hover {
  background-position: right !important;
}

.hover\:bg-right-bottom:hover {
  background-position: right bottom !important;
}

.hover\:bg-right-top:hover {
  background-position: right top !important;
}

.hover\:bg-top:hover {
  background-position: top !important;
}

.hover\:bg-repeat:hover {
  background-repeat: repeat !important;
}

.hover\:bg-no-repeat:hover {
  background-repeat: no-repeat !important;
}

.hover\:bg-repeat-x:hover {
  background-repeat: repeat-x !important;
}

.hover\:bg-repeat-y:hover {
  background-repeat: repeat-y !important;
}

.hover\:bg-repeat-round:hover {
  background-repeat: round !important;
}

.hover\:bg-repeat-space:hover {
  background-repeat: space !important;
}

.hover\:bg-auto:hover {
  background-size: auto !important;
}

.hover\:bg-cover:hover {
  background-size: cover !important;
}

.hover\:bg-contain:hover {
  background-size: contain !important;
}

.hover\:bg-blend-normal:hover {
  background-blend-mode: normal !important;
}

.hover\:bg-blend-multiply:hover {
  background-blend-mode: multiply !important;
}

.hover\:bg-blend-screen:hover {
  background-blend-mode: screen !important;
}

.hover\:bg-blend-overlay:hover {
  background-blend-mode: overlay !important;
}

.hover\:bg-blend-darken:hover {
  background-blend-mode: darken !important;
}

.hover\:bg-blend-lighten:hover {
  background-blend-mode: lighten !important;
}

.hover\:bg-blend-color-dodge:hover {
  background-blend-mode: color-dodge !important;
}

.hover\:bg-blend-color-burn:hover {
  background-blend-mode: color-burn !important;
}

.hover\:bg-blend-hard-light:hover {
  background-blend-mode: hard-light !important;
}

.hover\:bg-blend-soft-light:hover {
  background-blend-mode: soft-light !important;
}

.hover\:bg-blend-difference:hover {
  background-blend-mode: difference !important;
}

.hover\:bg-blend-exclusion:hover {
  background-blend-mode: exclusion !important;
}

.hover\:bg-blend-hue:hover {
  background-blend-mode: hue !important;
}

.hover\:bg-blend-saturation:hover {
  background-blend-mode: saturation !important;
}

.hover\:bg-blend-color:hover {
  background-blend-mode: color !important;
}

.hover\:bg-blend-luminosity:hover {
  background-blend-mode: luminosity !important;
}

.hover\:bg-black:hover {
  background-color: var(--black) !important;
}

.hover\:bg-white:hover {
  background-color: var(--white) !important;
}

.hover\:bg-gray-100:hover {
  background-color: var(--gray-100) !important;
}

.hover\:bg-gray-200:hover {
  background-color: var(--gray-200) !important;
}

.hover\:bg-gray-300:hover {
  background-color: var(--gray-300) !important;
}

.hover\:bg-gray-400:hover {
  background-color: var(--gray-400) !important;
}

.hover\:bg-gray-500:hover {
  background-color: var(--gray-400) !important;
}

.hover\:bg-gray-600:hover {
  background-color: var(--gray-600) !important;
}

.hover\:bg-gray-700:hover {
  background-color: var(--gray-700) !important;
}

.hover\:bg-gray-800:hover {
  background-color: var(--gray-800) !important;
}

.hover\:bg-gray-900:hover {
  background-color: var(--gray-900) !important;
}

.hover\:bg-slate:hover {
  background-color: var(--slate) !important;
}

.hover\:bg-slate-100:hover {
  background-color: var(--slate-100) !important;
}

.hover\:bg-slate-200:hover {
  background-color: var(--slate-200) !important;
}

.hover\:bg-slate-300:hover {
  background-color: var(--slate-300) !important;
}

.hover\:bg-slate-400:hover {
  background-color: var(--slate-400) !important;
}

.hover\:bg-slate-500:hover {
  background-color: var(--slate-500) !important;
}

.hover\:bg-slate-600:hover {
  background-color: var(--slate-600) !important;
}

.hover\:bg-slate-700:hover {
  background-color: var(--slate-700) !important;
}

.hover\:bg-slate-800:hover {
  background-color: var(--slate-800) !important;
}

.hover\:bg-slate-900:hover {
  background-color: var(--slate-900) !important;
}

.hover\:bg-blue-100:hover {
  background-color: var(--blue-100) !important;
}

.hover\:bg-blue-200:hover {
  background-color: var(--blue-200) !important;
}

.hover\:bg-blue-300:hover {
  background-color: var(--blue-300) !important;
}

.hover\:bg-blue-400:hover {
  background-color: var(--blue-400) !important;
}

.hover\:bg-blue-500:hover {
  background-color: var(--blue-500) !important;
}

.hover\:bg-blue-600:hover {
  background-color: var(--blue-600) !important;
}

.hover\:bg-blue-700:hover {
  background-color: var(--blue-700) !important;
}

.hover\:bg-blue-800:hover {
  background-color: var(--blue-800) !important;
}

.hover\:bg-blue-900:hover {
  background-color: var(--blue-900) !important;
}

.hover\:bg-light-blue-100:hover {
  background-color: var(--light-blue-100) !important;
}

.hover\:bg-light-blue-200 :hover {
  background-color: var(--light-blue-200) !important;
}

.hover\:bg-light-blue-300:hover {
  background-color: var(--light-blue-300) !important;
}

.hover\:bg-light-blue-400:hover {
  background-color: var(--light-blue-400) !important;
}

.hover\:bg-light-blue-500:hover {
  background-color: var(--light-blue-500) !important;
}

.hover\:bg-light-blue-600:hover {
  background-color: var(--light-blue-600) !important;
}

.hover\:bg-light-blue-700:hover {
  background-color: var(--light-blue-700) !important;
}

.hover\:bg-light-blue-800:hover {
  background-color: var(--light-blue-800) !important;
}

.hover\:bg-light-blue-900:hover {
  background-color: var(--light-blue-900) !important;
}

.hover\:bg-indigo-100:hover {
  background-color: var(--indigo-100) !important;
}

.hover\:bg-indigo-200:hover {
  background-color: var(--indigo-200) !important;
}

.hover\:bg-indigo-300:hover {
  background-color: var(--indigo-300) !important;
}

.hover\:bg-indigo-400:hover {
  background-color: var(--indigo-400) !important;
}

.hover\:bg-indigo-500:hover {
  background-color: var(--indigo-500) !important;
}

.hover\:bg-indigo-600:hover {
  background-color: var(--indigo-600) !important;
}

.hover\:bg-indigo-700:hover {
  background-color: var(--indigo-700) !important;
}

.hover\:bg-indigo-700:hover {
  background-color: var(--indigo-800) !important;
}

.hover\:bg-indigo-700:hover {
  background-color: var(--indigo-900) !important;
}

.hover\:bg-purple-100:hover {
  background-color: var(--purple-100) !important;
}

.hover\:bg-purple-200:hover {
  background-color: var(--purple-200) !important;
}

.hover\:bg-purple-300:hover {
  background-color: var(--purple-300) !important;
}

.hover\:bg-purple-400:hover {
  background-color: var(--purple-400) !important;
}

.hover\:bg-purple-500:hover {
  background-color: var(--purple-500) !important;
}

.hover\:bg-purple-600:hover {
  background-color: var(--purple-600) !important;
}

.hover\:bg-purple-700:hover {
  background-color: var(--purple-700) !important;
}

.hover\:bg-purple-800:hover {
  background-color: var(--purple-800) !important;
}

.hover\:bg-purple-900:hover {
  background-color: var(--purple-900) !important;
}

.hover\:bg-deep-purple-100:hover {
  background-color: var(--deep-purple-100) !important;
}

.hover\:bg-deep-purple-200:hover {
  background-color: var(--deep-purple-200) !important;
}

.hover\:bg-deep-purple-300:hover {
  background-color: var(--deep-purple-300) !important;
}

.hover\:bg-deep-purple-400:hover {
  background-color: var(--deep-purple-400) !important;
}

.hover\:bg-deep-purple-500:hover {
  background-color: var(--deep-purple-500) !important;
}

.hover\:bg-deep-purple-600:hover {
  background-color: var(--deep-purple-600) !important;
}

.hover\:bg-deep-purple-700:hover {
  background-color: var(--deep-purple-700) !important;
}

.hover\:bg-deep-purple-800:hover {
  background-color: var(--deep-purple-800) !important;
}

.bg-deep-purple-900:hover {
  background-color: var(--deep-purple-900) !important;
}

.hover\:bg-pink-100:hover {
  background-color: var(--pink-100) !important;
}

.hover\:bg-pink-200:hover {
  background-color: var(--pink-200) !important;
}

.hover\:bg-pink-300:hover {
  background-color: var(--pink-300) !important;
}

.hover\:bg-pink-400:hover {
  background-color: var(--pink-400) !important;
}

.hover\:bg-pink-500:hover {
  background-color: var(--pink-500) !important;
}

.hover\:bg-pink-600:hover {
  background-color: var(--pink-600) !important;
}

.hover\:bg-pink-700:hover {
  background-color: var(--pink-700) !important;
}

.hover\:bg-pink-800:hover {
  background-color: var(--pink-800) !important;
}

.hover\:bg-pink-900:hover {
  background-color: var(--pink-900) !important;
}

.hover\:bg-rose-300:hover {
  background-color: var(--rose-300) !important;
}

.hover\:bg-rose-400:hover {
  background-color: var(--rose-400) !important;
}

.hover\:bg-rose-500:hover {
  background-color: var(--rose-500) !important;
}

.hover\:bg-rose-600:hover {
  background-color: var(--rose-600) !important;
}

.hover\:bg-rose-700:hover {
  background-color: var(--rose-700) !important;
}

.hover\:bg-rose-800:hover {
  background-color: var(--rose-800) !important;
}

.hover\:bg-red-100:hover {
  background-color: var(--red-100) !important;
}

.hover\:bg-red-200:hover {
  background-color: var(--red-200) !important;
}

.hover\:bg-red-300:hover {
  background-color: var(--red-300) !important;
}

.hover\:bg-red-400:hover {
  background-color: var(--red-400) !important;
}

.hover\:bg-red-500:hover {
  background-color: var(--red-500) !important;
}

.hover\:bg-red-600:hover {
  background-color: var(--red-600) !important;
}

.hover\:bg-red-700:hover {
  background-color: var(--red-700) !important;
}

.hover\:bg-red-800:hover {
  background-color: var(--red-800) !important;
}

.hover\:bg-red-900:hover {
  background-color: var(--red-900) !important;
}

.hover\:bg-orange-100:hover {
  background-color: var(--orange-100) !important;
}

.hover\:bg-orange-200:hover {
  background-color: var(--orange-200) !important;
}

.hover\:bg-orange-300:hover {
  background-color: var(--orange-300) !important;
}

.hover\:bg-orange-400:hover {
  background-color: var(--orange-400) !important;
}

.hover\:bg-orange-500:hover {
  background-color: var(--orange-500) !important;
}

.hover\:bg-orange-600:hover {
  background-color: var(--orange-600) !important;
}

.hover\:bg-orange-700:hover {
  background-color: var(--orange-700) !important;
}

.hover\:bg-orange-800:hover {
  background-color: var(--orange-800) !important;
}

.hover\:bg-orange-900:hover {
  background-color: var(--orange-900) !important;
}

.hover\:bg-yellow-100:hover {
  background-color: var(--yellow-100) !important;
}

.hover\:bg-yellow-200:hover {
  background-color: var(--yellow-200) !important;
}

.hover\:.bg-yellow-300:hover {
  background-color: var(--yellow-300) !important;
}

.hover\:bg-yellow-400:hover {
  background-color: var(--yellow-400) !important;
}

.hover\:bg-yellow-500:hover {
  background-color: var(--yellow-500) !important;
}

.hover\:bg-yellow-600:hover {
  background-color: var(--yellow-600) !important;
}

.bg-yellow-700:hover {
  background-color: var(--yellow-700) !important;
}

.hover\:bg-yellow-800:hover {
  background-color: var(--yellow-800) !important;
}

.hover\:bg-yellow-900:hover {
  background-color: var(--yellow-900) !important;
}

.hover\:bg-lime-100:hover {
  background-color: var(--lime-100) !important;
}

.hover\:bg-lime-200:hover {
  background-color: var(--lime-200) !important;
}

.hover\:bg-lime-300:hover {
  background-color: var(--lime-300) !important;
}

.hover\:bg-lime-400:hover {
  background-color: var(--lime-400) !important;
}

.hover\:bg-lime-500:hover {
  background-color: var(--lime-500) !important;
}

.hover\:bg-lime-600:hover {
  background-color: var(--lime-600) !important;
}

.hover\:bg-lime-700:hover {
  background-color: var(--lime-700) !important;
}

.hover\:bg-lime-800:hover {
  background-color: var(--lime-800) !important;
}

.hover\:bg-lime-900:hover {
  background-color: var(--lime-900) !important;
}

.hover\:bg-green-100:hover {
  background-color: var(--green-100) !important;
}

.hover\:bg-green-200:hover {
  background-color: var(--green-200) !important;
}

.hover\:bg-green-300:hover {
  background-color: var(--green-300) !important;
}

.hover\:bg-green-400:hover {
  background-color: var(--green-400) !important;
}

.hover\:bg-green-500:hover {
  background-color: var(--green-500) !important;
}

.hover\:bg-green-600:hover {
  background-color: var(--green-600) !important;
}

.hover\:bg-green-700:hover {
  background-color: var(--green-700) !important;
}

.hover\:bg-green-800:hover {
  background-color: var(--green-800) !important;
}

.hover\:bg-green-900:hover {
  background-color: var(--green-900) !important;
}

focus\:bg-fixed:focus {
  background-attachment: fixed !important;
}

.focus\:bg-local:focus {
  background-attachment: local !important;
}

.focus\:bg-scroll:focus {
  background-attachment: scroll !important;
}

.focus\:bg-clip-border:focus {
  background-clip: border-box !important;
}

.focus\:bg-clip-padding:focus {
  background-clip: padding-box !important;
}

.focus\:bg-clip-content:focus {
  background-clip: content-box !important;
}

.focus\:bg-clip-text:focus {
  background-clip: text !important;
}

.focus\:bg-transparent:focus {
  background-color: transparent !important;
}

.focus\:bg-current:focus {
  background-color: currentColor !important;
}

.focus\:bg-bottom:focus {
  background-position: bottom !important;
}

.focus\:bg-center:focus {
  background-position: center !important;
}

.focus\:bg-left:focus {
  background-position: left !important;
}

.focus\:bg-left-bottom:focus {
  background-position: left bottom !important;
}

.focus\:bg-left-top:focus {
  background-position: left top !important;
}

.focus\:bg-right:focus {
  background-position: right !important;
}

.focus\:bg-right-bottom:focus {
  background-position: right bottom !important;
}

.focus\:bg-right-top:focus {
  background-position: right top !important;
}

.focus\:bg-top:focus {
  background-position: top !important;
}

.focus\:bg-repeat:focus {
  background-repeat: repeat !important;
}

.focus\:bg-no-repeat:focus {
  background-repeat: no-repeat !important;
}

.focus\:bg-repeat-x:focus {
  background-repeat: repeat-x !important;
}

.focus\:bg-repeat-y:focus {
  background-repeat: repeat-y !important;
}

.focus\:bg-repeat-round:focus {
  background-repeat: round !important;
}

.focus\:bg-repeat-space:focus {
  background-repeat: space !important;
}

.focus\:bg-auto:focus {
  background-size: auto !important;
}

.focus\:bg-cover:focus {
  background-size: cover !important;
}

.focus\:bg-contain:focus {
  background-size: contain !important;
}

.focus\:bg-blend-normal:focus {
  background-blend-mode: normal !important;
}

.focus\:bg-blend-multiply:focus {
  background-blend-mode: multiply !important;
}

.focus\:bg-blend-screen:focus {
  background-blend-mode: screen !important;
}

.focus\:bg-blend-overlay:focus {
  background-blend-mode: overlay !important;
}

.focus\:bg-blend-darken:focus {
  background-blend-mode: darken !important;
}

.focus\:bg-blend-lighten:focus {
  background-blend-mode: lighten !important;
}

.focus\:bg-blend-color-dodge:focus {
  background-blend-mode: color-dodge !important;
}

.focus\:bg-blend-color-burn:focus {
  background-blend-mode: color-burn !important;
}

.focus\:bg-blend-hard-light:focus {
  background-blend-mode: hard-light !important;
}

.focus\:bg-blend-soft-light:focus {
  background-blend-mode: soft-light !important;
}

.focus\:bg-blend-difference:focus {
  background-blend-mode: difference !important;
}

.focus\:bg-blend-exclusion:focus {
  background-blend-mode: exclusion !important;
}

.focus\:bg-blend-hue:focus {
  background-blend-mode: hue !important;
}

.focus\:bg-blend-saturation:focus {
  background-blend-mode: saturation !important;
}

.focus\:bg-blend-color:focus {
  background-blend-mode: color !important;
}

.focus\:bg-blend-luminosity:focus {
  background-blend-mode: luminosity !important;
}

.focus\:bg-black:focus {
  background-color: var(--black) !important;
}

.focus\:bg-white:focus {
  background-color: var(--white) !important;
}

.focus\:bg-gray-100:focus {
  background-color: var(--gray-100) !important;
}

.focus\:bg-gray-200:focus {
  background-color: var(--gray-200) !important;
}

.focus\:bg-gray-300:focus {
  background-color: var(--gray-300) !important;
}

.focus\:bg-gray-400:focus {
  background-color: var(--gray-400) !important;
}

.focus\:bg-gray-600:focus {
  background-color: var(--gray-600) !important;
}

.focus\:bg-gray-700:focus {
  background-color: var(--gray-700) !important;
}

.focus\:bg-gray-800:focus {
  background-color: var(--gray-800) !important;
}

.focus\:bg-gray-900:focus {
  background-color: var(--gray-900) !important;
}

.focus\:bg-slate:focus {
  background-color: var(--slate) !important;
}

.focus\:bg-slate-100:focus {
  background-color: var(--slate-100) !important;
}

.focus\:bg-slate-200:focus {
  background-color: var(--slate-200) !important;
}

.focus\:bg-slate-300:focus {
  background-color: var(--slate-300) !important;
}

.focus\:bg-slate-400:focus {
  background-color: var(--slate-400) !important;
}

.focus\:bg-slate-500:focus {
  background-color: var(--slate-500) !important;
}

.focus\:bg-slate-600:focus {
  background-color: var(--slate-600) !important;
}

.focus\:bg-slate-700:focus {
  background-color: var(--slate-700) !important;
}

.focus\:bg-slate-800:focus {
  background-color: var(--slate-800) !important;
}

.focus\:bg-slate-900:focus {
  background-color: var(--slate-900) !important;
}

.focus\:bg-blue-100:focus {
  background-color: var(--blue-100) !important;
}

.focus\:bg-blue-200:focus {
  background-color: var(--blue-200) !important;
}

.focus\:bg-blue-300:focus {
  background-color: var(--blue-300) !important;
}

.focus\:bg-blue-400:focus {
  background-color: var(--blue-400) !important;
}

.focus\:bg-blue-500:focus {
  background-color: var(--blue-500) !important;
}

.focus\:bg-blue-600:focus {
  background-color: var(--blue-600) !important;
}

.focus\:bg-blue-700:focus {
  background-color: var(--blue-700) !important;
}

.focus\:bg-blue-800:focus {
  background-color: var(--blue-800) !important;
}

.focus\:bg-blue-900:focus {
  background-color: var(--blue-900) !important;
}

.focus\:bg-light-blue-100:focus {
  background-color: var(--light-blue-100) !important;
}

.focus\:bg-light-blue-200 :focus {
  background-color: var(--light-blue-200) !important;
}

.focus\:bg-light-blue-300:focus {
  background-color: var(--light-blue-300) !important;
}

.focus\:bg-light-blue-400:focus {
  background-color: var(--light-blue-400) !important;
}

.focus\:bg-light-blue-500:focus {
  background-color: var(--light-blue-500) !important;
}

.focus\:bg-light-blue-600:focus {
  background-color: var(--light-blue-600) !important;
}

.focus\:bg-light-blue-700:focus {
  background-color: var(--light-blue-700) !important;
}

.focus\:bg-light-blue-800:focus {
  background-color: var(--light-blue-800) !important;
}

.focus\:bg-light-blue-900:focus {
  background-color: var(--light-blue-900) !important;
}

.focus\:bg-indigo-100:focus {
  background-color: var(--indigo-100) !important;
}

.focus\:bg-indigo-200:focus {
  background-color: var(--indigo-200) !important;
}

.focus\:bg-indigo-300:focus {
  background-color: var(--indigo-300) !important;
}

.focus\:bg-indigo-400:focus {
  background-color: var(--indigo-400) !important;
}

.focus\:bg-indigo-500:focus {
  background-color: var(--indigo-500) !important;
}

.focus\:bg-indigo-600:focus {
  background-color: var(--indigo-600) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-700) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-800) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-900) !important;
}

.focus\:bg-purple-100:focus {
  background-color: var(--purple-100) !important;
}

.focus\:bg-purple-200:focus {
  background-color: var(--purple-200) !important;
}

.focus\:bg-purple-300:focus {
  background-color: var(--purple-300) !important;
}

.focus\:bg-purple-400:focus {
  background-color: var(--purple-400) !important;
}

.focus\:bg-purple-500:focus {
  background-color: var(--purple-500) !important;
}

.focus\:bg-purple-600:focus {
  background-color: var(--purple-600) !important;
}

.focus\:bg-purple-700:focus {
  background-color: var(--purple-700) !important;
}

.focus\:bg-purple-800:focus {
  background-color: var(--purple-800) !important;
}

.focus\:bg-purple-900:focus {
  background-color: var(--purple-900) !important;
}

.focus\:bg-deep-purple-100:focus {
  background-color: var(--deep-purple-100) !important;
}

.focus\:bg-deep-purple-200:focus {
  background-color: var(--deep-purple-200) !important;
}

.focus\:bg-deep-purple-300:focus {
  background-color: var(--deep-purple-300) !important;
}

.focus\:bg-deep-purple-400:focus {
  background-color: var(--deep-purple-400) !important;
}

.focus\:bg-deep-purple-500:focus {
  background-color: var(--deep-purple-500) !important;
}

.focus\:bg-deep-purple-600:focus {
  background-color: var(--deep-purple-600) !important;
}

.focus\:bg-deep-purple-700:focus {
  background-color: var(--deep-purple-700) !important;
}

.focus\:bg-deep-purple-800:focus {
  background-color: var(--deep-purple-800) !important;
}

.bg-deep-purple-900:focus {
  background-color: var(--deep-purple-900) !important;
}

.focus\:bg-pink-100:focus {
  background-color: var(--pink-100) !important;
}

.focus\:bg-pink-200:focus {
  background-color: var(--pink-200) !important;
}

.focus\:bg-pink-300:focus {
  background-color: var(--pink-300) !important;
}

.focus\:bg-pink-400:focus {
  background-color: var(--pink-400) !important;
}

.focus\:bg-pink-500:focus {
  background-color: var(--pink-500) !important;
}

.focus\:bg-pink-600:focus {
  background-color: var(--pink-600) !important;
}

.focus\:bg-pink-700:focus {
  background-color: var(--pink-700) !important;
}

.focus\:bg-pink-800:focus {
  background-color: var(--pink-800) !important;
}

.focus\:bg-pink-900:focus {
  background-color: var(--pink-900) !important;
}

.focus\:bg-rose-300:focus {
  background-color: var(--rose-300) !important;
}

.focus\:bg-rose-400:focus {
  background-color: var(--rose-400) !important;
}

.focus\:bg-rose-500:focus {
  background-color: var(--rose-500) !important;
}

.focus\:bg-rose-600:focus {
  background-color: var(--rose-600) !important;
}

.focus\:bg-rose-700:focus {
  background-color: var(--rose-700) !important;
}

.focus\:bg-rose-800:focus {
  background-color: var(--rose-800) !important;
}

.focus\:bg-red-100:focus {
  background-color: var(--red-100) !important;
}

.focus\:bg-red-200:focus {
  background-color: var(--red-200) !important;
}

.focus\:bg-red-300:focus {
  background-color: var(--red-300) !important;
}

.focus\:bg-red-400:focus {
  background-color: var(--red-400) !important;
}

.focus\:bg-red-500:focus {
  background-color: var(--red-500) !important;
}

.focus\:bg-red-600:focus {
  background-color: var(--red-600) !important;
}

.focus\:bg-red-700:focus {
  background-color: var(--red-700) !important;
}

.focus\:bg-red-800:focus {
  background-color: var(--red-800) !important;
}

.focus\:bg-red-900:focus {
  background-color: var(--red-900) !important;
}

.focus\:bg-orange-100:focus {
  background-color: var(--orange-100) !important;
}

.focus\:bg-orange-200:focus {
  background-color: var(--orange-200) !important;
}

.focus\:bg-orange-300:focus {
  background-color: var(--orange-300) !important;
}

.focus\:bg-orange-400 {
  background-color: var(--orange-400) !important;
}

.focus\:bg-orange-500:focus {
  background-color: var(--orange-500) !important;
}

.focus\:bg-orange-600:focus {
  background-color: var(--orange-600) !important;
}

.focus\:bg-orange-700:focus {
  background-color: var(--orange-700) !important;
}

.focus\:bg-orange-800:focus {
  background-color: var(--orange-800) !important;
}

.focus\:bg-orange-900:focus {
  background-color: var(--orange-900) !important;
}

.focus\:bg-yellow-100:focus {
  background-color: var(--yellow-100) !important;
}

.focus\:bg-yellow-200:focus {
  background-color: var(--yellow-200) !important;
}

.focus\:.bg-yellow-300:focus {
  background-color: var(--yellow-300) !important;
}

.focus\:bg-yellow-400 {
  background-color: var(--yellow-400) !important;
}

.focus\:bg-yellow-500:focus {
  background-color: var(--yellow-500) !important;
}

.focus\:bg-yellow-600:focus {
  background-color: var(--yellow-600) !important;
}

.bg-yellow-700:focus {
  background-color: var(--yellow-700) !important;
}

.focus\:bg-yellow-800:focus {
  background-color: var(--yellow-800) !important;
}

.focus\:bg-yellow-900:focus {
  background-color: var(--yellow-900) !important;
}

.focus\:bg-lime-100:focus {
  background-color: var(--lime-100) !important;
}

.focus\:bg-lime-200:focus {
  background-color: var(--lime-200) !important;
}

.focus\:bg-lime-300:focus {
  background-color: var(--lime-300) !important;
}

.focus\:bg-lime-400:focus {
  background-color: var(--lime-400) !important;
}

.focus\:bg-lime-500:focus {
  background-color: var(--lime-500) !important;
}

.focus\:bg-lime-600:focus {
  background-color: var(--lime-600) !important;
}

.focus\:bg-lime-700:focus {
  background-color: var(--lime-700) !important;
}

.focus\:bg-lime-800:focus {
  background-color: var(--lime-800) !important;
}

.focus\:bg-lime-900:focus {
  background-color: var(--lime-900) !important;
}

.focus\:bg-green-100:focus {
  background-color: var(--green-100) !important;
}

.focus\:bg-green-200:focus {
  background-color: var(--green-200) !important;
}

.focus\:bg-green-300:focus {
  background-color: var(--green-300) !important;
}

.focus\:bg-green-400:focus {
  background-color: var(--green-400) !important;
}

.focus\:bg-green-500:focus {
  background-color: var(--green-500) !important;
}

.focus\:bg-green-600:focus {
  background-color: var(--green-600) !important;
}

.focus\:bg-green-700:focus {
  background-color: var(--green-700) !important;
}

.focus\:bg-green-800:focus {
  background-color: var(--green-800) !important;
}

.focus\:bg-green-900:focus {
  background-color: var(--green-900) !important;
}

.focus\:bg-black:focus {
  background-color: var(--black) !important;
}

.focus\:bg-white:focus {
  background-color: var(--white) !important;
}

.focus\:bg-gray-100:focus {
  background-color: var(--gray-100) !important;
}

.focus\:bg-gray-200:focus {
  background-color: var(--gray-200) !important;
}

.focus\:bg-gray-300:focus {
  background-color: var(--gray-300) !important;
}

.focus\:bg-gray-400:focus {
  background-color: var(--gray-400) !important;
}

.focus\:bg-gray-500:focus {
  background-color: var(--gray-500) !important;
}

.focus\:bg-gray-600:focus {
  background-color: var(--gray-600) !important;
}

.focus\:bg-gray-700:focus {
  background-color: var(--gray-700) !important;
}

.focus\:bg-gray-800:focus {
  background-color: var(--gray-800) !important;
}

.focus\:bg-gray-900:focus {
  background-color: var(--gray-900) !important;
}

.focus\:bg-slate:focus {
  background-color: var(--slate) !important;
}

.focus\:bg-slate-100:focus {
  background-color: var(--slate-100) !important;
}

.focus\:bg-slate-200:focus {
  background-color: var(--slate-200) !important;
}

.focus\:bg-slate-300:focus {
  background-color: var(--slate-300) !important;
}

.focus\:bg-slate-400:focus {
  background-color: var(--slate-400) !important;
}

.focus\:bg-slate-500:focus {
  background-color: var(--slate-500) !important;
}

.focus\:bg-slate-600:focus {
  background-color: var(--slate-600) !important;
}

.focus\:bg-slate-700:focus {
  background-color: var(--slate-700) !important;
}

.focus\:bg-slate-800:focus {
  background-color: var(--slate-800) !important;
}

.focus\:bg-slate-900:focus {
  background-color: var(--slate-900) !important;
}

.focus\:bg-blue-100:focus {
  background-color: var(--blue-100) !important;
}

.focus\:bg-blue-200:focus {
  background-color: var(--blue-200) !important;
}

.focus\:bg-blue-300:focus {
  background-color: var(--blue-300) !important;
}

.focus\:bg-blue-400:focus {
  background-color: var(--blue-400) !important;
}

.focus\:bg-blue-500:focus {
  background-color: var(--blue-500) !important;
}

.focus\:bg-blue-600:focus {
  background-color: var(--blue-600) !important;
}

.focus\:bg-blue-700:focus {
  background-color: var(--blue-700) !important;
}

.focus\:bg-blue-800:focus {
  background-color: var(--blue-800) !important;
}

.focus\:bg-blue-900:focus {
  background-color: var(--blue-900) !important;
}

.focus\:bg-light-blue-100:focus {
  background-color: var(--light-blue-100) !important;
}

.focus\:bg-light-blue-200 :focus {
  background-color: var(--light-blue-200) !important;
}

.focus\:bg-light-blue-300:focus {
  background-color: var(--light-blue-300) !important;
}

.focus\:bg-light-blue-400:focus {
  background-color: var(--light-blue-400) !important;
}

.focus\:bg-light-blue-500:focus {
  background-color: var(--light-blue-500) !important;
}

.focus\:bg-light-blue-600:focus {
  background-color: var(--light-blue-600) !important;
}

.focus\:bg-light-blue-700:focus {
  background-color: var(--light-blue-700) !important;
}

.focus\:bg-light-blue-800:focus {
  background-color: var(--light-blue-800) !important;
}

.focus\:bg-light-blue-900:focus {
  background-color: var(--light-blue-900) !important;
}

.focus\:bg-indigo-100:focus {
  background-color: var(--indigo-100) !important;
}

.focus\:bg-indigo-200:focus {
  background-color: var(--indigo-200) !important;
}

.focus\:bg-indigo-300:focus {
  background-color: var(--indigo-300) !important;
}

.focus\:bg-indigo-400:focus {
  background-color: var(--indigo-400) !important;
}

.focus\:bg-indigo-500:focus {
  background-color: var(--indigo-500) !important;
}

.focus\:bg-indigo-600:focus {
  background-color: var(--indigo-600) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-700) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-800) !important;
}

.focus\:bg-indigo-700:focus {
  background-color: var(--indigo-900) !important;
}

.focus\:bg-purple-100:focus {
  background-color: var(--purple-100) !important;
}

.focus\:bg-purple-200:focus {
  background-color: var(--purple-200) !important;
}

.focus\:bg-purple-300:focus {
  background-color: var(--purple-300) !important;
}

.focus\:bg-purple-400:focus {
  background-color: var(--purple-400) !important;
}

.focus\:bg-purple-500:focus {
  background-color: var(--purple-500) !important;
}

.focus\:bg-purple-600:focus {
  background-color: var(--purple-600) !important;
}

.focus\:bg-purple-700:focus {
  background-color: var(--purple-700) !important;
}

.focus\:bg-purple-800:focus {
  background-color: var(--purple-800) !important;
}

.focus\:bg-purple-900:focus {
  background-color: var(--purple-900) !important;
}

.focus\:bg-deep-purple-100:focus {
  background-color: var(--deep-purple-100) !important;
}

.focus\:bg-deep-purple-200:focus {
  background-color: var(--deep-purple-200) !important;
}

.focus\:bg-deep-purple-300:focus {
  background-color: var(--deep-purple-300) !important;
}

.focus\:bg-deep-purple-400:focus {
  background-color: var(--deep-purple-400) !important;
}

.focus\:bg-deep-purple-500:focus {
  background-color: var(--deep-purple-500) !important;
}

.focus\:bg-deep-purple-600:focus {
  background-color: var(--deep-purple-600) !important;
}

.focus\:bg-deep-purple-700:focus {
  background-color: var(--deep-purple-700) !important;
}

.focus\:bg-deep-purple-800:focus {
  background-color: var(--deep-purple-800) !important;
}

.bg-deep-purple-900:focus {
  background-color: var(--deep-purple-900) !important;
}

.focus\:bg-pink-100:focus {
  background-color: var(--pink-100) !important;
}

.focus\:bg-pink-200:focus {
  background-color: var(--pink-200) !important;
}

.focus\:bg-pink-300:focus {
  background-color: var(--pink-300) !important;
}

.focus\:bg-pink-400:focus {
  background-color: var(--pink-400) !important;
}

.focus\:bg-pink-500:focus {
  background-color: var(--pink-500) !important;
}

.focus\:bg-pink-600:focus {
  background-color: var(--pink-600) !important;
}

.focus\:bg-pink-700:focus {
  background-color: var(--pink-700) !important;
}

.focus\:bg-pink-800:focus {
  background-color: var(--pink-800) !important;
}

.focus\:bg-pink-900:focus {
  background-color: var(--pink-900) !important;
}

.focus\:bg-rose-300:focus {
  background-color: var(--rose-300) !important;
}

.focus\:bg-rose-400:focus {
  background-color: var(--rose-400) !important;
}

.focus\:bg-rose-500:focus {
  background-color: var(--rose-500) !important;
}

.focus\:bg-rose-600:focus {
  background-color: var(--rose-600) !important;
}

.focus\:bg-rose-700:focus {
  background-color: var(--rose-700) !important;
}

.focus\:bg-rose-800:focus {
  background-color: var(--rose-800) !important;
}

.focus\:bg-red-100:focus {
  background-color: var(--red-100) !important;
}

.focus\:bg-red-200:focus {
  background-color: var(--red-200) !important;
}

.focus\:bg-red-300:focus {
  background-color: var(--red-300) !important;
}

.focus\:bg-red-400:focus {
  background-color: var(--red-400) !important;
}

.focus\:bg-red-500:focus {
  background-color: var(--red-500) !important;
}

.focus\:bg-red-600:focus {
  background-color: var(--red-600) !important;
}

.focus\:bg-red-700:focus {
  background-color: var(--red-700) !important;
}

.focus\:bg-red-800:focus {
  background-color: var(--red-800) !important;
}

.focus\:bg-red-900:focus {
  background-color: var(--red-900) !important;
}

.focus\:bg-orange-100:focus {
  background-color: var(--orange-100) !important;
}

.focus\:bg-orange-200:focus {
  background-color: var(--orange-200) !important;
}

.focus\:bg-orange-300:focus {
  background-color: var(--orange-300) !important;
}

.focus\:bg-orange-400:focus {
  background-color: var(--orange-400) !important;
}

.focus\:bg-orange-500:focus {
  background-color: var(--orange-500) !important;
}

.focus\:bg-orange-600:focus {
  background-color: var(--orange-600) !important;
}

.focus\:bg-orange-700:focus {
  background-color: var(--orange-700) !important;
}

.focus\:bg-orange-800:focus {
  background-color: var(--orange-800) !important;
}

.focus\:bg-orange-900:focus {
  background-color: var(--orange-900) !important;
}

.focus\:bg-yellow-100:focus {
  background-color: var(--yellow-100) !important;
}

.focus\:bg-yellow-200:focus {
  background-color: var(--yellow-200) !important;
}

.focus\:.bg-yellow-300:focus {
  background-color: var(--yellow-300) !important;
}

.focus\:bg-yellow-400:focus {
  background-color: var(--yellow-400) !important;
}

.focus\:bg-yellow-500:focus {
  background-color: var(--yellow-500) !important;
}

.focus\:bg-yellow-600:focus {
  background-color: var(--yellow-600) !important;
}

.focus\:bg-yellow-700:focus {
  background-color: var(--yellow-700) !important;
}

.focus\:bg-yellow-800:focus {
  background-color: var(--yellow-800) !important;
}

.focus\:bg-yellow-900:focus {
  background-color: var(--yellow-900) !important;
}

.focus\:bg-lime-100:focus {
  background-color: var(--lime-100) !important;
}

.focus\:bg-lime-200:focus {
  background-color: var(--lime-200) !important;
}

.focus\:bg-lime-300:focus {
  background-color: var(--lime-300) !important;
}

.focus\:bg-lime-400:focus {
  background-color: var(--lime-400) !important;
}

.focus\:bg-lime-500:focus {
  background-color: var(--lime-500) !important;
}

.focus\:bg-lime-600:focus {
  background-color: var(--lime-600) !important;
}

.focus\:bg-lime-700:focus {
  background-color: var(--lime-700) !important;
}

.focus\:bg-lime-800:focus {
  background-color: var(--lime-800) !important;
}

.focus\:bg-lime-900:focus {
  background-color: var(--lime-900) !important;
}

.focus\:bg-green-100:focus {
  background-color: var(--green-100) !important;
}

.focus\:bg-green-200:focus {
  background-color: var(--green-200) !important;
}

.focus\:bg-green-300:focus {
  background-color: var(--green-300) !important;
}

.focus\:bg-green-400:focus {
  background-color: var(--green-400) !important;
}

.focus\:bg-green-500:focus {
  background-color: var(--green-500) !important;
}

.focus\:bg-green-600:focus {
  background-color: var(--green-600) !important;
}

.focus\:bg-green-700:focus {
  background-color: var(--green-700) !important;
}

.focus\:bg-green-800:focus {
  background-color: var(--green-800) !important;
}

.focus\:bg-green-900:focus {
  background-color: var(--green-900) !important;
}
