.bg-gradient-blue {
  background: linear-gradient(to bottom, #00416a, #e4e5e6);
}

.bg-gradient-pink {
  background: linear-gradient(to bottom, #ff416c, #ff4b2b);
}

.bg-gradient-orange {
  background: linear-gradient(to bottom, #ff9400, #ff416c);
}

.bg-gradient-yellow {
  background: linear-gradient(to bottom, #ffdd00, #fbb034);
}

.bg-gradient-green {
  background: linear-gradient(to bottom, #2bc0e4, #eaecc6);
}

.bg-gradient-teal {
  background: linear-gradient(to bottom, #1b998b, #eaf6f6);
}

.bg-gradient-purple {
  background: linear-gradient(to bottom, #6f00ff, #e100ff);
}

.bg-gradient-black {
  background: linear-gradient(to bottom, #000000, #434343);
}

.bg-gradient-grey {
  background: linear-gradient(to bottom, #e0e0e0, #bdbdbd);
}

.bg-gradient-white {
  background: linear-gradient(to bottom, #ffffff, #e5e5e5);
}

.bg-gradient-red {
  background: linear-gradient(to bottom, #ff512f, #dd2476);
}

.bg-gradient-blue-grey {
  background: linear-gradient(to bottom, #485563, #29323c);
}

.bg-gradient-light-blue {
  background: linear-gradient(to bottom, #55c9d4, #5b68c4);
}

.bg-gradient-deep-blue {
  background: linear-gradient(to bottom, #1f5b8b, #5d5d81);
}

.bg-gradient-dark-pink {
  background: linear-gradient(to bottom, #ff416c, #ff4b2b);
}

.bg-gradient-sky-blue {
  background: linear-gradient(to bottom, #2bc0e4, #eaecc6);
}

.bg-gradient-cherry-red {
  background: linear-gradient(to bottom, #f44336, #e53935);
}

.bg-gradient-purplish-pink {
  background: linear-gradient(to bottom, #d5416f, #6e48aa);
}

.bg-gradient-soft-blue {
  background: linear-gradient(to bottom, #84ceeb, #b2b2e9);
}
