.rounded-none {
  border-radius: 0 !important;
}

.rounded-sm {
  border-radius: 0.125rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.375rem !important;
}

.rounded-lg {
  border-radius: 0.5rem !important;
}

.rounded-full {
  border-radius: 9999px !important;
}

.rounded-t-none {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rounded-r-none {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rounded-b-none {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-l-none {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.rounded-t-sm {
  border-top-left-radius: 0.125rem !important;
  border-top-right-radius: 0.125rem !important;
}

.rounded-r-sm {
  border-top-right-radius: 0.125rem !important;
  border-bottom-right-radius: 0.125rem !important;
}

.rounded-b-sm {
  border-bottom-right-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-l-sm {
  border-top-left-radius: 0.125rem !important;
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-t {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-r {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-l {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-t-md {
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

.rounded-r-md {
  border-top-right-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.rounded-b-md {
  border-bottom-right-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem !important;
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-t-full {
  border-top-left-radius: 9999px !important;
  border-top-right-radius: 9999px !important;
}

.rounded-r-full {
  border-top-right-radius: 9999px !important;
  border-bottom-right-radius: 9999px !important;
}

.rounded-b-full {
  border-bottom-right-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-l-full {
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
}

.rounded-tl-none {
  border-top-left-radius: 0 !important;
}

.rounded-tr-none {
  border-top-right-radius: 0 !important;
}

.rounded-br-none {
  border-bottom-right-radius: 0 !important;
}

.rounded-bl-none {
  border-bottom-left-radius: 0 !important;
}

.rounded-tl-sm {
  border-top-left-radius: 0.125rem !important;
}

.rounded-tr-sm {
  border-top-right-radius: 0.125rem !important;
}

.rounded-br-sm {
  border-bottom-right-radius: 0.125rem !important;
}

.rounded-bl-sm {
  border-bottom-left-radius: 0.125rem !important;
}

.rounded-tl {
  border-top-left-radius: 0.25rem !important;
}

.rounded-tr {
  border-top-right-radius: 0.25rem !important;
}

.rounded-br {
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-tl-md {
  border-top-left-radius: 0.375rem !important;
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem !important;
}

.rounded-br-md {
  border-bottom-right-radius: 0.375rem !important;
}

.rounded-bl-md {
  border-bottom-left-radius: 0.375rem !important;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem !important;
}

.rounded-tr-lg {
  border-top-right-radius: 0.5rem !important;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-tl-full {
  border-top-left-radius: 9999px !important;
}

.rounded-tr-full {
  border-top-right-radius: 9999px !important;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px !important;
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px !important;
}

.border-collapse {
  border-collapse: collapse !important;
}

.border-separate {
  border-collapse: separate !important;
}

.border-solid {
  border-style: solid !important;
}

.border-hidden {
  border-style: hidden !important;
}

.border-dashed {
  border-style: dashed !important;
}

.border-dotted {
  border-style: dotted !important;
}

.border-double {
  border-style: double !important;
}

.border-none {
  border-style: none !important;
}

.border-0 {
  border-width: 0 !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-8 {
  border-width: 8px !important;
}

.border {
  border-width: 1px !important;
}

.border-t-0 {
  border-top-width: 0 !important;
}

.border-r-0 {
  border-right-width: 0 !important;
}

.border-b-0 {
  border-bottom-width: 0 !important;
}

.border-l-0 {
  border-left-width: 0 !important;
}

.border-t-2 {
  border-top-width: 2px !important;
}

.border-r-2 {
  border-right-width: 2px !important;
}

.border-b-2 {
  border-bottom-width: 2px !important;
}

.border-l-2 {
  border-left-width: 2px !important;
}

.border-t-4 {
  border-top-width: 4px !important;
}

.border-r-4 {
  border-right-width: 4px !important;
}

.border-b-4 {
  border-bottom-width: 4px !important;
}

.border-l-4 {
  border-left-width: 4px !important;
}

.border-t-8 {
  border-top-width: 8px !important;
}

.border-r-8 {
  border-right-width: 8px !important;
}

.border-b-8 {
  border-bottom-width: 8px !important;
}

.border-l-8 {
  border-left-width: 8px !important;
}

.border-t {
  border-top-width: 1px !important;
}

.border-r {
  border-right-width: 1px !important;
}

.border-b {
  border-bottom-width: 1px !important;
}

.border-l {
  border-left-width: 1px !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-inherit {
  border-color: inherit !important;
}

.border-current {
  border-color: currentColor !important;
}

.border-transparent {
  border-color: transparent !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-gray-100 {
  border-color: var(--gray-100) !important;
}

.border-gray-200 {
  border-color: var(--gray-200) !important;
}

.border-gray-300 {
  border-color: var(--gray-300) !important;
}

.border-gray-400 {
  border-color: var(--gray-400) !important;
}

.border-gray-600 {
  border-color: var(--gray-600) !important;
}

.border-gray-700 {
  border-color: var(--gray-700) !important;
}

.border-gray-800 {
  border-color: var(--gray-800) !important;
}

.border-gray-900 {
  border-color: var(--gray-900) !important;
}

.border-slate {
  border-color: var(--slate) !important;
}

.border-slate-100 {
  border-color: var(--slate-100) !important;
}

.border-slate-200 {
  border-color: var(--slate-200) !important;
}

.border-slate-300 {
  border-color: var(--slate-300) !important;
}

.border-slate-400 {
  border-color: var(--slate-400) !important;
}

.border-slate-500 {
  border-color: var(--slate-500) !important;
}

.border-slate-600 {
  border-color: var(--slate-600) !important;
}

.border-slate-700 {
  border-color: var(--slate-700) !important;
}

.border-slate-800 {
  border-color: var(--slate-800) !important;
}

.border-slate-900 {
  border-color: var(--slate-900) !important;
}

.border-blue-100 {
  border-color: var(--blue-100) !important;
}

.border-blue-200 {
  border-color: var(--blue-200) !important;
}

.border-blue-300 {
  border-color: var(--blue-300) !important;
}

.border-blue-400 {
  border-color: var(--blue-400) !important;
}

.border-blue-500 {
  border-color: var(--blue-500) !important;
}

.border-blue-600 {
  border-color: var(--blue-600) !important;
}

.border-blue-700 {
  border-color: var(--blue-700) !important;
}

.border-blue-800 {
  border-color: var(--blue-800) !important;
}

.border-blue-900 {
  border-color: var(--blue-900) !important;
}

.border-light-blue-100 {
  border-color: var(--light-blue-100) !important;
}

.border-light-blue-200 {
  border-color: var(--light-blue-200) !important;
}

.border-light-blue-300 {
  border-color: var(--light-blue-300) !important;
}

.border-light-blue-400 {
  border-color: var(--light-blue-400) !important;
}

.border-light-blue-500 {
  border-color: var(--light-blue-500) !important;
}

.border-light-blue-600 {
  border-color: var(--light-blue-600) !important;
}

.border-light-blue-700 {
  border-color: var(--light-blue-700) !important;
}

.border-light-blue-800 {
  border-color: var(--light-blue-800) !important;
}

.border-light-blue-900 {
  border-color: var(--light-blue-900) !important;
}

.border-indigo-100 {
  border-color: var(--indigo-100) !important;
}

.border-indigo-200 {
  border-color: var(--indigo-200) !important;
}

.border-indigo-300 {
  border-color: var(--indigo-300) !important;
}

.border-indigo-400 {
  border-color: var(--indigo-400) !important;
}

.border-indigo-500 {
  border-color: var(--indigo-500) !important;
}

.border-indigo-600 {
  border-color: var(--indigo-600) !important;
}

.border-indigo-700 {
  border-color: var(--indigo-700) !important;
}

.border-indigo-700 {
  border-color: var(--indigo-800) !important;
}

.border-indigo-700 {
  border-color: var(--indigo-900) !important;
}

.border-purple-100 {
  border-color: var(--purple-100) !important;
}

.border-purple-200 {
  border-color: var(--purple-200) !important;
}

.border-purple-300 {
  border-color: var(--purple-300) !important;
}

.border-purple-400 {
  border-color: var(--purple-400) !important;
}

.border-purple-500 {
  border-color: var(--purple-500) !important;
}

.border-purple-600 {
  border-color: var(--purple-600) !important;
}

.border-purple-700 {
  border-color: var(--purple-700) !important;
}

.border-purple-800 {
  border-color: var(--purple-800) !important;
}

.border-purple-900 {
  border-color: var(--purple-900) !important;
}

.border-deep-purple-100 {
  border-color: var(--deep-purple-100) !important;
}

.border-deep-purple-200 {
  border-color: var(--deep-purple-200) !important;
}

.border-deep-purple-300 {
  border-color: var(--deep-purple-300) !important;
}

.border-deep-purple-400 {
  border-color: var(--deep-purple-400) !important;
}

.border-deep-purple-500 {
  border-color: var(--deep-purple-500) !important;
}

.border-deep-purple-600 {
  border-color: var(--deep-purple-600) !important;
}

.border-deep-purple-700 {
  border-color: var(--deep-purple-700) !important;
}

.border-deep-purple-800 {
  border-color: var(--deep-purple-800) !important;
}

.border-deep-purple-900 {
  border-color: var(--deep-purple-900) !important;
}

.border-pink-100 {
  border-color: var(--pink-100) !important;
}

.border-pink-200 {
  border-color: var(--pink-200) !important;
}

.border-pink-300 {
  border-color: var(--pink-300) !important;
}

.border-pink-400 {
  border-color: var(--pink-400) !important;
}

.border-pink-500 {
  border-color: var(--pink-500) !important;
}

.border-pink-600 {
  border-color: var(--pink-600) !important;
}

.border-pink-700 {
  border-color: var(--pink-700) !important;
}

.border-pink-800 {
  border-color: var(--pink-800) !important;
}

.border-pink-900 {
  border-color: var(--pink-900) !important;
}

.border-rose-300 {
  border-color: var(--rose-300) !important;
}

.border-rose-400 {
  border-color: var(--rose-400) !important;
}

.border-rose-500 {
  border-color: var(--rose-500) !important;
}

.border-rose-600 {
  border-color: var(--rose-600) !important;
}

.border-rose-700 {
  border-color: var(--rose-700) !important;
}

.border-rose-800 {
  border-color: var(--rose-800) !important;
}

.border-red-100 {
  border-color: var(--red-100) !important;
}

.border-red-200 {
  border-color: var(--red-200) !important;
}

.border-red-300 {
  border-color: var(--red-300) !important;
}

.border-red-400 {
  border-color: var(--red-400) !important;
}

.border-red-500 {
  border-color: var(--red-500) !important;
}

.border-red-600 {
  border-color: var(--red-600) !important;
}

.border-red-700 {
  border-color: var(--red-700) !important;
}

.border-red-800 {
  border-color: var(--red-800) !important;
}

.border-red-900 {
  border-color: var(--red-900) !important;
}

.border-orange-100 {
  border-color: var(--orange-100) !important;
}

.border-orange-200 {
  border-color: var(--orange-200) !important;
}

.border-orange-300 {
  border-color: var(--orange-300) !important;
}

.border-orange-400 {
  border-color: var(--orange-400) !important;
}

.border-orange-500 {
  border-color: var(--orange-500) !important;
}

.border-orange-600 {
  border-color: var(--orange-600) !important;
}

.border-orange-700 {
  border-color: var(--orange-700) !important;
}

.border-orange-800 {
  border-color: var(--orange-800) !important;
}

.border-orange-900 {
  border-color: var(--orange-900) !important;
}

.border-yellow-100 {
  border-color: var(--yellow-100) !important;
}

.border-yellow-200 {
  border-color: var(--yellow-200) !important;
}

.border-yellow-300 {
  border-color: var(--yellow-300) !important;
}

.border-yellow-400 {
  border-color: var(--yellow-400) !important;
}

.border-yellow-500 {
  border-color: var(--yellow-500) !important;
}

.border-yellow-600 {
  border-color: var(--yellow-600) !important;
}

.border-yellow-700 {
  border-color: var(--yellow-700) !important;
}

.border-yellow-800 {
  border-color: var(--yellow-800) !important;
}

.border-yellow-900 {
  border-color: var(--yellow-900) !important;
}

.border-lime-100 {
  border-color: var(--lime-100) !important;
}

.border-lime-200 {
  border-color: var(--lime-200) !important;
}

.border-lime-300 {
  border-color: var(--lime-300) !important;
}

.border-lime-400 {
  border-color: var(--lime-400) !important;
}

.border-lime-500 {
  border-color: var(--lime-500) !important;
}

.border-lime-600 {
  border-color: var(--lime-600) !important;
}

.border-lime-700 {
  border-color: var(--lime-700) !important;
}

.border-lime-800 {
  border-color: var(--lime-800) !important;
}

.border-lime-900 {
  border-color: var(--lime-900) !important;
}

.border-green-100 {
  border-color: var(--green-100) !important;
}

.border-green-200 {
  border-color: var(--green-200) !important;
}

.border-green-300 {
  border-color: var(--green-300) !important;
}

.border-green-400 {
  border-color: var(--green-400) !important;
}

.border-green-500 {
  border-color: var(--green-500) !important;
}

.border-green-600 {
  border-color: var(--green-600) !important;
}

.border-green-700 {
  border-color: var(--green-700) !important;
}

.border-green-800 {
  border-color: var(--green-800) !important;
}

.border-green-900 {
  border-color: var(--green-900) !important;
}
