.break-before-auto {
    break-before: auto !important;
}

.break-before-avoid {
    break-before: avoid !important;
}

.break-before-all {
    break-before: all !important;
}

.break-before-avoid-page {
    break-before: avoid-page !important;
}

.break-before-page {
    break-before: page !important;
}

.break-before-left {
    break-before: left !important;
}

.break-before-right {
    break-before: right !important;
}

.break-before-column {
    break-before: column !important;
}

.break-inside-auto {
    break-inside: auto !important;
}

.break-inside-avoid {
    break-inside: avoid !important;
}

.break-inside-avoid-page {
    break-inside: avoid-page !important;
}

.break-inside-avoid-column {
    break-inside: avoid-column !important;
}

.break-after-auto {
    break-after: auto !important;
}

.break-after-avoid {
    break-after: avoid !important;
}

.break-after-all {
    break-after: all !important;
}

.break-after-avoid-page {
    break-after: avoid-page !important;
}

.break-after-page {
    break-after: page !important;
}

.break-after-left {
    break-after: left !important;
}

.break-after-right {
    break-after: right !important;
}

.break-after-column {
    break-after: column !important;
}