.breakpoint-xs::before {
  content: "360px" !important;
}

.breakpoint-sm::before {
  content: "640px" !important;
}

.breakpoint-md::before {
  content: "768px" !important;
}

.breakpoint-lg::before {
  content: "1024px" !important;
}

.breakpoint-xl::before {
  content: "1280px" !important;
}

.breakpoint-xxl::before {
  content: "1536px" !important;
}
