.breakpoint-xs::before {
  content: '360px';
}

.breakpoint-sm::before {
  content: '640px';
}

.breakpoint-md::before {
  content: '768px';
}

.breakpoint-lg::before {
  content: '1024px';
}

.breakpoint-xl::before {
  content: '1280px';
}

.breakpoint-xxl::before {
  content: '1536px';
}
