.caption-side-top {
  caption-side: top !important;
}

.caption-side-bottom {
  caption-side: bottom !important;
}

.caption-side-block-start {
  caption-side: block-start !important;
}

.caption-side-block-end {
  caption-side: block-start !important;
}

.caption-side-inline-start {
  caption-side: inline-start !important;
}

.caption-side-inline-end {
  caption-side: inline-end !important;
}

.caption-side-inherit {
  caption-side: inherit !important;
}

.caption-side-initial {
  caption-side: initial !important;
}

.caption-side-revert {
  caption-side: revert !important;
}

.caption-side-unset {
  caption-side: unset !important;
}
