.caption-side-top {
  caption-side: top;
}

.caption-side-bottom {
  caption-side: bottom;
}

.caption-side-block-start {
  caption-side: block-start;
}

.caption-side-block-end {
  caption-side: block-end;
}

.caption-side-inline-start {
  caption-side: inline-start;
}

.caption-side-inline-end {
  caption-side: inline-end;
}

.caption-side-inherit {
  caption-side: inherit;
}

.caption-side-initial {
  caption-side: initial;
}

.caption-side-revert {
  caption-side: revert;
}

.caption-side-unset {
  caption-side: unset;
}
