.caret-inherit {
    caret-color: inherit;
}

.caret-current {
    caret-color: currentColor;
}

.caret-transparent {
    caret-color: transparent;
}

.caret-slate {
    caret-color: var(--slate);
}

.caret-slate-100 {
    caret-color: var(--slate-100);
}

.caret-slate-200 {
    caret-color: var(--slate-200);
}

.caret-slate-300 {
    caret-color: var(--slate-300);
}

.caret-slate-400 {
    caret-color: var(--slate-400);
}

.caret-slate-500 {
    caret-color: var(--slate-500);
}

.caret-slate-600 {
    caret-color: var(--slate-600);
}

.caret-slate-700 {
    caret-color: var(--slate-700);
}

.caret-slate-800 {
    caret-color: var(--slate-800);
}

.caret-slate-900 {
    caret-color: var(--slate-900);
}

.caret-blue-50 {
    caret-color: var(--blue-50);
}

.caret-blue-100 {
    caret-color: var(--blue-100);
}

.caret-blue-200 {
    caret-color: var(--blue-200);
}

.caret-blue-300 {
    caret-color: var(--blue-300);
}

.caret-blue-400 {
    caret-color: var(--blue-400);
}

.caret-blue-500 {
    caret-color: var(--blue-500);
}

.caret-blue-600 {
    caret-color: var(--blue-600);
}

.caret-blue-700 {
    caret-color: var(--blue-700);
}

.caret-blue-800 {
    caret-color: var(--blue-800);
}

.caret-blue-900 {
    caret-color: var(--blue-900);
}

.caret-light-blue-100 {
    caret-color: var(--light-blue-100);
}

.caret-light-blue-200 {
    caret-color: var(--light-blue-200);
}

.caret-light-blue-300 {
    caret-color: var(--light-blue-300);
}

.caret-light-blue-400 {
    caret-color: var(--light-blue-400);
}

.caret-light-blue-500 {
    caret-color: var(--light-blue-500);
}

.caret-light-blue-600 {
    caret-color: var(--light-blue-600);
}

.caret-light-blue-700 {
    caret-color: var(--light-blue-700);
}

.caret-light-blue-800 {
    caret-color: var(--light-blue-800);
}

.caret-light-blue-900 {
    caret-color: var(--light-blue-900);
}

.caret-indigo-100 {
    caret-color: var(--indigo-100);
}

.caret-indigo-200 {
    caret-color: var(--indigo-200);
}

.caret-indigo-300 {
    caret-color: var(--indigo-300);
}

.caret-indigo-400 {
    caret-color: var(--indigo-400);
}

.caret-indigo-500 {
    caret-color: var(--indigo-500);
}

.caret-indigo-600 {
    caret-color: var(--indigo-600);
}

.caret-indigo-700 {
    caret-color: var(--indigo-700);
}

.caret-indigo-700 {
    caret-color: var(--indigo-800);
}

.caret-indigo-700 {
    caret-color: var(--indigo-900);
}

.caret-purple-50 {
    caret-color: var(--purple-50);
}

.caret-purple-100 {
    caret-color: var(--purple-100);
}

.caret-purple-200 {
    caret-color: var(--purple-200);
}

.caret-purple-300 {
    caret-color: var(--purple-300);
}

.caret-purple-400 {
    caret-color: var(--purple-400);
}

.caret-purple-500 {
    caret-color: var(--purple-500);
}

.caret-purple-600 {
    caret-color: var(--purple-600);
}

.caret-purple-700 {
    caret-color: var(--purple-700);
}

.caret-purple-800 {
    caret-color: var(--purple-800);
}

.caret-purple-900 {
    caret-color: var(--purple-900);
}

.caret-deep-purple-100 {
    caret-color: var(--deep-purple-100);
}

.caret-deep-purple-200 {
    caret-color: var(--deep-purple-200);
}

.caret-deep-purple-300 {
    caret-color: var(--deep-purple-300);
}

.caret-deep-purple-400 {
    caret-color: var(--deep-purple-400);
}

.caret-deep-purple-500 {
    caret-color: var(--deep-purple-500);
}

.caret-deep-purple-600 {
    caret-color: var(--deep-purple-600);
}

.caret-deep-purple-700 {
    caret-color: var(--deep-purple-700);
}

.caret-deep-purple-800 {
    caret-color: var(--deep-purple-800);
}

.caret-deep-purple-900 {
    caret-color: var(--deep-purple-900);
}

.caret-fuchsia-50 {
    caret-color: var(--fuchsia-50);
}

.caret-fuchsia-100 {
    caret-color: var(--fuchsia-100);
}

.caret-fuchsia-200 {
    caret-color: var(--fuchsia-200);
}

.caret-fuchsia-300 {
    caret-color: var(--fuchsia-300);
}

.caret-fuchsia-400 {
    caret-color: var(--fuchsia-400);
}

.caret-fuchsia-500 {
    caret-color: var(--fuchsia-500);
}

.caret-fuchsia-600 {
    caret-color: var(--fuchsia-600);
}

.caret-fuchsia-700 {
    caret-color: var(--fuchsia-700);
}

.caret-fuchsia-800 {
    caret-color: var(--fuchsia-800);
}

.caret-fuchsia-900 {
    caret-color: var(--fuchsia-900);
}

.caret-pink-50 {
    caret-color: var(--pink-50);
}

.caret-pink-100 {
    caret-color: var(--pink-100);
}

.caret-pink-200 {
    caret-color: var(--pink-200);
}

.caret-pink-300 {
    caret-color: var(--pink-300);
}

.caret-pink-400 {
    caret-color: var(--pink-400);
}

.caret-pink-500 {
    caret-color: var(--pink-500);
}

.caret-pink-600 {
    caret-color: var(--pink-600);
}

.caret-pink-700 {
    caret-color: var(--pink-700);
}

.caret-pink-800 {
    caret-color: var(--pink-800);
}

.caret-pink-900 {
    caret-color: var(--pink-900);
}

.caret-rose-50 {
    caret-color: var(--rose-50);
}

.caret-rose-100 {
    caret-color: var(--rose-100);
}

.caret-rose-200 {
    caret-color: var(--rose-200);
}

.caret-rose-300 {
    caret-color: var(--rose-300);
}

.caret-rose-400 {
    caret-color: var(--rose-400);
}

.caret-rose-500 {
    caret-color: var(--rose-500);
}

.caret-rose-600 {
    caret-color: var(--rose-600);
}

.caret-rose-700 {
    caret-color: var(--rose-700);
}

.caret-rose-800 {
    caret-color: var(--rose-800);
}

.caret-red-50 {
    caret-color: var(--red-50);
}

.caret-red-100 {
    caret-color: var(--red-100);
}

.caret-red-200 {
    caret-color: var(--red-200);
}

.caret-red-300 {
    caret-color: var(--red-300);
}

.caret-red-400 {
    caret-color: var(--red-400);
}

.caret-red-500 {
    caret-color: var(--red-500);
}

.caret-red-600 {
    caret-color: var(--red-600);
}

.caret-red-700 {
    caret-color: var(--red-700);
}

.caret-red-800 {
    caret-color: var(--red-800);
}

.caret-red-900 {
    caret-color: var(--red-900);
}

.caret-orange-50 {
    caret-color: var(--orange-50);
}

.caret-orange-100 {
    caret-color: var(--orange-100);
}

.caret-orange-200 {
    caret-color: var(--orange-200);
}

.caret-orange-300 {
    caret-color: var(--orange-300);
}

.caret-orange-400 {
    caret-color: var(--orange-400);
}

.caret-orange-500 {
    caret-color: var(--orange-500);
}

.caret-orange-600 {
    caret-color: var(--orange-600);
}

.caret-orange-700 {
    caret-color: var(--orange-700);
}

.caret-orange-800 {
    caret-color: var(--orange-800);
}

.caret-orange-900 {
    caret-color: var(--orange-900);
}

.caret-yellow-50 {
    caret-color: var(--yellow-50);
}

.caret-yellow-100 {
    caret-color: var(--yellow-100);
}

.caret-yellow-200 {
    caret-color: var(--yellow-200);
}

.caret-yellow-300 {
    caret-color: var(--yellow-300);
}

.caret-yellow-400 {
    caret-color: var(--yellow-400);
}

.caret-yellow-500 {
    caret-color: var(--yellow-500);
}

.caret-yellow-600 {
    caret-color: var(--yellow-600);
}

.caret-yellow-700 {
    caret-color: var(--yellow-700);
}

.caret-yellow-800 {
    caret-color: var(--yellow-800);
}

.caret-yellow-900 {
    caret-color: var(--yellow-900);
}

.caret-lime-100 {
    caret-color: var(--lime-100);
}

.caret-lime-200 {
    caret-color: var(--lime-200);
}

.caret-lime-300 {
    caret-color: var(--lime-300);
}

.caret-lime-400 {
    caret-color: var(--lime-400);
}

.caret-lime-500 {
    caret-color: var(--lime-500);
}

.caret-lime-600 {
    caret-color: var(--lime-600);
}

.caret-lime-700 {
    caret-color: var(--lime-700);
}

.caret-lime-800 {
    caret-color: var(--lime-800);
}

.caret-lime-900 {
    caret-color: var(--lime-900);
}

.caret-green-50 {
    caret-color: var(--green-50);
}

.caret-green-100 {
    caret-color: var(--green-100);
}

.caret-green-200 {
    caret-color: var(--green-200);
}

.caret-green-300 {
    caret-color: var(--green-300);
}

.caret-green-400 {
    caret-color: var(--green-400);
}

.caret-green-500 {
    caret-color: var(--green-500);
}

.caret-green-600 {
    caret-color: var(--green-600);
}

.caret-green-700 {
    caret-color: var(--green-700);
}

.caret-green-800 {
    caret-color: var(--green-800);
}

.caret-green-900 {
    caret-color: var(--green-900);
}

.caret-teal-50 {
    caret-color: var(--teal-50);
}

.caret-teal-100 {
    caret-color: var(--teal-100);
}

.caret-teal-200 {
    caret-color: var(--teal-200);
}

.caret-teal-300 {
    caret-color: var(--teal-300);
}

.caret-teal-400 {
    caret-color: var(--teal-400);
}

.caret-teal-500 {
    caret-color: var(--teal-500);
}

.caret-teal-600 {
    caret-color: var(--teal-600);
}

.caret-teal-700 {
    caret-color: var(--teal-700);
}

.caret-teal-800 {
    caret-color: var(--teal-800);
}

.caret-teal-900 {
    caret-color: var(--teal-900);
}

.caret-gray-100 {
    caret-color: var(--gray-100);
}

.caret-gray-200 {
    caret-color: var(--gray-200);
}

.caret-gray-300 {
    caret-color: var(--gray-300);
}

.caret-gray-400 {
    caret-color: var(--gray-400);
}

.caret-gray-600 {
    caret-color: var(--gray-600);
}

.caret-gray-700 {
    caret-color: var(--gray-700);
}

.caret-gray-800 {
    caret-color: var(--gray-800);
}

.caret-gray-900 {
    caret-color: var(--gray-900);
}

.caret-zinc-50 {
    caret-color: var(--zinc-50);
}

.caret-zinc-100 {
    caret-color: var(--zinc-100);
}

.caret-zinc-200 {
    caret-color: var(--zinc-200);
}

.caret-zinc-300 {
    caret-color: var(--zinc-300);
}

.caret-zinc-400 {
    caret-color: var(--zinc-400);
}

.caret-zinc-500 {
    caret-color: var(--zinc-500);
}

.caret-zinc-600 {
    caret-color: var(--zinc-600);
}

.caret-zinc-700 {
    caret-color: var(--zinc-700);
}

.caret-zinc-800 {
    caret-color: var(--zinc-800);
}

.caret-zinc-900 {
    caret-color: var(--zinc-900);
}

.caret-light-50 {
    caret-color: var(--light-50);
}

.caret-light-100 {
    caret-color: var(--light-100);
}

.caret-light-200 {
    caret-color: var(--light-200);
}

.caret-light-300 {
    caret-color: var(--light-300);
}

.caret-light-400 {
    caret-color: var(--light-400);
}

.caret-light-500 {
    caret-color: var(--light-500);
}

.caret-light-600 {
    caret-color: var(--light-600);
}

.caret-light-700 {
    caret-color: var(--light-700);
}

.caret-light-800 {
    caret-color: var(--light-800);
}

.caret-light-900 {
    caret-color: var(--light-900);
}

.caret-white {
    caret-color: var(--white);
}

.caret-black {
    caret-color: var(--black);
}

.caret-dark-50 {
    caret-color: var(--dark-50);
}

.caret-dark-100 {
    caret-color: var(--dark-100);
}

.caret-dark-200 {
    caret-color: var(--dark-200);
}

.caret-dark-300 {
    caret-color: var(--dark-300);
}

.caret-dark-400 {
    caret-color: var(--dark-400);
}

.caret-dark-500 {
    caret-color: var(--dark-500);
}

.caret-dark-600 {
    caret-color: var(--dark-600);
}

.caret-dark-700 {
    caret-color: var(--dark-700);
}

.caret-dark-800 {
    caret-color: var(--dark-800);
}

.caret-dark-900 {
    caret-color: var(--dark-900);
}
