.caret-inherit {
  caret-color: inherit !important;
}

.caret-current {
  caret-color: currentColor !important;
}

.caret-transparent {
  caret-color: transparent !important;
}

.caret-slate {
  caret-color: var(--slate) !important;
}

.caret-slate-100 {
  caret-color: var(--slate-100) !important;
}

.caret-slate-200 {
  caret-color: var(--slate-200) !important;
}

.caret-slate-300 {
  caret-color: var(--slate-300) !important;
}

.caret-slate-400 {
  caret-color: var(--slate-400) !important;
}

.caret-slate-500 {
  caret-color: var(--slate-500) !important;
}

.caret-slate-600 {
  caret-color: var(--slate-600) !important;
}

.caret-slate-700 {
  caret-color: var(--slate-700) !important;
}

.caret-slate-800 {
  caret-color: var(--slate-800) !important;
}

.caret-slate-900 {
  caret-color: var(--slate-900) !important;
}

.caret-blue-50 {
  caret-color: var(--blue-50) !important;
}

.caret-blue-100 {
  caret-color: var(--blue-100) !important;
}

.caret-blue-200 {
  caret-color: var(--blue-200) !important;
}

.caret-blue-300 {
  caret-color: var(--blue-300) !important;
}

.caret-blue-400 {
  caret-color: var(--blue-400) !important;
}

.caret-blue-500 {
  caret-color: var(--blue-500) !important;
}

.caret-blue-600 {
  caret-color: var(--blue-600) !important;
}

.caret-blue-700 {
  caret-color: var(--blue-700) !important;
}

.caret-blue-800 {
  caret-color: var(--blue-800) !important;
}

.caret-blue-900 {
  caret-color: var(--blue-900) !important;
}

.caret-light-blue-100 {
  caret-color: var(--light-blue-100) !important;
}

.caret-light-blue-200 {
  caret-color: var(--light-blue-200) !important;
}

.caret-light-blue-300 {
  caret-color: var(--light-blue-300) !important;
}

.caret-light-blue-400 {
  caret-color: var(--light-blue-400) !important;
}

.caret-light-blue-500 {
  caret-color: var(--light-blue-500) !important;
}

.caret-light-blue-600 {
  caret-color: var(--light-blue-600) !important;
}

.caret-light-blue-700 {
  caret-color: var(--light-blue-700) !important;
}

.caret-light-blue-800 {
  caret-color: var(--light-blue-800) !important;
}

.caret-light-blue-900 {
  caret-color: var(--light-blue-900) !important;
}

.caret-indigo-100 {
  caret-color: var(--indigo-100) !important;
}

.caret-indigo-200 {
  caret-color: var(--indigo-200) !important;
}

.caret-indigo-300 {
  caret-color: var(--indigo-300) !important;
}

.caret-indigo-400 {
  caret-color: var(--indigo-400) !important;
}

.caret-indigo-500 {
  caret-color: var(--indigo-500) !important;
}

.caret-indigo-600 {
  caret-color: var(--indigo-600) !important;
}

.caret-indigo-700 {
  caret-color: var(--indigo-700) !important;
}

.caret-indigo-700 {
  caret-color: var(--indigo-800) !important;
}

.caret-indigo-700 {
  caret-color: var(--indigo-900) !important;
}

.caret-purple-50 {
  caret-color: var(--purple-50) !important;
}

.caret-purple-100 {
  caret-color: var(--purple-100) !important;
}

.caret-purple-200 {
  caret-color: var(--purple-200) !important;
}

.caret-purple-300 {
  caret-color: var(--purple-300) !important;
}

.caret-purple-400 {
  caret-color: var(--purple-400) !important;
}

.caret-purple-500 {
  caret-color: var(--purple-500) !important;
}

.caret-purple-600 {
  caret-color: var(--purple-600) !important;
}

.caret-purple-700 {
  caret-color: var(--purple-700) !important;
}

.caret-purple-800 {
  caret-color: var(--purple-800) !important;
}

.caret-purple-900 {
  caret-color: var(--purple-900) !important;
}

.caret-deep-purple-100 {
  caret-color: var(--deep-purple-100) !important;
}

.caret-deep-purple-200 {
  caret-color: var(--deep-purple-200) !important;
}

.caret-deep-purple-300 {
  caret-color: var(--deep-purple-300) !important;
}

.caret-deep-purple-400 {
  caret-color: var(--deep-purple-400) !important;
}

.caret-deep-purple-500 {
  caret-color: var(--deep-purple-500) !important;
}

.caret-deep-purple-600 {
  caret-color: var(--deep-purple-600) !important;
}

.caret-deep-purple-700 {
  caret-color: var(--deep-purple-700) !important;
}

.caret-deep-purple-800 {
  caret-color: var(--deep-purple-800) !important;
}

.caret-deep-purple-900 {
  caret-color: var(--deep-purple-900) !important;
}

.caret-fuchsia-50 {
  caret-color: var(--fuchsia-50) !important;
}

.caret-fuchsia-100 {
  caret-color: var(--fuchsia-100) !important;
}

.caret-fuchsia-200 {
  caret-color: var(--fuchsia-200) !important;
}

.caret-fuchsia-300 {
  caret-color: var(--fuchsia-300) !important;
}

.caret-fuchsia-400 {
  caret-color: var(--fuchsia-400) !important;
}

.caret-fuchsia-500 {
  caret-color: var(--fuchsia-500) !important;
}

.caret-fuchsia-600 {
  caret-color: var(--fuchsia-600) !important;
}

.caret-fuchsia-700 {
  caret-color: var(--fuchsia-700) !important;
}

.caret-fuchsia-800 {
  caret-color: var(--fuchsia-800) !important;
}

.caret-fuchsia-900 {
  caret-color: var(--fuchsia-900) !important;
}

.caret-pink-50 {
  caret-color: var(--pink-50) !important;
}

.caret-pink-100 {
  caret-color: var(--pink-100) !important;
}

.caret-pink-200 {
  caret-color: var(--pink-200) !important;
}

.caret-pink-300 {
  caret-color: var(--pink-300) !important;
}

.caret-pink-400 {
  caret-color: var(--pink-400) !important;
}

.caret-pink-500 {
  caret-color: var(--pink-500) !important;
}

.caret-pink-600 {
  caret-color: var(--pink-600) !important;
}

.caret-pink-700 {
  caret-color: var(--pink-700) !important;
}

.caret-pink-800 {
  caret-color: var(--pink-800) !important;
}

.caret-pink-900 {
  caret-color: var(--pink-900) !important;
}

.caret-rose-50 {
  caret-color: var(--rose-50) !important;
}

.caret-rose-100 {
  caret-color: var(--rose-100) !important;
}

.caret-rose-200 {
  caret-color: var(--rose-200) !important;
}

.caret-rose-300 {
  caret-color: var(--rose-300) !important;
}

.caret-rose-400 {
  caret-color: var(--rose-400) !important;
}

.caret-rose-500 {
  caret-color: var(--rose-500) !important;
}

.caret-rose-600 {
  caret-color: var(--rose-600) !important;
}

.caret-rose-700 {
  caret-color: var(--rose-700) !important;
}

.caret-rose-800 {
  caret-color: var(--rose-800) !important;
}

.caret-red-50 {
  caret-color: var(--red-50) !important;
}

.caret-red-100 {
  caret-color: var(--red-100) !important;
}

.caret-red-200 {
  caret-color: var(--red-200) !important;
}

.caret-red-300 {
  caret-color: var(--red-300) !important;
}

.caret-red-400 {
  caret-color: var(--red-400) !important;
}

.caret-red-500 {
  caret-color: var(--red-500) !important;
}

.caret-red-600 {
  caret-color: var(--red-600) !important;
}

.caret-red-700 {
  caret-color: var(--red-700) !important;
}

.caret-red-800 {
  caret-color: var(--red-800) !important;
}

.caret-red-900 {
  caret-color: var(--red-900) !important;
}

.caret-orange-50 {
  caret-color: var(--orange-50) !important;
}

.caret-orange-100 {
  caret-color: var(--orange-100) !important;
}

.caret-orange-200 {
  caret-color: var(--orange-200) !important;
}

.caret-orange-300 {
  caret-color: var(--orange-300) !important;
}

.caret-orange-400 {
  caret-color: var(--orange-400) !important;
}

.caret-orange-500 {
  caret-color: var(--orange-500) !important;
}

.caret-orange-600 {
  caret-color: var(--orange-600) !important;
}

.caret-orange-700 {
  caret-color: var(--orange-700) !important;
}

.caret-orange-800 {
  caret-color: var(--orange-800) !important;
}

.caret-orange-900 {
  caret-color: var(--orange-900) !important;
}

.caret-yellow-50 {
  caret-color: var(--yellow-50) !important;
}

.caret-yellow-100 {
  caret-color: var(--yellow-100) !important;
}

.caret-yellow-200 {
  caret-color: var(--yellow-200) !important;
}

.caret-yellow-300 {
  caret-color: var(--yellow-300) !important;
}

.caret-yellow-400 {
  caret-color: var(--yellow-400) !important;
}

.caret-yellow-500 {
  caret-color: var(--yellow-500) !important;
}

.caret-yellow-600 {
  caret-color: var(--yellow-600) !important;
}

.caret-yellow-700 {
  caret-color: var(--yellow-700) !important;
}

.caret-yellow-800 {
  caret-color: var(--yellow-800) !important;
}

.caret-yellow-900 {
  caret-color: var(--yellow-900) !important;
}

.caret-lime-100 {
  caret-color: var(--lime-100) !important;
}

.caret-lime-200 {
  caret-color: var(--lime-200) !important;
}

.caret-lime-300 {
  caret-color: var(--lime-300) !important;
}

.caret-lime-400 {
  caret-color: var(--lime-400) !important;
}

.caret-lime-500 {
  caret-color: var(--lime-500) !important;
}

.caret-lime-600 {
  caret-color: var(--lime-600) !important;
}

.caret-lime-700 {
  caret-color: var(--lime-700) !important;
}

.caret-lime-800 {
  caret-color: var(--lime-800) !important;
}

.caret-lime-900 {
  caret-color: var(--lime-900) !important;
}

.caret-green-50 {
  caret-color: var(--green-50) !important;
}

.caret-green-100 {
  caret-color: var(--green-100) !important;
}

.caret-green-200 {
  caret-color: var(--green-200) !important;
}

.caret-green-300 {
  caret-color: var(--green-300) !important;
}

.caret-green-400 {
  caret-color: var(--green-400) !important;
}

.caret-green-500 {
  caret-color: var(--green-500) !important;
}

.caret-green-600 {
  caret-color: var(--green-600) !important;
}

.caret-green-700 {
  caret-color: var(--green-700) !important;
}

.caret-green-800 {
  caret-color: var(--green-800) !important;
}

.caret-green-900 {
  caret-color: var(--green-900) !important;
}

.caret-teal-50 {
  caret-color: var(--teal-50) !important;
}

.caret-teal-100 {
  caret-color: var(--teal-100) !important;
}

.caret-teal-200 {
  caret-color: var(--teal-200) !important;
}

.caret-teal-300 {
  caret-color: var(--teal-300) !important;
}

.caret-teal-400 {
  caret-color: var(--teal-400) !important;
}

.caret-teal-500 {
  caret-color: var(--teal-500) !important;
}

.caret-teal-600 {
  caret-color: var(--teal-600) !important;
}

.caret-teal-700 {
  caret-color: var(--teal-700) !important;
}

.caret-teal-800 {
  caret-color: var(--teal-800) !important;
}

.caret-teal-900 {
  caret-color: var(--teal-900) !important;
}

.caret-gray-100 {
  caret-color: var(--gray-100) !important;
}

.caret-gray-200 {
  caret-color: var(--gray-200) !important;
}

.caret-gray-300 {
  caret-color: var(--gray-300) !important;
}

.caret-gray-400 {
  caret-color: var(--gray-400) !important;
}

.caret-gray-600 {
  caret-color: var(--gray-600) !important;
}

.caret-gray-700 {
  caret-color: var(--gray-700) !important;
}

.caret-gray-800 {
  caret-color: var(--gray-800) !important;
}

.caret-gray-900 {
  caret-color: var(--gray-900) !important;
}

.caret-zinc-50 {
  caret-color: var(--zinc-50) !important;
}

.caret-zinc-100 {
  caret-color: var(--zinc-100) !important;
}

.caret-zinc-200 {
  caret-color: var(--zinc-200) !important;
}

.caret-zinc-300 {
  caret-color: var(--zinc-300) !important;
}

.caret-zinc-400 {
  caret-color: var(--zinc-400) !important;
}

.caret-zinc-500 {
  caret-color: var(--zinc-500) !important;
}

.caret-zinc-600 {
  caret-color: var(--zinc-600) !important;
}

.caret-zinc-700 {
  caret-color: var(--zinc-700) !important;
}

.caret-zinc-800 {
  caret-color: var(--zinc-800) !important;
}

.caret-zinc-900 {
  caret-color: var(--zinc-900) !important;
}

.caret-light-50 {
  caret-color: var(--light-50) !important;
}

.caret-light-100 {
  caret-color: var(--light-100) !important;
}

.caret-light-200 {
  caret-color: var(--light-200) !important;
}

.caret-light-300 {
  caret-color: var(--light-300) !important;
}

.caret-light-400 {
  caret-color: var(--light-400) !important;
}

.caret-light-500 {
  caret-color: var(--light-500) !important;
}

.caret-light-600 {
  caret-color: var(--light-600) !important;
}

.caret-light-700 {
  caret-color: var(--light-700) !important;
}

.caret-light-800 {
  caret-color: var(--light-800) !important;
}

.caret-light-900 {
  caret-color: var(--light-900) !important;
}

.caret-white {
  caret-color: var(--white) !important;
}

.caret-black {
  caret-color: var(--black) !important;
}

.caret-dark-50 {
  caret-color: var(--dark-50) !important;
}

.caret-dark-100 {
  caret-color: var(--dark-100) !important;
}

.caret-dark-200 {
  caret-color: var(--dark-200) !important;
}

.caret-dark-300 {
  caret-color: var(--dark-300) !important;
}

.caret-dark-400 {
  caret-color: var(--dark-400) !important;
}

.caret-dark-500 {
  caret-color: var(--dark-500) !important;
}

.caret-dark-600 {
  caret-color: var(--dark-600) !important;
}

.caret-dark-700 {
  caret-color: var(--dark-700) !important;
}

.caret-dark-800 {
  caret-color: var(--dark-800) !important;
}

.caret-dark-900 {
  caret-color: var(--dark-900) !important;
}
