.centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 auto !important;
  flex-wrap: wrap !important;
}

.centered-alt,
.centered-alt:hover,
.centered-alt:active {
  overflow: hidden !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (min-width: 360px) {
  .xs\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .xs\:centered-alt,
  .xs\:centered-alt:hover,
  .xs\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 640px) {
  .sm\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .sm\:centered-alt,
  .sm\:centered-alt:hover,
  .sm\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 768px) {
  .md\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .md\:centered-alt,
  .md\:centered-alt:hover,
  .md\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 1024px) {
  .lg\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .lg\:centered-alt,
  .lg\:centered-alt:hover,
  .lg\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 1280px) {
  .xl\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .xl\:centered-alt,
  .xl\:centered-alt:hover,
  .xl\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:centered {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    flex-wrap: wrap !important;
  }

  .\32xl\:centered-alt,
  .\32xl\:centered-alt:hover,
  .\32xl\:centered-alt:active {
    overflow: hidden !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
