.color-scheme-normal {
    color-scheme: normal;
}

.color-scheme-light {
    color-scheme: light;
}

.color-scheme-dark {
    color-scheme: dark;
}

.color-scheme-light-dark {
    color-scheme: light dark;
}

.color-scheme-dark-light {
    color-scheme: dark light;
}

.color-scheme-only-light {
    color-scheme: only light;
}

.color-scheme-only-dark {
    color-scheme: only dark;
}
