.col-count-auto {
    column-count: auto;
}

.col-count-1 {
    column-count: 1;
}

.col-count-2 {
    column-count: 2;
}

.col-count-3 {
    column-count: 3;
}

.col-count-4 {
    column-count: 4;
}

.col-count-5 {
    column-count: 5;
}

.col-count-6 {
    column-count: 6;
}

.col-count-7 {
    column-count: 7;
}

.col-count-8 {
    column-count: 8;
}

.col-count-9 {
    column-count: 9;
}

.col-count-10 {
    column-count: 10;
}

.col-count-11 {
    column-count: 11;
}

.col-count-12 {
    column-count: 12;
}

.col-fill-auto {
    column-fill: auto;
}

.col-fill-balance {
    column-fill: balance;
}

.col-fill-balance-all {
    column-fill: balance-all;
}

.columns-1 {
    columns: 1;
}

.columns-2 {
    columns: 2;
}

.columns-3 {
    columns: 3;
}

.columns-4 {
    columns: 4;
}

.columns-5 {
    columns: 5;
}

.columns-6 {
    columns: 6;
}

.columns-7 {
    columns: 7;
}

.columns-8 {
    columns: 8;
}

.columns-9 {
    columns: 9;
}

.columns-10 {
    columns: 10;
}

.columns-11 {
    columns: 11;
}

.columns-12 {
    columns: 12;
}

.columns-auto {
    columns: auto;
}

.columns-3xs {
    columns: 16rem;
}

.columns-2xs {
    columns: 18rem;
}

.columns-xs {
    columns: 20rem;
}

.columns-sm {
    columns: 24rem;
}

.columns-md {
    columns: 28rem;
}

.columns-lg {
    columns: 32rem;
}

.columns-xl {
    columns: 36rem;
}

.columns-2xl {
    columns: 42rem;
}

.columns-3xl {
    columns: 48rem;
}

.columns-4xl {
    columns: 56rem;
}

.columns-5xl {
    columns: 64rem;
}

.columns-6xl {
    columns: 72rem;
}

.columns-7xl {
    columns: 80rem;
}

@media (min-width: 360px) {
    .xs\:col-count-auto {
        column-count: auto;
    }

    .xs\:col-count-1 {
        column-count: 1;
    }

    .xs\:col-count-2 {
        column-count: 2;
    }

    .xs\:col-count-3 {
        column-count: 3;
    }

    .xs\:col-count-4 {
        column-count: 4;
    }

    .xs\:col-count-5 {
        column-count: 5;
    }

    .xs\:col-count-6 {
        column-count: 6;
    }

    .xs\:col-count-7 {
        column-count: 7;
    }

    .xs\:col-count-8 {
        column-count: 8;
    }

    .xs\:col-count-9 {
        column-count: 9;
    }

    .xs\:col-count-10 {
        column-count: 10;
    }

    .xs\:col-count-11 {
        column-count: 11;
    }

    .xs\:col-count-12 {
        column-count: 12;
    }

    .xs\:col-fill-auto {
        column-fill: auto;
    }

    .xs\:col-fill-balance {
        column-fill: balance;
    }

    .xs\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .xs\:columns-1 {
        columns: 1;
    }

    .xs\:columns-2 {
        columns: 2;
    }

    .xs\:columns-3 {
        columns: 3;
    }

    .xs\:columns-4 {
        columns: 4;
    }

    .xs\:columns-5 {
        columns: 5;
    }

    .xs\:columns-6 {
        columns: 6;
    }

    .xs\:columns-7 {
        columns: 7;
    }

    .xs\:columns-8 {
        columns: 8;
    }

    .xs\:columns-9 {
        columns: 9;
    }

    .xs\:columns-10 {
        columns: 10;
    }

    .xs\:columns-11 {
        columns: 11;
    }

    .xs\:columns-12 {
        columns: 12;
    }

    .xs\:columns-auto {
        columns: auto;
    }

    .xs\:columns-3xs {
        columns: 16rem;
    }

    .xs\:columns-2xs {
        columns: 18rem;
    }

    .xs\:columns-xs {
        columns: 20rem;
    }

    .xs\:columns-sm {
        columns: 24rem;
    }

    .xs\:columns-md {
        columns: 28rem;
    }

    .xs\:columns-lg {
        columns: 32rem;
    }

    .xs\:columns-xl {
        columns: 36rem;
    }

    .xs\:columns-2xl {
        columns: 42rem;
    }

    .xs\:columns-3xl {
        columns: 48rem;
    }

    .xs\:columns-4xl {
        columns: 56rem;
    }

    .xs\:columns-5xl {
        columns: 64rem;
    }

    .xs\:columns-6xl {
        columns: 72rem;
    }

    .xs\:columns-7xl {
        columns: 80rem;
    }
}

@media (min-width: 640px) {
    .sm\:col-count-auto {
        column-count: auto;
    }

    .sm\:col-count-1 {
        column-count: 1;
    }

    .sm\:col-count-2 {
        column-count: 2;
    }

    .sm\:col-count-3 {
        column-count: 3;
    }

    .sm\:col-count-4 {
        column-count: 4;
    }

    .sm\:col-count-5 {
        column-count: 5;
    }

    .sm\:col-count-6 {
        column-count: 6;
    }

    .sm\:col-count-7 {
        column-count: 7;
    }

    .sm\:col-count-8 {
        column-count: 8;
    }

    .sm\:col-count-9 {
        column-count: 9;
    }

    .sm\:col-count-10 {
        column-count: 10;
    }

    .sm\:col-count-11 {
        column-count: 11;
    }

    .sm\:col-count-12 {
        column-count: 12;
    }

    .sm\:col-fill-auto {
        column-fill: auto;
    }

    .sm\:col-fill-balance {
        column-fill: balance;
    }

    .sm\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .sm\:columns-1 {
        columns: 1;
    }

    .sm\:columns-2 {
        columns: 2;
    }

    .sm\:columns-3 {
        columns: 3;
    }

    .sm\:columns-4 {
        columns: 4;
    }

    .sm\:columns-5 {
        columns: 5;
    }

    .sm\:columns-6 {
        columns: 6;
    }

    .sm\:columns-7 {
        columns: 7;
    }

    .sm\:columns-8 {
        columns: 8;
    }

    .sm\:columns-9 {
        columns: 9;
    }

    .sm\:columns-10 {
        columns: 10;
    }

    .sm\:columns-11 {
        columns: 11;
    }

    .sm\:columns-12 {
        columns: 12;
    }

    .sm\:columns-auto {
        columns: auto;
    }

    .sm\:columns-3xs {
        columns: 16rem;
    }

    .sm\:columns-2xs {
        columns: 18rem;
    }

    .sm\:columns-xs {
        columns: 20rem;
    }

    .sm\:columns-sm {
        columns: 24rem;
    }

    .sm\:columns-md {
        columns: 28rem;
    }

    .sm\:columns-lg {
        columns: 32rem;
    }

    .sm\:columns-xl {
        columns: 36rem;
    }

    .sm\:columns-2xl {
        columns: 42rem;
    }

    .sm\:columns-3xl {
        columns: 48rem;
    }

    .sm\:columns-4xl {
        columns: 56rem;
    }

    .sm\:columns-5xl {
        columns: 64rem;
    }

    .sm\:columns-6xl {
        columns: 72rem;
    }

    .sm\:columns-7xl {
        columns: 80rem;
    }
}

@media (min-width: 768px) {
    .md\:col-count-auto {
        column-count: auto;
    }

    .md\:col-count-1 {
        column-count: 1;
    }

    .md\:col-count-2 {
        column-count: 2;
    }

    .md\:col-count-3 {
        column-count: 3;
    }

    .md\:col-count-4 {
        column-count: 4;
    }

    .md\:col-count-5 {
        column-count: 5;
    }

    .md\:col-count-6 {
        column-count: 6;
    }

    .md\:col-count-7 {
        column-count: 7;
    }

    .md\:col-count-8 {
        column-count: 8;
    }

    .md\:col-count-9 {
        column-count: 9;
    }

    .md\:col-count-10 {
        column-count: 10;
    }

    .md\:col-count-11 {
        column-count: 11;
    }

    .md\:col-count-12 {
        column-count: 12;
    }

    .md\:col-fill-auto {
        column-fill: auto;
    }

    .md\:col-fill-balance {
        column-fill: balance;
    }

    .md\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .md\:columns-1 {
        columns: 1;
    }

    .md\:columns-2 {
        columns: 2;
    }

    .md\:columns-3 {
        columns: 3;
    }

    .md\:columns-4 {
        columns: 4;
    }

    .md\:columns-5 {
        columns: 5;
    }

    .md\:columns-6 {
        columns: 6;
    }

    .md\:columns-7 {
        columns: 7;
    }

    .md\:columns-8 {
        columns: 8;
    }

    .md\:columns-9 {
        columns: 9;
    }

    .md\:columns-10 {
        columns: 10;
    }

    .md\:columns-11 {
        columns: 11;
    }

    .md\:columns-12 {
        columns: 12;
    }

    .md\:columns-auto {
        columns: auto;
    }

    .md\:columns-3xs {
        columns: 16rem;
    }

    .md\:columns-2xs {
        columns: 18rem;
    }

    .md\:columns-xs {
        columns: 20rem;
    }

    .md\:columns-sm {
        columns: 24rem;
    }

    .md\:columns-md {
        columns: 28rem;
    }

    .md\:columns-lg {
        columns: 32rem;
    }

    .md\:columns-xl {
        columns: 36rem;
    }

    .md\:columns-2xl {
        columns: 42rem;
    }

    .md\:columns-3xl {
        columns: 48rem;
    }

    .md\:columns-4xl {
        columns: 56rem;
    }

    .md\:columns-5xl {
        columns: 64rem;
    }

    .md\:columns-6xl {
        columns: 72rem;
    }

    .md\:columns-7xl {
        columns: 80rem;
    }
}

@media (min-width: 1024px) {
    .lg\:col-count-auto {
        column-count: auto;
    }

    .lg\:col-count-1 {
        column-count: 1;
    }

    .lg\:col-count-2 {
        column-count: 2;
    }

    .lg\:col-count-3 {
        column-count: 3;
    }

    .lg\:col-count-4 {
        column-count: 4;
    }

    .lg\:col-count-5 {
        column-count: 5;
    }

    .lg\:col-count-6 {
        column-count: 6;
    }

    .lg\:col-count-7 {
        column-count: 7;
    }

    .lg\:col-count-8 {
        column-count: 8;
    }

    .lg\:col-count-9 {
        column-count: 9;
    }

    .lg\:col-count-10 {
        column-count: 10;
    }

    .lg\:col-count-11 {
        column-count: 11;
    }

    .lg\:col-count-12 {
        column-count: 12;
    }

    .lg\:col-fill-auto {
        column-fill: auto;
    }

    .lg\:col-fill-balance {
        column-fill: balance;
    }

    .lg\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .lg\:columns-1 {
        columns: 1;
    }

    .lg\:columns-2 {
        columns: 2;
    }

    .lg\:columns-3 {
        columns: 3;
    }

    .lg\:columns-4 {
        columns: 4;
    }

    .lg\:columns-5 {
        columns: 5;
    }

    .lg\:columns-6 {
        columns: 6;
    }

    .lg\:columns-7 {
        columns: 7;
    }

    .lg\:columns-8 {
        columns: 8;
    }

    .lg\:columns-9 {
        columns: 9;
    }

    .lg\:columns-10 {
        columns: 10;
    }

    .lg\:columns-11 {
        columns: 11;
    }

    .lg\:columns-12 {
        columns: 12;
    }

    .lg\:columns-auto {
        columns: auto;
    }

    .lg\:columns-3xs {
        columns: 16rem;
    }

    .lg\:columns-2xs {
        columns: 18rem;
    }

    .lg\:columns-xs {
        columns: 20rem;
    }

    .lg\:columns-sm {
        columns: 24rem;
    }

    .lg\:columns-md {
        columns: 28rem;
    }

    .lg\:columns-lg {
        columns: 32rem;
    }

    .lg\:columns-xl {
        columns: 36rem;
    }

    .lg\:columns-2xl {
        columns: 42rem;
    }

    .lg\:columns-3xl {
        columns: 48rem;
    }

    .lg\:columns-4xl {
        columns: 56rem;
    }

    .lg\:columns-5xl {
        columns: 64rem;
    }

    .lg\:columns-6xl {
        columns: 72rem;
    }

    .lg\:columns-7xl {
        columns: 80rem;
    }
}

@media (min-width: 1280px) {
    .xl\:col-count-auto {
        column-count: auto;
    }

    .xl\:col-count-1 {
        column-count: 1;
    }

    .xl\:col-count-2 {
        column-count: 2;
    }

    .xl\:col-count-3 {
        column-count: 3;
    }

    .xl\:col-count-4 {
        column-count: 4;
    }

    .xl\:col-count-5 {
        column-count: 5;
    }

    .xl\:col-count-6 {
        column-count: 6;
    }

    .xl\:col-count-7 {
        column-count: 7;
    }

    .xl\:col-count-8 {
        column-count: 8;
    }

    .xl\:col-count-9 {
        column-count: 9;
    }

    .xl\:col-count-10 {
        column-count: 10;
    }

    .xl\:col-count-11 {
        column-count: 11;
    }

    .xl\:col-count-12 {
        column-count: 12;
    }

    .xl\:col-fill-auto {
        column-fill: auto;
    }

    .xl\:col-fill-balance {
        column-fill: balance;
    }

    .xl\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .xl\:columns-1 {
        columns: 1;
    }

    .xl\:columns-2 {
        columns: 2;
    }

    .xl\:columns-3 {
        columns: 3;
    }

    .xl\:columns-4 {
        columns: 4;
    }

    .xl\:columns-5 {
        columns: 5;
    }

    .xl\:columns-6 {
        columns: 6;
    }

    .xl\:columns-7 {
        columns: 7;
    }

    .xl\:columns-8 {
        columns: 8;
    }

    .xl\:columns-9 {
        columns: 9;
    }

    .xl\:columns-10 {
        columns: 10;
    }

    .xl\:columns-11 {
        columns: 11;
    }

    .xl\:columns-12 {
        columns: 12;
    }

    .xl\:columns-auto {
        columns: auto;
    }

    .xl\:columns-3xs {
        columns: 16rem;
    }

    .xl\:columns-2xs {
        columns: 18rem;
    }

    .xl\:columns-xs {
        columns: 20rem;
    }

    .xl\:columns-sm {
        columns: 24rem;
    }

    .xl\:columns-md {
        columns: 28rem;
    }

    .xl\:columns-lg {
        columns: 32rem;
    }

    .xl\:columns-xl {
        columns: 36rem;
    }

    .xl\:columns-2xl {
        columns: 42rem;
    }

    .xl\:columns-3xl {
        columns: 48rem;
    }

    .xl\:columns-4xl {
        columns: 56rem;
    }

    .xl\:columns-5xl {
        columns: 64rem;
    }

    .xl\:columns-6xl {
        columns: 72rem;
    }

    .xl\:columns-7xl {
        columns: 80rem;
    }
}

@media (min-width: 1536px) {
    .\32xl\:col-count-auto {
        column-count: auto;
    }

    .\32xl\:col-count-1 {
        column-count: 1;
    }

    .\32xl\:col-count-2 {
        column-count: 2;
    }

    .\32xl\:col-count-3 {
        column-count: 3;
    }

    .\32xl\:col-count-4 {
        column-count: 4;
    }

    .\32xl\:col-count-5 {
        column-count: 5;
    }

    .\32xl\:col-count-6 {
        column-count: 6;
    }

    .\32xl\:col-count-7 {
        column-count: 7;
    }

    .\32xl\:col-count-8 {
        column-count: 8;
    }

    .\32xl\:col-count-9 {
        column-count: 9;
    }

    .\32xl\:col-count-10 {
        column-count: 10;
    }

    .\32xl\:col-count-11 {
        column-count: 11;
    }

    .\32xl\:col-count-12 {
        column-count: 12;
    }

    .\32xl\:col-fill-auto {
        column-fill: auto;
    }

    .\32xl\:col-fill-balance {
        column-fill: balance;
    }

    .\32xl\:col-fill-balance-all {
        column-fill: balance-all;
    }

    .\32xl\:columns-1 {
        columns: 1;
    }

    .\32xl\:columns-2 {
        columns: 2;
    }

    .\32xl\:columns-3 {
        columns: 3;
    }

    .\32xl\:columns-4 {
        columns: 4;
    }

    .\32xl\:columns-5 {
        columns: 5;
    }

    .\32xl\:columns-6 {
        columns: 6;
    }

    .\32xl\:columns-7 {
        columns: 7;
    }

    .\32xl\:columns-8 {
        columns: 8;
    }

    .\32xl\:columns-9 {
        columns: 9;
    }

    .\32xl\:columns-10 {
        columns: 10;
    }

    .\32xl\:columns-11 {
        columns: 11;
    }

    .\32xl\:columns-12 {
        columns: 12;
    }

    .\32xl\:columns-auto {
        columns: auto;
    }

    .\32xl\:columns-3xs {
        columns: 16rem;
    }

    .\32xl\:columns-2xs {
        columns: 18rem;
    }

    .\32xl\:columns-xs {
        columns: 20rem;
    }

    .\32xl\:columns-sm {
        columns: 24rem;
    }

    .\32xl\:columns-md {
        columns: 28rem;
    }

    .\32xl\:columns-lg {
        columns: 32rem;
    }

    .\32xl\:columns-xl {
        columns: 36rem;
    }

    .\32xl\:columns-2xl {
        columns: 42rem;
    }

    .\32xl\:columns-3xl {
        columns: 48rem;
    }

    .\32xl\:columns-4xl {
        columns: 56rem;
    }

    .\32xl\:columns-5xl {
        columns: 64rem;
    }

    .\32xl\:columns-6xl {
        columns: 72rem;
    }

    .\32xl\:columns-7xl {
        columns: 80rem;
    }
}
