.col-count-auto {
  column-count: auto !important;
}

.col-count-1 {
  column-count: 1 !important;
}

.col-count-2 {
  column-count: 2 !important;
}

.col-count-3 {
  column-count: 3 !important;
}

.col-count-4 {
  column-count: 4 !important;
}

.col-count-5 {
  column-count: 5 !important;
}

.col-count-6 {
  column-count: 6 !important;
}

.col-count-7 {
  column-count: 7 !important;
}

.col-count-8 {
  column-count: 8 !important;
}

.col-count-9 {
  column-count: 9 !important;
}

.col-count-10 {
  column-count: 10 !important;
}

.col-count-11 {
  column-count: 11 !important;
}

.col-count-12 {
  column-count: 12 !important;
}

.col-fill-auto {
  column-fill: auto !important;
}

.col-fill-balance {
  column-fill: balance !important;
}

.col-fill-balance-all {
  column-fill: balance-all !important;
}

.columns-1 {
  columns: 1 !important;
}

.columns-2 {
  columns: 2 !important;
}

.columns-3 {
  columns: 3 !important;
}

.columns-4 {
  columns: 4 !important;
}

.columns-5 {
  columns: 5 !important;
}

.columns-6 {
  columns: 6 !important;
}

.columns-7 {
  columns: 7 !important;
}

.columns-8 {
  columns: 8 !important;
}

.columns-9 {
  columns: 9 !important;
}

.columns-10 {
  columns: 10 !important;
}

.columns-11 {
  columns: 11 !important;
}

.columns-12 {
  columns: 12 !important;
}

.columns-auto {
  columns: auto !important;
}

.columns-3xs {
  columns: 16rem !important;
}

.columns-2xs {
  columns: 18rem !important;
}

.columns-xs {
  columns: 20rem !important;
}

.columns-sm {
  columns: 24rem !important;
}

.columns-md {
  columns: 28rem !important;
}

.columns-lg {
  columns: 32rem !important;
}

.columns-xl {
  columns: 36rem !important;
}

.columns-2xl {
  columns: 42rem !important;
}

.columns-3xl {
  columns: 48rem !important;
}

.columns-4xl {
  columns: 56rem !important;
}

.columns-5xl {
  columns: 64rem !important;
}

.columns-6xl {
  columns: 72rem !important;
}

.columns-7xl {
  columns: 80rem !important;
}

@media (min-width: 360px) {
  .xs\:col-count-auto {
    column-count: auto !important;
  }

  .xs\:col-count-1 {
    column-count: 1 !important;
  }

  .xs\:col-count-2 {
    column-count: 2 !important;
  }

  .xs\:col-count-3 {
    column-count: 3 !important;
  }

  .xs\:col-count-4 {
    column-count: 4 !important;
  }

  .xs\:col-count-5 {
    column-count: 5 !important;
  }

  .xs\:col-count-6 {
    column-count: 6 !important;
  }

  .xs\:col-count-7 {
    column-count: 7 !important;
  }

  .xs\:col-count-8 {
    column-count: 8 !important;
  }

  .xs\:col-count-9 {
    column-count: 9 !important;
  }

  .xs\:col-count-10 {
    column-count: 10 !important;
  }

  .xs\:col-count-11 {
    column-count: 11 !important;
  }

  .xs\:col-count-12 {
    column-count: 12 !important;
  }

  .xs\:col-fill-auto {
    column-fill: auto !important;
  }

  .xs\:col-fill-balance {
    column-fill: balance !important;
  }

  .xs\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .xs\:columns-1 {
    columns: 1 !important;
  }

  .xs\:columns-2 {
    columns: 2 !important;
  }

  .xs\:columns-3 {
    columns: 3 !important;
  }

  .xs\:columns-4 {
    columns: 4 !important;
  }

  .xs\:columns-5 {
    columns: 5 !important;
  }

  .xs\:columns-6 {
    columns: 6 !important;
  }

  .xs\:columns-7 {
    columns: 7 !important;
  }

  .xs\:columns-8 {
    columns: 8 !important;
  }

  .xs\:columns-9 {
    columns: 9 !important;
  }

  .xs\:columns-10 {
    columns: 10 !important;
  }

  .xs\:columns-11 {
    columns: 11 !important;
  }

  .xs\:columns-12 {
    columns: 12 !important;
  }

  .xs\:columns-auto {
    columns: auto !important;
  }

  .xs\:columns-3xs {
    columns: 16rem !important;
  }

  .xs\:columns-2xs {
    columns: 18rem !important;
  }

  .xs\:columns-xs {
    columns: 20rem !important;
  }

  .xs\:columns-sm {
    columns: 24rem !important;
  }

  .xs\:columns-md {
    columns: 28rem !important;
  }

  .xs\:columns-lg {
    columns: 32rem !important;
  }

  .xs\:columns-xl {
    columns: 36rem !important;
  }

  .xs\:columns-2xl {
    columns: 42rem !important;
  }

  .xs\:columns-3xl {
    columns: 48rem !important;
  }

  .xs\:columns-4xl {
    columns: 56rem !important;
  }

  .xs\:columns-5xl {
    columns: 64rem !important;
  }

  .xs\:columns-6xl {
    columns: 72rem !important;
  }

  .xs\:columns-7xl {
    columns: 80rem !important;
  }
}

@media (min-width: 640px) {
  .sm\:col-count-auto {
    column-count: auto !important;
  }

  .sm\:col-count-1 {
    column-count: 1 !important;
  }

  .sm\:col-count-2 {
    column-count: 2 !important;
  }

  .sm\:col-count-3 {
    column-count: 3 !important;
  }

  .sm\:col-count-4 {
    column-count: 4 !important;
  }

  .sm\:col-count-5 {
    column-count: 5 !important;
  }

  .sm\:col-count-6 {
    column-count: 6 !important;
  }

  .sm\:col-count-7 {
    column-count: 7 !important;
  }

  .sm\:col-count-8 {
    column-count: 8 !important;
  }

  .sm\:col-count-9 {
    column-count: 9 !important;
  }

  .sm\:col-count-10 {
    column-count: 10 !important;
  }

  .sm\:col-count-11 {
    column-count: 11 !important;
  }

  .sm\:col-count-12 {
    column-count: 12 !important;
  }

  .sm\:col-fill-auto {
    column-fill: auto !important;
  }

  .sm\:col-fill-balance {
    column-fill: balance !important;
  }

  .sm\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .sm\:columns-1 {
    columns: 1 !important;
  }

  .sm\:columns-2 {
    columns: 2 !important;
  }

  .sm\:columns-3 {
    columns: 3 !important;
  }

  .sm\:columns-4 {
    columns: 4 !important;
  }

  .sm\:columns-5 {
    columns: 5 !important;
  }

  .sm\:columns-6 {
    columns: 6 !important;
  }

  .sm\:columns-7 {
    columns: 7 !important;
  }

  .sm\:columns-8 {
    columns: 8 !important;
  }

  .sm\:columns-9 {
    columns: 9 !important;
  }

  .sm\:columns-10 {
    columns: 10 !important;
  }

  .sm\:columns-11 {
    columns: 11 !important;
  }

  .sm\:columns-12 {
    columns: 12 !important;
  }

  .sm\:columns-auto {
    columns: auto !important;
  }

  .sm\:columns-3xs {
    columns: 16rem !important;
  }

  .sm\:columns-2xs {
    columns: 18rem !important;
  }

  .sm\:columns-xs {
    columns: 20rem !important;
  }

  .sm\:columns-sm {
    columns: 24rem !important;
  }

  .sm\:columns-md {
    columns: 28rem !important;
  }

  .sm\:columns-lg {
    columns: 32rem !important;
  }

  .sm\:columns-xl {
    columns: 36rem !important;
  }

  .sm\:columns-2xl {
    columns: 42rem !important;
  }

  .sm\:columns-3xl {
    columns: 48rem !important;
  }

  .sm\:columns-4xl {
    columns: 56rem !important;
  }

  .sm\:columns-5xl {
    columns: 64rem !important;
  }

  .sm\:columns-6xl {
    columns: 72rem !important;
  }

  .sm\:columns-7xl {
    columns: 80rem !important;
  }
}

@media (min-width: 768px) {
  .md\:col-count-auto {
    column-count: auto !important;
  }

  .md\:col-count-1 {
    column-count: 1 !important;
  }

  .md\:col-count-2 {
    column-count: 2 !important;
  }

  .md\:col-count-3 {
    column-count: 3 !important;
  }

  .md\:col-count-4 {
    column-count: 4 !important;
  }

  .md\:col-count-5 {
    column-count: 5 !important;
  }

  .md\:col-count-6 {
    column-count: 6 !important;
  }

  .md\:col-count-7 {
    column-count: 7 !important;
  }

  .md\:col-count-8 {
    column-count: 8 !important;
  }

  .md\:col-count-9 {
    column-count: 9 !important;
  }

  .md\:col-count-10 {
    column-count: 10 !important;
  }

  .md\:col-count-11 {
    column-count: 11 !important;
  }

  .md\:col-count-12 {
    column-count: 12 !important;
  }

  .md\:col-fill-auto {
    column-fill: auto !important;
  }

  .md\:col-fill-balance {
    column-fill: balance !important;
  }

  .md\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .md\:columns-1 {
    columns: 1 !important;
  }

  .md\:columns-2 {
    columns: 2 !important;
  }

  .md\:columns-3 {
    columns: 3 !important;
  }

  .md\:columns-4 {
    columns: 4 !important;
  }

  .md\:columns-5 {
    columns: 5 !important;
  }

  .md\:columns-6 {
    columns: 6 !important;
  }

  .md\:columns-7 {
    columns: 7 !important;
  }

  .md\:columns-8 {
    columns: 8 !important;
  }

  .md\:columns-9 {
    columns: 9 !important;
  }

  .md\:columns-10 {
    columns: 10 !important;
  }

  .md\:columns-11 {
    columns: 11 !important;
  }

  .md\:columns-12 {
    columns: 12 !important;
  }

  .md\:columns-auto {
    columns: auto !important;
  }

  .md\:columns-3xs {
    columns: 16rem !important;
  }

  .md\:columns-2xs {
    columns: 18rem !important;
  }

  .md\:columns-xs {
    columns: 20rem !important;
  }

  .md\:columns-sm {
    columns: 24rem !important;
  }

  .md\:columns-md {
    columns: 28rem !important;
  }

  .md\:columns-lg {
    columns: 32rem !important;
  }

  .md\:columns-xl {
    columns: 36rem !important;
  }

  .md\:columns-2xl {
    columns: 42rem !important;
  }

  .md\:columns-3xl {
    columns: 48rem !important;
  }

  .md\:columns-4xl {
    columns: 56rem !important;
  }

  .md\:columns-5xl {
    columns: 64rem !important;
  }

  .md\:columns-6xl {
    columns: 72rem !important;
  }

  .md\:columns-7xl {
    columns: 80rem !important;
  }
}

@media (min-width: 1024px) {
  .lg\:col-count-auto {
    column-count: auto !important;
  }

  .lg\:col-count-1 {
    column-count: 1 !important;
  }

  .lg\:col-count-2 {
    column-count: 2 !important;
  }

  .lg\:col-count-3 {
    column-count: 3 !important;
  }

  .lg\:col-count-4 {
    column-count: 4 !important;
  }

  .lg\:col-count-5 {
    column-count: 5 !important;
  }

  .lg\:col-count-6 {
    column-count: 6 !important;
  }

  .lg\:col-count-7 {
    column-count: 7 !important;
  }

  .lg\:col-count-8 {
    column-count: 8 !important;
  }

  .lg\:col-count-9 {
    column-count: 9 !important;
  }

  .lg\:col-count-10 {
    column-count: 10 !important;
  }

  .lg\:col-count-11 {
    column-count: 11 !important;
  }

  .lg\:col-count-12 {
    column-count: 12 !important;
  }

  .lg\:col-fill-auto {
    column-fill: auto !important;
  }

  .lg\:col-fill-balance {
    column-fill: balance !important;
  }

  .lg\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .lg\:columns-1 {
    columns: 1 !important;
  }

  .lg\:columns-2 {
    columns: 2 !important;
  }

  .lg\:columns-3 {
    columns: 3 !important;
  }

  .lg\:columns-4 {
    columns: 4 !important;
  }

  .lg\:columns-5 {
    columns: 5 !important;
  }

  .lg\:columns-6 {
    columns: 6 !important;
  }

  .lg\:columns-7 {
    columns: 7 !important;
  }

  .lg\:columns-8 {
    columns: 8 !important;
  }

  .lg\:columns-9 {
    columns: 9 !important;
  }

  .lg\:columns-10 {
    columns: 10 !important;
  }

  .lg\:columns-11 {
    columns: 11 !important;
  }

  .lg\:columns-12 {
    columns: 12 !important;
  }

  .lg\:columns-auto {
    columns: auto !important;
  }

  .lg\:columns-3xs {
    columns: 16rem !important;
  }

  .lg\:columns-2xs {
    columns: 18rem !important;
  }

  .lg\:columns-xs {
    columns: 20rem !important;
  }

  .lg\:columns-sm {
    columns: 24rem !important;
  }

  .lg\:columns-md {
    columns: 28rem !important;
  }

  .lg\:columns-lg {
    columns: 32rem !important;
  }

  .lg\:columns-xl {
    columns: 36rem !important;
  }

  .lg\:columns-2xl {
    columns: 42rem !important;
  }

  .lg\:columns-3xl {
    columns: 48rem !important;
  }

  .lg\:columns-4xl {
    columns: 56rem !important;
  }

  .lg\:columns-5xl {
    columns: 64rem !important;
  }

  .lg\:columns-6xl {
    columns: 72rem !important;
  }

  .lg\:columns-7xl {
    columns: 80rem !important;
  }
}

@media (min-width: 1280px) {
  .xl\:col-count-auto {
    column-count: auto !important;
  }

  .xl\:col-count-1 {
    column-count: 1 !important;
  }

  .xl\:col-count-2 {
    column-count: 2 !important;
  }

  .xl\:col-count-3 {
    column-count: 3 !important;
  }

  .xl\:col-count-4 {
    column-count: 4 !important;
  }

  .xl\:col-count-5 {
    column-count: 5 !important;
  }

  .xl\:col-count-6 {
    column-count: 6 !important;
  }

  .xl\:col-count-7 {
    column-count: 7 !important;
  }

  .xl\:col-count-8 {
    column-count: 8 !important;
  }

  .xl\:col-count-9 {
    column-count: 9 !important;
  }

  .xl\:col-count-10 {
    column-count: 10 !important;
  }

  .xl\:col-count-11 {
    column-count: 11 !important;
  }

  .xl\:col-count-12 {
    column-count: 12 !important;
  }

  .xl\:col-fill-auto {
    column-fill: auto !important;
  }

  .xl\:col-fill-balance {
    column-fill: balance !important;
  }

  .xl\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .xl\:columns-1 {
    columns: 1 !important;
  }

  .xl\:columns-2 {
    columns: 2 !important;
  }

  .xl\:columns-3 {
    columns: 3 !important;
  }

  .xl\:columns-4 {
    columns: 4 !important;
  }

  .xl\:columns-5 {
    columns: 5 !important;
  }

  .xl\:columns-6 {
    columns: 6 !important;
  }

  .xl\:columns-7 {
    columns: 7 !important;
  }

  .xl\:columns-8 {
    columns: 8 !important;
  }

  .xl\:columns-9 {
    columns: 9 !important;
  }

  .xl\:columns-10 {
    columns: 10 !important;
  }

  .xl\:columns-11 {
    columns: 11 !important;
  }

  .xl\:columns-12 {
    columns: 12 !important;
  }

  .xl\:columns-auto {
    columns: auto !important;
  }

  .xl\:columns-3xs {
    columns: 16rem !important;
  }

  .xl\:columns-2xs {
    columns: 18rem !important;
  }

  .xl\:columns-xs {
    columns: 20rem !important;
  }

  .xl\:columns-sm {
    columns: 24rem !important;
  }

  .xl\:columns-md {
    columns: 28rem !important;
  }

  .xl\:columns-lg {
    columns: 32rem !important;
  }

  .xl\:columns-xl {
    columns: 36rem !important;
  }

  .xl\:columns-2xl {
    columns: 42rem !important;
  }

  .xl\:columns-3xl {
    columns: 48rem !important;
  }

  .xl\:columns-4xl {
    columns: 56rem !important;
  }

  .xl\:columns-5xl {
    columns: 64rem !important;
  }

  .xl\:columns-6xl {
    columns: 72rem !important;
  }

  .xl\:columns-7xl {
    columns: 80rem !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:col-count-auto {
    column-count: auto !important;
  }

  .\32xl\:col-count-1 {
    column-count: 1 !important;
  }

  .\32xl\:col-count-2 {
    column-count: 2 !important;
  }

  .\32xl\:col-count-3 {
    column-count: 3 !important;
  }

  .\32xl\:col-count-4 {
    column-count: 4 !important;
  }

  .\32xl\:col-count-5 {
    column-count: 5 !important;
  }

  .\32xl\:col-count-6 {
    column-count: 6 !important;
  }

  .\32xl\:col-count-7 {
    column-count: 7 !important;
  }

  .\32xl\:col-count-8 {
    column-count: 8 !important;
  }

  .\32xl\:col-count-9 {
    column-count: 9 !important;
  }

  .\32xl\:col-count-10 {
    column-count: 10 !important;
  }

  .\32xl\:col-count-11 {
    column-count: 11 !important;
  }

  .\32xl\:col-count-12 {
    column-count: 12 !important;
  }

  .\32xl\:col-fill-auto {
    column-fill: auto !important;
  }

  .\32xl\:col-fill-balance {
    column-fill: balance !important;
  }

  .\32xl\:col-fill-balance-all {
    column-fill: balance-all !important;
  }

  .\32xl\:columns-1 {
    columns: 1 !important;
  }

  .\32xl\:columns-2 {
    columns: 2 !important;
  }

  .\32xl\:columns-3 {
    columns: 3 !important;
  }

  .\32xl\:columns-4 {
    columns: 4 !important;
  }

  .\32xl\:columns-5 {
    columns: 5 !important;
  }

  .\32xl\:columns-6 {
    columns: 6 !important;
  }

  .\32xl\:columns-7 {
    columns: 7 !important;
  }

  .\32xl\:columns-8 {
    columns: 8 !important;
  }

  .\32xl\:columns-9 {
    columns: 9 !important;
  }

  .\32xl\:columns-10 {
    columns: 10 !important;
  }

  .\32xl\:columns-11 {
    columns: 11 !important;
  }

  .\32xl\:columns-12 {
    columns: 12 !important;
  }

  .\32xl\:columns-auto {
    columns: auto !important;
  }

  .\32xl\:columns-3xs {
    columns: 16rem !important;
  }

  .\32xl\:columns-2xs {
    columns: 18rem !important;
  }

  .\32xl\:columns-xs {
    columns: 20rem !important;
  }

  .\32xl\:columns-sm {
    columns: 24rem !important;
  }

  .\32xl\:columns-md {
    columns: 28rem !important;
  }

  .\32xl\:columns-lg {
    columns: 32rem !important;
  }

  .\32xl\:columns-xl {
    columns: 36rem !important;
  }

  .\32xl\:columns-2xl {
    columns: 42rem !important;
  }

  .\32xl\:columns-3xl {
    columns: 48rem !important;
  }

  .\32xl\:columns-4xl {
    columns: 56rem !important;
  }

  .\32xl\:columns-5xl {
    columns: 64rem !important;
  }

  .\32xl\:columns-6xl {
    columns: 72rem !important;
  }

  .\32xl\:columns-7xl {
    columns: 80rem !important;
  }
}
