.contain-none {
  contain: none;
}

.contain-strict {
  contain: strict;
}

.contain-content {
  contain: content;
}

.contain-size {
  contain: size;
}

.contain-layout {
  contain: layout;
}

.contain-style {
  contain: style;
}

.contain-paint {
  contain: paint;
}

.contain-size-paint {
  contain: size paint;
}

.contain-size-layout-paint {
  contain: size layout paint;
}

.contain-inherit {
  contain: inherit;
}

.contain-initial {
  contain: initial;
}

.contain-revert {
  contain: revert;
}

.contain-unset {
  contain: unset;
}
