.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flow-root {
    display: flow-root;
}

.contents {
    display: contents;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

@media (min-width: 360px) {
    .xs\:block {
        display: block;
    }

    .xs\:inline-block {
        display: inline-block;
    }

    .xs\:inline {
        display: inline;
    }

    .xs\:flow-root {
        display: flow-root;
    }

    .xs\:contents {
        display: contents;
    }

    .xs\:hidden {
        display: none;
    }

    .xs\:visible {
        visibility: visible;
    }

    .xs\:invisible {
        visibility: hidden;
    }
}

@media (min-width: 640px) {
    .sm\:block {
        display: block;
    }

    .sm\:inline-block {
        display: inline-block;
    }

    .sm\:inline {
        display: inline;
    }

    .sm\:flow-root {
        display: flow-root;
    }

    .sm\:contents {
        display: contents;
    }

    .sm\:hidden {
        display: none;
    }

    .sm\:visible {
        visibility: visible;
    }

    .sm\:invisible {
        visibility: hidden;
    }
}

@media (min-width: 768px) {
    .md\:block {
        display: block;
    }

    .md\:inline-block {
        display: inline-block;
    }

    .md\:inline {
        display: inline;
    }

    .md\:flow-root {
        display: flow-root;
    }

    .md\:contents {
        display: contents;
    }

    .md\:hidden {
        display: none;
    }

    .md\:visible {
        visibility: visible;
    }

    .md\:invisible {
        visibility: hidden;
    }
}

@media (min-width: 1024px) {
    .lg\:block {
        display: block;
    }

    .lg\:inline-block {
        display: inline-block;
    }

    .lg\:inline {
        display: inline;
    }

    .lg\:flow-root {
        display: flow-root;
    }

    .lg\:contents {
        display: contents;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:visible {
        visibility: visible;
    }

    .lg\:invisible {
        visibility: hidden;
    }
}

@media (min-width: 1280px) {
    .xl\:block {
        display: block;
    }

    .xl\:inline-block {
        display: inline-block;
    }

    .xl\:inline {
        display: inline;
    }

    .xl\:flow-root {
        display: flow-root;
    }

    .xl\:contents {
        display: contents;
    }

    .xl\:hidden {
        display: none;
    }

    .xl\:visible {
        visibility: visible;
    }

    .xl\:invisible {
        visibility: hidden;
    }
}

@media (min-width: 1536px) {
    .\32xl\:block {
        display: block;
    }

    .\32xl\:inline-block {
        display: inline-block;
    }

    .\32xl\:inline {
        display: inline;
    }

    .\32xl\:flow-root {
        display: flow-root;
    }

    .\32xl\:contents {
        display: contents;
    }

    .\32xl\:hidden {
        display: none;
    }

    .\32xl\:visible {
        visibility: visible;
    }

    .\32xl\:invisible {
        visibility: hidden;
    }
}
