.blur-none {
  filter: blur(0) !important;
}

.blur-sm {
  filter: blur(4px) !important;
}

.blur {
  filter: blur(8px) !important;
}

.blur-md {
  filter: blur(12px) !important;
}

.blur-lg {
  filter: blur(16px) !important;
}

.blur-xl {
  filter: blur(24px) !important;
}

.blur-2xl {
  filter: blur(40px) !important;
}

.blur-3xl {
  filter: blur(64px) !important;
}

.brightness-0 {
  filter: brightness(0) !important;
}

.brightness-50 {
  filter: brightness(0.5) !important;
}

.brightness-75 {
  filter: brightness(0.75) !important;
}

.brightness-90 {
  filter: brightness(0.9) !important;
}

.brightness-95 {
  filter: brightness(0.95) !important;
}

.brightness-100 {
  filter: brightness(1) !important;
}

.brightness-105 {
  filter: brightness(1.05) !important;
}

.brightness-110 {
  filter: brightness(1.1) !important;
}

.brightness-125 {
  filter: brightness(1.25) !important;
}

.brightness-150 {
  filter: brightness(1.5) !important;
}

.brightness-200 {
  filter: brightness(2) !important;
}

.contrast-0 {
  filter: contrast(0) !important;
}

.contrast-50 {
  filter: contrast(0.5) !important;
}

.contrast-75 {
  filter: contrast(0.75) !important;
}

.contrast-100 {
  filter: contrast(1) !important;
}

.contrast-125 {
  filter: contrast(1.25) !important;
}

.contrast-150 {
  filter: contrast(1.5) !important;
}

.contrast-200 {
  filter: contrast(2) !important;
}

.grayscale-0 {
  filter: grayscale(0) !important;
}

.grayscale {
  filter: grayscale(100%) !important;
}

.hue-rotate-0 {
  filter: hue-rotate(0deg) !important;
}

.hue-rotate-15 {
  filter: hue-rotate(15deg) !important;
}

.hue-rotate-30 {
  filter: hue-rotate(30deg) !important;
}

.hue-rotate-60 {
  filter: hue-rotate(60deg) !important;
}

.hue-rotate-90 {
  filter: hue-rotate(90deg) !important;
}

.hue-rotate-180 {
  filter: hue-rotate(180deg) !important;
}

.invert-0 {
  filter: invert(0) !important;
}

.invert {
  filter: invert(100%) !important;
}

.saturate-0 {
  filter: saturate(0) !important;
}

.saturate-50 {
  filter: saturate(0.5) !important;
}

.saturate-100 {
  filter: saturate(1) !important;
}

.saturate-150 {
  filter: saturate(1.5) !important;
}

.saturate-200 {
  filter: saturate(2) !important;
}

.sepia-0 {
  filter: sepia(0) !important;
}

.sepia {
  filter: sepia(100%) !important;
}

.drop-shadow-sm {
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05)) !important;
}

.drop-shadow {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(0 1px 1px rgba(0, 0, 0, 0.06)) !important;
}

.drop-shadow-md {
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)) !important;
}

.drop-shadow-lg {
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1)) !important;
}

.drop-shadow-xl {
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)) !important;
}

.drop-shadow-2xl {
  filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)) !important;
}

.drop-shadow-none {
  filter: drop-shadow(0, 0, #0000) !important;
}
