.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-center {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.float-none {
  float: none !important;
}
