.font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.font-serif {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !important;
}

.font-thin {
  font-weight: 100 !important;
}

.font-extralight {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

.is-none {
  text-transform: none !important;
}

.is-capitalized {
  text-transform: capitalize !important;
}

.is-lowercase {
  text-transform: lowercase !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.is-italic {
  font-style: italic !important;
}

.is-underlined {
  text-decoration: underline !important;
}

.is-full-width {
  text-transform: full-width !important;
}

.is-inherit {
  text-transform: inherit !important;
}

.is-initial {
  text-transform: initial !important;
}

.is-unset {
  text-transform: unset !important;
}

.is-size-1 {
  font-size: 3rem !important;
}

.is-size-2 {
  font-size: 2.5rem !important;
}

.is-size-3 {
  font-size: 2rem !important;
}

.is-size-4 {
  font-size: 1.5rem !important;
}

.is-size-5 {
  font-size: 1.25rem !important;
}

.is-size-6 {
  font-size: 1rem !important;
}

.is-size-7 {
  font-size: 0.75rem !important;
}

@media (min-width: 360px) {
  .xs\:is-size-1 {
    font-size: 3rem !important;
  }

  .xs\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .xs\:is-size-3 {
    font-size: 2rem !important;
  }

  .xs\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .xs\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .xs\:is-size-6 {
    font-size: 1rem !important;
  }

  .xs\:is-size-7 {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 640px) {
  .sm\:is-size-1 {
    font-size: 3rem !important;
  }

  .sm\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .sm\:is-size-3 {
    font-size: 2rem !important;
  }

  .sm\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .sm\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .sm\:is-size-6 {
    font-size: 1rem !important;
  }

  .sm\:is-size-7 {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 768px) {
  .md\:is-size-1 {
    font-size: 3rem !important;
  }

  .md\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .md\:is-size-3 {
    font-size: 2rem !important;
  }

  .md\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .md\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .md\:is-size-6 {
    font-size: 1rem !important;
  }

  .md\:is-size-7 {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1024px) {
  .lg\:is-size-1 {
    font-size: 3rem !important;
  }

  .lg\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .lg\:is-size-3 {
    font-size: 2rem !important;
  }

  .lg\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .lg\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .lg\:is-size-6 {
    font-size: 1rem !important;
  }

  .lg\:is-size-7 {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1280px) {
  .xl\:is-size-1 {
    font-size: 3rem !important;
  }

  .xl\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .xl\:is-size-3 {
    font-size: 2rem !important;
  }

  .xl\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .xl\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .xl\:is-size-6 {
    font-size: 1rem !important;
  }

  .xl\:is-size-7 {
    font-size: 0.75rem !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:is-size-1 {
    font-size: 3rem !important;
  }

  .\32xl\:is-size-2 {
    font-size: 2.5rem !important;
  }

  .\32xl\:is-size-3 {
    font-size: 2rem !important;
  }

  .\32xl\:is-size-4 {
    font-size: 1.5rem !important;
  }

  .\32xl\:is-size-5 {
    font-size: 1.25rem !important;
  }

  .\32xl\:is-size-6 {
    font-size: 1rem !important;
  }

  .\32xl\:is-size-7 {
    font-size: 0.75rem !important;
  }
}
