.gap-0 {
  gap: 0px !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 0.75rem !important;
}

.gap-4 {
  gap: 1rem !important;
}

.gap-5 {
  gap: 1.25rem !important;
}

.gap-6 {
  gap: 1.5rem !important;
}

.gap-7 {
  gap: 1.75rem !important;
}

.gap-8 {
  gap: 2rem !important;
}

.gap-9 {
  gap: 2.25rem !important;
}

.gap-10 {
  gap: 2.5rem !important;
}

.gap-11 {
  gap: 2.75rem !important;
}

.gap-12 {
  gap: 3rem !important;
}

.gap-14 {
  gap: 3.5rem !important;
}

.gap-16 {
  gap: 4rem !important;
}

.gap-20 {
  gap: 5rem !important;
}

.gap-24 {
  gap: 6rem !important;
}

.gap-28 {
  gap: 7rem !important;
}

.gap-32 {
  gap: 8rem !important;
}

.gap-36 {
  gap: 9rem !important;
}

.gap-40 {
  gap: 10rem !important;
}

.gap-44 {
  gap: 11rem !important;
}

.gap-48 {
  gap: 12rem !important;
}

.gap-52 {
  gap: 13rem !important;
}

.gap-56 {
  gap: 14rem !important;
}

.gap-60 {
  gap: 15rem !important;
}

.gap-64 {
  gap: 16rem !important;
}

.gap-72 {
  gap: 18rem !important;
}

.gap-80 {
  gap: 20rem !important;
}

.gap-96 {
  gap: 24rem !important;
}

.gap-px {
  gap: 1px !important;
}

.gap-0-5 {
  gap: 0.125rem !important;
}

.gap-1-5 {
  gap: 0.375rem !important;
}

.gap-2-5 {
  gap: 0.625rem !important;
}

.gap-3-5 {
  gap: 0.875rem !important;
}

.gap-x-0 {
  column-gap: 0px !important;
}

.gap-x-1 {
  column-gap: 0.25rem !important;
}

.gap-x-2 {
  column-gap: 0.5rem !important;
}

.gap-x-3 {
  column-gap: 0.75rem !important;
}

.gap-x-4 {
  column-gap: 1rem !important;
}

.gap-x-5 {
  column-gap: 1.25rem !important;
}

.gap-x-6 {
  column-gap: 1.5rem !important;
}

.gap-x-7 {
  column-gap: 1.75rem !important;
}

.gap-x-8 {
  column-gap: 2rem !important;
}

.gap-x-9 {
  column-gap: 2.25rem !important;
}

.gap-x-10 {
  column-gap: 2.5rem !important;
}

.gap-x-11 {
  column-gap: 2.75rem !important;
}

.gap-x-12 {
  column-gap: 3rem !important;
}

.gap-x-14 {
  column-gap: 3.5rem !important;
}

.gap-x-16 {
  column-gap: 4rem !important;
}

.gap-x-20 {
  column-gap: 5rem !important;
}

.gap-x-24 {
  column-gap: 6rem !important;
}

.gap-x-28 {
  column-gap: 7rem !important;
}

.gap-x-32 {
  column-gap: 8rem !important;
}

.gap-x-36 {
  column-gap: 9rem !important;
}

.gap-x-40 {
  column-gap: 10rem !important;
}

.gap-x-44 {
  column-gap: 11rem !important;
}

.gap-x-48 {
  column-gap: 12rem !important;
}

.gap-x-52 {
  column-gap: 13rem !important;
}

.gap-x-56 {
  column-gap: 14rem !important;
}

.gap-x-60 {
  column-gap: 15rem !important;
}

.gap-x-64 {
  column-gap: 16rem !important;
}

.gap-x-72 {
  column-gap: 18rem !important;
}

.gap-x-80 {
  column-gap: 20rem !important;
}

.gap-x-96 {
  column-gap: 24rem !important;
}

.gap-x-px {
  column-gap: 1px !important;
}

.gap-x-0-5 {
  column-gap: 0.125rem !important;
}

.gap-x-1-5 {
  column-gap: 0.375rem !important;
}

.gap-x-2-5 {
  column-gap: 0.625rem !important;
}

.gap-x-3-5 {
  column-gap: 0.875rem !important;
}

.gap-y-0 {
  row-gap: 0px !important;
}

.gap-y-1 {
  row-gap: 0.25rem !important;
}

.gap-y-2 {
  row-gap: 0.5rem !important;
}

.gap-y-3 {
  row-gap: 0.75rem !important;
}

.gap-y-4 {
  row-gap: 1rem !important;
}

.gap-y-5 {
  row-gap: 1.25rem !important;
}

.gap-y-6 {
  row-gap: 1.5rem !important;
}

.gap-y-7 {
  row-gap: 1.75rem !important;
}

.gap-y-8 {
  row-gap: 2rem !important;
}

.gap-y-9 {
  row-gap: 2.25rem !important;
}

.gap-y-10 {
  row-gap: 2.5rem !important;
}

.gap-y-11 {
  row-gap: 2.75rem !important;
}

.gap-y-12 {
  row-gap: 3rem !important;
}

.gap-y-14 {
  row-gap: 3.5rem !important;
}

.gap-y-16 {
  row-gap: 4rem !important;
}

.gap-y-20 {
  row-gap: 5rem !important;
}

.gap-y-24 {
  row-gap: 6rem !important;
}

.gap-y-28 {
  row-gap: 7rem !important;
}

.gap-y-32 {
  row-gap: 8rem !important;
}

.gap-y-36 {
  row-gap: 9rem !important;
}

.gap-y-40 {
  row-gap: 10rem !important;
}

.gap-y-44 {
  row-gap: 11rem !important;
}

.gap-y-48 {
  row-gap: 12rem !important;
}

.gap-y-52 {
  row-gap: 13rem !important;
}

.gap-y-56 {
  row-gap: 14rem !important;
}

.gap-y-60 {
  row-gap: 15rem !important;
}

.gap-y-64 {
  row-gap: 16rem !important;
}

.gap-y-72 {
  row-gap: 18rem !important;
}

.gap-y-80 {
  row-gap: 20rem !important;
}

.gap-y-96 {
  row-gap: 24rem !important;
}

.gap-y-px {
  row-gap: 1px !important;
}

.gap-y-0-5 {
  row-gap: 0.125rem !important;
}

.gap-y-1-5 {
  row-gap: 0.375rem !important;
}

.gap-y-2-5 {
  row-gap: 0.625rem !important;
}

.gap-y-3-5 {
  row-gap: 0.875rem !important;
}

@media (min-width: 360px) {
  .xs\:gap-0 {
    gap: 0px !important;
  }

  .xs\:gap-1 {
    gap: 0.25rem !important;
  }

  .xs\:gap-2 {
    gap: 0.5rem !important;
  }

  .xs\:gap-3 {
    gap: 0.75rem !important;
  }

  .xs\:gap-4 {
    gap: 1rem !important;
  }

  .xs\:gap-5 {
    gap: 1.25rem !important;
  }

  .xs\:gap-6 {
    gap: 1.5rem !important;
  }

  .xs\:gap-7 {
    gap: 1.75rem !important;
  }

  .xs\:gap-8 {
    gap: 2rem !important;
  }

  .xs\:gap-9 {
    gap: 2.25rem !important;
  }

  .xs\:gap-10 {
    gap: 2.5rem !important;
  }

  .xs\:gap-11 {
    gap: 2.75rem !important;
  }

  .xs\:gap-12 {
    gap: 3rem !important;
  }

  .xs\:gap-14 {
    gap: 3.5rem !important;
  }

  .xs\:gap-16 {
    gap: 4rem !important;
  }

  .xs\:gap-20 {
    gap: 5rem !important;
  }

  .xs\:gap-24 {
    gap: 6rem !important;
  }

  .xs\:gap-28 {
    gap: 7rem !important;
  }

  .xs\:gap-32 {
    gap: 8rem !important;
  }

  .xs\:gap-36 {
    gap: 9rem !important;
  }

  .xs\:gap-40 {
    gap: 10rem !important;
  }

  .xs\:gap-44 {
    gap: 11rem !important;
  }

  .xs\:gap-48 {
    gap: 12rem !important;
  }

  .xs\:gap-52 {
    gap: 13rem !important;
  }

  .xs\:gap-56 {
    gap: 14rem !important;
  }

  .xs\:gap-60 {
    gap: 15rem !important;
  }

  .xs\:gap-64 {
    gap: 16rem !important;
  }

  .xs\:gap-72 {
    gap: 18rem !important;
  }

  .xs\:gap-80 {
    gap: 20rem !important;
  }

  .xs\:gap-96 {
    gap: 24rem !important;
  }

  .xs\:gap-px {
    gap: 1px !important;
  }

  .xs\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .xs\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .xs\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .xs\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .xs\:gap-x-0 {
    column-gap: 0px !important;
  }

  .xs\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .xs\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .xs\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .xs\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .xs\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .xs\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .xs\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .xs\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .xs\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .xs\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .xs\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .xs\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .xs\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .xs\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .xs\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .xs\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .xs\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .xs\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .xs\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .xs\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .xs\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .xs\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .xs\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .xs\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .xs\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .xs\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .xs\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .xs\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .xs\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .xs\:gap-x-px {
    column-gap: 1px !important;
  }

  .xs\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .xs\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .xs\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .xs\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .xs\:gap-y-0 {
    row-gap: 0px !important;
  }

  .xs\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .xs\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .xs\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .xs\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .xs\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .xs\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .xs\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .xs\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .xs\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .xs\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .xs\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .xs\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .xs\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .xs\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .xs\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .xs\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .xs\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .xs\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .xs\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .xs\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .xs\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .xs\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .xs\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .xs\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .xs\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .xs\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .xs\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .xs\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .xs\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .xs\:gap-y-px {
    row-gap: 1px !important;
  }

  .xs\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .xs\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .xs\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .xs\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}

@media (min-width: 640px) {
  .sm\:gap-0 {
    gap: 0px !important;
  }

  .sm\:gap-1 {
    gap: 0.25rem !important;
  }

  .sm\:gap-2 {
    gap: 0.5rem !important;
  }

  .sm\:gap-3 {
    gap: 0.75rem !important;
  }

  .sm\:gap-4 {
    gap: 1rem !important;
  }

  .sm\:gap-5 {
    gap: 1.25rem !important;
  }

  .sm\:gap-6 {
    gap: 1.5rem !important;
  }

  .sm\:gap-7 {
    gap: 1.75rem !important;
  }

  .sm\:gap-8 {
    gap: 2rem !important;
  }

  .sm\:gap-9 {
    gap: 2.25rem !important;
  }

  .sm\:gap-10 {
    gap: 2.5rem !important;
  }

  .sm\:gap-11 {
    gap: 2.75rem !important;
  }

  .sm\:gap-12 {
    gap: 3rem !important;
  }

  .sm\:gap-14 {
    gap: 3.5rem !important;
  }

  .sm\:gap-16 {
    gap: 4rem !important;
  }

  .sm\:gap-20 {
    gap: 5rem !important;
  }

  .sm\:gap-24 {
    gap: 6rem !important;
  }

  .sm\:gap-28 {
    gap: 7rem !important;
  }

  .sm\:gap-32 {
    gap: 8rem !important;
  }

  .sm\:gap-36 {
    gap: 9rem !important;
  }

  .sm\:gap-40 {
    gap: 10rem !important;
  }

  .sm\:gap-44 {
    gap: 11rem !important;
  }

  .sm\:gap-48 {
    gap: 12rem !important;
  }

  .sm\:gap-52 {
    gap: 13rem !important;
  }

  .sm\:gap-56 {
    gap: 14rem !important;
  }

  .sm\:gap-60 {
    gap: 15rem !important;
  }

  .sm\:gap-64 {
    gap: 16rem !important;
  }

  .sm\:gap-72 {
    gap: 18rem !important;
  }

  .sm\:gap-80 {
    gap: 20rem !important;
  }

  .sm\:gap-96 {
    gap: 24rem !important;
  }

  .sm\:gap-px {
    gap: 1px !important;
  }

  .sm\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .sm\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .sm\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .sm\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .sm\:gap-x-0 {
    column-gap: 0px !important;
  }

  .sm\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .sm\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .sm\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .sm\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .sm\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .sm\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .sm\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .sm\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .sm\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .sm\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .sm\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .sm\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .sm\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .sm\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .sm\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .sm\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .sm\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .sm\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .sm\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .sm\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .sm\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .sm\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .sm\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .sm\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .sm\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .sm\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .sm\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .sm\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .sm\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .sm\:gap-x-px {
    column-gap: 1px !important;
  }

  .sm\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .sm\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .sm\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .sm\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .sm\:gap-y-0 {
    row-gap: 0px !important;
  }

  .sm\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .sm\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .sm\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .sm\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .sm\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .sm\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .sm\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .sm\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .sm\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .sm\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .sm\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .sm\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .sm\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .sm\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .sm\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .sm\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .sm\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .sm\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .sm\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .sm\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .sm\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .sm\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .sm\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .sm\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .sm\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .sm\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .sm\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .sm\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .sm\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .sm\:gap-y-px {
    row-gap: 1px !important;
  }

  .sm\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .sm\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .sm\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .sm\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}

@media (min-width: 768px) {
  .md\:gap-0 {
    gap: 0px !important;
  }

  .md\:gap-1 {
    gap: 0.25rem !important;
  }

  .md\:gap-2 {
    gap: 0.5rem !important;
  }

  .md\:gap-3 {
    gap: 0.75rem !important;
  }

  .md\:gap-4 {
    gap: 1rem !important;
  }

  .md\:gap-5 {
    gap: 1.25rem !important;
  }

  .md\:gap-6 {
    gap: 1.5rem !important;
  }

  .md\:gap-7 {
    gap: 1.75rem !important;
  }

  .md\:gap-8 {
    gap: 2rem !important;
  }

  .md\:gap-9 {
    gap: 2.25rem !important;
  }

  .md\:gap-10 {
    gap: 2.5rem !important;
  }

  .md\:gap-11 {
    gap: 2.75rem !important;
  }

  .md\:gap-12 {
    gap: 3rem !important;
  }

  .md\:gap-14 {
    gap: 3.5rem !important;
  }

  .md\:gap-16 {
    gap: 4rem !important;
  }

  .md\:gap-20 {
    gap: 5rem !important;
  }

  .md\:gap-24 {
    gap: 6rem !important;
  }

  .md\:gap-28 {
    gap: 7rem !important;
  }

  .md\:gap-32 {
    gap: 8rem !important;
  }

  .md\:gap-36 {
    gap: 9rem !important;
  }

  .md\:gap-40 {
    gap: 10rem !important;
  }

  .md\:gap-44 {
    gap: 11rem !important;
  }

  .md\:gap-48 {
    gap: 12rem !important;
  }

  .md\:gap-52 {
    gap: 13rem !important;
  }

  .md\:gap-56 {
    gap: 14rem !important;
  }

  .md\:gap-60 {
    gap: 15rem !important;
  }

  .md\:gap-64 {
    gap: 16rem !important;
  }

  .md\:gap-72 {
    gap: 18rem !important;
  }

  .md\:gap-80 {
    gap: 20rem !important;
  }

  .md\:gap-96 {
    gap: 24rem !important;
  }

  .md\:gap-px {
    gap: 1px !important;
  }

  .md\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .md\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .md\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .md\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .md\:gap-x-0 {
    column-gap: 0px !important;
  }

  .md\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .md\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .md\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .md\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .md\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .md\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .md\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .md\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .md\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .md\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .md\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .md\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .md\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .md\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .md\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .md\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .md\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .md\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .md\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .md\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .md\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .md\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .md\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .md\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .md\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .md\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .md\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .md\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .md\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .md\:gap-x-px {
    column-gap: 1px !important;
  }

  .md\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .md\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .md\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .md\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .md\:gap-y-0 {
    row-gap: 0px !important;
  }

  .md\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .md\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .md\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .md\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .md\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .md\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .md\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .md\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .md\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .md\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .md\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .md\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .md\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .md\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .md\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .md\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .md\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .md\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .md\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .md\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .md\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .md\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .md\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .md\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .md\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .md\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .md\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .md\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .md\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .md\:gap-y-px {
    row-gap: 1px !important;
  }

  .md\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .md\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .md\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .md\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}

@media (min-width: 1024px) {
  .lg\:gap-0 {
    gap: 0px !important;
  }

  .lg\:gap-1 {
    gap: 0.25rem !important;
  }

  .lg\:gap-2 {
    gap: 0.5rem !important;
  }

  .lg\:gap-3 {
    gap: 0.75rem !important;
  }

  .lg\:gap-4 {
    gap: 1rem !important;
  }

  .lg\:gap-5 {
    gap: 1.25rem !important;
  }

  .lg\:gap-6 {
    gap: 1.5rem !important;
  }

  .lg\:gap-7 {
    gap: 1.75rem !important;
  }

  .lg\:gap-8 {
    gap: 2rem !important;
  }

  .lg\:gap-9 {
    gap: 2.25rem !important;
  }

  .lg\:gap-10 {
    gap: 2.5rem !important;
  }

  .lg\:gap-11 {
    gap: 2.75rem !important;
  }

  .lg\:gap-12 {
    gap: 3rem !important;
  }

  .lg\:gap-14 {
    gap: 3.5rem !important;
  }

  .lg\:gap-16 {
    gap: 4rem !important;
  }

  .lg\:gap-20 {
    gap: 5rem !important;
  }

  .lg\:gap-24 {
    gap: 6rem !important;
  }

  .lg\:gap-28 {
    gap: 7rem !important;
  }

  .lg\:gap-32 {
    gap: 8rem !important;
  }

  .lg\:gap-36 {
    gap: 9rem !important;
  }

  .lg\:gap-40 {
    gap: 10rem !important;
  }

  .lg\:gap-44 {
    gap: 11rem !important;
  }

  .lg\:gap-48 {
    gap: 12rem !important;
  }

  .lg\:gap-52 {
    gap: 13rem !important;
  }

  .lg\:gap-56 {
    gap: 14rem !important;
  }

  .lg\:gap-60 {
    gap: 15rem !important;
  }

  .lg\:gap-64 {
    gap: 16rem !important;
  }

  .lg\:gap-72 {
    gap: 18rem !important;
  }

  .lg\:gap-80 {
    gap: 20rem !important;
  }

  .lg\:gap-96 {
    gap: 24rem !important;
  }

  .lg\:gap-px {
    gap: 1px !important;
  }

  .lg\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .lg\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .lg\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .lg\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .lg\:gap-x-0 {
    column-gap: 0px !important;
  }

  .lg\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .lg\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .lg\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .lg\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .lg\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .lg\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .lg\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .lg\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .lg\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .lg\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .lg\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .lg\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .lg\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .lg\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .lg\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .lg\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .lg\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .lg\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .lg\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .lg\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .lg\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .lg\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .lg\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .lg\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .lg\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .lg\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .lg\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .lg\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .lg\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .lg\:gap-x-px {
    column-gap: 1px !important;
  }

  .lg\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .lg\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .lg\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .lg\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .lg\:gap-y-0 {
    row-gap: 0px !important;
  }

  .lg\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .lg\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .lg\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .lg\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .lg\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .lg\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .lg\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .lg\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .lg\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .lg\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .lg\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .lg\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .lg\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .lg\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .lg\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .lg\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .lg\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .lg\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .lg\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .lg\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .lg\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .lg\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .lg\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .lg\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .lg\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .lg\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .lg\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .lg\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .lg\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .lg\:gap-y-px {
    row-gap: 1px !important;
  }

  .lg\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .lg\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .lg\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .lg\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}

@media (min-width: 1280px) {
  .xl\:gap-0 {
    gap: 0px !important;
  }

  .xl\:gap-1 {
    gap: 0.25rem !important;
  }

  .xl\:gap-2 {
    gap: 0.5rem !important;
  }

  .xl\:gap-3 {
    gap: 0.75rem !important;
  }

  .xl\:gap-4 {
    gap: 1rem !important;
  }

  .xl\:gap-5 {
    gap: 1.25rem !important;
  }

  .xl\:gap-6 {
    gap: 1.5rem !important;
  }

  .xl\:gap-7 {
    gap: 1.75rem !important;
  }

  .xl\:gap-8 {
    gap: 2rem !important;
  }

  .xl\:gap-9 {
    gap: 2.25rem !important;
  }

  .xl\:gap-10 {
    gap: 2.5rem !important;
  }

  .xl\:gap-11 {
    gap: 2.75rem !important;
  }

  .xl\:gap-12 {
    gap: 3rem !important;
  }

  .xl\:gap-14 {
    gap: 3.5rem !important;
  }

  .xl\:gap-16 {
    gap: 4rem !important;
  }

  .xl\:gap-20 {
    gap: 5rem !important;
  }

  .xl\:gap-24 {
    gap: 6rem !important;
  }

  .xl\:gap-28 {
    gap: 7rem !important;
  }

  .xl\:gap-32 {
    gap: 8rem !important;
  }

  .xl\:gap-36 {
    gap: 9rem !important;
  }

  .xl\:gap-40 {
    gap: 10rem !important;
  }

  .xl\:gap-44 {
    gap: 11rem !important;
  }

  .xl\:gap-48 {
    gap: 12rem !important;
  }

  .xl\:gap-52 {
    gap: 13rem !important;
  }

  .xl\:gap-56 {
    gap: 14rem !important;
  }

  .xl\:gap-60 {
    gap: 15rem !important;
  }

  .xl\:gap-64 {
    gap: 16rem !important;
  }

  .xl\:gap-72 {
    gap: 18rem !important;
  }

  .xl\:gap-80 {
    gap: 20rem !important;
  }

  .xl\:gap-96 {
    gap: 24rem !important;
  }

  .xl\:gap-px {
    gap: 1px !important;
  }

  .xl\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .xl\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .xl\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .xl\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .xl\:gap-x-0 {
    column-gap: 0px !important;
  }

  .xl\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .xl\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .xl\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .xl\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .xl\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .xl\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .xl\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .xl\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .xl\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .xl\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .xl\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .xl\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .xl\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .xl\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .xl\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .xl\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .xl\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .xl\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .xl\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .xl\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .xl\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .xl\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .xl\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .xl\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .xl\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .xl\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .xl\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .xl\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .xl\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .xl\:gap-x-px {
    column-gap: 1px !important;
  }

  .xl\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .xl\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .xl\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .xl\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .xl\:gap-y-0 {
    row-gap: 0px !important;
  }

  .xl\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .xl\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .xl\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .xl\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .xl\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .xl\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .xl\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .xl\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .xl\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .xl\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .xl\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .xl\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .xl\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .xl\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .xl\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .xl\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .xl\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .xl\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .xl\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .xl\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .xl\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .xl\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .xl\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .xl\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .xl\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .xl\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .xl\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .xl\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .xl\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .xl\:gap-y-px {
    row-gap: 1px !important;
  }

  .xl\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .xl\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .xl\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .xl\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:gap-0 {
    gap: 0px !important;
  }

  .\32xl\:gap-1 {
    gap: 0.25rem !important;
  }

  .\32xl\:gap-2 {
    gap: 0.5rem !important;
  }

  .\32xl\:gap-3 {
    gap: 0.75rem !important;
  }

  .\32xl\:gap-4 {
    gap: 1rem !important;
  }

  .\32xl\:gap-5 {
    gap: 1.25rem !important;
  }

  .\32xl\:gap-6 {
    gap: 1.5rem !important;
  }

  .\32xl\:gap-7 {
    gap: 1.75rem !important;
  }

  .\32xl\:gap-8 {
    gap: 2rem !important;
  }

  .\32xl\:gap-9 {
    gap: 2.25rem !important;
  }

  .\32xl\:gap-10 {
    gap: 2.5rem !important;
  }

  .\32xl\:gap-11 {
    gap: 2.75rem !important;
  }

  .\32xl\:gap-12 {
    gap: 3rem !important;
  }

  .\32xl\:gap-14 {
    gap: 3.5rem !important;
  }

  .\32xl\:gap-16 {
    gap: 4rem !important;
  }

  .\32xl\:gap-20 {
    gap: 5rem !important;
  }

  .\32xl\:gap-24 {
    gap: 6rem !important;
  }

  .\32xl\:gap-28 {
    gap: 7rem !important;
  }

  .\32xl\:gap-32 {
    gap: 8rem !important;
  }

  .\32xl\:gap-36 {
    gap: 9rem !important;
  }

  .\32xl\:gap-40 {
    gap: 10rem !important;
  }

  .\32xl\:gap-44 {
    gap: 11rem !important;
  }

  .\32xl\:gap-48 {
    gap: 12rem !important;
  }

  .\32xl\:gap-52 {
    gap: 13rem !important;
  }

  .\32xl\:gap-56 {
    gap: 14rem !important;
  }

  .\32xl\:gap-60 {
    gap: 15rem !important;
  }

  .\32xl\:gap-64 {
    gap: 16rem !important;
  }

  .\32xl\:gap-72 {
    gap: 18rem !important;
  }

  .\32xl\:gap-80 {
    gap: 20rem !important;
  }

  .\32xl\:gap-96 {
    gap: 24rem !important;
  }

  .\32xl\:gap-px {
    gap: 1px !important;
  }

  .\32xl\:gap-0-5 {
    gap: 0.125rem !important;
  }

  .\32xl\:gap-1-5 {
    gap: 0.375rem !important;
  }

  .\32xl\:gap-2-5 {
    gap: 0.625rem !important;
  }

  .\32xl\:gap-3-5 {
    gap: 0.875rem !important;
  }

  .\32xl\:gap-x-0 {
    column-gap: 0px !important;
  }

  .\32xl\:gap-x-1 {
    column-gap: 0.25rem !important;
  }

  .\32xl\:gap-x-2 {
    column-gap: 0.5rem !important;
  }

  .\32xl\:gap-x-3 {
    column-gap: 0.75rem !important;
  }

  .\32xl\:gap-x-4 {
    column-gap: 1rem !important;
  }

  .\32xl\:gap-x-5 {
    column-gap: 1.25rem !important;
  }

  .\32xl\:gap-x-6 {
    column-gap: 1.5rem !important;
  }

  .\32xl\:gap-x-7 {
    column-gap: 1.75rem !important;
  }

  .\32xl\:gap-x-8 {
    column-gap: 2rem !important;
  }

  .\32xl\:gap-x-9 {
    column-gap: 2.25rem !important;
  }

  .\32xl\:gap-x-10 {
    column-gap: 2.5rem !important;
  }

  .\32xl\:gap-x-11 {
    column-gap: 2.75rem !important;
  }

  .\32xl\:gap-x-12 {
    column-gap: 3rem !important;
  }

  .\32xl\:gap-x-14 {
    column-gap: 3.5rem !important;
  }

  .\32xl\:gap-x-16 {
    column-gap: 4rem !important;
  }

  .\32xl\:gap-x-20 {
    column-gap: 5rem !important;
  }

  .\32xl\:gap-x-24 {
    column-gap: 6rem !important;
  }

  .\32xl\:gap-x-28 {
    column-gap: 7rem !important;
  }

  .\32xl\:gap-x-32 {
    column-gap: 8rem !important;
  }

  .\32xl\:gap-x-36 {
    column-gap: 9rem !important;
  }

  .\32xl\:gap-x-40 {
    column-gap: 10rem !important;
  }

  .\32xl\:gap-x-44 {
    column-gap: 11rem !important;
  }

  .\32xl\:gap-x-48 {
    column-gap: 12rem !important;
  }

  .\32xl\:gap-x-52 {
    column-gap: 13rem !important;
  }

  .\32xl\:gap-x-56 {
    column-gap: 14rem !important;
  }

  .\32xl\:gap-x-60 {
    column-gap: 15rem !important;
  }

  .\32xl\:gap-x-64 {
    column-gap: 16rem !important;
  }

  .\32xl\:gap-x-72 {
    column-gap: 18rem !important;
  }

  .\32xl\:gap-x-80 {
    column-gap: 20rem !important;
  }

  .\32xl\:gap-x-96 {
    column-gap: 24rem !important;
  }

  .\32xl\:gap-x-px {
    column-gap: 1px !important;
  }

  .\32xl\:gap-x-0-5 {
    column-gap: 0.125rem !important;
  }

  .\32xl\:gap-x-1-5 {
    column-gap: 0.375rem !important;
  }

  .\32xl\:gap-x-2-5 {
    column-gap: 0.625rem !important;
  }

  .\32xl\:gap-x-3-5 {
    column-gap: 0.875rem !important;
  }

  .\32xl\:gap-y-0 {
    row-gap: 0px !important;
  }

  .\32xl\:gap-y-1 {
    row-gap: 0.25rem !important;
  }

  .\32xl\:gap-y-2 {
    row-gap: 0.5rem !important;
  }

  .\32xl\:gap-y-3 {
    row-gap: 0.75rem !important;
  }

  .\32xl\:gap-y-4 {
    row-gap: 1rem !important;
  }

  .\32xl\:gap-y-5 {
    row-gap: 1.25rem !important;
  }

  .\32xl\:gap-y-6 {
    row-gap: 1.5rem !important;
  }

  .\32xl\:gap-y-7 {
    row-gap: 1.75rem !important;
  }

  .\32xl\:gap-y-8 {
    row-gap: 2rem !important;
  }

  .\32xl\:gap-y-9 {
    row-gap: 2.25rem !important;
  }

  .\32xl\:gap-y-10 {
    row-gap: 2.5rem !important;
  }

  .\32xl\:gap-y-11 {
    row-gap: 2.75rem !important;
  }

  .\32xl\:gap-y-12 {
    row-gap: 3rem !important;
  }

  .\32xl\:gap-y-14 {
    row-gap: 3.5rem !important;
  }

  .\32xl\:gap-y-16 {
    row-gap: 4rem !important;
  }

  .\32xl\:gap-y-20 {
    row-gap: 5rem !important;
  }

  .\32xl\:gap-y-24 {
    row-gap: 6rem !important;
  }

  .\32xl\:gap-y-28 {
    row-gap: 7rem !important;
  }

  .\32xl\:gap-y-32 {
    row-gap: 8rem !important;
  }

  .\32xl\:gap-y-36 {
    row-gap: 9rem !important;
  }

  .\32xl\:gap-y-40 {
    row-gap: 10rem !important;
  }

  .\32xl\:gap-y-44 {
    row-gap: 11rem !important;
  }

  .\32xl\:gap-y-48 {
    row-gap: 12rem !important;
  }

  .\32xl\:gap-y-52 {
    row-gap: 13rem !important;
  }

  .\32xl\:gap-y-56 {
    row-gap: 14rem !important;
  }

  .\32xl\:gap-y-60 {
    row-gap: 15rem !important;
  }

  .\32xl\:gap-y-64 {
    row-gap: 16rem !important;
  }

  .\32xl\:gap-y-72 {
    row-gap: 18rem !important;
  }

  .\32xl\:gap-y-80 {
    row-gap: 20rem !important;
  }

  .\32xl\:gap-y-96 {
    row-gap: 24rem !important;
  }

  .\32xl\:gap-y-px {
    row-gap: 1px !important;
  }

  .\32xl\:gap-y-0-5 {
    row-gap: 0.125rem !important;
  }

  .\32xl\:gap-y-1-5 {
    row-gap: 0.375rem !important;
  }

  .\32xl\:gap-y-2-5 {
    row-gap: 0.625rem !important;
  }

  .\32xl\:gap-y-3-5 {
    row-gap: 0.875rem !important;
  }
}
