.h-0 {
    height: 0px;
}

.h-1 {
    height: 0.25rem;
}

.h-2 {
    height: 0.5rem;
}

.h-3 {
    height: 0.75rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-7 {
    height: 1.75rem;
}

.h-8 {
    height: 2rem;
}

.h-9 {
    height: 2.25rem;
}

.h-10 {
    height: 2.5rem;
}

.h-11 {
    height: 2.75rem;
}

.h-12 {
    height: 3rem;
}

.h-14 {
    height: 3.5rem;
}

.h-16 {
    height: 4rem;
}

.h-20 {
    height: 5rem;
}

.h-24 {
    height: 6rem;
}

.h-28 {
    height: 7rem;
}

.h-32 {
    height: 8rem;
}

.h-36 {
    height: 9rem;
}

.h-40 {
    height: 10rem;
}

.h-44 {
    height: 11rem;
}

.h-48 {
    height: 12rem;
}

.h-52 {
    height: 13rem;
}

.h-56 {
    height: 14rem;
}

.h-60 {
    height: 15rem;
}

.h-64 {
    height: 16rem;
}

.h-72 {
    height: 18rem;
}

.h-80 {
    height: 20rem;
}

.h-96 {
    height: 24rem;
}

.h-auto {
    height: auto;
}

.h-px {
    height: 1px;
}

.h-0-5 {
    height: 0.125rem;
}

.h-1-5 {
    height: 0.375rem;
}

.h-2-5 {
    height: 0.625rem;
}

.h-3-5 {
    height: 0.875rem;
}

.h-1--2 {
    height: 50%;
}

.h-1--3 {
    height: 33.333333%;
}

.h-2--3 {
    height: 66.666667%;
}

.h-1--4 {
    height: 25%;
}

.h-2--4 {
    height: 50%;
}

.h-3--4 {
    height: 75%;
}

.h-1--5 {
    height: 20%;
}

.h-2--5 {
    height: 40%;
}

.h-3--5 {
    height: 60%;
}

.h-4--5 {
    height: 80%;
}

.h-1--6 {
    height: 16.666667%;
}

.h-2--6 {
    height: 33.333333%;
}

.h-3--6 {
    height: 50%;
}

.h-4--6 {
    height: 66.666667%;
}

.h-5--6 {
    height: 83.333333%;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.h-svh {
    height: 100svh;
}

.h-lvh {
    height: 100lvh;
}

.h-dvh {
    height: 100dvh;
}

.min-h-svh {
    min-height: 100svh;
}

.min-h-lvh {
    min-height: 100lvh;
}

.min-h-dvh {
    min-height: 100dvh;
}

.max-h-svh {
    max-height: 100svh;
}

.max-h-lvh {
    max-height: 100lvh;
}

.max-h-dvh {
    max-height: 100dvh;
}

@media (min-width: 360px) {
    .xs\:h-0 {
        height: 0px;
    }

    .xs\:h-1 {
        height: 0.25rem;
    }

    .xs\:h-2 {
        height: 0.5rem;
    }

    .xs\:h-3 {
        height: 0.75rem;
    }

    .xs\:h-4 {
        height: 1rem;
    }

    .xs\:h-5 {
        height: 1.25rem;
    }

    .xs\:h-6 {
        height: 1.5rem;
    }

    .xs\:h-7 {
        height: 1.75rem;
    }

    .xs\:h-8 {
        height: 2rem;
    }

    .xs\:h-9 {
        height: 2.25rem;
    }

    .xs\:h-10 {
        height: 2.5rem;
    }

    .xs\:h-11 {
        height: 2.75rem;
    }

    .xs\:h-12 {
        height: 3rem;
    }

    .xs\:h-14 {
        height: 3.5rem;
    }

    .xs\:h-16 {
        height: 4rem;
    }

    .xs\:h-20 {
        height: 5rem;
    }

    .xs\:h-24 {
        height: 6rem;
    }

    .xs\:h-28 {
        height: 7rem;
    }

    .xs\:h-32 {
        height: 8rem;
    }

    .xs\:h-36 {
        height: 9rem;
    }

    .xs\:h-40 {
        height: 10rem;
    }

    .xs\:h-44 {
        height: 11rem;
    }

    .xs\:h-48 {
        height: 12rem;
    }

    .xs\:h-52 {
        height: 13rem;
    }

    .xs\:h-56 {
        height: 14rem;
    }

    .xs\:h-60 {
        height: 15rem;
    }

    .xs\:h-64 {
        height: 16rem;
    }

    .xs\:h-72 {
        height: 18rem;
    }

    .xs\:h-80 {
        height: 20rem;
    }

    .xs\:h-96 {
        height: 24rem;
    }

    .xs\:h-auto {
        height: auto;
    }

    .xs\:h-px {
        height: 1px;
    }

    .xs\:h-0-5 {
        height: 0.125rem;
    }

    .xs\:h-1-5 {
        height: 0.375rem;
    }

    .xs\:h-2-5 {
        height: 0.625rem;
    }

    .xs\:h-3-5 {
        height: 0.875rem;
    }

    .xs\:h-1--2 {
        height: 50%;
    }

    .xs\:h-1--3 {
        height: 33.333333%;
    }

    .xs\:h-2--3 {
        height: 66.666667%;
    }

    .xs\:h-1--4 {
        height: 25%;
    }

    .xs\:h-2--4 {
        height: 50%;
    }

    .xs\:h-3--4 {
        height: 75%;
    }

    .xs\:h-1--5 {
        height: 20%;
    }

    .xs\:h-2--5 {
        height: 40%;
    }

    .xs\:h-3--5 {
        height: 60%;
    }

    .xs\:h-4--5 {
        height: 80%;
    }

    .xs\:h-1--6 {
        height: 16.666667%;
    }

    .xs\:h-2--6 {
        height: 33.333333%;
    }

    .xs\:h-3--6 {
        height: 50%;
    }

    .xs\:h-4--6 {
        height: 66.666667%;
    }

    .xs\:h-5--6 {
        height: 83.333333%;
    }

    .xs\:h-full {
        height: 100%;
    }

    .xs\:h-screen {
        height: 100vh;
    }

    .xs\:h-svh {
        height: 100svh;
    }

    .xs\:h-lvh {
        height: 100lvh;
    }

    .xs\:h-dvh {
        height: 100dvh;
    }

    .xs\:min-h-svh {
        min-height: 100svh;
    }

    .xs\:min-h-lvh {
        min-height: 100lvh;
    }

    .xs\:min-h-dvh {
        min-height: 100dvh;
    }

    .xs\:max-h-svh {
        max-height: 100svh;
    }

    .xs\:max-h-lvh {
        max-height: 100lvh;
    }

    .xs\:max-h-dvh {
        max-height: 100dvh;
    }
}

@media (min-width: 640px) {
    .sm\:h-0 {
        height: 0px;
    }

    .sm\:h-1 {
        height: 0.25rem;
    }

    .sm\:h-2 {
        height: 0.5rem;
    }

    .sm\:h-3 {
        height: 0.75rem;
    }

    .sm\:h-4 {
        height: 1rem;
    }

    .sm\:h-5 {
        height: 1.25rem;
    }

    .sm\:h-6 {
        height: 1.5rem;
    }

    .sm\:h-7 {
        height: 1.75rem;
    }

    .sm\:h-8 {
        height: 2rem;
    }

    .sm\:h-9 {
        height: 2.25rem;
    }

    .sm\:h-10 {
        height: 2.5rem;
    }

    .sm\:h-11 {
        height: 2.75rem;
    }

    .sm\:h-12 {
        height: 3rem;
    }

    .sm\:h-14 {
        height: 3.5rem;
    }

    .sm\:h-16 {
        height: 4rem;
    }

    .sm\:h-20 {
        height: 5rem;
    }

    .sm\:h-24 {
        height: 6rem;
    }

    .sm\:h-28 {
        height: 7rem;
    }

    .sm\:h-32 {
        height: 8rem;
    }

    .sm\:h-36 {
        height: 9rem;
    }

    .sm\:h-40 {
        height: 10rem;
    }

    .sm\:h-44 {
        height: 11rem;
    }

    .sm\:h-48 {
        height: 12rem;
    }

    .sm\:h-52 {
        height: 13rem;
    }

    .sm\:h-56 {
        height: 14rem;
    }

    .sm\:h-60 {
        height: 15rem;
    }

    .sm\:h-64 {
        height: 16rem;
    }

    .sm\:h-72 {
        height: 18rem;
    }

    .sm\:h-80 {
        height: 20rem;
    }

    .sm\:h-96 {
        height: 24rem;
    }

    .sm\:h-auto {
        height: auto;
    }

    .sm\:h-px {
        height: 1px;
    }

    .sm\:h-0-5 {
        height: 0.125rem;
    }

    .sm\:h-1-5 {
        height: 0.375rem;
    }

    .sm\:h-2-5 {
        height: 0.625rem;
    }

    .sm\:h-3-5 {
        height: 0.875rem;
    }

    .sm\:h-1--2 {
        height: 50%;
    }

    .sm\:h-1--3 {
        height: 33.333333%;
    }

    .sm\:h-2--3 {
        height: 66.666667%;
    }

    .sm\:h-1--4 {
        height: 25%;
    }

    .sm\:h-2--4 {
        height: 50%;
    }

    .sm\:h-3--4 {
        height: 75%;
    }

    .sm\:h-1--5 {
        height: 20%;
    }

    .sm\:h-2--5 {
        height: 40%;
    }

    .sm\:h-3--5 {
        height: 60%;
    }

    .sm\:h-4--5 {
        height: 80%;
    }

    .sm\:h-1--6 {
        height: 16.666667%;
    }

    .sm\:h-2--6 {
        height: 33.333333%;
    }

    .sm\:h-3--6 {
        height: 50%;
    }

    .sm\:h-4--6 {
        height: 66.666667%;
    }

    .sm\:h-5--6 {
        height: 83.333333%;
    }

    .sm\:h-full {
        height: 100%;
    }

    .sm\:h-screen {
        height: 100vh;
    }

    .sm\:h-svh {
        height: 100svh;
    }

    .sm\:h-lvh {
        height: 100lvh;
    }

    .sm\:h-dvh {
        height: 100dvh;
    }

    .sm\:min-h-svh {
        min-height: 100svh;
    }

    .sm\:min-h-lvh {
        min-height: 100lvh;
    }

    .sm\:min-h-dvh {
        min-height: 100dvh;
    }

    .sm\:max-h-svh {
        max-height: 100svh;
    }

    .sm\:max-h-lvh {
        max-height: 100lvh;
    }

    .sm\:max-h-dvh {
        max-height: 100dvh;
    }
}

@media (min-width: 768px) {
    .md\:h-0 {
        height: 0px;
    }

    .md\:h-1 {
        height: 0.25rem;
    }

    .md\:h-2 {
        height: 0.5rem;
    }

    .md\:h-3 {
        height: 0.75rem;
    }

    .md\:h-4 {
        height: 1rem;
    }

    .md\:h-5 {
        height: 1.25rem;
    }

    .md\:h-6 {
        height: 1.5rem;
    }

    .md\:h-7 {
        height: 1.75rem;
    }

    .md\:h-8 {
        height: 2rem;
    }

    .md\:h-9 {
        height: 2.25rem;
    }

    .md\:h-10 {
        height: 2.5rem;
    }

    .md\:h-11 {
        height: 2.75rem;
    }

    .md\:h-12 {
        height: 3rem;
    }

    .md\:h-14 {
        height: 3.5rem;
    }

    .md\:h-16 {
        height: 4rem;
    }

    .md\:h-20 {
        height: 5rem;
    }

    .md\:h-24 {
        height: 6rem;
    }

    .md\:h-28 {
        height: 7rem;
    }

    .md\:h-32 {
        height: 8rem;
    }

    .md\:h-36 {
        height: 9rem;
    }

    .md\:h-40 {
        height: 10rem;
    }

    .md\:h-44 {
        height: 11rem;
    }

    .md\:h-48 {
        height: 12rem;
    }

    .md\:h-52 {
        height: 13rem;
    }

    .md\:h-56 {
        height: 14rem;
    }

    .md\:h-60 {
        height: 15rem;
    }

    .md\:h-64 {
        height: 16rem;
    }

    .md\:h-72 {
        height: 18rem;
    }

    .md\:h-80 {
        height: 20rem;
    }

    .md\:h-96 {
        height: 24rem;
    }

    .md\:h-auto {
        height: auto;
    }

    .md\:h-px {
        height: 1px;
    }

    .md\:h-0-5 {
        height: 0.125rem;
    }

    .md\:h-1-5 {
        height: 0.375rem;
    }

    .md\:h-2-5 {
        height: 0.625rem;
    }

    .md\:h-3-5 {
        height: 0.875rem;
    }

    .md\:h-1--2 {
        height: 50%;
    }

    .md\:h-1--3 {
        height: 33.333333%;
    }

    .md\:h-2--3 {
        height: 66.666667%;
    }

    .md\:h-1--4 {
        height: 25%;
    }

    .md\:h-2--4 {
        height: 50%;
    }

    .md\:h-3--4 {
        height: 75%;
    }

    .md\:h-1--5 {
        height: 20%;
    }

    .md\:h-2--5 {
        height: 40%;
    }

    .md\:h-3--5 {
        height: 60%;
    }

    .md\:h-4--5 {
        height: 80%;
    }

    .md\:h-1--6 {
        height: 16.666667%;
    }

    .md\:h-2--6 {
        height: 33.333333%;
    }

    .md\:h-3--6 {
        height: 50%;
    }

    .md\:h-4--6 {
        height: 66.666667%;
    }

    .md\:h-5--6 {
        height: 83.333333%;
    }

    .md\:h-full {
        height: 100%;
    }

    .md\:h-screen {
        height: 100vh;
    }

    .md\:h-svh {
        height: 100svh;
    }

    .md\:h-lvh {
        height: 100lvh;
    }

    .md\:h-dvh {
        height: 100dvh;
    }

    .md\:min-h-svh {
        min-height: 100svh;
    }

    .md\:min-h-lvh {
        min-height: 100lvh;
    }

    .md\:min-h-dvh {
        min-height: 100dvh;
    }

    .md\:max-h-svh {
        max-height: 100svh;
    }

    .md\:max-h-lvh {
        max-height: 100lvh;
    }

    .md\:max-h-dvh {
        max-height: 100dvh;
    }
}

@media (min-width: 1024px) {
    .lg\:h-0 {
        height: 0px;
    }

    .lg\:h-1 {
        height: 0.25rem;
    }

    .lg\:h-2 {
        height: 0.5rem;
    }

    .lg\:h-3 {
        height: 0.75rem;
    }

    .lg\:h-4 {
        height: 1rem;
    }

    .lg\:h-5 {
        height: 1.25rem;
    }

    .lg\:h-6 {
        height: 1.5rem;
    }

    .lg\:h-7 {
        height: 1.75rem;
    }

    .lg\:h-8 {
        height: 2rem;
    }

    .lg\:h-9 {
        height: 2.25rem;
    }

    .lg\:h-10 {
        height: 2.5rem;
    }

    .lg\:h-11 {
        height: 2.75rem;
    }

    .lg\:h-12 {
        height: 3rem;
    }

    .lg\:h-14 {
        height: 3.5rem;
    }

    .lg\:h-16 {
        height: 4rem;
    }

    .lg\:h-20 {
        height: 5rem;
    }

    .lg\:h-24 {
        height: 6rem;
    }

    .lg\:h-28 {
        height: 7rem;
    }

    .lg\:h-32 {
        height: 8rem;
    }

    .lg\:h-36 {
        height: 9rem;
    }

    .lg\:h-40 {
        height: 10rem;
    }

    .lg\:h-44 {
        height: 11rem;
    }

    .lg\:h-48 {
        height: 12rem;
    }

    .lg\:h-52 {
        height: 13rem;
    }

    .lg\:h-56 {
        height: 14rem;
    }

    .lg\:h-60 {
        height: 15rem;
    }

    .lg\:h-64 {
        height: 16rem;
    }

    .lg\:h-72 {
        height: 18rem;
    }

    .lg\:h-80 {
        height: 20rem;
    }

    .lg\:h-96 {
        height: 24rem;
    }

    .lg\:h-auto {
        height: auto;
    }

    .lg\:h-px {
        height: 1px;
    }

    .lg\:h-0-5 {
        height: 0.125rem;
    }

    .lg\:h-1-5 {
        height: 0.375rem;
    }

    .lg\:h-2-5 {
        height: 0.625rem;
    }

    .lg\:h-3-5 {
        height: 0.875rem;
    }

    .lg\:h-1--2 {
        height: 50%;
    }

    .lg\:h-1--3 {
        height: 33.333333%;
    }

    .lg\:h-2--3 {
        height: 66.666667%;
    }

    .lg\:h-1--4 {
        height: 25%;
    }

    .lg\:h-2--4 {
        height: 50%;
    }

    .lg\:h-3--4 {
        height: 75%;
    }

    .lg\:h-1--5 {
        height: 20%;
    }

    .lg\:h-2--5 {
        height: 40%;
    }

    .lg\:h-3--5 {
        height: 60%;
    }

    .lg\:h-4--5 {
        height: 80%;
    }

    .lg\:h-1--6 {
        height: 16.666667%;
    }

    .lg\:h-2--6 {
        height: 33.333333%;
    }

    .lg\:h-3--6 {
        height: 50%;
    }

    .lg\:h-4--6 {
        height: 66.666667%;
    }

    .lg\:h-5--6 {
        height: 83.333333%;
    }

    .lg\:h-full {
        height: 100%;
    }

    .lg\:h-screen {
        height: 100vh;
    }

    .lg\:h-svh {
        height: 100svh;
    }

    .lg\:h-lvh {
        height: 100lvh;
    }

    .lg\:h-dvh {
        height: 100dvh;
    }

    .lg\:min-h-svh {
        min-height: 100svh;
    }

    .lg\:min-h-lvh {
        min-height: 100lvh;
    }

    .lg\:min-h-dvh {
        min-height: 100dvh;
    }

    .lg\:max-h-svh {
        max-height: 100svh;
    }

    .lg\:max-h-lvh {
        max-height: 100lvh;
    }

    .lg\:max-h-dvh {
        max-height: 100dvh;
    }
}

@media (min-width: 1280px) {
    .xl\:h-0 {
        height: 0px;
    }

    .xl\:h-1 {
        height: 0.25rem;
    }

    .xl\:h-2 {
        height: 0.5rem;
    }

    .xl\:h-3 {
        height: 0.75rem;
    }

    .xl\:h-4 {
        height: 1rem;
    }

    .xl\:h-5 {
        height: 1.25rem;
    }

    .xl\:h-6 {
        height: 1.5rem;
    }

    .xl\:h-7 {
        height: 1.75rem;
    }

    .xl\:h-8 {
        height: 2rem;
    }

    .xl\:h-9 {
        height: 2.25rem;
    }

    .xl\:h-10 {
        height: 2.5rem;
    }

    .xl\:h-11 {
        height: 2.75rem;
    }

    .xl\:h-12 {
        height: 3rem;
    }

    .xl\:h-14 {
        height: 3.5rem;
    }

    .xl\:h-16 {
        height: 4rem;
    }

    .xl\:h-20 {
        height: 5rem;
    }

    .xl\:h-24 {
        height: 6rem;
    }

    .xl\:h-28 {
        height: 7rem;
    }

    .xl\:h-32 {
        height: 8rem;
    }

    .xl\:h-36 {
        height: 9rem;
    }

    .xl\:h-40 {
        height: 10rem;
    }

    .xl\:h-44 {
        height: 11rem;
    }

    .xl\:h-48 {
        height: 12rem;
    }

    .xl\:h-52 {
        height: 13rem;
    }

    .xl\:h-56 {
        height: 14rem;
    }

    .xl\:h-60 {
        height: 15rem;
    }

    .xl\:h-64 {
        height: 16rem;
    }

    .xl\:h-72 {
        height: 18rem;
    }

    .xl\:h-80 {
        height: 20rem;
    }

    .xl\:h-96 {
        height: 24rem;
    }

    .xl\:h-auto {
        height: auto;
    }

    .xl\:h-px {
        height: 1px;
    }

    .xl\:h-0-5 {
        height: 0.125rem;
    }

    .xl\:h-1-5 {
        height: 0.375rem;
    }

    .xl\:h-2-5 {
        height: 0.625rem;
    }

    .xl\:h-3-5 {
        height: 0.875rem;
    }

    .xl\:h-1--2 {
        height: 50%;
    }

    .xl\:h-1--3 {
        height: 33.333333%;
    }

    .xl\:h-2--3 {
        height: 66.666667%;
    }

    .xl\:h-1--4 {
        height: 25%;
    }

    .xl\:h-2--4 {
        height: 50%;
    }

    .xl\:h-3--4 {
        height: 75%;
    }

    .xl\:h-1--5 {
        height: 20%;
    }

    .xl\:h-2--5 {
        height: 40%;
    }

    .xl\:h-3--5 {
        height: 60%;
    }

    .xl\:h-4--5 {
        height: 80%;
    }

    .xl\:h-1--6 {
        height: 16.666667%;
    }

    .xl\:h-2--6 {
        height: 33.333333%;
    }

    .xl\:h-3--6 {
        height: 50%;
    }

    .xl\:h-4--6 {
        height: 66.666667%;
    }

    .xl\:h-5--6 {
        height: 83.333333%;
    }

    .xl\:h-full {
        height: 100%;
    }

    .xl\:h-screen {
        height: 100vh;
    }

    .xl\:h-svh {
        height: 100svh;
    }

    .xl\:h-lvh {
        height: 100lvh;
    }

    .xl\:h-dvh {
        height: 100dvh;
    }

    .xl\:min-h-svh {
        min-height: 100svh;
    }

    .xl\:min-h-lvh {
        min-height: 100lvh;
    }

    .xl\:min-h-dvh {
        min-height: 100dvh;
    }

    .xl\:max-h-svh {
        max-height: 100svh;
    }

    .xl\:max-h-lvh {
        max-height: 100lvh;
    }

    .xl\:max-h-dvh {
        max-height: 100dvh;
    }
}

@media (min-width: 1536px) {
    .\32xl\:h-0 {
        height: 0px;
    }

    .\32xl\:h-1 {
        height: 0.25rem;
    }

    .\32xl\:h-2 {
        height: 0.5rem;
    }

    .\32xl\:h-3 {
        height: 0.75rem;
    }

    .\32xl\:h-4 {
        height: 1rem;
    }

    .\32xl\:h-5 {
        height: 1.25rem;
    }

    .\32xl\:h-6 {
        height: 1.5rem;
    }

    .\32xl\:h-7 {
        height: 1.75rem;
    }

    .\32xl\:h-8 {
        height: 2rem;
    }

    .\32xl\:h-9 {
        height: 2.25rem;
    }

    .\32xl\:h-10 {
        height: 2.5rem;
    }

    .\32xl\:h-11 {
        height: 2.75rem;
    }

    .\32xl\:h-12 {
        height: 3rem;
    }

    .\32xl\:h-14 {
        height: 3.5rem;
    }

    .\32xl\:h-16 {
        height: 4rem;
    }

    .\32xl\:h-20 {
        height: 5rem;
    }

    .\32xl\:h-24 {
        height: 6rem;
    }

    .\32xl\:h-28 {
        height: 7rem;
    }

    .\32xl\:h-32 {
        height: 8rem;
    }

    .\32xl\:h-36 {
        height: 9rem;
    }

    .\32xl\:h-40 {
        height: 10rem;
    }

    .\32xl\:h-44 {
        height: 11rem;
    }

    .\32xl\:h-48 {
        height: 12rem;
    }

    .\32xl\:h-52 {
        height: 13rem;
    }

    .\32xl\:h-56 {
        height: 14rem;
    }

    .\32xl\:h-60 {
        height: 15rem;
    }

    .\32xl\:h-64 {
        height: 16rem;
    }

    .\32xl\:h-72 {
        height: 18rem;
    }

    .\32xl\:h-80 {
        height: 20rem;
    }

    .\32xl\:h-96 {
        height: 24rem;
    }

    .\32xl\:h-auto {
        height: auto;
    }

    .\32xl\:h-px {
        height: 1px;
    }

    .\32xl\:h-0-5 {
        height: 0.125rem;
    }

    .\32xl\:h-1-5 {
        height: 0.375rem;
    }

    .\32xl\:h-2-5 {
        height: 0.625rem;
    }

    .\32xl\:h-3-5 {
        height: 0.875rem;
    }

    .\32xl\:h-1--2 {
        height: 50%;
    }

    .\32xl\:h-1--3 {
        height: 33.333333%;
    }

    .\32xl\:h-2--3 {
        height: 66.666667%;
    }

    .\32xl\:h-1--4 {
        height: 25%;
    }

    .\32xl\:h-2--4 {
        height: 50%;
    }

    .\32xl\:h-3--4 {
        height: 75%;
    }

    .\32xl\:h-1--5 {
        height: 20%;
    }

    .\32xl\:h-2--5 {
        height: 40%;
    }

    .\32xl\:h-3--5 {
        height: 60%;
    }

    .\32xl\:h-4--5 {
        height: 80%;
    }

    .\32xl\:h-1--6 {
        height: 16.666667%;
    }

    .\32xl\:h-2--6 {
        height: 33.333333%;
    }

    .\32xl\:h-3--6 {
        height: 50%;
    }

    .\32xl\:h-4--6 {
        height: 66.666667%;
    }

    .\32xl\:h-5--6 {
        height: 83.333333%;
    }

    .\32xl\:h-full {
        height: 100%;
    }

    .\32xl\:h-screen {
        height: 100vh;
    }

    .\32xl\:h-svh {
        height: 100svh;
    }

    .\32xl\:h-lvh {
        height: 100lvh;
    }

    .\32xl\:h-dvh {
        height: 100dvh;
    }

    .\32xl\:min-h-svh {
        min-height: 100svh;
    }

    .\32xl\:min-h-lvh {
        min-height: 100lvh;
    }

    .\32xl\:min-h-dvh {
        min-height: 100dvh;
    }

    .\32xl\:max-h-svh {
        max-height: 100svh;
    }

    .\32xl\:max-h-lvh {
        max-height: 100lvh;
    }

    .\32xl\:max-h-dvh {
        max-height: 100dvh;
    }
}
