/* keyword values */
.image-orientation-none {
    image-orientation: none;
}

.image-orientation-from-image {
    image-orientation: from-image;
}

.image-orientation-inherit {
    image-orientation: inherit;
}

.image-orientation-initial {
    image-orientation: initial;
}

.image-orientation-revert {
    image-orientation: revert;
}

.image-orientation-unset {
    image-orientation: unset;
}

.image-rendering-auto {
    image-rendering: auto;
}

.image-rendering-crisp-edges {
    image-rendering: crisp-edges;
}

.image-rendering-pixelated {
    image-rendering: pixelated;
}

/* Global values */
.image-rendering-inherit {
    image-rendering: inherit;
}

.image-rendering-initial {
    image-rendering: initial;
}

.image-rendering-revert {
    image-rendering: revert;
}

.image-rendering-unset {
    image-rendering: unset;
}

// This is experimental  Check the Browser compatibility carefully before using this in production.

.image-resolution-from-image {
    image-resolution: from-image;
}

.image-resolution-300 {
    image-resolution: 300dpi;
}

.image-resolution-snap {
    image-resolution: 300dpi snap;
}

.image-resolution-inherit {
    image-resolution: inherit;
}

.image-resolution-initial {
    image-resolution: initial;
}

.image-resolution-revert {
    image-resolution: revert;
}

.image-resolution-unset {
    image-resolution: unset;
}
