.left-0 {
  left: 0px !important;
}

.left-1 {
  left: 0.25rem !important;
}

.left-2 {
  left: 0.5rem !important;
}

.left-3 {
  left: 0.75rem !important;
}

.left-4 {
  left: 1rem !important;
}

.left-5 {
  left: 1.25rem !important;
}

.left-6 {
  left: 1.5rem !important;
}

.left-7 {
  left: 1.75rem !important;
}

.left-8 {
  left: 2rem !important;
}

.left-9 {
  left: 2.25rem !important;
}

.left-10 {
  left: 2.5rem !important;
}

.left-11 {
  left: 2.75rem !important;
}

.left-12 {
  left: 3rem !important;
}

.left-14 {
  left: 3.5rem !important;
}

.left-16 {
  left: 4rem !important;
}

.left-20 {
  left: 5rem !important;
}

.left-24 {
  left: 6rem !important;
}

.left-28 {
  left: 7rem !important;
}

.left-32 {
  left: 8rem !important;
}

.left-36 {
  left: 9rem !important;
}

.left-40 {
  left: 10rem !important;
}

.left-44 {
  left: 11rem !important;
}

.left-48 {
  left: 12rem !important;
}

.left-52 {
  left: 13rem !important;
}

.left-56 {
  left: 14rem !important;
}

.left-60 {
  left: 15rem !important;
}

.left-64 {
  left: 16rem !important;
}

.left-72 {
  left: 18rem !important;
}

.left-80 {
  left: 20rem !important;
}

.left-96 {
  left: 24rem !important;
}

.left-auto {
  left: auto !important;
}

.left-px {
  left: 1px !important;
}

.left-0-5 {
  left: 0.125rem !important;
}

.left-1-5 {
  left: 0.375rem !important;
}

.left-2-5 {
  left: 0.625rem !important;
}

.left-3-5 {
  left: 0.875rem !important;
}

.-left-0 {
  left: 0px !important;
}

.-left-1 {
  left: -0.25rem !important;
}

.-left-2 {
  left: -0.5rem !important;
}

.-left-3 {
  left: -0.75rem !important;
}

.-left-4 {
  left: -1rem !important;
}

.-left-5 {
  left: -1.25rem !important;
}

.-left-6 {
  left: -1.5rem !important;
}

.-left-7 {
  left: -1.75rem !important;
}

.-left-8 {
  left: -2rem !important;
}

.-left-9 {
  left: -2.25rem !important;
}

.-left-10 {
  left: -2.5rem !important;
}

.-left-11 {
  left: -2.75rem !important;
}

.-left-12 {
  left: -3rem !important;
}

.-left-14 {
  left: -3.5rem !important;
}

.-left-16 {
  left: -4rem !important;
}

.-left-20 {
  left: -5rem !important;
}

.-left-24 {
  left: -6rem !important;
}

.-left-28 {
  left: -7rem !important;
}

.-left-32 {
  left: -8rem !important;
}

.-left-36 {
  left: -9rem !important;
}

.-left-40 {
  left: -10rem !important;
}

.-left-44 {
  left: -11rem !important;
}

.-left-48 {
  left: -12rem !important;
}

.-left-52 {
  left: -13rem !important;
}

.-left-56 {
  left: -14rem !important;
}

.-left-60 {
  left: -15rem !important;
}

.-left-64 {
  left: -16rem !important;
}

.-left-72 {
  left: -18rem !important;
}

.-left-80 {
  left: -20rem !important;
}

.-left-96 {
  left: -24rem !important;
}

.-left-px {
  left: -1px !important;
}

.-left-0-5 {
  left: -0.125rem !important;
}

.-left-1-5 {
  left: -0.375rem !important;
}

.-left-2-5 {
  left: -0.625rem !important;
}

.-left-3-5 {
  left: -0.875rem !important;
}

.left-1--2 {
  left: 50% !important;
}

.left-1--3 {
  left: 33.333333% !important;
}

.left-2--3 {
  left: 66.666667% !important;
}

.left-1--4 {
  left: 25% !important;
}

.left-2--4 {
  left: 50% !important;
}

.left-3--4 {
  left: 75% !important;
}

.left-full {
  left: 100% !important;
}

.-left-1--2 {
  left: -50% !important;
}

.-left-1--3 {
  left: -33.333333% !important;
}

.-left-2--3 {
  left: -66.666667% !important;
}

.-left-1--4 {
  left: -25% !important;
}

.-left-2--4 {
  left: -50% !important;
}

.-left-3--4 {
  left: -75% !important;
}

.-left-full {
  left: -100% !important;
}
@media (min-width: 360px) {
  .xs\:left-0 {
    left: 0px !important;
  }

  .xs\:left-1 {
    left: 0.25rem !important;
  }

  .xs\:left-2 {
    left: 0.5rem !important;
  }

  .xs\:left-3 {
    left: 0.75rem !important;
  }

  .xs\:left-4 {
    left: 1rem !important;
  }

  .xs\:left-5 {
    left: 1.25rem !important;
  }

  .xs\:left-6 {
    left: 1.5rem !important;
  }

  .xs\:left-7 {
    left: 1.75rem !important;
  }

  .xs\:left-8 {
    left: 2rem !important;
  }

  .xs\:left-9 {
    left: 2.25rem !important;
  }

  .xs\:left-10 {
    left: 2.5rem !important;
  }

  .xs\:left-11 {
    left: 2.75rem !important;
  }

  .xs\:left-12 {
    left: 3rem !important;
  }

  .xs\:left-14 {
    left: 3.5rem !important;
  }

  .xs\:left-16 {
    left: 4rem !important;
  }

  .xs\:left-20 {
    left: 5rem !important;
  }

  .xs\:left-24 {
    left: 6rem !important;
  }

  .xs\:left-28 {
    left: 7rem !important;
  }

  .xs\:left-32 {
    left: 8rem !important;
  }

  .xs\:left-36 {
    left: 9rem !important;
  }

  .xs\:left-40 {
    left: 10rem !important;
  }

  .xs\:left-44 {
    left: 11rem !important;
  }

  .xs\:left-48 {
    left: 12rem !important;
  }

  .xs\:left-52 {
    left: 13rem !important;
  }

  .xs\:left-56 {
    left: 14rem !important;
  }

  .xs\:left-60 {
    left: 15rem !important;
  }

  .xs\:left-64 {
    left: 16rem !important;
  }

  .xs\:left-72 {
    left: 18rem !important;
  }

  .xs\:left-80 {
    left: 20rem !important;
  }

  .xs\:left-96 {
    left: 24rem !important;
  }

  .xs\:left-auto {
    left: auto !important;
  }

  .xs\:left-px {
    left: 1px !important;
  }

  .xs\:left-0-5 {
    left: 0.125rem !important;
  }

  .xs\:left-1-5 {
    left: 0.375rem !important;
  }

  .xs\:left-2-5 {
    left: 0.625rem !important;
  }

  .xs\:left-3-5 {
    left: 0.875rem !important;
  }

  .xs\:-left-0 {
    left: 0px !important;
  }

  .xs\:-left-1 {
    left: -0.25rem !important;
  }

  .xs\:-left-2 {
    left: -0.5rem !important;
  }

  .xs\:-left-3 {
    left: -0.75rem !important;
  }

  .xs\:-left-4 {
    left: -1rem !important;
  }

  .xs\:-left-5 {
    left: -1.25rem !important;
  }

  .xs\:-left-6 {
    left: -1.5rem !important;
  }

  .xs\:-left-7 {
    left: -1.75rem !important;
  }

  .xs\:-left-8 {
    left: -2rem !important;
  }

  .xs\:-left-9 {
    left: -2.25rem !important;
  }

  .xs\:-left-10 {
    left: -2.5rem !important;
  }

  .xs\:-left-11 {
    left: -2.75rem !important;
  }

  .xs\:-left-12 {
    left: -3rem !important;
  }

  .xs\:-left-14 {
    left: -3.5rem !important;
  }

  .xs\:-left-16 {
    left: -4rem !important;
  }

  .xs\:-left-20 {
    left: -5rem !important;
  }

  .xs\:-left-24 {
    left: -6rem !important;
  }

  .xs\:-left-28 {
    left: -7rem !important;
  }

  .xs\:-left-32 {
    left: -8rem !important;
  }

  .xs\:-left-36 {
    left: -9rem !important;
  }

  .xs\:-left-40 {
    left: -10rem !important;
  }

  .xs\:-left-44 {
    left: -11rem !important;
  }

  .xs\:-left-48 {
    left: -12rem !important;
  }

  .xs\:-left-52 {
    left: -13rem !important;
  }

  .xs\:-left-56 {
    left: -14rem !important;
  }

  .xs\:-left-60 {
    left: -15rem !important;
  }

  .xs\:-left-64 {
    left: -16rem !important;
  }

  .xs\:-left-72 {
    left: -18rem !important;
  }

  .xs\:-left-80 {
    left: -20rem !important;
  }

  .xs\:-left-96 {
    left: -24rem !important;
  }

  .xs\:-left-px {
    left: -1px !important;
  }

  .xs\:-left-0-5 {
    left: -0.125rem !important;
  }

  .xs\:-left-1-5 {
    left: -0.375rem !important;
  }

  .xs\:-left-2-5 {
    left: -0.625rem !important;
  }

  .xs\:-left-3-5 {
    left: -0.875rem !important;
  }

  .xs\:left-1--2 {
    left: 50% !important;
  }

  .xs\:left-1--3 {
    left: 33.333333% !important;
  }

  .xs\:left-2--3 {
    left: 66.666667% !important;
  }

  .xs\:left-1--4 {
    left: 25% !important;
  }

  .xs\:left-2--4 {
    left: 50% !important;
  }

  .xs\:left-3--4 {
    left: 75% !important;
  }

  .xs\:left-full {
    left: 100% !important;
  }

  .xs\:-left-1--2 {
    left: -50% !important;
  }

  .xs\:-left-1--3 {
    left: -33.333333% !important;
  }

  .xs\:-left-2--3 {
    left: -66.666667% !important;
  }

  .xs\:-left-1--4 {
    left: -25% !important;
  }

  .xs\:-left-2--4 {
    left: -50% !important;
  }

  .xs\:-left-3--4 {
    left: -75% !important;
  }

  .xs\:-left-full {
    left: -100% !important;
  }
}

@media (min-width: 640px) {
  .sm\:left-0 {
    left: 0px !important;
  }

  .sm\:left-1 {
    left: 0.25rem !important;
  }

  .sm\:left-2 {
    left: 0.5rem !important;
  }

  .sm\:left-3 {
    left: 0.75rem !important;
  }

  .sm\:left-4 {
    left: 1rem !important;
  }

  .sm\:left-5 {
    left: 1.25rem !important;
  }

  .sm\:left-6 {
    left: 1.5rem !important;
  }

  .sm\:left-7 {
    left: 1.75rem !important;
  }

  .sm\:left-8 {
    left: 2rem !important;
  }

  .sm\:left-9 {
    left: 2.25rem !important;
  }

  .sm\:left-10 {
    left: 2.5rem !important;
  }

  .sm\:left-11 {
    left: 2.75rem !important;
  }

  .sm\:left-12 {
    left: 3rem !important;
  }

  .sm\:left-14 {
    left: 3.5rem !important;
  }

  .sm\:left-16 {
    left: 4rem !important;
  }

  .sm\:left-20 {
    left: 5rem !important;
  }

  .sm\:left-24 {
    left: 6rem !important;
  }

  .sm\:left-28 {
    left: 7rem !important;
  }

  .sm\:left-32 {
    left: 8rem !important;
  }

  .sm\:left-36 {
    left: 9rem !important;
  }

  .sm\:left-40 {
    left: 10rem !important;
  }

  .sm\:left-44 {
    left: 11rem !important;
  }

  .sm\:left-48 {
    left: 12rem !important;
  }

  .sm\:left-52 {
    left: 13rem !important;
  }

  .sm\:left-56 {
    left: 14rem !important;
  }

  .sm\:left-60 {
    left: 15rem !important;
  }

  .sm\:left-64 {
    left: 16rem !important;
  }

  .sm\:left-72 {
    left: 18rem !important;
  }

  .sm\:left-80 {
    left: 20rem !important;
  }

  .sm\:left-96 {
    left: 24rem !important;
  }

  .sm\:left-auto {
    left: auto !important;
  }

  .sm\:left-px {
    left: 1px !important;
  }

  .sm\:left-0-5 {
    left: 0.125rem !important;
  }

  .sm\:left-1-5 {
    left: 0.375rem !important;
  }

  .sm\:left-2-5 {
    left: 0.625rem !important;
  }

  .sm\:left-3-5 {
    left: 0.875rem !important;
  }

  .sm\:-left-0 {
    left: 0px !important;
  }

  .sm\:-left-1 {
    left: -0.25rem !important;
  }

  .sm\:-left-2 {
    left: -0.5rem !important;
  }

  .sm\:-left-3 {
    left: -0.75rem !important;
  }

  .sm\:-left-4 {
    left: -1rem !important;
  }

  .sm\:-left-5 {
    left: -1.25rem !important;
  }

  .sm\:-left-6 {
    left: -1.5rem !important;
  }

  .sm\:-left-7 {
    left: -1.75rem !important;
  }

  .sm\:-left-8 {
    left: -2rem !important;
  }

  .sm\:-left-9 {
    left: -2.25rem !important;
  }

  .sm\:-left-10 {
    left: -2.5rem !important;
  }

  .sm\:-left-11 {
    left: -2.75rem !important;
  }

  .sm\:-left-12 {
    left: -3rem !important;
  }

  .sm\:-left-14 {
    left: -3.5rem !important;
  }

  .sm\:-left-16 {
    left: -4rem !important;
  }

  .sm\:-left-20 {
    left: -5rem !important;
  }

  .sm\:-left-24 {
    left: -6rem !important;
  }

  .sm\:-left-28 {
    left: -7rem !important;
  }

  .sm\:-left-32 {
    left: -8rem !important;
  }

  .sm\:-left-36 {
    left: -9rem !important;
  }

  .sm\:-left-40 {
    left: -10rem !important;
  }

  .sm\:-left-44 {
    left: -11rem !important;
  }

  .sm\:-left-48 {
    left: -12rem !important;
  }

  .sm\:-left-52 {
    left: -13rem !important;
  }

  .sm\:-left-56 {
    left: -14rem !important;
  }

  .sm\:-left-60 {
    left: -15rem !important;
  }

  .sm\:-left-64 {
    left: -16rem !important;
  }

  .sm\:-left-72 {
    left: -18rem !important;
  }

  .sm\:-left-80 {
    left: -20rem !important;
  }

  .sm\:-left-96 {
    left: -24rem !important;
  }

  .sm\:-left-px {
    left: -1px !important;
  }

  .sm\:-left-0-5 {
    left: -0.125rem !important;
  }

  .sm\:-left-1-5 {
    left: -0.375rem !important;
  }

  .sm\:-left-2-5 {
    left: -0.625rem !important;
  }

  .sm\:-left-3-5 {
    left: -0.875rem !important;
  }

  .sm\:left-1--2 {
    left: 50% !important;
  }

  .sm\:left-1--3 {
    left: 33.333333% !important;
  }

  .sm\:left-2--3 {
    left: 66.666667% !important;
  }

  .sm\:left-1--4 {
    left: 25% !important;
  }

  .sm\:left-2--4 {
    left: 50% !important;
  }

  .sm\:left-3--4 {
    left: 75% !important;
  }

  .sm\:left-full {
    left: 100% !important;
  }

  .sm\:-left-1--2 {
    left: -50% !important;
  }

  .sm\:-left-1--3 {
    left: -33.333333% !important;
  }

  .sm\:-left-2--3 {
    left: -66.666667% !important;
  }

  .sm\:-left-1--4 {
    left: -25% !important;
  }

  .sm\:-left-2--4 {
    left: -50% !important;
  }

  .sm\:-left-3--4 {
    left: -75% !important;
  }

  .sm\:-left-full {
    left: -100% !important;
  }
}

@media (min-width: 768px) {
  .md\:left-0 {
    left: 0px !important;
  }

  .md\:left-1 {
    left: 0.25rem !important;
  }

  .md\:left-2 {
    left: 0.5rem !important;
  }

  .md\:left-3 {
    left: 0.75rem !important;
  }

  .md\:left-4 {
    left: 1rem !important;
  }

  .md\:left-5 {
    left: 1.25rem !important;
  }

  .md\:left-6 {
    left: 1.5rem !important;
  }

  .md\:left-7 {
    left: 1.75rem !important;
  }

  .md\:left-8 {
    left: 2rem !important;
  }

  .md\:left-9 {
    left: 2.25rem !important;
  }

  .md\:left-10 {
    left: 2.5rem !important;
  }

  .md\:left-11 {
    left: 2.75rem !important;
  }

  .md\:left-12 {
    left: 3rem !important;
  }

  .md\:left-14 {
    left: 3.5rem !important;
  }

  .md\:left-16 {
    left: 4rem !important;
  }

  .md\:left-20 {
    left: 5rem !important;
  }

  .md\:left-24 {
    left: 6rem !important;
  }

  .md\:left-28 {
    left: 7rem !important;
  }

  .md\:left-32 {
    left: 8rem !important;
  }

  .md\:left-36 {
    left: 9rem !important;
  }

  .md\:left-40 {
    left: 10rem !important;
  }

  .md\:left-44 {
    left: 11rem !important;
  }

  .md\:left-48 {
    left: 12rem !important;
  }

  .md\:left-52 {
    left: 13rem !important;
  }

  .md\:left-56 {
    left: 14rem !important;
  }

  .md\:left-60 {
    left: 15rem !important;
  }

  .md\:left-64 {
    left: 16rem !important;
  }

  .md\:left-72 {
    left: 18rem !important;
  }

  .md\:left-80 {
    left: 20rem !important;
  }

  .md\:left-96 {
    left: 24rem !important;
  }

  .md\:left-auto {
    left: auto !important;
  }

  .md\:left-px {
    left: 1px !important;
  }

  .md\:left-0-5 {
    left: 0.125rem !important;
  }

  .md\:left-1-5 {
    left: 0.375rem !important;
  }

  .md\:left-2-5 {
    left: 0.625rem !important;
  }

  .md\:left-3-5 {
    left: 0.875rem !important;
  }

  .md\:-left-0 {
    left: 0px !important;
  }

  .md\:-left-1 {
    left: -0.25rem !important;
  }

  .md\:-left-2 {
    left: -0.5rem !important;
  }

  .md\:-left-3 {
    left: -0.75rem !important;
  }

  .md\:-left-4 {
    left: -1rem !important;
  }

  .md\:-left-5 {
    left: -1.25rem !important;
  }

  .md\:-left-6 {
    left: -1.5rem !important;
  }

  .md\:-left-7 {
    left: -1.75rem !important;
  }

  .md\:-left-8 {
    left: -2rem !important;
  }

  .md\:-left-9 {
    left: -2.25rem !important;
  }

  .md\:-left-10 {
    left: -2.5rem !important;
  }

  .md\:-left-11 {
    left: -2.75rem !important;
  }

  .md\:-left-12 {
    left: -3rem !important;
  }

  .md\:-left-14 {
    left: -3.5rem !important;
  }

  .md\:-left-16 {
    left: -4rem !important;
  }

  .md\:-left-20 {
    left: -5rem !important;
  }

  .md\:-left-24 {
    left: -6rem !important;
  }

  .md\:-left-28 {
    left: -7rem !important;
  }

  .md\:-left-32 {
    left: -8rem !important;
  }

  .md\:-left-36 {
    left: -9rem !important;
  }

  .md\:-left-40 {
    left: -10rem !important;
  }

  .md\:-left-44 {
    left: -11rem !important;
  }

  .md\:-left-48 {
    left: -12rem !important;
  }

  .md\:-left-52 {
    left: -13rem !important;
  }

  .md\:-left-56 {
    left: -14rem !important;
  }

  .md\:-left-60 {
    left: -15rem !important;
  }

  .md\:-left-64 {
    left: -16rem !important;
  }

  .md\:-left-72 {
    left: -18rem !important;
  }

  .md\:-left-80 {
    left: -20rem !important;
  }

  .md\:-left-96 {
    left: -24rem !important;
  }

  .md\:-left-px {
    left: -1px !important;
  }

  .md\:-left-0-5 {
    left: -0.125rem !important;
  }

  .md\:-left-1-5 {
    left: -0.375rem !important;
  }

  .md\:-left-2-5 {
    left: -0.625rem !important;
  }

  .md\:-left-3-5 {
    left: -0.875rem !important;
  }

  .md\:left-1--2 {
    left: 50% !important;
  }

  .md\:left-1--3 {
    left: 33.333333% !important;
  }

  .md\:left-2--3 {
    left: 66.666667% !important;
  }

  .md\:left-1--4 {
    left: 25% !important;
  }

  .md\:left-2--4 {
    left: 50% !important;
  }

  .md\:left-3--4 {
    left: 75% !important;
  }

  .md\:left-full {
    left: 100% !important;
  }

  .md\:-left-1--2 {
    left: -50% !important;
  }

  .md\:-left-1--3 {
    left: -33.333333% !important;
  }

  .md\:-left-2--3 {
    left: -66.666667% !important;
  }

  .md\:-left-1--4 {
    left: -25% !important;
  }

  .md\:-left-2--4 {
    left: -50% !important;
  }

  .md\:-left-3--4 {
    left: -75% !important;
  }

  .md\:-left-full {
    left: -100% !important;
  }
}

@media (min-width: 1024px) {
  .lg\:left-0 {
    left: 0px !important;
  }

  .lg\:left-1 {
    left: 0.25rem !important;
  }

  .lg\:left-2 {
    left: 0.5rem !important;
  }

  .lg\:left-3 {
    left: 0.75rem !important;
  }

  .lg\:left-4 {
    left: 1rem !important;
  }

  .lg\:left-5 {
    left: 1.25rem !important;
  }

  .lg\:left-6 {
    left: 1.5rem !important;
  }

  .lg\:left-7 {
    left: 1.75rem !important;
  }

  .lg\:left-8 {
    left: 2rem !important;
  }

  .lg\:left-9 {
    left: 2.25rem !important;
  }

  .lg\:left-10 {
    left: 2.5rem !important;
  }

  .lg\:left-11 {
    left: 2.75rem !important;
  }

  .lg\:left-12 {
    left: 3rem !important;
  }

  .lg\:left-14 {
    left: 3.5rem !important;
  }

  .lg\:left-16 {
    left: 4rem !important;
  }

  .lg\:left-20 {
    left: 5rem !important;
  }

  .lg\:left-24 {
    left: 6rem !important;
  }

  .lg\:left-28 {
    left: 7rem !important;
  }

  .lg\:left-32 {
    left: 8rem !important;
  }

  .lg\:left-36 {
    left: 9rem !important;
  }

  .lg\:left-40 {
    left: 10rem !important;
  }

  .lg\:left-44 {
    left: 11rem !important;
  }

  .lg\:left-48 {
    left: 12rem !important;
  }

  .lg\:left-52 {
    left: 13rem !important;
  }

  .lg\:left-56 {
    left: 14rem !important;
  }

  .lg\:left-60 {
    left: 15rem !important;
  }

  .lg\:left-64 {
    left: 16rem !important;
  }

  .lg\:left-72 {
    left: 18rem !important;
  }

  .lg\:left-80 {
    left: 20rem !important;
  }

  .lg\:left-96 {
    left: 24rem !important;
  }

  .lg\:left-auto {
    left: auto !important;
  }

  .lg\:left-px {
    left: 1px !important;
  }

  .lg\:left-0-5 {
    left: 0.125rem !important;
  }

  .lg\:left-1-5 {
    left: 0.375rem !important;
  }

  .lg\:left-2-5 {
    left: 0.625rem !important;
  }

  .lg\:left-3-5 {
    left: 0.875rem !important;
  }

  .lg\:-left-0 {
    left: 0px !important;
  }

  .lg\:-left-1 {
    left: -0.25rem !important;
  }

  .lg\:-left-2 {
    left: -0.5rem !important;
  }

  .lg\:-left-3 {
    left: -0.75rem !important;
  }

  .lg\:-left-4 {
    left: -1rem !important;
  }

  .lg\:-left-5 {
    left: -1.25rem !important;
  }

  .lg\:-left-6 {
    left: -1.5rem !important;
  }

  .lg\:-left-7 {
    left: -1.75rem !important;
  }

  .lg\:-left-8 {
    left: -2rem !important;
  }

  .lg\:-left-9 {
    left: -2.25rem !important;
  }

  .lg\:-left-10 {
    left: -2.5rem !important;
  }

  .lg\:-left-11 {
    left: -2.75rem !important;
  }

  .lg\:-left-12 {
    left: -3rem !important;
  }

  .lg\:-left-14 {
    left: -3.5rem !important;
  }

  .lg\:-left-16 {
    left: -4rem !important;
  }

  .lg\:-left-20 {
    left: -5rem !important;
  }

  .lg\:-left-24 {
    left: -6rem !important;
  }

  .lg\:-left-28 {
    left: -7rem !important;
  }

  .lg\:-left-32 {
    left: -8rem !important;
  }

  .lg\:-left-36 {
    left: -9rem !important;
  }

  .lg\:-left-40 {
    left: -10rem !important;
  }

  .lg\:-left-44 {
    left: -11rem !important;
  }

  .lg\:-left-48 {
    left: -12rem !important;
  }

  .lg\:-left-52 {
    left: -13rem !important;
  }

  .lg\:-left-56 {
    left: -14rem !important;
  }

  .lg\:-left-60 {
    left: -15rem !important;
  }

  .lg\:-left-64 {
    left: -16rem !important;
  }

  .lg\:-left-72 {
    left: -18rem !important;
  }

  .lg\:-left-80 {
    left: -20rem !important;
  }

  .lg\:-left-96 {
    left: -24rem !important;
  }

  .lg\:-left-px {
    left: -1px !important;
  }

  .lg\:-left-0-5 {
    left: -0.125rem !important;
  }

  .lg\:-left-1-5 {
    left: -0.375rem !important;
  }

  .lg\:-left-2-5 {
    left: -0.625rem !important;
  }

  .lg\:-left-3-5 {
    left: -0.875rem !important;
  }

  .lg\:left-1--2 {
    left: 50% !important;
  }

  .lg\:left-1--3 {
    left: 33.333333% !important;
  }

  .lg\:left-2--3 {
    left: 66.666667% !important;
  }

  .lg\:left-1--4 {
    left: 25% !important;
  }

  .lg\:left-2--4 {
    left: 50% !important;
  }

  .lg\:left-3--4 {
    left: 75% !important;
  }

  .lg\:left-full {
    left: 100% !important;
  }

  .lg\:-left-1--2 {
    left: -50% !important;
  }

  .lg\:-left-1--3 {
    left: -33.333333% !important;
  }

  .lg\:-left-2--3 {
    left: -66.666667% !important;
  }

  .lg\:-left-1--4 {
    left: -25% !important;
  }

  .lg\:-left-2--4 {
    left: -50% !important;
  }

  .lg\:-left-3--4 {
    left: -75% !important;
  }

  .lg\:-left-full {
    left: -100% !important;
  }
}

@media (min-width: 1280px) {
  .xl\:left-0 {
    left: 0px !important;
  }

  .xl\:left-1 {
    left: 0.25rem !important;
  }

  .xl\:left-2 {
    left: 0.5rem !important;
  }

  .xl\:left-3 {
    left: 0.75rem !important;
  }

  .xl\:left-4 {
    left: 1rem !important;
  }

  .xl\:left-5 {
    left: 1.25rem !important;
  }

  .xl\:left-6 {
    left: 1.5rem !important;
  }

  .xl\:left-7 {
    left: 1.75rem !important;
  }

  .xl\:left-8 {
    left: 2rem !important;
  }

  .xl\:left-9 {
    left: 2.25rem !important;
  }

  .xl\:left-10 {
    left: 2.5rem !important;
  }

  .xl\:left-11 {
    left: 2.75rem !important;
  }

  .xl\:left-12 {
    left: 3rem !important;
  }

  .xl\:left-14 {
    left: 3.5rem !important;
  }

  .xl\:left-16 {
    left: 4rem !important;
  }

  .xl\:left-20 {
    left: 5rem !important;
  }

  .xl\:left-24 {
    left: 6rem !important;
  }

  .xl\:left-28 {
    left: 7rem !important;
  }

  .xl\:left-32 {
    left: 8rem !important;
  }

  .xl\:left-36 {
    left: 9rem !important;
  }

  .xl\:left-40 {
    left: 10rem !important;
  }

  .xl\:left-44 {
    left: 11rem !important;
  }

  .xl\:left-48 {
    left: 12rem !important;
  }

  .xl\:left-52 {
    left: 13rem !important;
  }

  .xl\:left-56 {
    left: 14rem !important;
  }

  .xl\:left-60 {
    left: 15rem !important;
  }

  .xl\:left-64 {
    left: 16rem !important;
  }

  .xl\:left-72 {
    left: 18rem !important;
  }

  .xl\:left-80 {
    left: 20rem !important;
  }

  .xl\:left-96 {
    left: 24rem !important;
  }

  .xl\:left-auto {
    left: auto !important;
  }

  .xl\:left-px {
    left: 1px !important;
  }

  .xl\:left-0-5 {
    left: 0.125rem !important;
  }

  .xl\:left-1-5 {
    left: 0.375rem !important;
  }

  .xl\:left-2-5 {
    left: 0.625rem !important;
  }

  .xl\:left-3-5 {
    left: 0.875rem !important;
  }

  .xl\:-left-0 {
    left: 0px !important;
  }

  .xl\:-left-1 {
    left: -0.25rem !important;
  }

  .xl\:-left-2 {
    left: -0.5rem !important;
  }

  .xl\:-left-3 {
    left: -0.75rem !important;
  }

  .xl\:-left-4 {
    left: -1rem !important;
  }

  .xl\:-left-5 {
    left: -1.25rem !important;
  }

  .xl\:-left-6 {
    left: -1.5rem !important;
  }

  .xl\:-left-7 {
    left: -1.75rem !important;
  }

  .xl\:-left-8 {
    left: -2rem !important;
  }

  .xl\:-left-9 {
    left: -2.25rem !important;
  }

  .xl\:-left-10 {
    left: -2.5rem !important;
  }

  .xl\:-left-11 {
    left: -2.75rem !important;
  }

  .xl\:-left-12 {
    left: -3rem !important;
  }

  .xl\:-left-14 {
    left: -3.5rem !important;
  }

  .xl\:-left-16 {
    left: -4rem !important;
  }

  .xl\:-left-20 {
    left: -5rem !important;
  }

  .xl\:-left-24 {
    left: -6rem !important;
  }

  .xl\:-left-28 {
    left: -7rem !important;
  }

  .xl\:-left-32 {
    left: -8rem !important;
  }

  .xl\:-left-36 {
    left: -9rem !important;
  }

  .xl\:-left-40 {
    left: -10rem !important;
  }

  .xl\:-left-44 {
    left: -11rem !important;
  }

  .xl\:-left-48 {
    left: -12rem !important;
  }

  .xl\:-left-52 {
    left: -13rem !important;
  }

  .xl\:-left-56 {
    left: -14rem !important;
  }

  .xl\:-left-60 {
    left: -15rem !important;
  }

  .xl\:-left-64 {
    left: -16rem !important;
  }

  .xl\:-left-72 {
    left: -18rem !important;
  }

  .xl\:-left-80 {
    left: -20rem !important;
  }

  .xl\:-left-96 {
    left: -24rem !important;
  }

  .xl\:-left-px {
    left: -1px !important;
  }

  .xl\:-left-0-5 {
    left: -0.125rem !important;
  }

  .xl\:-left-1-5 {
    left: -0.375rem !important;
  }

  .xl\:-left-2-5 {
    left: -0.625rem !important;
  }

  .xl\:-left-3-5 {
    left: -0.875rem !important;
  }

  .xl\:left-1--2 {
    left: 50% !important;
  }

  .xl\:left-1--3 {
    left: 33.333333% !important;
  }

  .xl\:left-2--3 {
    left: 66.666667% !important;
  }

  .xl\:left-1--4 {
    left: 25% !important;
  }

  .xl\:left-2--4 {
    left: 50% !important;
  }

  .xl\:left-3--4 {
    left: 75% !important;
  }

  .xl\:left-full {
    left: 100% !important;
  }

  .xl\:-left-1--2 {
    left: -50% !important;
  }

  .xl\:-left-1--3 {
    left: -33.333333% !important;
  }

  .xl\:-left-2--3 {
    left: -66.666667% !important;
  }

  .xl\:-left-1--4 {
    left: -25% !important;
  }

  .xl\:-left-2--4 {
    left: -50% !important;
  }

  .xl\:-left-3--4 {
    left: -75% !important;
  }

  .xl\:-left-full {
    left: -100% !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:left-0 {
    left: 0px !important;
  }

  .\32xl\:left-1 {
    left: 0.25rem !important;
  }

  .\32xl\:left-2 {
    left: 0.5rem !important;
  }

  .\32xl\:left-3 {
    left: 0.75rem !important;
  }

  .\32xl\:left-4 {
    left: 1rem !important;
  }

  .\32xl\:left-5 {
    left: 1.25rem !important;
  }

  .\32xl\:left-6 {
    left: 1.5rem !important;
  }

  .\32xl\:left-7 {
    left: 1.75rem !important;
  }

  .\32xl\:left-8 {
    left: 2rem !important;
  }

  .\32xl\:left-9 {
    left: 2.25rem !important;
  }

  .\32xl\:left-10 {
    left: 2.5rem !important;
  }

  .\32xl\:left-11 {
    left: 2.75rem !important;
  }

  .\32xl\:left-12 {
    left: 3rem !important;
  }

  .\32xl\:left-14 {
    left: 3.5rem !important;
  }

  .\32xl\:left-16 {
    left: 4rem !important;
  }

  .\32xl\:left-20 {
    left: 5rem !important;
  }

  .\32xl\:left-24 {
    left: 6rem !important;
  }

  .\32xl\:left-28 {
    left: 7rem !important;
  }

  .\32xl\:left-32 {
    left: 8rem !important;
  }

  .\32xl\:left-36 {
    left: 9rem !important;
  }

  .\32xl\:left-40 {
    left: 10rem !important;
  }

  .\32xl\:left-44 {
    left: 11rem !important;
  }

  .\32xl\:left-48 {
    left: 12rem !important;
  }

  .\32xl\:left-52 {
    left: 13rem !important;
  }

  .\32xl\:left-56 {
    left: 14rem !important;
  }

  .\32xl\:left-60 {
    left: 15rem !important;
  }

  .\32xl\:left-64 {
    left: 16rem !important;
  }

  .\32xl\:left-72 {
    left: 18rem !important;
  }

  .\32xl\:left-80 {
    left: 20rem !important;
  }

  .\32xl\:left-96 {
    left: 24rem !important;
  }

  .\32xl\:left-auto {
    left: auto !important;
  }

  .\32xl\:left-px {
    left: 1px !important;
  }

  .\32xl\:left-0-5 {
    left: 0.125rem !important;
  }

  .\32xl\:left-1-5 {
    left: 0.375rem !important;
  }

  .\32xl\:left-2-5 {
    left: 0.625rem !important;
  }

  .\32xl\:left-3-5 {
    left: 0.875rem !important;
  }

  .\32xl\:-left-0 {
    left: 0px !important;
  }

  .\32xl\:-left-1 {
    left: -0.25rem !important;
  }

  .\32xl\:-left-2 {
    left: -0.5rem !important;
  }

  .\32xl\:-left-3 {
    left: -0.75rem !important;
  }

  .\32xl\:-left-4 {
    left: -1rem !important;
  }

  .\32xl\:-left-5 {
    left: -1.25rem !important;
  }

  .\32xl\:-left-6 {
    left: -1.5rem !important;
  }

  .\32xl\:-left-7 {
    left: -1.75rem !important;
  }

  .\32xl\:-left-8 {
    left: -2rem !important;
  }

  .\32xl\:-left-9 {
    left: -2.25rem !important;
  }

  .\32xl\:-left-10 {
    left: -2.5rem !important;
  }

  .\32xl\:-left-11 {
    left: -2.75rem !important;
  }

  .\32xl\:-left-12 {
    left: -3rem !important;
  }

  .\32xl\:-left-14 {
    left: -3.5rem !important;
  }

  .\32xl\:-left-16 {
    left: -4rem !important;
  }

  .\32xl\:-left-20 {
    left: -5rem !important;
  }

  .\32xl\:-left-24 {
    left: -6rem !important;
  }

  .\32xl\:-left-28 {
    left: -7rem !important;
  }

  .\32xl\:-left-32 {
    left: -8rem !important;
  }

  .\32xl\:-left-36 {
    left: -9rem !important;
  }

  .\32xl\:-left-40 {
    left: -10rem !important;
  }

  .\32xl\:-left-44 {
    left: -11rem !important;
  }

  .\32xl\:-left-48 {
    left: -12rem !important;
  }

  .\32xl\:-left-52 {
    left: -13rem !important;
  }

  .\32xl\:-left-56 {
    left: -14rem !important;
  }

  .\32xl\:-left-60 {
    left: -15rem !important;
  }

  .\32xl\:-left-64 {
    left: -16rem !important;
  }

  .\32xl\:-left-72 {
    left: -18rem !important;
  }

  .\32xl\:-left-80 {
    left: -20rem !important;
  }

  .\32xl\:-left-96 {
    left: -24rem !important;
  }

  .\32xl\:-left-px {
    left: -1px !important;
  }

  .\32xl\:-left-0-5 {
    left: -0.125rem !important;
  }

  .\32xl\:-left-1-5 {
    left: -0.375rem !important;
  }

  .\32xl\:-left-2-5 {
    left: -0.625rem !important;
  }

  .\32xl\:-left-3-5 {
    left: -0.875rem !important;
  }

  .\32xl\:left-1--2 {
    left: 50% !important;
  }

  .\32xl\:left-1--3 {
    left: 33.333333% !important;
  }

  .\32xl\:left-2--3 {
    left: 66.666667% !important;
  }

  .\32xl\:left-1--4 {
    left: 25% !important;
  }

  .\32xl\:left-2--4 {
    left: 50% !important;
  }

  .\32xl\:left-3--4 {
    left: 75% !important;
  }

  .\32xl\:left-full {
    left: 100% !important;
  }

  .\32xl\:-left-1--2 {
    left: -50% !important;
  }

  .\32xl\:-left-1--3 {
    left: -33.333333% !important;
  }

  .\32xl\:-left-2--3 {
    left: -66.666667% !important;
  }

  .\32xl\:-left-1--4 {
    left: -25% !important;
  }

  .\32xl\:-left-2--4 {
    left: -50% !important;
  }

  .\32xl\:-left-3--4 {
    left: -75% !important;
  }

  .\32xl\:-left-full {
    left: -100% !important;
  }
}
