.link-transparent {
  color: transparent !important;
}

.link-slate {
  color: var(--slate) !important;
}

.link-slate-100 {
  color: var(--slate-100) !important;
}

.link-slate-200 {
  color: var(--slate-200) !important;
}

.link-slate-300 {
  color: var(--slate-300) !important;
}

.link-slate-400 {
  color: var(--slate-400) !important;
}

.link-slate-500 {
  color: var(--slate-500) !important;
}

.link-slate-600 {
  color: var(--slate-600) !important;
}

.link-slate-700 {
  color: var(--slate-700) !important;
}

.link-slate-800 {
  color: var(--slate-800) !important;
}

.link-slate-900 {
  color: var(--slate-900) !important;
}

.link-blue-50 {
  color: var(--blue-50) !important;
}

.link-blue-100 {
  color: var(--blue-100) !important;
}

.link-blue-200 {
  color: var(--blue-200) !important;
}

.link-blue-300 {
  color: var(--blue-300) !important;
}

.link-blue-400 {
  color: var(--blue-400) !important;
}

.link-blue-500 {
  color: var(--blue-500) !important;
}

.link-blue-600 {
  color: var(--blue-600) !important;
}

.link-blue-700 {
  color: var(--blue-700) !important;
}

.link-blue-800 {
  color: var(--blue-800) !important;
}

.link-blue-900 {
  color: var(--blue-900) !important;
}

.link-light-blue-100 {
  color: var(--light-blue-100) !important;
}

.link-light-blue-200 {
  color: var(--light-blue-200) !important;
}

.link-light-blue-300 {
  color: var(--light-blue-300) !important;
}

.link-light-blue-400 {
  color: var(--light-blue-400) !important;
}

.link-light-blue-500 {
  color: var(--light-blue-500) !important;
}

.link-light-blue-600 {
  color: var(--light-blue-600) !important;
}

.link-light-blue-700 {
  color: var(--light-blue-700) !important;
}

.link-light-blue-800 {
  color: var(--light-blue-800) !important;
}

.link-light-blue-900 {
  color: var(--light-blue-900) !important;
}

.link-indigo-100 {
  color: var(--indigo-100) !important;
}

.link-indigo-200 {
  color: var(--indigo-200) !important;
}

.link-indigo-300 {
  color: var(--indigo-300) !important;
}

.link-indigo-400 {
  color: var(--indigo-400) !important;
}

.link-indigo-500 {
  color: var(--indigo-500) !important;
}

.link-indigo-600 {
  color: var(--indigo-600) !important;
}

.link-indigo-700 {
  color: var(--indigo-700) !important;
}

.link-indigo-800 {
  color: var(--indigo-800) !important;
}

.link-indigo-900 {
  color: var(--indigo-900) !important;
}

.link-purple-50 {
  color: var(--purple-50) !important;
}

.link-purple-100 {
  color: var(--purple-100) !important;
}

.link-purple-200 {
  color: var(--purple-200) !important;
}

.link-purple-300 {
  color: var(--purple-300) !important;
}

.link-purple-400 {
  color: var(--purple-400) !important;
}

.link-purple-500 {
  color: var(--purple-500) !important;
}

.link-purple-600 {
  color: var(--purple-600) !important;
}

.link-purple-700 {
  color: var(--purple-700) !important;
}

.link-purple-800 {
  color: var(--purple-800) !important;
}

.link-purple-900 {
  color: var(--purple-900) !important;
}

.link-deep-purple-100 {
  color: var(--deep-purple-100) !important;
}

.link-deep-purple-200 {
  color: var(--deep-purple-200) !important;
}

.link-deep-purple-300 {
  color: var(--deep-purple-300) !important;
}

.link-deep-purple-400 {
  color: var(--deep-purple-400) !important;
}

.link-deep-purple-500 {
  color: var(--deep-purple-500) !important;
}

.link-deep-purple-600 {
  color: var(--deep-purple-600) !important;
}

.link-deep-purple-700 {
  color: var(--deep-purple-700) !important;
}

.link-deep-purple-800 {
  color: var(--deep-purple-800) !important;
}

.link-deep-purple-900 {
  color: var(--deep-purple-900) !important;
}

.link-pink-50 {
  color: var(--pink-50) !important;
}

.link-pink-100 {
  color: var(--pink-100) !important;
}

.link-pink-200 {
  color: var(--pink-200) !important;
}

.link-pink-300 {
  color: var(--pink-300) !important;
}

.link-pink-400 {
  color: var(--pink-400) !important;
}

.link-pink-500 {
  color: var(--pink-500) !important;
}

.link-pink-600 {
  color: var(--pink-600) !important;
}

.link-pink-700 {
  color: var(--pink-700) !important;
}

.link-pink-800 {
  color: var(--pink-800) !important;
}

.link-pink-900 {
  color: var(--pink-900) !important;
}

.link-rose-300 {
  color: var(--rose-300) !important;
}

.link-rose-400 {
  color: var(--rose-400) !important;
}

.link-rose-500 {
  color: var(--rose-500) !important;
}

.link-rose-600 {
  color: var(--rose-600) !important;
}

.link-rose-700 {
  color: var(--rose-700) !important;
}

.link-rose-800 {
  color: var(--rose-800) !important;
}

.link-red-50 {
  color: var(--red-50) !important;
}

.link-red-100 {
  color: var(--red-100) !important;
}

.link-red-200 {
  color: var(--red-200) !important;
}

.link-red-300 {
  color: var(--red-300) !important;
}

.link-red-400 {
  color: var(--red-400) !important;
}

.link-red-500 {
  color: var(--red-500) !important;
}

.link-red-600 {
  color: var(--red-600) !important;
}

.link-red-700 {
  color: var(--red-700) !important;
}

.link-red-800 {
  color: var(--red-800) !important;
}

.link-red-900 {
  color: var(--red-900) !important;
}

.link-orange-50 {
  color: var(--orange-50) !important;
}

.link-orange-100 {
  color: var(--orange-100) !important;
}

.link-orange-200 {
  color: var(--orange-200) !important;
}

.link-orange-300 {
  color: var(--orange-300) !important;
}

.link-orange-400 {
  color: var(--orange-400) !important;
}

.link-orange-500 {
  color: var(--orange-500) !important;
}

.link-orange-600 {
  color: var(--orange-600) !important;
}

.link-orange-700 {
  color: var(--orange-700) !important;
}

.link-orange-800 {
  color: var(--orange-800) !important;
}

.link-orange-900 {
  color: var(--orange-900) !important;
}

.link-yellow-50 {
  color: var(--yellow-50) !important;
}

.link-yellow-100 {
  color: var(--yellow-100) !important;
}

.link-yellow-200 {
  color: var(--yellow-200) !important;
}

.link-yellow-300 {
  color: var(--yellow-300) !important;
}

.link-yellow-400 {
  color: var(--yellow-400) !important;
}

.link-yellow-500 {
  color: var(--yellow-500) !important;
}

.link-yellow-600 {
  color: var(--yellow-600) !important;
}

.link-yellow-700 {
  color: var(--yellow-700) !important;
}

.link-yellow-800 {
  color: var(--yellow-800) !important;
}

.link-yellow-900 {
  color: var(--yellow-900) !important;
}

.link-lime-100 {
  color: var(--lime-100) !important;
}

.link-lime-200 {
  color: var(--lime-200) !important;
}

.link-lime-300 {
  color: var(--lime-300) !important;
}

.link-lime-400 {
  color: var(--lime-400) !important;
}

.link-lime-500 {
  color: var(--lime-500) !important;
}

.link-lime-600 {
  color: var(--lime-600) !important;
}

.link-lime-700 {
  color: var(--lime-700) !important;
}

.link-lime-800 {
  color: var(--lime-800) !important;
}

.link-lime-900 {
  color: var(--lime-900) !important;
}

.link-green-50 {
  color: var(--green-50) !important;
}

.link-green-100 {
  color: var(--green-100) !important;
}

.link-green-200 {
  color: var(--green-200) !important;
}

.link-green-300 {
  color: var(--green-300) !important;
}

.link-green-400 {
  color: var(--green-400) !important;
}

.link-green-500 {
  color: var(--green-500) !important;
}

.link-green-600 {
  color: var(--green-600) !important;
}

.link-green-700 {
  color: var(--green-700) !important;
}

.link-green-800 {
  color: var(--green-800) !important;
}

.link-green-900 {
  color: var(--green-900) !important;
}

.link-gray-50 {
  color: var(--gray-50) !important;
}

.link-gray-100 {
  color: var(--gray-100) !important;
}

.link-gray-200 {
  color: var(--gray-200) !important;
}

.link-gray-300 {
  color: var(--gray-300) !important;
}

.link-gray-400 {
  color: var(--gray-400) !important;
}

.link-gray-500 {
  color: var(--gray-500) !important;
}

.link-gray-600 {
  color: var(--gray-600) !important;
}

.link-gray-700 {
  color: var(--gray-700) !important;
}

.link-gray-800 {
  color: var(--gray-800) !important;
}

.link-gray-900 {
  color: var(--gray-900) !important;
}

.link-white {
  color: var(--white) !important;
}

.link-black {
  color: var(--black) !important;
}

.hover\:link-transparent:hover {
  color: transparent !important;
}

.hover\:link-slate:hover {
  color: var(--slate) !important;
}

.hover\:link-slate-100:hover {
  color: var(--slate-100) !important;
}

.hover\:link-slate-200:hover {
  color: var(--slate-200) !important;
}

.hover\:link-slate-300:hover {
  color: var(--slate-300) !important;
}

.hover\:link-slate-400:hover {
  color: var(--slate-400) !important;
}

.hover\:link-slate-500:hover {
  color: var(--slate-500) !important;
}

.hover\:link-slate-600:hover {
  color: var(--slate-600) !important;
}

.hover\:link-slate-700:hover {
  color: var(--slate-700) !important;
}

.hover\:link-slate-800:hover {
  color: var(--slate-800) !important;
}

.hover\:link-slate-900:hover {
  color: var(--slate-900) !important;
}

.hover\:link-blue-50:hover {
  color: var(--blue-50) !important;
}

.hover\:link-blue-100:hover {
  color: var(--blue-100) !important;
}

.hover\:link-blue-200:hover {
  color: var(--blue-200) !important;
}

.hover\:link-blue-300:hover {
  color: var(--blue-300) !important;
}

.hover\:link-blue-400:hover {
  color: var(--blue-400) !important;
}

.hover\:link-blue-500:hover {
  color: var(--blue-500) !important;
}

.hover\:link-blue-600:hover {
  color: var(--blue-600) !important;
}

.hover\:link-blue-700:hover {
  color: var(--blue-700) !important;
}

.hover\:link-blue-800:hover {
  color: var(--blue-800) !important;
}

.hover\:link-blue-900:hover {
  color: var(--blue-900) !important;
}

.hover\:link-light-blue-100:hover {
  color: var(--light-blue-100) !important;
}

.hover\:link-light-blue-200:hover {
  color: var(--light-blue-200) !important;
}

.hover\:link-light-blue-300:hover {
  color: var(--light-blue-300) !important;
}

.hover\:link-light-blue-400:hover {
  color: var(--light-blue-400) !important;
}

.hover\:link-light-blue-500:hover {
  color: var(--light-blue-500) !important;
}

.hover\:link-light-blue-600:hover {
  color: var(--light-blue-600) !important;
}

.hover\:link-light-blue-700:hover {
  color: var(--light-blue-700) !important;
}

.hover\:link-light-blue-800:hover {
  color: var(--light-blue-800) !important;
}

.hover\:link-light-blue-900:hover {
  color: var(--light-blue-900) !important;
}

.hover\:link-indigo-100:hover {
  color: var(--indigo-100) !important;
}

.hover\:link-indigo-200:hover {
  color: var(--indigo-200) !important;
}

.hover\:link-indigo-300:hover {
  color: var(--indigo-300) !important;
}

.hover\:link-indigo-400:hover {
  color: var(--indigo-400) !important;
}

.hover\:link-indigo-500:hover {
  color: var(--indigo-500) !important;
}

.hover\:link-indigo-600:hover {
  color: var(--indigo-600) !important;
}

.hover\:link-indigo-700:hover {
  color: var(--indigo-700) !important;
}

.hover\:link-indigo-800:hover {
  color: var(--indigo-800) !important;
}

.hover\:link-indigo-900:hover {
  color: var(--indigo-900) !important;
}

.hover\:link-purple-50:hover {
  color: var(--purple-50) !important;
}

.hover\:link-purple-100:hover {
  color: var(--purple-100) !important;
}

.hover\:link-purple-200:hover {
  color: var(--purple-200) !important;
}

.hover\:link-purple-300:hover {
  color: var(--purple-300) !important;
}

.hover\:link-purple-400:hover {
  color: var(--purple-400) !important;
}

.hover\:link-purple-500:hover {
  color: var(--purple-500) !important;
}

.hover\:link-purple-600:hover {
  color: var(--purple-600) !important;
}

.hover\:link-purple-700:hover {
  color: var(--purple-700) !important;
}

.hover\:link-purple-800:hover {
  color: var(--purple-800) !important;
}

.hover\:link-purple-900:hover {
  color: var(--purple-900) !important;
}

.hover\:link-deep-purple-100:hover {
  color: var(--deep-purple-100) !important;
}

.hover\:link-deep-purple-200:hover {
  color: var(--deep-purple-200) !important;
}

.hover\:link-deep-purple-300:hover {
  color: var(--deep-purple-300) !important;
}

.hover\:link-deep-purple-400:hover {
  color: var(--deep-purple-400) !important;
}

.hover\:link-deep-purple-500:hover {
  color: var(--deep-purple-500) !important;
}

.hover\:link-deep-purple-600:hover {
  color: var(--deep-purple-600) !important;
}

.hover\:link-deep-purple-700:hover {
  color: var(--deep-purple-700) !important;
}

.hover\:link-deep-purple-800:hover {
  color: var(--deep-purple-800) !important;
}

.hover\:link-deep-purple-900:hover {
  color: var(--deep-purple-900) !important;
}

.hover\:link-pink-50:hover {
  color: var(--pink-50) !important;
}

.hover\:link-pink-100:hover {
  color: var(--pink-100) !important;
}

.hover\:link-pink-200:hover {
  color: var(--pink-200) !important;
}

.hover\:link-pink-300:hover {
  color: var(--pink-300) !important;
}

.hover\:link-pink-400:hover {
  color: var(--pink-400) !important;
}

.hover\:link-pink-500:hover {
  color: var(--pink-500) !important;
}

.hover\:link-pink-600:hover {
  color: var(--pink-600) !important;
}

.hover\:link-pink-700:hover {
  color: var(--pink-700) !important;
}

.hover\:link-pink-800:hover {
  color: var(--pink-800) !important;
}

.hover\:link-pink-900:hover {
  color: var(--pink-900) !important;
}

.hover\:link-rose-300:hover {
  color: var(--rose-300) !important;
}

.hover\:link-rose-400:hover {
  color: var(--rose-400) !important;
}

.hover\:link-rose-500:hover {
  color: var(--rose-500) !important;
}

.hover\:link-rose-600:hover {
  color: var(--rose-600) !important;
}

.hover\:link-rose-700:hover {
  color: var(--rose-700) !important;
}

.hover\:link-rose-800:hover {
  color: var(--rose-800) !important;
}

.hover\:link-red-50:hover {
  color: var(--red-50) !important;
}

.hover\:link-red-100:hover {
  color: var(--red-100) !important;
}

.hover\:link-red-200:hover {
  color: var(--red-200) !important;
}

.hover\:link-red-300:hover {
  color: var(--red-300) !important;
}

.hover\:link-red-400:hover {
  color: var(--red-400) !important;
}

.hover\:link-red-500:hover {
  color: var(--red-500) !important;
}

.hover\:link-red-600:hover {
  color: var(--red-600) !important;
}

.hover\:link-red-700:hover {
  color: var(--red-700) !important;
}

.hover\:link-red-800:hover {
  color: var(--red-800) !important;
}

.hover\:link-red-900:hover {
  color: var(--red-900) !important;
}

.hover\:link-orange-50:hover {
  color: var(--orange-50) !important;
}

.hover\:link-orange-100:hover {
  color: var(--orange-100) !important;
}

.hover\:link-orange-200:hover {
  color: var(--orange-200) !important;
}

.hover\:link-orange-300:hover {
  color: var(--orange-300) !important;
}

.hover\:link-orange-400:hover {
  color: var(--orange-400) !important;
}

.hover\:link-orange-500:hover {
  color: var(--orange-500) !important;
}

.hover\:link-orange-600:hover {
  color: var(--orange-600) !important;
}

.hover\:link-orange-700:hover {
  color: var(--orange-700) !important;
}

.hover\:link-orange-800:hover {
  color: var(--orange-800) !important;
}

.hover\:link-orange-900:hover {
  color: var(--orange-900) !important;
}

.hover\:link-yellow-50:hover {
  color: var(--yellow-50) !important;
}

.hover\:link-yellow-100:hover {
  color: var(--yellow-100) !important;
}

.hover\:link-yellow-200:hover {
  color: var(--yellow-200) !important;
}

.hover\:link-yellow-300:hover {
  color: var(--yellow-300) !important;
}

.hover\:link-yellow-400:hover {
  color: var(--yellow-400) !important;
}

.hover\:link-yellow-500:hover {
  color: var(--yellow-500) !important;
}

.hover\:link-yellow-600:hover {
  color: var(--yellow-600) !important;
}

.hover\:link-yellow-700:hover {
  color: var(--yellow-700) !important;
}

.hover\:link-yellow-800:hover {
  color: var(--yellow-800) !important;
}

.hover\:link-yellow-900:hover {
  color: var(--yellow-900) !important;
}

.hover\:link-lime-100:hover {
  color: var(--lime-100) !important;
}

.hover\:link-lime-200:hover {
  color: var(--lime-200) !important;
}

.hover\:link-lime-300:hover {
  color: var(--lime-300) !important;
}

.hover\:link-lime-400:hover {
  color: var(--lime-400) !important;
}

.hover\:link-lime-500:hover {
  color: var(--lime-500) !important;
}

.hover\:link-lime-600:hover {
  color: var(--lime-600) !important;
}

.hover\:link-lime-700:hover {
  color: var(--lime-700) !important;
}

.hover\:link-lime-800:hover {
  color: var(--lime-800) !important;
}

.hover\:link-lime-900:hover {
  color: var(--lime-900) !important;
}

.hover\:link-green-50:hover {
  color: var(--green-50) !important;
}

.hover\:link-green-100:hover {
  color: var(--green-100) !important;
}

.hover\:link-green-200:hover {
  color: var(--green-200) !important;
}

.hover\:link-green-300:hover {
  color: var(--green-300) !important;
}

.hover\:link-green-400:hover {
  color: var(--green-400) !important;
}

.hover\:link-green-500:hover {
  color: var(--green-500) !important;
}

.hover\:link-green-600:hover {
  color: var(--green-600) !important;
}

.hover\:link-green-700:hover {
  color: var(--green-700) !important;
}

.hover\:link-green-800:hover {
  color: var(--green-800) !important;
}

.hover\:link-green-900:hover {
  color: var(--green-900) !important;
}

.hover\:link-gray-50:hover {
  color: var(--gray-50) !important;
}

.hover\:link-gray-100:hover {
  color: var(--gray-100) !important;
}

.hover\:link-gray-200:hover {
  color: var(--gray-200) !important;
}

.hover\:link-gray-300:hover {
  color: var(--gray-300) !important;
}

.hover\:link-gray-400:hover {
  color: var(--gray-400) !important;
}

.hover\:link-gray-500:hover {
  color: var(--gray-500) !important;
}

.hover\:link-gray-600:hover {
  color: var(--gray-600) !important;
}

.hover\:link-gray-700:hover {
  color: var(--gray-700) !important;
}

.hover\:link-gray-800:hover {
  color: var(--gray-800) !important;
}

.hover\:link-gray-900:hover {
  color: var(--gray-900) !important;
}

.hover\:link-white:hover {
  color: var(--white) !important;
}

.hover\:link-black:hover {
  color: var(--black) !important;
}

.focus\:link-transparent:focus {
  color: transparent !important;
}

.focus\:link-slate:focus {
  color: var(--slate) !important;
}

.focus\:link-slate-100:focus {
  color: var(--slate-100) !important;
}

.focus\:link-slate-200:focus {
  color: var(--slate-200) !important;
}

.focus\:link-slate-300:focus {
  color: var(--slate-300) !important;
}

.focus\:link-slate-400:focus {
  color: var(--slate-400) !important;
}

.focus\:link-slate-500:focus {
  color: var(--slate-500) !important;
}

.focus\:link-slate-600:focus {
  color: var(--slate-600) !important;
}

.focus\:link-slate-700:focus {
  color: var(--slate-700) !important;
}

.focus\:link-slate-800:focus {
  color: var(--slate-800) !important;
}

.focus\:link-slate-900:focus {
  color: var(--slate-900) !important;
}

.focus\:link-blue-50:focus {
  color: var(--blue-50) !important;
}

.focus\:link-blue-100:focus {
  color: var(--blue-100) !important;
}

.focus\:link-blue-200:focus {
  color: var(--blue-200) !important;
}

.focus\:link-blue-300:focus {
  color: var(--blue-300) !important;
}

.focus\:link-blue-400:focus {
  color: var(--blue-400) !important;
}

.focus\:link-blue-500:focus {
  color: var(--blue-500) !important;
}

.focus\:link-blue-600:focus {
  color: var(--blue-600) !important;
}

.focus\:link-blue-700:focus {
  color: var(--blue-700) !important;
}

.focus\:link-blue-800:focus {
  color: var(--blue-800) !important;
}

.focus\:link-blue-900:focus {
  color: var(--blue-900) !important;
}

.focus\:link-light-blue-100:focus {
  color: var(--light-blue-100) !important;
}

.focus\:link-light-blue-200:focus {
  color: var(--light-blue-200) !important;
}

.focus\:link-light-blue-300:focus {
  color: var(--light-blue-300) !important;
}

.focus\:link-light-blue-400:focus {
  color: var(--light-blue-400) !important;
}

.focus\:link-light-blue-500:focus {
  color: var(--light-blue-500) !important;
}

.focus\:link-light-blue-600:focus {
  color: var(--light-blue-600) !important;
}

.focus\:link-light-blue-700:focus {
  color: var(--light-blue-700) !important;
}

.focus\:link-light-blue-800:focus {
  color: var(--light-blue-800) !important;
}

.focus\:link-light-blue-900:focus {
  color: var(--light-blue-900) !important;
}

.focus\:link-indigo-100:focus {
  color: var(--indigo-100) !important;
}

.focus\:link-indigo-200:focus {
  color: var(--indigo-200) !important;
}

.focus\:link-indigo-300:focus {
  color: var(--indigo-300) !important;
}

.focus\:link-indigo-400:focus {
  color: var(--indigo-400) !important;
}

.focus\:link-indigo-500:focus {
  color: var(--indigo-500) !important;
}

.focus\:link-indigo-600:focus {
  color: var(--indigo-600) !important;
}

.focus\:link-indigo-700:focus {
  color: var(--indigo-700) !important;
}

.focus\:link-indigo-800:focus {
  color: var(--indigo-800) !important;
}

.focus\:link-indigo-900:focus {
  color: var(--indigo-900) !important;
}

.focus\:link-purple-50:focus {
  color: var(--purple-50) !important;
}

.focus\:link-purple-100:focus {
  color: var(--purple-100) !important;
}

.focus\:link-purple-200:focus {
  color: var(--purple-200) !important;
}

.focus\:link-purple-300:focus {
  color: var(--purple-300) !important;
}

.focus\:link-purple-400:focus {
  color: var(--purple-400) !important;
}

.focus\:link-purple-500:focus {
  color: var(--purple-500) !important;
}

.focus\:link-purple-600:focus {
  color: var(--purple-600) !important;
}

.focus\:link-purple-700:focus {
  color: var(--purple-700) !important;
}

.focus\:link-purple-800:focus {
  color: var(--purple-800) !important;
}

.focus\:link-purple-900:focus {
  color: var(--purple-900) !important;
}

.focus\:link-deep-purple-100:focus {
  color: var(--deep-purple-100) !important;
}

.focus\:link-deep-purple-200:focus {
  color: var(--deep-purple-200) !important;
}

.focus\:link-deep-purple-300:focus {
  color: var(--deep-purple-300) !important;
}

.focus\:link-deep-purple-400:focus {
  color: var(--deep-purple-400) !important;
}

.focus\:link-deep-purple-500:focus {
  color: var(--deep-purple-500) !important;
}

.focus\:link-deep-purple-600:focus {
  color: var(--deep-purple-600) !important;
}

.focus\:link-deep-purple-700:focus {
  color: var(--deep-purple-700) !important;
}

.focus\:link-deep-purple-800:focus {
  color: var(--deep-purple-800) !important;
}

.focus\:link-deep-purple-900:focus {
  color: var(--deep-purple-900) !important;
}

.focus\:link-pink-50:focus {
  color: var(--pink-50) !important;
}

.focus\:link-pink-100:focus {
  color: var(--pink-100) !important;
}

.focus\:link-pink-200:focus {
  color: var(--pink-200) !important;
}

.focus\:link-pink-300:focus {
  color: var(--pink-300) !important;
}

.focus\:link-pink-400:focus {
  color: var(--pink-400) !important;
}

.focus\:link-pink-500:focus {
  color: var(--pink-500) !important;
}

.focus\:link-pink-600:focus {
  color: var(--pink-600) !important;
}

.focus\:link-pink-700:focus {
  color: var(--pink-700) !important;
}

.focus\:link-pink-800:focus {
  color: var(--pink-800) !important;
}

.focus\:link-pink-900:focus {
  color: var(--pink-900) !important;
}

.focus\:link-rose-300:focus {
  color: var(--rose-300) !important;
}

.focus\:link-rose-400:focus {
  color: var(--rose-400) !important;
}

.focus\:link-rose-500:focus {
  color: var(--rose-500) !important;
}

.focus\:link-rose-600:focus {
  color: var(--rose-600) !important;
}

.focus\:link-rose-700:focus {
  color: var(--rose-700) !important;
}

.focus\:link-rose-800:focus {
  color: var(--rose-800) !important;
}

.focus\:link-red-50:focus {
  color: var(--red-50) !important;
}

.focus\:link-red-100:focus {
  color: var(--red-100) !important;
}

.focus\:link-red-200:focus {
  color: var(--red-200) !important;
}

.focus\:link-red-300:focus {
  color: var(--red-300) !important;
}

.focus\:link-red-400:focus {
  color: var(--red-400) !important;
}

.focus\:link-red-500:focus {
  color: var(--red-500) !important;
}

.focus\:link-red-600:focus {
  color: var(--red-600) !important;
}

.focus\:link-red-700:focus {
  color: var(--red-700) !important;
}

.focus\:link-red-800:focus {
  color: var(--red-800) !important;
}

.focus\:link-red-900:focus {
  color: var(--red-900) !important;
}

.focus\:link-orange-50:focus {
  color: var(--orange-50) !important;
}

.focus\:link-orange-100:focus {
  color: var(--orange-100) !important;
}

.focus\:link-orange-200:focus {
  color: var(--orange-200) !important;
}

.focus\:link-orange-300:focus {
  color: var(--orange-300) !important;
}

.focus\:link-orange-400:focus {
  color: var(--orange-400) !important;
}

.focus\:link-orange-500:focus {
  color: var(--orange-500) !important;
}

.focus\:link-orange-600:focus {
  color: var(--orange-600) !important;
}

.focus\:link-orange-700:focus {
  color: var(--orange-700) !important;
}

.focus\:link-orange-800:focus {
  color: var(--orange-800) !important;
}

.focus\:link-orange-900:focus {
  color: var(--orange-900) !important;
}

.focus\:link-yellow-50:focus {
  color: var(--yellow-50) !important;
}

.focus\:link-yellow-100:focus {
  color: var(--yellow-100) !important;
}

.focus\:link-yellow-200:focus {
  color: var(--yellow-200) !important;
}

.focus\:link-yellow-300:focus {
  color: var(--yellow-300) !important;
}

.focus\:link-yellow-400:focus {
  color: var(--yellow-400) !important;
}

.focus\:link-yellow-500:focus {
  color: var(--yellow-500) !important;
}

.focus\:link-yellow-600:focus {
  color: var(--yellow-600) !important;
}

.focus\:link-yellow-700:focus {
  color: var(--yellow-700) !important;
}

.focus\:link-yellow-800:focus {
  color: var(--yellow-800) !important;
}

.focus\:link-yellow-900:focus {
  color: var(--yellow-900) !important;
}

.focus\:link-lime-100:focus {
  color: var(--lime-100) !important;
}

.focus\:link-lime-200:focus {
  color: var(--lime-200) !important;
}

.focus\:link-lime-300:focus {
  color: var(--lime-300) !important;
}

.focus\:link-lime-400:focus {
  color: var(--lime-400) !important;
}

.focus\:link-lime-500:focus {
  color: var(--lime-500) !important;
}

.focus\:link-lime-600:focus {
  color: var(--lime-600) !important;
}

.focus\:link-lime-700:focus {
  color: var(--lime-700) !important;
}

.focus\:link-lime-800:focus {
  color: var(--lime-800) !important;
}

.focus\:link-lime-900:focus {
  color: var(--lime-900) !important;
}

.focus\:link-green-50:focus {
  color: var(--green-50) !important;
}

.focus\:link-green-100:focus {
  color: var(--green-100) !important;
}

.focus\:link-green-200:focus {
  color: var(--green-200) !important;
}

.focus\:link-green-300:focus {
  color: var(--green-300) !important;
}

.focus\:link-green-400:focus {
  color: var(--green-400) !important;
}

.focus\:link-green-500:focus {
  color: var(--green-500) !important;
}

.focus\:link-green-600:focus {
  color: var(--green-600) !important;
}

.focus\:link-green-700:focus {
  color: var(--green-700) !important;
}

.focus\:link-green-800:focus {
  color: var(--green-800) !important;
}

.focus\:link-green-900:focus {
  color: var(--green-900) !important;
}

.focus\:link-gray-50:focus {
  color: var(--gray-50) !important;
}

.focus\:link-gray-100:focus {
  color: var(--gray-100) !important;
}

.focus\:link-gray-200:focus {
  color: var(--gray-200) !important;
}

.focus\:link-gray-300:focus {
  color: var(--gray-300) !important;
}

.focus\:link-gray-400:focus {
  color: var(--gray-400) !important;
}

.focus\:link-gray-500:focus {
  color: var(--gray-500) !important;
}

.focus\:link-gray-600:focus {
  color: var(--gray-600) !important;
}

.focus\:link-gray-700:focus {
  color: var(--gray-700) !important;
}

.focus\:link-gray-800:focus {
  color: var(--gray-800) !important;
}

.focus\:link-gray-900:focus {
  color: var(--gray-900) !important;
}

.focus\:link-white:focus {
  color: var(--white) !important;
}

.focus\:link-black:focus {
  color: var(--black) !important;
}
