.link-transparent {
    color: transparent;
}

.link-slate {
    color: var(--slate);
}

.link-slate-100 {
    color: var(--slate-100);
}

.link-slate-200 {
    color: var(--slate-200);
}

.link-slate-300 {
    color: var(--slate-300);
}

.link-slate-400 {
    color: var(--slate-400);
}

.link-slate-500 {
    color: var(--slate-500);
}

.link-slate-600 {
    color: var(--slate-600);
}

.link-slate-700 {
    color: var(--slate-700);
}

.link-slate-800 {
    color: var(--slate-800);
}

.link-slate-900 {
    color: var(--slate-900);
}

.link-blue-50 {
    color: var(--blue-50);
}

.link-blue-100 {
    color: var(--blue-100);
}

.link-blue-200 {
    color: var(--blue-200);
}

.link-blue-300 {
    color: var(--blue-300);
}

.link-blue-400 {
    color: var(--blue-400);
}

.link-blue-500 {
    color: var(--blue-500);
}

.link-blue-600 {
    color: var(--blue-600);
}

.link-blue-700 {
    color: var(--blue-700);
}

.link-blue-800 {
    color: var(--blue-800);
}

.link-blue-900 {
    color: var(--blue-900);
}

.link-light-blue-100 {
    color: var(--light-blue-100);
}

.link-light-blue-200 {
    color: var(--light-blue-200);
}

.link-light-blue-300 {
    color: var(--light-blue-300);
}

.link-light-blue-400 {
    color: var(--light-blue-400);
}

.link-light-blue-500 {
    color: var(--light-blue-500);
}

.link-light-blue-600 {
    color: var(--light-blue-600);
}

.link-light-blue-700 {
    color: var(--light-blue-700);
}

.link-light-blue-800 {
    color: var(--light-blue-800);
}

.link-light-blue-900 {
    color: var(--light-blue-900);
}

.link-indigo-100 {
    color: var(--indigo-100);
}

.link-indigo-200 {
    color: var(--indigo-200);
}

.link-indigo-300 {
    color: var(--indigo-300);
}

.link-indigo-400 {
    color: var(--indigo-400);
}

.link-indigo-500 {
    color: var(--indigo-500);
}

.link-indigo-600 {
    color: var(--indigo-600);
}

.link-indigo-700 {
    color: var(--indigo-700);
}

.link-indigo-700 {
    color: var(--indigo-800);
}

.link-indigo-700 {
    color: var(--indigo-900);
}

.link-purple-50 {
    color: var(--purple-50);
}

.link-purple-100 {
    color: var(--purple-100);
}

.link-purple-200 {
    color: var(--purple-200);
}

.link-purple-300 {
    color: var(--purple-300);
}

.link-purple-400 {
    color: var(--purple-400);
}

.link-purple-500 {
    color: var(--purple-500);
}

.link-purple-600 {
    color: var(--purple-600);
}

.link-purple-700 {
    color: var(--purple-700);
}

.link-purple-800 {
    color: var(--purple-800);
}

.link-purple-900 {
    color: var(--purple-900);
}

.link-deep-purple-100 {
    color: var(--deep-purple-100);
}

.link-deep-purple-200 {
    color: var(--deep-purple-200);
}

.link-deep-purple-300 {
    color: var(--deep-purple-300);
}

.link-deep-purple-400 {
    color: var(--deep-purple-400);
}

.link-deep-purple-500 {
    color: var(--deep-purple-500);
}

.link-deep-purple-600 {
    color: var(--deep-purple-600);
}

.link-deep-purple-700 {
    color: var(--deep-purple-700);
}

.link-deep-purple-800 {
    color: var(--deep-purple-800);
}

.link-deep-purple-900 {
    color: var(--deep-purple-900);
}

.link-fuchsia-50 {
    color: var(--fuchsia-50);
}

.link-fuchsia-100 {
    color: var(--fuchsia-100);
}

.link-fuchsia-200 {
    color: var(--fuchsia-200);
}

.link-fuchsia-300 {
    color: var(--fuchsia-300);
}

.link-fuchsia-400 {
    color: var(--fuchsia-400);
}

.link-fuchsia-500 {
    color: var(--fuchsia-500);
}

.link-fuchsia-600 {
    color: var(--fuchsia-600);
}

.link-fuchsia-700 {
    color: var(--fuchsia-700);
}

.link-fuchsia-800 {
    color: var(--fuchsia-800);
}

.link-fuchsia-900 {
    color: var(--fuchsia-900);
}

.link-pink-50 {
    color: var(--pink-50);
}

.link-pink-100 {
    color: var(--pink-100);
}

.link-pink-200 {
    color: var(--pink-200);
}

.link-pink-300 {
    color: var(--pink-300);
}

.link-pink-400 {
    color: var(--pink-400);
}

.link-pink-500 {
    color: var(--pink-500);
}

.link-pink-600 {
    color: var(--pink-600);
}

.link-pink-700 {
    color: var(--pink-700);
}

.link-pink-800 {
    color: var(--pink-800);
}

.link-pink-900 {
    color: var(--pink-900);
}

.link-rose-50 {
    color: var(--rose-50);
}

.link-rose-100 {
    color: var(--rose-100);
}

.link-rose-200 {
    color: var(--rose-200);
}

.link-rose-300 {
    color: var(--rose-300);
}

.link-rose-400 {
    color: var(--rose-400);
}

.link-rose-500 {
    color: var(--rose-500);
}

.link-rose-600 {
    color: var(--rose-600);
}

.link-rose-700 {
    color: var(--rose-700);
}

.link-rose-800 {
    color: var(--rose-800);
}

.link-red-50 {
    color: var(--red-50);
}

.link-red-100 {
    color: var(--red-100);
}

.link-red-200 {
    color: var(--red-200);
}

.link-red-300 {
    color: var(--red-300);
}

.link-red-400 {
    color: var(--red-400);
}

.link-red-500 {
    color: var(--red-500);
}

.link-red-600 {
    color: var(--red-600);
}

.link-red-700 {
    color: var(--red-700);
}

.link-red-800 {
    color: var(--red-800);
}

.link-red-900 {
    color: var(--red-900);
}

.link-orange-50 {
    color: var(--orange-50);
}

.link-orange-100 {
    color: var(--orange-100);
}

.link-orange-200 {
    color: var(--orange-200);
}

.link-orange-300 {
    color: var(--orange-300);
}

.link-orange-400 {
    color: var(--orange-400);
}

.link-orange-500 {
    color: var(--orange-500);
}

.link-orange-600 {
    color: var(--orange-600);
}

.link-orange-700 {
    color: var(--orange-700);
}

.link-orange-800 {
    color: var(--orange-800);
}

.link-orange-900 {
    color: var(--orange-900);
}

.link-yellow-50 {
    color: var(--yellow-50);
}

.link-yellow-100 {
    color: var(--yellow-100);
}

.link-yellow-200 {
    color: var(--yellow-200);
}

.link-yellow-300 {
    color: var(--yellow-300);
}

.link-yellow-400 {
    color: var(--yellow-400);
}

.link-yellow-500 {
    color: var(--yellow-500);
}

.link-yellow-600 {
    color: var(--yellow-600);
}

.link-yellow-700 {
    color: var(--yellow-700);
}

.link-yellow-800 {
    color: var(--yellow-800);
}

.link-yellow-900 {
    color: var(--yellow-900);
}

.link-lime-100 {
    color: var(--lime-100);
}

.link-lime-200 {
    color: var(--lime-200);
}

.link-lime-300 {
    color: var(--lime-300);
}

.link-lime-400 {
    color: var(--lime-400);
}

.link-lime-500 {
    color: var(--lime-500);
}

.link-lime-600 {
    color: var(--lime-600);
}

.link-lime-700 {
    color: var(--lime-700);
}

.link-lime-800 {
    color: var(--lime-800);
}

.link-lime-900 {
    color: var(--lime-900);
}

.link-green-50 {
    color: var(--green-50);
}

.link-green-100 {
    color: var(--green-100);
}

.link-green-200 {
    color: var(--green-200);
}

.link-green-300 {
    color: var(--green-300);
}

.link-green-400 {
    color: var(--green-400);
}

.link-green-500 {
    color: var(--green-500);
}

.link-green-600 {
    color: var(--green-600);
}

.link-green-700 {
    color: var(--green-700);
}

.link-green-800 {
    color: var(--green-800);
}

.link-green-900 {
    color: var(--green-900);
}

.link-teal-50 {
    color: var(--teal-50);
}

.link-teal-100 {
    color: var(--teal-100);
}

.link-teal-200 {
    color: var(--teal-200);
}

.link-teal-300 {
    color: var(--teal-300);
}

.link-teal-400 {
    color: var(--teal-400);
}

.link-teal-500 {
    color: var(--teal-500);
}

.link-teal-600 {
    color: var(--teal-600);
}

.link-teal-700 {
    color: var(--teal-700);
}

.link-teal-800 {
    color: var(--teal-800);
}

.link-teal-900 {
    color: var(--teal-900);
}

.link-gray-100 {
    color: var(--gray-100);
}

.link-gray-200 {
    color: var(--gray-200);
}

.link-gray-300 {
    color: var(--gray-300);
}

.link-gray-400 {
    color: var(--gray-400);
}

.link-gray-600 {
    color: var(--gray-600);
}

.link-gray-700 {
    color: var(--gray-700);
}

.link-gray-800 {
    color: var(--gray-800);
}

.link-gray-900 {
    color: var(--gray-900);
}

.link-zinc-50 {
    color: var(--zinc-50);
}

.link-zinc-100 {
    color: var(--zinc-100);
}

.link-zinc-200 {
    color: var(--zinc-200);
}

.link-zinc-300 {
    color: var(--zinc-300);
}

.link-zinc-400 {
    color: var(--zinc-400);
}

.link-zinc-500 {
    color: var(--zinc-500);
}

.link-zinc-600 {
    color: var(--zinc-600);
}

.link-zinc-700 {
    color: var(--zinc-700);
}

.link-zinc-800 {
    color: var(--zinc-800);
}

.link-zinc-900 {
    color: var(--zinc-900);
}

.link-light-50 {
    color: var(--light-50);
}

.link-light-100 {
    color: var(--light-100);
}

.link-light-200 {
    color: var(--light-200);
}

.link-light-300 {
    color: var(--light-300);
}

.link-light-400 {
    color: var(--light-400);
}

.link-light-500 {
    color: var(--light-500);
}

.link-light-600 {
    color: var(--light-600);
}

.link-light-700 {
    color: var(--light-700);
}

.link-light-800 {
    color: var(--light-800);
}

.link-light-900 {
    color: var(--light-900);
}

.link-white {
    color: var(--white);
}

.link-black {
    color: var(--black);
}

.link-dark-50 {
    color: var(--dark-50);
}

.link-dark-100 {
    color: var(--dark-100);
}

.link-dark-200 {
    color: var(--dark-200);
}

.link-dark-300 {
    color: var(--dark-300);
}

.link-dark-400 {
    color: var(--dark-400);
}

.link-dark-500 {
    color: var(--dark-500);
}

.link-dark-600 {
    color: var(--dark-600);
}

.link-dark-700 {
    color: var(--dark-700);
}

.link-dark-800 {
    color: var(--dark-800);
}

.link-dark-900 {
    color: var(--dark-900);
}

.hover\:link-transparent:hover {
    color: transparent;
}

.hover\:link-slate:hover {
    color: var(--slate);
}

.hover\:link-slate-100:hover {
    color: var(--slate-100);
}

.hover\:link-slate-200:hover {
    color: var(--slate-200);
}

.hover\:link-slate-300:hover {
    color: var(--slate-300);
}

.hover\:link-slate-400:hover {
    color: var(--slate-400);
}

.hover\:link-slate-500:hover {
    color: var(--slate-500);
}

.hover\:link-slate-600:hover {
    color: var(--slate-600);
}

.hover\:link-slate-700:hover {
    color: var(--slate-700);
}

.hover\:link-slate-800:hover {
    color: var(--slate-800);
}

.hover\:link-slate-900:hover {
    color: var(--slate-900);
}

.hover\:link-blue-50:hover {
    color: var(--blue-50);
}

.hover\:link-blue-100:hover {
    color: var(--blue-100);
}

.hover\:link-blue-200:hover {
    color: var(--blue-200);
}

.hover\:link-blue-300:hover {
    color: var(--blue-300);
}

.hover\:link-blue-400:hover {
    color: var(--blue-400);
}

.hover\:link-blue-500:hover {
    color: var(--blue-500);
}

.hover\:link-blue-600:hover {
    color: var(--blue-600);
}

.hover\:link-blue-700:hover {
    color: var(--blue-700);
}

.hover\:link-blue-800:hover {
    color: var(--blue-800);
}

.hover\:link-blue-900:hover {
    color: var(--blue-900);
}

.hover\:link-light-blue-100:hover {
    color: var(--light-blue-100);
}

.hover\:link-light-blue-200:hover {
    color: var(--light-blue-200);
}

.hover\:link-light-blue-300:hover {
    color: var(--light-blue-300);
}

.hover\:link-light-blue-400:hover {
    color: var(--light-blue-400);
}

.hover\:link-light-blue-500:hover {
    color: var(--light-blue-500);
}

.hover\:link-light-blue-600:hover {
    color: var(--light-blue-600);
}

.hover\:link-light-blue-700:hover {
    color: var(--light-blue-700);
}

.hover\:link-light-blue-800:hover {
    color: var(--light-blue-800);
}

.hover\:link-light-blue-900:hover {
    color: var(--light-blue-900);
}

.hover\:link-indigo-100:hover {
    color: var(--indigo-100);
}

.hover\:link-indigo-200:hover {
    color: var(--indigo-200);
}

.hover\:link-indigo-300:hover {
    color: var(--indigo-300);
}

.hover\:link-indigo-400:hover {
    color: var(--indigo-400);
}

.hover\:link-indigo-500:hover {
    color: var(--indigo-500);
}

.hover\:link-indigo-600:hover {
    color: var(--indigo-600);
}

.hover\:link-indigo-700:hover {
    color: var(--indigo-700);
}

.hover\:link-indigo-700:hover {
    color: var(--indigo-800);
}

.hover\:link-indigo-700:hover {
    color: var(--indigo-900);
}

.hover\:link-purple-50:hover {
    color: var(--purple-50);
}

.hover\:link-purple-100:hover {
    color: var(--purple-100);
}

.hover\:link-purple-200:hover {
    color: var(--purple-200);
}

.hover\:link-purple-300:hover {
    color: var(--purple-300);
}

.hover\:link-purple-400:hover {
    color: var(--purple-400);
}

.hover\:link-purple-500:hover {
    color: var(--purple-500);
}

.hover\:link-purple-600:hover {
    color: var(--purple-600);
}

.hover\:link-purple-700:hover {
    color: var(--purple-700);
}

.hover\:link-purple-800:hover {
    color: var(--purple-800);
}

.hover\:link-purple-900:hover {
    color: var(--purple-900);
}

.hover\:link-deep-purple-100:hover {
    color: var(--deep-purple-100);
}

.hover\:link-deep-purple-200:hover {
    color: var(--deep-purple-200);
}

.hover\:link-deep-purple-300:hover {
    color: var(--deep-purple-300);
}

.hover\:link-deep-purple-400:hover {
    color: var(--deep-purple-400);
}

.hover\:link-deep-purple-500:hover {
    color: var(--deep-purple-500);
}

.hover\:link-deep-purple-600:hover {
    color: var(--deep-purple-600);
}

.hover\:link-deep-purple-700:hover {
    color: var(--deep-purple-700);
}

.hover\:link-deep-purple-800:hover {
    color: var(--deep-purple-800);
}

.hover\:link-deep-purple-900:hover {
    color: var(--deep-purple-900);
}

.hover\:link-fuchsia-50:hover {
    color: var(--fuchsia-50);
}

.hover\:link-fuchsia-100:hover {
    color: var(--fuchsia-100);
}

.hover\:link-fuchsia-200:hover {
    color: var(--fuchsia-200);
}

.hover\:link-fuchsia-300:hover {
    color: var(--fuchsia-300);
}

.hover\:link-fuchsia-400:hover {
    color: var(--fuchsia-400);
}

.hover\:link-fuchsia-500:hover {
    color: var(--fuchsia-500);
}

.hover\:link-fuchsia-600:hover {
    color: var(--fuchsia-600);
}

.hover\:link-fuchsia-700:hover {
    color: var(--fuchsia-700);
}

.hover\:link-fuchsia-800:hover {
    color: var(--fuchsia-800);
}

.hover\:link-fuchsia-900:hover {
    color: var(--fuchsia-900);
}

.hover\:link-pink-50:hover {
    color: var(--pink-50);
}

.hover\:link-pink-100:hover {
    color: var(--pink-100);
}

.hover\:link-pink-200:hover {
    color: var(--pink-200);
}

.hover\:link-pink-300:hover {
    color: var(--pink-300);
}

.hover\:link-pink-400:hover {
    color: var(--pink-400);
}

.hover\:link-pink-500:hover {
    color: var(--pink-500);
}

.hover\:link-pink-600:hover {
    color: var(--pink-600);
}

.hover\:link-pink-700:hover {
    color: var(--pink-700);
}

.hover\:link-pink-800:hover {
    color: var(--pink-800);
}

.hover\:link-pink-900:hover {
    color: var(--pink-900);
}

.hover\:link-rose-50:hover {
    color: var(--rose-50);
}

.hover\:link-rose-100:hover {
    color: var(--rose-100);
}

.hover\:link-rose-200:hover {
    color: var(--rose-200);
}

.hover\:link-rose-300:hover {
    color: var(--rose-300);
}

.hover\:link-rose-400:hover {
    color: var(--rose-400);
}

.hover\:link-rose-500:hover {
    color: var(--rose-500);
}

.hover\:link-rose-600:hover {
    color: var(--rose-600);
}

.hover\:link-rose-700:hover {
    color: var(--rose-700);
}

.hover\:link-rose-800:hover {
    color: var(--rose-800);
}

.hover\:link-red-50:hover {
    color: var(--red-50);
}

.hover\:link-red-100:hover {
    color: var(--red-100);
}

.hover\:link-red-200:hover {
    color: var(--red-200);
}

.hover\:link-red-300:hover {
    color: var(--red-300);
}

.hover\:link-red-400:hover {
    color: var(--red-400);
}

.hover\:link-red-500:hover {
    color: var(--red-500);
}

.hover\:link-red-600:hover {
    color: var(--red-600);
}

.hover\:link-red-700:hover {
    color: var(--red-700);
}

.hover\:link-red-800:hover {
    color: var(--red-800);
}

.hover\:link-red-900:hover {
    color: var(--red-900);
}

.hover\:link-orange-50:hover {
    color: var(--orange-50);
}

.hover\:link-orange-100:hover {
    color: var(--orange-100);
}

.hover\:link-orange-200:hover {
    color: var(--orange-200);
}

.hover\:link-orange-300:hover {
    color: var(--orange-300);
}

.hover\:link-orange-400:hover {
    color: var(--orange-400);
}

.hover\:link-orange-500:hover {
    color: var(--orange-500);
}

.hover\:link-orange-600:hover {
    color: var(--orange-600);
}

.hover\:link-orange-700:hover {
    color: var(--orange-700);
}

.hover\:link-orange-800:hover {
    color: var(--orange-800);
}

.hover\:link-orange-900:hover {
    color: var(--orange-900);
}

.hover\:link-yellow-50:hover {
    color: var(--yellow-50);
}

.hover\:link-yellow-100:hover {
    color: var(--yellow-100);
}

.hover\:link-yellow-200:hover {
    color: var(--yellow-200);
}

.hover\:link-yellow-300:hover {
    color: var(--yellow-300);
}

.hover\:link-yellow-400:hover {
    color: var(--yellow-400);
}

.hover\:link-yellow-500:hover {
    color: var(--yellow-500);
}

.hover\:link-yellow-600:hover {
    color: var(--yellow-600);
}

.hover\:link-yellow-700:hover {
    color: var(--yellow-700);
}

.hover\:link-yellow-800:hover {
    color: var(--yellow-800);
}

.hover\:link-yellow-900:hover {
    color: var(--yellow-900);
}

.hover\:link-lime-100:hover {
    color: var(--lime-100);
}

.hover\:link-lime-200:hover {
    color: var(--lime-200);
}

.hover\:link-lime-300:hover {
    color: var(--lime-300);
}

.hover\:link-lime-400:hover {
    color: var(--lime-400);
}

.hover\:link-lime-500:hover {
    color: var(--lime-500);
}

.hover\:link-lime-600:hover {
    color: var(--lime-600);
}

.hover\:link-lime-700:hover {
    color: var(--lime-700);
}

.hover\:link-lime-800:hover {
    color: var(--lime-800);
}

.hover\:link-lime-900:hover {
    color: var(--lime-900);
}

.hover\:link-green-50:hover {
    color: var(--green-50);
}

.hover\:link-green-100:hover {
    color: var(--green-100);
}

.hover\:link-green-200:hover {
    color: var(--green-200);
}

.hover\:link-green-300:hover {
    color: var(--green-300);
}

.hover\:link-green-400:hover {
    color: var(--green-400);
}

.hover\:link-green-500:hover {
    color: var(--green-500);
}

.hover\:link-green-600:hover {
    color: var(--green-600);
}

.hover\:link-green-700:hover {
    color: var(--green-700);
}

.hover\:link-green-800:hover {
    color: var(--green-800);
}

.hover\:link-green-900:hover {
    color: var(--green-900);
}

.hover\:link-teal-50:hover {
    color: var(--teal-50);
}

.hover\:link-teal-100:hover {
    color: var(--teal-100);
}

.hover\:link-teal-200:hover {
    color: var(--teal-200);
}

.hover\:link-teal-300:hover {
    color: var(--teal-300);
}

.hover\:link-teal-400:hover {
    color: var(--teal-400);
}

.hover\:link-teal-500:hover {
    color: var(--teal-500);
}

.hover\:link-teal-600:hover {
    color: var(--teal-600);
}

.hover\:link-teal-700:hover {
    color: var(--teal-700);
}

.hover\:link-teal-800:hover {
    color: var(--teal-800);
}

.hover\:link-teal-900:hover {
    color: var(--teal-900);
}

.hover\:link-gray-100:hover {
    color: var(--gray-100);
}

.hover\:link-gray-200:hover {
    color: var(--gray-200);
}

.hover\:link-gray-300:hover {
    color: var(--gray-300);
}

.hover\:link-gray-400:hover {
    color: var(--gray-400);
}

.hover\:link-gray-600:hover {
    color: var(--gray-600);
}

.hover\:link-gray-700:hover {
    color: var(--gray-700);
}

.hover\:link-gray-800:hover {
    color: var(--gray-800);
}

.hover\:link-gray-900:hover {
    color: var(--gray-900);
}

.hover\:link-zinc-50:hover {
    color: var(--zinc-50);
}

.hover\:link-zinc-100:hover {
    color: var(--zinc-100);
}

.hover\:link-zinc-200:hover {
    color: var(--zinc-200);
}

.hover\:link-zinc-300:hover {
    color: var(--zinc-300);
}

.hover\:link-zinc-400:hover {
    color: var(--zinc-400);
}

.hover\:link-zinc-500:hover {
    color: var(--zinc-500);
}

.hover\:link-zinc-600:hover {
    color: var(--zinc-600);
}

.hover\:link-zinc-700:hover {
    color: var(--zinc-700);
}

.hover\:link-zinc-800:hover {
    color: var(--zinc-800);
}

.hover\:link-zinc-900:hover {
    color: var(--zinc-900);
}

.hover\:link-light-50:hover {
    color: var(--light-50);
}

.hover\:link-light-100:hover {
    color: var(--light-100);
}

.hover\:link-light-200:hover {
    color: var(--light-200);
}

.hover\:link-light-300:hover {
    color: var(--light-300);
}

.hover\:link-light-400:hover {
    color: var(--light-400);
}

.hover\:link-light-500:hover {
    color: var(--light-500);
}

.hover\:link-light-600:hover {
    color: var(--light-600);
}

.hover\:link-light-700:hover {
    color: var(--light-700);
}

.hover\:link-light-800:hover {
    color: var(--light-800);
}

.hover\:link-light-900:hover {
    color: var(--light-900);
}

.hover\:link-white:hover {
    color: var(--white);
}

.hover\:link-black:hover {
    color: var(--black);
}

.hover\:link-dark-50:hover {
    color: var(--dark-50);
}

.hover\:link-dark-100:hover {
    color: var(--dark-100);
}

.hover\:link-dark-200:hover {
    color: var(--dark-200);
}

.hover\:link-dark-300:hover {
    color: var(--dark-300);
}

.hover\:link-dark-400:hover {
    color: var(--dark-400);
}

.hover\:link-dark-500:hover {
    color: var(--dark-500);
}

.hover\:link-dark-600:hover {
    color: var(--dark-600);
}

.hover\:link-dark-700:hover {
    color: var(--dark-700);
}

.hover\:link-dark-800:hover {
    color: var(--dark-800);
}

.hover\:link-dark-900:hover {
    color: var(--dark-900);
}

.focus\:link-transparent:focus {
    color: transparent;
}

.focus\:link-slate:focus {
    color: var(--slate);
}

.focus\:link-slate-100:focus {
    color: var(--slate-100);
}

.focus\:link-slate-200:focus {
    color: var(--slate-200);
}

.focus\:link-slate-300:focus {
    color: var(--slate-300);
}

.focus\:link-slate-400:focus {
    color: var(--slate-400);
}

.focus\:link-slate-500:focus {
    color: var(--slate-500);
}

.focus\:link-slate-600:focus {
    color: var(--slate-600);
}

.focus\:link-slate-700:focus {
    color: var(--slate-700);
}

.focus\:link-slate-800:focus {
    color: var(--slate-800);
}

.focus\:link-slate-900:focus {
    color: var(--slate-900);
}

.focus\:link-blue-50:focus {
    color: var(--blue-50);
}

.focus\:link-blue-100:focus {
    color: var(--blue-100);
}

.focus\:link-blue-200:focus {
    color: var(--blue-200);
}

.focus\:link-blue-300:focus {
    color: var(--blue-300);
}

.focus\:link-blue-400:focus {
    color: var(--blue-400);
}

.focus\:link-blue-500:focus {
    color: var(--blue-500);
}

.focus\:link-blue-600:focus {
    color: var(--blue-600);
}

.focus\:link-blue-700:focus {
    color: var(--blue-700);
}

.focus\:link-blue-800:focus {
    color: var(--blue-800);
}

.focus\:link-blue-900:focus {
    color: var(--blue-900);
}

.focus\:link-light-blue-100:focus {
    color: var(--light-blue-100);
}

.focus\:link-light-blue-200:focus {
    color: var(--light-blue-200);
}

.focus\:link-light-blue-300:focus {
    color: var(--light-blue-300);
}

.focus\:link-light-blue-400:focus {
    color: var(--light-blue-400);
}

.focus\:link-light-blue-500:focus {
    color: var(--light-blue-500);
}

.focus\:link-light-blue-600:focus {
    color: var(--light-blue-600);
}

.focus\:link-light-blue-700:focus {
    color: var(--light-blue-700);
}

.focus\:link-light-blue-800:focus {
    color: var(--light-blue-800);
}

.focus\:link-light-blue-900:focus {
    color: var(--light-blue-900);
}

.focus\:link-indigo-100:focus {
    color: var(--indigo-100);
}

.focus\:link-indigo-200:focus {
    color: var(--indigo-200);
}

.focus\:link-indigo-300:focus {
    color: var(--indigo-300);
}

.focus\:link-indigo-400:focus {
    color: var(--indigo-400);
}

.focus\:link-indigo-500:focus {
    color: var(--indigo-500);
}

.focus\:link-indigo-600:focus {
    color: var(--indigo-600);
}

.focus\:link-indigo-700:focus {
    color: var(--indigo-700);
}

.focus\:link-indigo-700:focus {
    color: var(--indigo-800);
}

.focus\:link-indigo-700:focus {
    color: var(--indigo-900);
}

.focus\:link-purple-50:focus {
    color: var(--purple-50);
}

.focus\:link-purple-100:focus {
    color: var(--purple-100);
}

.focus\:link-purple-200:focus {
    color: var(--purple-200);
}

.focus\:link-purple-300:focus {
    color: var(--purple-300);
}

.focus\:link-purple-400:focus {
    color: var(--purple-400);
}

.focus\:link-purple-500:focus {
    color: var(--purple-500);
}

.focus\:link-purple-600:focus {
    color: var(--purple-600);
}

.focus\:link-purple-700:focus {
    color: var(--purple-700);
}

.focus\:link-purple-800:focus {
    color: var(--purple-800);
}

.focus\:link-purple-900:focus {
    color: var(--purple-900);
}

.focus\:link-deep-purple-100:focus {
    color: var(--deep-purple-100);
}

.focus\:link-deep-purple-200:focus {
    color: var(--deep-purple-200);
}

.focus\:link-deep-purple-300:focus {
    color: var(--deep-purple-300);
}

.focus\:link-deep-purple-400:focus {
    color: var(--deep-purple-400);
}

.focus\:link-deep-purple-500:focus {
    color: var(--deep-purple-500);
}

.focus\:link-deep-purple-600:focus {
    color: var(--deep-purple-600);
}

.focus\:link-deep-purple-700:focus {
    color: var(--deep-purple-700);
}

.focus\:link-deep-purple-800:focus {
    color: var(--deep-purple-800);
}

.focus\:link-deep-purple-900:focus {
    color: var(--deep-purple-900);
}

.focus\:link-fuchsia-50:focus {
    color: var(--fuchsia-50);
}

.focus\:link-fuchsia-100:focus {
    color: var(--fuchsia-100);
}

.focus\:link-fuchsia-200:focus {
    color: var(--fuchsia-200);
}

.focus\:link-fuchsia-300:focus {
    color: var(--fuchsia-300);
}

.focus\:link-fuchsia-400:focus {
    color: var(--fuchsia-400);
}

.focus\:link-fuchsia-500:focus {
    color: var(--fuchsia-500);
}

.focus\:link-fuchsia-600:focus {
    color: var(--fuchsia-600);
}

.focus\:link-fuchsia-700:focus {
    color: var(--fuchsia-700);
}

.focus\:link-fuchsia-800:focus {
    color: var(--fuchsia-800);
}

.focus\:link-fuchsia-900:focus {
    color: var(--fuchsia-900);
}

.focus\:link-pink-50:focus {
    color: var(--pink-50);
}

.focus\:link-pink-100:focus {
    color: var(--pink-100);
}

.focus\:link-pink-200:focus {
    color: var(--pink-200);
}

.focus\:link-pink-300:focus {
    color: var(--pink-300);
}

.focus\:link-pink-400:focus {
    color: var(--pink-400);
}

.focus\:link-pink-500:focus {
    color: var(--pink-500);
}

.focus\:link-pink-600:focus {
    color: var(--pink-600);
}

.focus\:link-pink-700:focus {
    color: var(--pink-700);
}

.focus\:link-pink-800:focus {
    color: var(--pink-800);
}

.focus\:link-pink-900:focus {
    color: var(--pink-900);
}

.focus\:link-rose-50:focus {
    color: var(--rose-50);
}

.focus\:link-rose-100:focus {
    color: var(--rose-100);
}

.focus\:link-rose-200:focus {
    color: var(--rose-200);
}

.focus\:link-rose-300:focus {
    color: var(--rose-300);
}

.focus\:link-rose-400:focus {
    color: var(--rose-400);
}

.focus\:link-rose-500:focus {
    color: var(--rose-500);
}

.focus\:link-rose-600:focus {
    color: var(--rose-600);
}

.focus\:link-rose-700:focus {
    color: var(--rose-700);
}

.focus\:link-rose-800:focus {
    color: var(--rose-800);
}

.focus\:link-red-50:focus {
    color: var(--red-50);
}

.focus\:link-red-100:focus {
    color: var(--red-100);
}

.focus\:link-red-200:focus {
    color: var(--red-200);
}

.focus\:link-red-300:focus {
    color: var(--red-300);
}

.focus\:link-red-400:focus {
    color: var(--red-400);
}

.focus\:link-red-500:focus {
    color: var(--red-500);
}

.focus\:link-red-600:focus {
    color: var(--red-600);
}

.focus\:link-red-700:focus {
    color: var(--red-700);
}

.focus\:link-red-800:focus {
    color: var(--red-800);
}

.focus\:link-red-900:focus {
    color: var(--red-900);
}

.focus\:link-orange-50:focus {
    color: var(--orange-50);
}

.focus\:link-orange-100:focus {
    color: var(--orange-100);
}

.focus\:link-orange-200:focus {
    color: var(--orange-200);
}

.focus\:link-orange-300:focus {
    color: var(--orange-300);
}

.focus\:link-orange-400:focus {
    color: var(--orange-400);
}

.focus\:link-orange-500:focus {
    color: var(--orange-500);
}

.focus\:link-orange-600:focus {
    color: var(--orange-600);
}

.focus\:link-orange-700:focus {
    color: var(--orange-700);
}

.focus\:link-orange-800:focus {
    color: var(--orange-800);
}

.focus\:link-orange-900:focus {
    color: var(--orange-900);
}

.focus\:link-yellow-50:focus {
    color: var(--yellow-50);
}

.focus\:link-yellow-100:focus {
    color: var(--yellow-100);
}

.focus\:link-yellow-200:focus {
    color: var(--yellow-200);
}

.focus\:link-yellow-300:focus {
    color: var(--yellow-300);
}

.focus\:link-yellow-400:focus {
    color: var(--yellow-400);
}

.focus\:link-yellow-500:focus {
    color: var(--yellow-500);
}

.focus\:link-yellow-600:focus {
    color: var(--yellow-600);
}

.focus\:link-yellow-700:focus {
    color: var(--yellow-700);
}

.focus\:link-yellow-800:focus {
    color: var(--yellow-800);
}

.focus\:link-yellow-900:focus {
    color: var(--yellow-900);
}

.focus\:link-lime-100:focus {
    color: var(--lime-100);
}

.focus\:link-lime-200:focus {
    color: var(--lime-200);
}

.focus\:link-lime-300:focus {
    color: var(--lime-300);
}

.focus\:link-lime-400:focus {
    color: var(--lime-400);
}

.focus\:link-lime-500:focus {
    color: var(--lime-500);
}

.focus\:link-lime-600:focus {
    color: var(--lime-600);
}

.focus\:link-lime-700:focus {
    color: var(--lime-700);
}

.focus\:link-lime-800:focus {
    color: var(--lime-800);
}

.focus\:link-lime-900:focus {
    color: var(--lime-900);
}

.focus\:link-green-50:focus {
    color: var(--green-50);
}

.focus\:link-green-100:focus {
    color: var(--green-100);
}

.focus\:link-green-200:focus {
    color: var(--green-200);
}

.focus\:link-green-300:focus {
    color: var(--green-300);
}

.focus\:link-green-400:focus {
    color: var(--green-400);
}

.focus\:link-green-500:focus {
    color: var(--green-500);
}

.focus\:link-green-600:focus {
    color: var(--green-600);
}

.focus\:link-green-700:focus {
    color: var(--green-700);
}

.focus\:link-green-800:focus {
    color: var(--green-800);
}

.focus\:link-green-900:focus {
    color: var(--green-900);
}

.focus\:link-teal-50:focus {
    color: var(--teal-50);
}

.focus\:link-teal-100:focus {
    color: var(--teal-100);
}

.focus\:link-teal-200:focus {
    color: var(--teal-200);
}

.focus\:link-teal-300:focus {
    color: var(--teal-300);
}

.focus\:link-teal-400:focus {
    color: var(--teal-400);
}

.focus\:link-teal-500:focus {
    color: var(--teal-500);
}

.focus\:link-teal-600:focus {
    color: var(--teal-600);
}

.focus\:link-teal-700:focus {
    color: var(--teal-700);
}

.focus\:link-teal-800:focus {
    color: var(--teal-800);
}

.focus\:link-teal-900:focus {
    color: var(--teal-900);
}

.focus\:link-gray-100:focus {
    color: var(--gray-100);
}

.focus\:link-gray-200:focus {
    color: var(--gray-200);
}

.focus\:link-gray-300:focus {
    color: var(--gray-300);
}

.focus\:link-gray-400:focus {
    color: var(--gray-400);
}

.focus\:link-gray-600:focus {
    color: var(--gray-600);
}

.focus\:link-gray-700:focus {
    color: var(--gray-700);
}

.focus\:link-gray-800:focus {
    color: var(--gray-800);
}

.focus\:link-gray-900:focus {
    color: var(--gray-900);
}

.focus\:link-zinc-50:focus {
    color: var(--zinc-50);
}

.focus\:link-zinc-100:focus {
    color: var(--zinc-100);
}

.focus\:link-zinc-200:focus {
    color: var(--zinc-200);
}

.focus\:link-zinc-300:focus {
    color: var(--zinc-300);
}

.focus\:link-zinc-400:focus {
    color: var(--zinc-400);
}

.focus\:link-zinc-500:focus {
    color: var(--zinc-500);
}

.focus\:link-zinc-600:focus {
    color: var(--zinc-600);
}

.focus\:link-zinc-700:focus {
    color: var(--zinc-700);
}

.focus\:link-zinc-800:focus {
    color: var(--zinc-800);
}

.focus\:link-zinc-900:focus {
    color: var(--zinc-900);
}

.focus\:link-light-50:focus {
    color: var(--light-50);
}

.focus\:link-light-100:focus {
    color: var(--light-100);
}

.focus\:link-light-200:focus {
    color: var(--light-200);
}

.focus\:link-light-300:focus {
    color: var(--light-300);
}

.focus\:link-light-400:focus {
    color: var(--light-400);
}

.focus\:link-light-500:focus {
    color: var(--light-500);
}

.focus\:link-light-600:focus {
    color: var(--light-600);
}

.focus\:link-light-700:focus {
    color: var(--light-700);
}

.focus\:link-light-800:focus {
    color: var(--light-800);
}

.focus\:link-light-900:focus {
    color: var(--light-900);
}

.focus\:link-white:focus {
    color: var(--white);
}

.focus\:link-black:focus {
    color: var(--black);
}

.focus\:link-dark-50:focus {
    color: var(--dark-50);
}

.focus\:link-dark-100:focus {
    color: var(--dark-100);
}

.focus\:link-dark-200:focus {
    color: var(--dark-200);
}

.focus\:link-dark-300:focus {
    color: var(--dark-300);
}

.focus\:link-dark-400:focus {
    color: var(--dark-400);
}

.focus\:link-dark-500:focus {
    color: var(--dark-500);
}

.focus\:link-dark-600:focus {
    color: var(--dark-600);
}

.focus\:link-dark-700:focus {
    color: var(--dark-700);
}

.focus\:link-dark-800:focus {
    color: var(--dark-800);
}

.focus\:link-dark-900:focus {
    color: var(--dark-900);
}

.active\:link-transparent:active {
    color: transparent;
}

.active\:link-slate:active {
    color: var(--slate);
}

.active\:link-slate-100:active {
    color: var(--slate-100);
}

.active\:link-slate-200:active {
    color: var(--slate-200);
}

.active\:link-slate-300:active {
    color: var(--slate-300);
}

.active\:link-slate-400:active {
    color: var(--slate-400);
}

.active\:link-slate-500:active {
    color: var(--slate-500);
}

.active\:link-slate-600:active {
    color: var(--slate-600);
}

.active\:link-slate-700:active {
    color: var(--slate-700);
}

.active\:link-slate-800:active {
    color: var(--slate-800);
}

.active\:link-slate-900:active {
    color: var(--slate-900);
}

.active\:link-blue-50:active {
    color: var(--blue-50);
}

.active\:link-blue-100:active {
    color: var(--blue-100);
}

.active\:link-blue-200:active {
    color: var(--blue-200);
}

.active\:link-blue-300:active {
    color: var(--blue-300);
}

.active\:link-blue-400:active {
    color: var(--blue-400);
}

.active\:link-blue-500:active {
    color: var(--blue-500);
}

.active\:link-blue-600:active {
    color: var(--blue-600);
}

.active\:link-blue-700:active {
    color: var(--blue-700);
}

.active\:link-blue-800:active {
    color: var(--blue-800);
}

.active\:link-blue-900:active {
    color: var(--blue-900);
}

.active\:link-light-blue-100:active {
    color: var(--light-blue-100);
}

.active\:link-light-blue-200:active {
    color: var(--light-blue-200);
}

.active\:link-light-blue-300:active {
    color: var(--light-blue-300);
}

.active\:link-light-blue-400:active {
    color: var(--light-blue-400);
}

.active\:link-light-blue-500:active {
    color: var(--light-blue-500);
}

.active\:link-light-blue-600:active {
    color: var(--light-blue-600);
}

.active\:link-light-blue-700:active {
    color: var(--light-blue-700);
}

.active\:link-light-blue-800:active {
    color: var(--light-blue-800);
}

.active\:link-light-blue-900:active {
    color: var(--light-blue-900);
}

.active\:link-indigo-100:active {
    color: var(--indigo-100);
}

.active\:link-indigo-200:active {
    color: var(--indigo-200);
}

.active\:link-indigo-300:active {
    color: var(--indigo-300);
}

.active\:link-indigo-400:active {
    color: var(--indigo-400);
}

.active\:link-indigo-500:active {
    color: var(--indigo-500);
}

.active\:link-indigo-600:active {
    color: var(--indigo-600);
}

.active\:link-indigo-700:active {
    color: var(--indigo-700);
}

.active\:link-indigo-700:active {
    color: var(--indigo-800);
}

.active\:link-indigo-700:active {
    color: var(--indigo-900);
}

.active\:link-purple-50:active {
    color: var(--purple-50);
}

.active\:link-purple-100:active {
    color: var(--purple-100);
}

.active\:link-purple-200:active {
    color: var(--purple-200);
}

.active\:link-purple-300:active {
    color: var(--purple-300);
}

.active\:link-purple-400:active {
    color: var(--purple-400);
}

.active\:link-purple-500:active {
    color: var(--purple-500);
}

.active\:link-purple-600:active {
    color: var(--purple-600);
}

.active\:link-purple-700:active {
    color: var(--purple-700);
}

.active\:link-purple-800:active {
    color: var(--purple-800);
}

.active\:link-purple-900:active {
    color: var(--purple-900);
}

.active\:link-deep-purple-100:active {
    color: var(--deep-purple-100);
}

.active\:link-deep-purple-200:active {
    color: var(--deep-purple-200);
}

.active\:link-deep-purple-300:active {
    color: var(--deep-purple-300);
}

.active\:link-deep-purple-400:active {
    color: var(--deep-purple-400);
}

.active\:link-deep-purple-500:active {
    color: var(--deep-purple-500);
}

.active\:link-deep-purple-600:active {
    color: var(--deep-purple-600);
}

.active\:link-deep-purple-700:active {
    color: var(--deep-purple-700);
}

.active\:link-deep-purple-800:active {
    color: var(--deep-purple-800);
}

.active\:link-deep-purple-900:active {
    color: var(--deep-purple-900);
}

.active\:link-fuchsia-50:active {
    color: var(--fuchsia-50);
}

.active\:link-fuchsia-100:active {
    color: var(--fuchsia-100);
}

.active\:link-fuchsia-200:active {
    color: var(--fuchsia-200);
}

.active\:link-fuchsia-300:active {
    color: var(--fuchsia-300);
}

.active\:link-fuchsia-400:active {
    color: var(--fuchsia-400);
}

.active\:link-fuchsia-500:active {
    color: var(--fuchsia-500);
}

.active\:link-fuchsia-600:active {
    color: var(--fuchsia-600);
}

.active\:link-fuchsia-700:active {
    color: var(--fuchsia-700);
}

.active\:link-fuchsia-800:active {
    color: var(--fuchsia-800);
}

.active\:link-fuchsia-900:active {
    color: var(--fuchsia-900);
}

.active\:link-pink-50:active {
    color: var(--pink-50);
}

.active\:link-pink-100:active {
    color: var(--pink-100);
}

.active\:link-pink-200:active {
    color: var(--pink-200);
}

.active\:link-pink-300:active {
    color: var(--pink-300);
}

.active\:link-pink-400:active {
    color: var(--pink-400);
}

.active\:link-pink-500:active {
    color: var(--pink-500);
}

.active\:link-pink-600:active {
    color: var(--pink-600);
}

.active\:link-pink-700:active {
    color: var(--pink-700);
}

.active\:link-pink-800:active {
    color: var(--pink-800);
}

.active\:link-pink-900:active {
    color: var(--pink-900);
}

.active\:link-rose-50:active {
    color: var(--rose-50);
}

.active\:link-rose-100:active {
    color: var(--rose-100);
}

.active\:link-rose-200:active {
    color: var(--rose-200);
}

.active\:link-rose-300:active {
    color: var(--rose-300);
}

.active\:link-rose-400:active {
    color: var(--rose-400);
}

.active\:link-rose-500:active {
    color: var(--rose-500);
}

.active\:link-rose-600:active {
    color: var(--rose-600);
}

.active\:link-rose-700:active {
    color: var(--rose-700);
}

.active\:link-rose-800:active {
    color: var(--rose-800);
}

.active\:link-red-50:active {
    color: var(--red-50);
}

.active\:link-red-100:active {
    color: var(--red-100);
}

.active\:link-red-200:active {
    color: var(--red-200);
}

.active\:link-red-300:active {
    color: var(--red-300);
}

.active\:link-red-400:active {
    color: var(--red-400);
}

.active\:link-red-500:active {
    color: var(--red-500);
}

.active\:link-red-600:active {
    color: var(--red-600);
}

.active\:link-red-700:active {
    color: var(--red-700);
}

.active\:link-red-800:active {
    color: var(--red-800);
}

.active\:link-red-900:active {
    color: var(--red-900);
}

.active\:link-orange-50:active {
    color: var(--orange-50);
}

.active\:link-orange-100:active {
    color: var(--orange-100);
}

.active\:link-orange-200:active {
    color: var(--orange-200);
}

.active\:link-orange-300:active {
    color: var(--orange-300);
}

.active\:link-orange-400:active {
    color: var(--orange-400);
}

.active\:link-orange-500:active {
    color: var(--orange-500);
}

.active\:link-orange-600:active {
    color: var(--orange-600);
}

.active\:link-orange-700:active {
    color: var(--orange-700);
}

.active\:link-orange-800:active {
    color: var(--orange-800);
}

.active\:link-orange-900:active {
    color: var(--orange-900);
}

.active\:link-yellow-50:active {
    color: var(--yellow-50);
}

.active\:link-yellow-100:active {
    color: var(--yellow-100);
}

.active\:link-yellow-200:active {
    color: var(--yellow-200);
}

.active\:link-yellow-300:active {
    color: var(--yellow-300);
}

.active\:link-yellow-400:active {
    color: var(--yellow-400);
}

.active\:link-yellow-500:active {
    color: var(--yellow-500);
}

.active\:link-yellow-600:active {
    color: var(--yellow-600);
}

.active\:link-yellow-700:active {
    color: var(--yellow-700);
}

.active\:link-yellow-800:active {
    color: var(--yellow-800);
}

.active\:link-yellow-900:active {
    color: var(--yellow-900);
}

.active\:link-lime-100:active {
    color: var(--lime-100);
}

.active\:link-lime-200:active {
    color: var(--lime-200);
}

.active\:link-lime-300:active {
    color: var(--lime-300);
}

.active\:link-lime-400:active {
    color: var(--lime-400);
}

.active\:link-lime-500:active {
    color: var(--lime-500);
}

.active\:link-lime-600:active {
    color: var(--lime-600);
}

.active\:link-lime-700:active {
    color: var(--lime-700);
}

.active\:link-lime-800:active {
    color: var(--lime-800);
}

.active\:link-lime-900:active {
    color: var(--lime-900);
}

.active\:link-green-50:active {
    color: var(--green-50);
}

.active\:link-green-100:active {
    color: var(--green-100);
}

.active\:link-green-200:active {
    color: var(--green-200);
}

.active\:link-green-300:active {
    color: var(--green-300);
}

.active\:link-green-400:active {
    color: var(--green-400);
}

.active\:link-green-500:active {
    color: var(--green-500);
}

.active\:link-green-600:active {
    color: var(--green-600);
}

.active\:link-green-700:active {
    color: var(--green-700);
}

.active\:link-green-800:active {
    color: var(--green-800);
}

.active\:link-green-900:active {
    color: var(--green-900);
}

.active\:link-teal-50:active {
    color: var(--teal-50);
}

.active\:link-teal-100:active {
    color: var(--teal-100);
}

.active\:link-teal-200:active {
    color: var(--teal-200);
}

.active\:link-teal-300:active {
    color: var(--teal-300);
}

.active\:link-teal-400:active {
    color: var(--teal-400);
}

.active\:link-teal-500:active {
    color: var(--teal-500);
}

.active\:link-teal-600:active {
    color: var(--teal-600);
}

.active\:link-teal-700:active {
    color: var(--teal-700);
}

.active\:link-teal-800:active {
    color: var(--teal-800);
}

.active\:link-teal-900:active {
    color: var(--teal-900);
}

.active\:link-gray-100:active {
    color: var(--gray-100);
}

.active\:link-gray-200:active {
    color: var(--gray-200);
}

.active\:link-gray-300:active {
    color: var(--gray-300);
}

.active\:link-gray-400:active {
    color: var(--gray-400);
}

.active\:link-gray-600:active {
    color: var(--gray-600);
}

.active\:link-gray-700:active {
    color: var(--gray-700);
}

.active\:link-gray-800:active {
    color: var(--gray-800);
}

.active\:link-gray-900:active {
    color: var(--gray-900);
}

.active\:link-zinc-50:active {
    color: var(--zinc-50);
}

.active\:link-zinc-100:active {
    color: var(--zinc-100);
}

.active\:link-zinc-200:active {
    color: var(--zinc-200);
}

.active\:link-zinc-300:active {
    color: var(--zinc-300);
}

.active\:link-zinc-400:active {
    color: var(--zinc-400);
}

.active\:link-zinc-500:active {
    color: var(--zinc-500);
}

.active\:link-zinc-600:active {
    color: var(--zinc-600);
}

.active\:link-zinc-700:active {
    color: var(--zinc-700);
}

.active\:link-zinc-800:active {
    color: var(--zinc-800);
}

.active\:link-zinc-900:active {
    color: var(--zinc-900);
}

.active\:link-light-50:active {
    color: var(--light-50);
}

.active\:link-light-100:active {
    color: var(--light-100);
}

.active\:link-light-200:active {
    color: var(--light-200);
}

.active\:link-light-300:active {
    color: var(--light-300);
}

.active\:link-light-400:active {
    color: var(--light-400);
}

.active\:link-light-500:active {
    color: var(--light-500);
}

.active\:link-light-600:active {
    color: var(--light-600);
}

.active\:link-light-700:active {
    color: var(--light-700);
}

.active\:link-light-800:active {
    color: var(--light-800);
}

.active\:link-light-900:active {
    color: var(--light-900);
}

.active\:link-white:active {
    color: var(--white);
}

.active\:link-black:active {
    color: var(--black);
}

.active\:link-dark-50:active {
    color: var(--dark-50);
}

.active\:link-dark-100:active {
    color: var(--dark-100);
}

.active\:link-dark-200:active {
    color: var(--dark-200);
}

.active\:link-dark-300:active {
    color: var(--dark-300);
}

.active\:link-dark-400:active {
    color: var(--dark-400);
}

.active\:link-dark-500:active {
    color: var(--dark-500);
}

.active\:link-dark-600:active {
    color: var(--dark-600);
}

.active\:link-dark-700:active {
    color: var(--dark-700);
}

.active\:link-dark-800:active {
    color: var(--dark-800);
}

.active\:link-dark-900:active {
    color: var(--dark-900);
}
