.isolate-auto {
  isolation: auto !important;
}

.isolate {
  isolation: isolate !important;
}

.mix-blend-normal {
  mix-blend-mode: normal !important;
}

.mix-blend-multiply {
  mix-blend-mode: multiply !important;
}

.mix-blend-screen {
  mix-blend-mode: screen !important;
}

.mix-blend-overlay {
  mix-blend-mode: overlay !important;
}

.mix-blend-darken {
  mix-blend-mode: darken !important;
}

.mix-blend-lighten {
  mix-blend-mode: lighten !important;
}

.mix-blend-color-dodge {
  mix-blend-mode: color-dodge !important;
}

.mix-blend-color-burn {
  mix-blend-mode: color-burn !important;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light !important;
}

.mix-blend-soft-light {
  mix-blend-mode: soft-light !important;
}

.mix-blend-difference {
  mix-blend-mode: difference !important;
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion !important;
}

.mix-blend-hue {
  mix-blend-mode: hue !important;
}

.mix-blend-saturation {
  mix-blend-mode: saturation !important;
}

.mix-blend-color {
  mix-blend-mode: color !important;
}

.mix-blend-luminosity {
  mix-blend-mode: luminosity !important;
}
