.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.text-clip {
    text-overflow: clip;
}

.overflow-clip {
    overflow: clip;
}

.overflow-x-clip {
    overflow-x: clip;
}

.overflow-y-clip {
    overflow-y: clip;
}

@media (min-width: 360px) {
    .xs\:overflow-hidden {
        overflow: hidden;
    }

    .xs\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .xs\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .xs\:overflow-auto {
        overflow: auto;
    }

    .xs\:overflow-x-auto {
        overflow-x: auto;
    }

    .xs\:overflow-y-auto {
        overflow-y: auto;
    }

    .xs\:overflow-scroll {
        overflow: scroll;
    }

    .xs\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .xs\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .xs\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .xs\:text-clip {
        text-overflow: clip;
    }

    .xs\:overflow-clip {
        overflow: clip;
    }

    .xs\:overflow-x-clip {
        overflow-x: clip;
    }

    .xs\:overflow-y-clip {
        overflow-y: clip;
    }
}

@media (min-width: 640px) {
    .sm\:overflow-hidden {
        overflow: hidden;
    }

    .sm\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .sm\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .sm\:overflow-auto {
        overflow: auto;
    }

    .sm\:overflow-x-auto {
        overflow-x: auto;
    }

    .sm\:overflow-y-auto {
        overflow-y: auto;
    }

    .sm\:overflow-scroll {
        overflow: scroll;
    }

    .sm\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .sm\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .sm\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .sm\:text-clip {
        text-overflow: clip;
    }

    .sm\:overflow-clip {
        overflow: clip;
    }

    .sm\:overflow-x-clip {
        overflow-x: clip;
    }

    .sm\:overflow-y-clip {
        overflow-y: clip;
    }
}

@media (min-width: 768px) {
    .md\:overflow-hidden {
        overflow: hidden;
    }

    .md\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .md\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .md\:overflow-auto {
        overflow: auto;
    }

    .md\:overflow-x-auto {
        overflow-x: auto;
    }

    .md\:overflow-y-auto {
        overflow-y: auto;
    }

    .md\:overflow-scroll {
        overflow: scroll;
    }

    .md\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .md\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .md\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .md\:text-clip {
        text-overflow: clip;
    }

    .md\:overflow-clip {
        overflow: clip;
    }

    .md\:overflow-x-clip {
        overflow-x: clip;
    }

    .md\:overflow-y-clip {
        overflow-y: clip;
    }
}

@media (min-width: 1024px) {
    .lg\:overflow-hidden {
        overflow: hidden;
    }

    .lg\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .lg\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .lg\:overflow-auto {
        overflow: auto;
    }

    .lg\:overflow-x-auto {
        overflow-x: auto;
    }

    .lg\:overflow-y-auto {
        overflow-y: auto;
    }

    .lg\:overflow-scroll {
        overflow: scroll;
    }

    .lg\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .lg\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .lg\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .lg\:text-clip {
        text-overflow: clip;
    }

    .lg\:overflow-clip {
        overflow: clip;
    }

    .lg\:overflow-x-clip {
        overflow-x: clip;
    }

    .lg\:overflow-y-clip {
        overflow-y: clip;
    }
}

@media (min-width: 1280px) {
    .xl\:overflow-hidden {
        overflow: hidden;
    }

    .xl\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .xl\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .xl\:overflow-auto {
        overflow: auto;
    }

    .xl\:overflow-x-auto {
        overflow-x: auto;
    }

    .xl\:overflow-y-auto {
        overflow-y: auto;
    }

    .xl\:overflow-scroll {
        overflow: scroll;
    }

    .xl\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .xl\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .xl\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .xl\:text-clip {
        text-overflow: clip;
    }

    .xl\:overflow-clip {
        overflow: clip;
    }

    .xl\:overflow-x-clip {
        overflow-x: clip;
    }

    .xl\:overflow-y-clip {
        overflow-y: clip;
    }
}

@media (min-width: 1536px) {
    .\32xl\:overflow-hidden {
        overflow: hidden;
    }

    .\32xl\:overflow-x-hidden {
        overflow-x: hidden;
    }

    .\32xl\:overflow-y-hidden {
        overflow-y: hidden;
    }

    .\32xl\:overflow-auto {
        overflow: auto;
    }

    .\32xl\:overflow-x-auto {
        overflow-x: auto;
    }

    .\32xl\:overflow-y-auto {
        overflow-y: auto;
    }

    .\32xl\:overflow-scroll {
        overflow: scroll;
    }

    .\32xl\:overflow-x-scroll {
        overflow-x: scroll;
    }

    .\32xl\:overflow-y-scroll {
        overflow-y: scroll;
    }

    .\32xl\:text-ellipsis {
        text-overflow: ellipsis;
    }

    .\32xl\:text-clip {
        text-overflow: clip;
    }

    .\32xl\:overflow-clip {
        overflow: clip;
    }

    .\32xl\:overflow-x-clip {
        overflow-x: clip;
    }

    .\32xl\:overflow-y-clip {
        overflow-y: clip;
    }
}
