.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.text-ellipsis {
  text-overflow: ellipsis !important;
}

.text-clip {
  text-overflow: clip !important;
}

.overflow-clip {
  overflow: clip !important;
}

.overflow-x-clip {
  overflow-x: clip !important;
}

.overflow-y-clip {
  overflow-y: clip !important;
}

@media (min-width: 360px) {
  .xs\:overflow-hidden {
    overflow: hidden !important;
  }

  .xs\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .xs\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .xs\:overflow-auto {
    overflow: auto !important;
  }

  .xs\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .xs\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .xs\:overflow-scroll {
    overflow: scroll !important;
  }

  .xs\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .xs\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .xs\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .xs\:text-clip {
    text-overflow: clip !important;
  }

  .xs\:overflow-clip {
    overflow: clip !important;
  }

  .xs\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .xs\:overflow-y-clip {
    overflow-y: clip !important;
  }
}

@media (min-width: 640px) {
  .sm\:overflow-hidden {
    overflow: hidden !important;
  }

  .sm\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .sm\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .sm\:overflow-auto {
    overflow: auto !important;
  }

  .sm\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .sm\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .sm\:overflow-scroll {
    overflow: scroll !important;
  }

  .sm\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .sm\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .sm\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .sm\:text-clip {
    text-overflow: clip !important;
  }

  .sm\:overflow-clip {
    overflow: clip !important;
  }

  .sm\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .sm\:overflow-y-clip {
    overflow-y: clip !important;
  }
}

@media (min-width: 768px) {
  .md\:overflow-hidden {
    overflow: hidden !important;
  }

  .md\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .md\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .md\:overflow-auto {
    overflow: auto !important;
  }

  .md\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .md\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .md\:overflow-scroll {
    overflow: scroll !important;
  }

  .md\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .md\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .md\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .md\:text-clip {
    text-overflow: clip !important;
  }

  .md\:overflow-clip {
    overflow: clip !important;
  }

  .md\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .md\:overflow-y-clip {
    overflow-y: clip !important;
  }
}

@media (min-width: 1024px) {
  .lg\:overflow-hidden {
    overflow: hidden !important;
  }

  .lg\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .lg\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .lg\:overflow-auto {
    overflow: auto !important;
  }

  .lg\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .lg\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .lg\:overflow-scroll {
    overflow: scroll !important;
  }

  .lg\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .lg\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .lg\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .lg\:text-clip {
    text-overflow: clip !important;
  }

  .lg\:overflow-clip {
    overflow: clip !important;
  }

  .lg\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .lg\:overflow-y-clip {
    overflow-y: clip !important;
  }
}

@media (min-width: 1280px) {
  .xl\:overflow-hidden {
    overflow: hidden !important;
  }

  .xl\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .xl\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .xl\:overflow-auto {
    overflow: auto !important;
  }

  .xl\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .xl\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .xl\:overflow-scroll {
    overflow: scroll !important;
  }

  .xl\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .xl\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .xl\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .xl\:text-clip {
    text-overflow: clip !important;
  }

  .xl\:overflow-clip {
    overflow: clip !important;
  }

  .xl\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .xl\:overflow-y-clip {
    overflow-y: clip !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:overflow-hidden {
    overflow: hidden !important;
  }

  .\32xl\:overflow-x-hidden {
    overflow-x: hidden !important;
  }

  .\32xl\:overflow-y-hidden {
    overflow-y: hidden !important;
  }

  .\32xl\:overflow-auto {
    overflow: auto !important;
  }

  .\32xl\:overflow-x-auto {
    overflow-x: auto !important;
  }

  .\32xl\:overflow-y-auto {
    overflow-y: auto !important;
  }

  .\32xl\:overflow-scroll {
    overflow: scroll !important;
  }

  .\32xl\:overflow-x-scroll {
    overflow-x: scroll !important;
  }

  .\32xl\:overflow-y-scroll {
    overflow-y: scroll !important;
  }

  .\32xl\:text-ellipsis {
    text-overflow: ellipsis !important;
  }

  .\32xl\:text-clip {
    text-overflow: clip !important;
  }

  .\32xl\:overflow-clip {
    overflow: clip !important;
  }

  .\32xl\:overflow-x-clip {
    overflow-x: clip !important;
  }

  .\32xl\:overflow-y-clip {
    overflow-y: clip !important;
  }
}
