.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.p-custom {
  padding: 10rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.px-custom {
  padding-right: 10rem !important;
  padding-left: 10rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.py-custom {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pt-custom {
  padding-top: 10rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pe-custom {
  padding-right: 10rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.pb-custom {
  padding-bottom: 10rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

.ps-custom {
  padding-left: 10rem !important;
}

@media (min-width: 640px) {
  .sm\:p-0 {
    padding: 0 !important;
  }

  .sm\:p-1 {
    padding: 0.25rem !important;
  }

  .sm\:p-2 {
    padding: 0.5rem !important;
  }

  .sm\:p-3 {
    padding: 1rem !important;
  }

  .sm\:p-4 {
    padding: 1.5rem !important;
  }

  .sm\:p-5 {
    padding: 3rem !important;
  }

  .sm\:p-custom {
    padding: 10rem !important;
  }

  .sm\:px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .sm\:px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .sm\:px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .sm\:px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .sm\:px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .sm\:px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .sm\:px-custom {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .sm\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .sm\:py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .sm\:py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .sm\:py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .sm\:py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .sm\:py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .sm\:py-custom {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .sm\:pt-0 {
    padding-top: 0 !important;
  }

  .sm\:pt-1 {
    padding-top: 0.25rem !important;
  }

  .sm\:pt-2 {
    padding-top: 0.5rem !important;
  }

  .sm\:pt-3 {
    padding-top: 1rem !important;
  }

  .sm\:pt-4 {
    padding-top: 1.5rem !important;
  }

  .sm\:pt-5 {
    padding-top: 3rem !important;
  }

  .sm\:pt-custom {
    padding-top: 10rem !important;
  }

  .sm\:pe-0 {
    padding-right: 0 !important;
  }

  .sm\:pe-1 {
    padding-right: 0.25rem !important;
  }

  .sm\:pe-2 {
    padding-right: 0.5rem !important;
  }

  .sm\:pe-3 {
    padding-right: 1rem !important;
  }

  .sm\:pe-4 {
    padding-right: 1.5rem !important;
  }

  .sm\:pe-5 {
    padding-right: 3rem !important;
  }

  .sm\:pe-custom {
    padding-right: 10rem !important;
  }

  .sm\:pb-0 {
    padding-bottom: 0 !important;
  }

  .sm\:pb-1 {
    padding-bottom: 0.25rem !important;
  }

  .sm\:pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .sm\:pb-3 {
    padding-bottom: 1rem !important;
  }

  .sm\:pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .sm\:pb-5 {
    padding-bottom: 3rem !important;
  }

  .sm\:pb-custom {
    padding-bottom: 10rem !important;
  }

  .sm\:ps-0 {
    padding-left: 0 !important;
  }

  .sm\:ps-1 {
    padding-left: 0.25rem !important;
  }

  .sm\:ps-2 {
    padding-left: 0.5rem !important;
  }

  .sm\:ps-3 {
    padding-left: 1rem !important;
  }

  .sm\:ps-4 {
    padding-left: 1.5rem !important;
  }

  .sm\:ps-5 {
    padding-left: 3rem !important;
  }

  .sm\:ps-custom {
    padding-left: 10rem !important;
  }
}

@media (min-width: 768px) {
  .md\:p-0 {
    padding: 0 !important;
  }

  .md\:p-1 {
    padding: 0.25rem !important;
  }

  .md\:p-2 {
    padding: 0.5rem !important;
  }

  .md\:p-3 {
    padding: 1rem !important;
  }

  .md\:p-4 {
    padding: 1.5rem !important;
  }

  .md\:p-5 {
    padding: 3rem !important;
  }

  .md\:p-custom {
    padding: 10rem !important;
  }

  .md\:px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .md\:px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .md\:px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .md\:px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .md\:px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .md\:px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .md\:px-custom {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .md\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .md\:py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .md\:py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .md\:py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .md\:py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .md\:py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .md\:py-custom {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .md\:pt-0 {
    padding-top: 0 !important;
  }

  .md\:pt-1 {
    padding-top: 0.25rem !important;
  }

  .md\:pt-2 {
    padding-top: 0.5rem !important;
  }

  .md\:pt-3 {
    padding-top: 1rem !important;
  }

  .md\:pt-4 {
    padding-top: 1.5rem !important;
  }

  .md\:pt-5 {
    padding-top: 3rem !important;
  }

  .md\:pt-custom {
    padding-top: 10rem !important;
  }

  .md\:pe-0 {
    padding-right: 0 !important;
  }

  .md\:pe-1 {
    padding-right: 0.25rem !important;
  }

  .md\:pe-2 {
    padding-right: 0.5rem !important;
  }

  .md\:pe-3 {
    padding-right: 1rem !important;
  }

  .md\:pe-4 {
    padding-right: 1.5rem !important;
  }

  .md\:pe-5 {
    padding-right: 3rem !important;
  }

  .md\:pe-custom {
    padding-right: 10rem !important;
  }

  .md\:pb-0 {
    padding-bottom: 0 !important;
  }

  .md\:pb-1 {
    padding-bottom: 0.25rem !important;
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .md\:pb-3 {
    padding-bottom: 1rem !important;
  }

  .md\:pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .md\:pb-5 {
    padding-bottom: 3rem !important;
  }

  .md\:pb-custom {
    padding-bottom: 10rem !important;
  }

  .md\:ps-0 {
    padding-left: 0 !important;
  }

  .md\:ps-1 {
    padding-left: 0.25rem !important;
  }

  .md\:ps-2 {
    padding-left: 0.5rem !important;
  }

  .md\:ps-3 {
    padding-left: 1rem !important;
  }

  .md\:ps-4 {
    padding-left: 1.5rem !important;
  }

  .md\:ps-5 {
    padding-left: 3rem !important;
  }

  .md\:ps-custom {
    padding-left: 10rem !important;
  }
}

@media (min-width: 1024px) {
  .lg\:p-0 {
    padding: 0 !important;
  }

  .lg\:p-1 {
    padding: 0.25rem !important;
  }

  .lg\:p-2 {
    padding: 0.5rem !important;
  }

  .lg\:p-3 {
    padding: 1rem !important;
  }

  .lg\:p-4 {
    padding: 1.5rem !important;
  }

  .lg\:p-5 {
    padding: 3rem !important;
  }

  .lg\:p-custom {
    padding: 10rem !important;
  }

  .lg\:px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .lg\:px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .lg\:px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .lg\:px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .lg\:px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .lg\:px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .lg\:px-custom {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .lg\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .lg\:py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .lg\:py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .lg\:py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .lg\:py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .lg\:py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .lg\:py-custom {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .lg\:pt-0 {
    padding-top: 0 !important;
  }

  .lg\:pt-1 {
    padding-top: 0.25rem !important;
  }

  .lg\:pt-2 {
    padding-top: 0.5rem !important;
  }

  .lg\:pt-3 {
    padding-top: 1rem !important;
  }

  .lg\:pt-4 {
    padding-top: 1.5rem !important;
  }

  .lg\:pt-5 {
    padding-top: 3rem !important;
  }

  .lg\:pt-custom {
    padding-top: 10rem !important;
  }

  .lg\:pe-0 {
    padding-right: 0 !important;
  }

  .lg\:pe-1 {
    padding-right: 0.25rem !important;
  }

  .lg\:pe-2 {
    padding-right: 0.5rem !important;
  }

  .lg\:pe-3 {
    padding-right: 1rem !important;
  }

  .lg\:pe-4 {
    padding-right: 1.5rem !important;
  }

  .lg\:pe-5 {
    padding-right: 3rem !important;
  }

  .lg\:pe-custom {
    padding-right: 10rem !important;
  }

  .lg\:pb-0 {
    padding-bottom: 0 !important;
  }

  .lg\:pb-1 {
    padding-bottom: 0.25rem !important;
  }

  .lg\:pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .lg\:pb-3 {
    padding-bottom: 1rem !important;
  }

  .lg\:pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .lg\:pb-5 {
    padding-bottom: 3rem !important;
  }

  .lg\:pb-custom {
    padding-bottom: 10rem !important;
  }

  .lg\:ps-0 {
    padding-left: 0 !important;
  }

  .lg\:ps-1 {
    padding-left: 0.25rem !important;
  }

  .lg\:ps-2 {
    padding-left: 0.5rem !important;
  }

  .lg\:ps-3 {
    padding-left: 1rem !important;
  }

  .lg\:ps-4 {
    padding-left: 1.5rem !important;
  }

  .lg\:ps-5 {
    padding-left: 3rem !important;
  }

  .lg\:ps-custom {
    padding-left: 10rem !important;
  }
}

@media (min-width: 1280px) {
  .xl\:p-0 {
    padding: 0 !important;
  }

  .xl\:p-1 {
    padding: 0.25rem !important;
  }

  .xl\:p-2 {
    padding: 0.5rem !important;
  }

  .xl\:p-3 {
    padding: 1rem !important;
  }

  .xl\:p-4 {
    padding: 1.5rem !important;
  }

  .xl\:p-5 {
    padding: 3rem !important;
  }

  .xl\:p-custom {
    padding: 10rem !important;
  }

  .xl\:px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .xl\:px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .xl\:px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .xl\:px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .xl\:px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .xl\:px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .xl\:px-custom {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .xl\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .xl\:py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .xl\:py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .xl\:py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .xl\:py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .xl\:py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .xl\:py-custom {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .xl\:pt-0 {
    padding-top: 0 !important;
  }

  .xl\:pt-1 {
    padding-top: 0.25rem !important;
  }

  .xl\:pt-2 {
    padding-top: 0.5rem !important;
  }

  .xl\:pt-3 {
    padding-top: 1rem !important;
  }

  .xl\:pt-4 {
    padding-top: 1.5rem !important;
  }

  .xl\:pt-5 {
    padding-top: 3rem !important;
  }

  .xl\:pt-custom {
    padding-top: 10rem !important;
  }

  .xl\:pe-0 {
    padding-right: 0 !important;
  }

  .xl\:pe-1 {
    padding-right: 0.25rem !important;
  }

  .xl\:pe-2 {
    padding-right: 0.5rem !important;
  }

  .xl\:pe-3 {
    padding-right: 1rem !important;
  }

  .xl\:pe-4 {
    padding-right: 1.5rem !important;
  }

  .xl\:pe-5 {
    padding-right: 3rem !important;
  }

  .xl\:pe-custom {
    padding-right: 10rem !important;
  }

  .xl\:pb-0 {
    padding-bottom: 0 !important;
  }

  .xl\:pb-1 {
    padding-bottom: 0.25rem !important;
  }

  .xl\:pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .xl\:pb-3 {
    padding-bottom: 1rem !important;
  }

  .xl\:pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .xl\:pb-5 {
    padding-bottom: 3rem !important;
  }

  .xl\:pb-custom {
    padding-bottom: 10rem !important;
  }

  .xl\:ps-0 {
    padding-left: 0 !important;
  }

  .xl\:ps-1 {
    padding-left: 0.25rem !important;
  }

  .xl\:ps-2 {
    padding-left: 0.5rem !important;
  }

  .xl\:ps-3 {
    padding-left: 1rem !important;
  }

  .xl\:ps-4 {
    padding-left: 1.5rem !important;
  }

  .xl\:ps-5 {
    padding-left: 3rem !important;
  }

  .xl\:ps-custom {
    padding-left: 10rem !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:p-0 {
    padding: 0 !important;
  }

  .\32xl\:p-1 {
    padding: 0.25rem !important;
  }

  .\32xl\:p-2 {
    padding: 0.5rem !important;
  }

  .\32xl\:p-3 {
    padding: 1rem !important;
  }

  .\32xl\:p-4 {
    padding: 1.5rem !important;
  }

  .\32xl\:p-5 {
    padding: 3rem !important;
  }

  .\32xl\:p-custom {
    padding: 10rem !important;
  }

  .\32xl\:px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .\32xl\:px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .\32xl\:px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .\32xl\:px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .\32xl\:px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .\32xl\:px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .\32xl\:px-custom {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }

  .\32xl\:py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .\32xl\:py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .\32xl\:py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .\32xl\:py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .\32xl\:py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .\32xl\:py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .\32xl\:py-custom {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
  }

  .\32xl\:pt-0 {
    padding-top: 0 !important;
  }

  .\32xl\:pt-1 {
    padding-top: 0.25rem !important;
  }

  .\32xl\:pt-2 {
    padding-top: 0.5rem !important;
  }

  .\32xl\:pt-3 {
    padding-top: 1rem !important;
  }

  .\32xl\:pt-4 {
    padding-top: 1.5rem !important;
  }

  .\32xl\:pt-5 {
    padding-top: 3rem !important;
  }

  .\32xl\:pt-custom {
    padding-top: 10rem !important;
  }

  .\32xl\:pe-0 {
    padding-right: 0 !important;
  }

  .\32xl\:pe-1 {
    padding-right: 0.25rem !important;
  }

  .\32xl\:pe-2 {
    padding-right: 0.5rem !important;
  }

  .\32xl\:pe-3 {
    padding-right: 1rem !important;
  }

  .\32xl\:pe-4 {
    padding-right: 1.5rem !important;
  }

  .\32xl\:pe-5 {
    padding-right: 3rem !important;
  }

  .\32xl\:pe-custom {
    padding-right: 10rem !important;
  }

  .\32xl\:pb-0 {
    padding-bottom: 0 !important;
  }

  .\32xl\:pb-1 {
    padding-bottom: 0.25rem !important;
  }

  .\32xl\:pb-2 {
    padding-bottom: 0.5rem !important;
  }

  .\32xl\:pb-3 {
    padding-bottom: 1rem !important;
  }

  .\32xl\:pb-4 {
    padding-bottom: 1.5rem !important;
  }

  .\32xl\:pb-5 {
    padding-bottom: 3rem !important;
  }

  .\32xl\:pb-custom {
    padding-bottom: 10rem !important;
  }

  .\32xl\:ps-0 {
    padding-left: 0 !important;
  }

  .\32xl\:ps-1 {
    padding-left: 0.25rem !important;
  }

  .\32xl\:ps-2 {
    padding-left: 0.5rem !important;
  }

  .\32xl\:ps-3 {
    padding-left: 1rem !important;
  }

  .\32xl\:ps-4 {
    padding-left: 1.5rem !important;
  }

  .\32xl\:ps-5 {
    padding-left: 3rem !important;
  }

  .\32xl\:ps-custom {
    padding-left: 10rem !important;
  }
}
