.perspective-xs {
    perspective: 250px;
}

.perspective-sm {
    perspective: 500px;
}

.perspective-md {
    perspective: 1000px;
}

.perspective-lg {
    perspective: 1500px;
}

.perspective-xl {
    perspective: 3000px;
}
