.perspective-xs {
  perspective: 250px !important;
}

.perspective-sm {
  perspective: 500px !important;
}

.perspective-md {
  perspective: 1000px !important;
}

.perspective-lg {
  perspective: 1500px !important;
}

.perspective-xl {
  perspective: 3000px !important;
}
