.resize-none {
  resize: none !important;
}

.resize-both {
  resize: both !important;
}

.resize-x {
  resize: horizontal !important;
}

.resize-y {
  resize: vertical !important;
}

.resize-block {
  resize: block !important;
}

.resize-inline {
  resize: inline !important;
}
