.right-0 {
    right: 0px;
}

.right-1 {
    right: 0.25rem;
}

.right-2 {
    right: 0.5rem;
}

.right-3 {
    right: 0.75rem;
}

.right-4 {
    right: 1rem;
}

.right-5 {
    right: 1.25rem;
}

.right-6 {
    right: 1.5rem;
}

.right-7 {
    right: 1.75rem;
}

.right-8 {
    right: 2rem;
}

.right-9 {
    right: 2.25rem;
}

.right-10 {
    right: 2.5rem;
}

.right-11 {
    right: 2.75rem;
}

.right-12 {
    right: 3rem;
}

.right-14 {
    right: 3.5rem;
}

.right-16 {
    right: 4rem;
}

.right-20 {
    right: 5rem;
}

.right-24 {
    right: 6rem;
}

.right-28 {
    right: 7rem;
}

.right-32 {
    right: 8rem;
}

.right-36 {
    right: 9rem;
}

.right-40 {
    right: 10rem;
}

.right-44 {
    right: 11rem;
}

.right-48 {
    right: 12rem;
}

.right-52 {
    right: 13rem;
}

.right-56 {
    right: 14rem;
}

.right-60 {
    right: 15rem;
}

.right-64 {
    right: 16rem;
}

.right-72 {
    right: 18rem;
}

.right-80 {
    right: 20rem;
}

.right-96 {
    right: 24rem;
}

.right-auto {
    right: auto;
}

.right-px {
    right: 1px;
}

.right-0-5 {
    right: 0.125rem;
}

.right-1-5 {
    right: 0.375rem;
}

.right-2-5 {
    right: 0.625rem;
}

.right-3-5 {
    right: 0.875rem;
}

.-right-0 {
    right: 0px;
}

.-right-1 {
    right: -0.25rem;
}

.-right-2 {
    right: -0.5rem;
}

.-right-3 {
    right: -0.75rem;
}

.-right-4 {
    right: -1rem;
}

.-right-5 {
    right: -1.25rem;
}

.-right-6 {
    right: -1.5rem;
}

.-right-7 {
    right: -1.75rem;
}

.-right-8 {
    right: -2rem;
}

.-right-9 {
    right: -2.25rem;
}

.-right-10 {
    right: -2.5rem;
}

.-right-11 {
    right: -2.75rem;
}

.-right-12 {
    right: -3rem;
}

.-right-14 {
    right: -3.5rem;
}

.-right-16 {
    right: -4rem;
}

.-right-20 {
    right: -5rem;
}

.-right-24 {
    right: -6rem;
}

.-right-28 {
    right: -7rem;
}

.-right-32 {
    right: -8rem;
}

.-right-36 {
    right: -9rem;
}

.-right-40 {
    right: -10rem;
}

.-right-44 {
    right: -11rem;
}

.-right-48 {
    right: -12rem;
}

.-right-52 {
    right: -13rem;
}

.-right-56 {
    right: -14rem;
}

.-right-60 {
    right: -15rem;
}

.-right-64 {
    right: -16rem;
}

.-right-72 {
    right: -18rem;
}

.-right-80 {
    right: -20rem;
}

.-right-96 {
    right: -24rem;
}

.-right-px {
    right: -1px;
}

.-right-0-5 {
    right: -0.125rem;
}

.-right-1-5 {
    right: -0.375rem;
}

.-right-2-5 {
    right: -0.625rem;
}

.-right-3-5 {
    right: -0.875rem;
}

.right-1--2 {
    right: 50%;
}

.right-1--3 {
    right: 33.333333%;
}

.right-2--3 {
    right: 66.666667%;
}

.right-1--4 {
    right: 25%;
}

.right-2--4 {
    right: 50%;
}

.right-3--4 {
    right: 75%;
}

.right-full {
    right: 100%;
}

.-right-1--2 {
    right: -50%;
}

.-right-1--3 {
    right: -33.333333%;
}

.-right-2--3 {
    right: -66.666667%;
}

.-right-1--4 {
    right: -25%;
}

.-right-2--4 {
    right: -50%;
}

.-right-3--4 {
    right: -75%;
}

.-right-full {
    right: -100%;
}

@media (min-width: 360px) {
    .xs\:right-0 {
        right: 0px;
    }

    .xs\:right-1 {
        right: 0.25rem;
    }

    .xs\:right-2 {
        right: 0.5rem;
    }

    .xs\:right-3 {
        right: 0.75rem;
    }

    .xs\:right-4 {
        right: 1rem;
    }

    .xs\:right-5 {
        right: 1.25rem;
    }

    .xs\:right-6 {
        right: 1.5rem;
    }

    .xs\:right-7 {
        right: 1.75rem;
    }

    .xs\:right-8 {
        right: 2rem;
    }

    .xs\:right-9 {
        right: 2.25rem;
    }

    .xs\:right-10 {
        right: 2.5rem;
    }

    .xs\:right-11 {
        right: 2.75rem;
    }

    .xs\:right-12 {
        right: 3rem;
    }

    .xs\:right-14 {
        right: 3.5rem;
    }

    .xs\:right-16 {
        right: 4rem;
    }

    .xs\:right-20 {
        right: 5rem;
    }

    .xs\:right-24 {
        right: 6rem;
    }

    .xs\:right-28 {
        right: 7rem;
    }

    .xs\:right-32 {
        right: 8rem;
    }

    .xs\:right-36 {
        right: 9rem;
    }

    .xs\:right-40 {
        right: 10rem;
    }

    .xs\:right-44 {
        right: 11rem;
    }

    .xs\:right-48 {
        right: 12rem;
    }

    .xs\:right-52 {
        right: 13rem;
    }

    .xs\:right-56 {
        right: 14rem;
    }

    .xs\:right-60 {
        right: 15rem;
    }

    .xs\:right-64 {
        right: 16rem;
    }

    .xs\:right-72 {
        right: 18rem;
    }

    .xs\:right-80 {
        right: 20rem;
    }

    .xs\:right-96 {
        right: 24rem;
    }

    .xs\:right-auto {
        right: auto;
    }

    .xs\:right-px {
        right: 1px;
    }

    .xs\:right-0-5 {
        right: 0.125rem;
    }

    .xs\:right-1-5 {
        right: 0.375rem;
    }

    .xs\:right-2-5 {
        right: 0.625rem;
    }

    .xs\:right-3-5 {
        right: 0.875rem;
    }

    .xs\:-right-0 {
        right: 0px;
    }

    .xs\:-right-1 {
        right: -0.25rem;
    }

    .xs\:-right-2 {
        right: -0.5rem;
    }

    .xs\:-right-3 {
        right: -0.75rem;
    }

    .xs\:-right-4 {
        right: -1rem;
    }

    .xs\:-right-5 {
        right: -1.25rem;
    }

    .xs\:-right-6 {
        right: -1.5rem;
    }

    .xs\:-right-7 {
        right: -1.75rem;
    }

    .xs\:-right-8 {
        right: -2rem;
    }

    .xs\:-right-9 {
        right: -2.25rem;
    }

    .xs\:-right-10 {
        right: -2.5rem;
    }

    .xs\:-right-11 {
        right: -2.75rem;
    }

    .xs\:.-right-12 {
        right: -3rem;
    }

    .xs\:-right-14 {
        right: -3.5rem;
    }

    .xs\:-right-16 {
        right: -4rem;
    }

    .xs\:-right-20 {
        right: -5rem;
    }

    .xs\:-right-24 {
        right: -6rem;
    }

    .xs\:-right-28 {
        right: -7rem;
    }

    .xs\:-right-32 {
        right: -8rem;
    }

    .xs\:-right-36 {
        right: -9rem;
    }

    .xs\:-right-40 {
        right: -10rem;
    }

    .xs\:-right-44 {
        right: -11rem;
    }

    .xs\:-right-48 {
        right: -12rem;
    }

    .xs\:-right-52 {
        right: -13rem;
    }

    .xs\:-right-56 {
        right: -14rem;
    }

    .xs\:-right-60 {
        right: -15rem;
    }

    .xs\:-right-64 {
        right: -16rem;
    }

    .xs\:-right-72 {
        right: -18rem;
    }

    .xs\:-right-80 {
        right: -20rem;
    }

    .xs\:-right-96 {
        right: -24rem;
    }

    .xs\:-right-px {
        right: -1px;
    }

    .xs\:-right-0-5 {
        right: -0.125rem;
    }

    .xs\:-right-1-5 {
        right: -0.375rem;
    }

    .xs\:-right-2-5 {
        right: -0.625rem;
    }

    .xs\:-right-3-5 {
        right: -0.875rem;
    }

    .xs\:right-1--2 {
        right: 50%;
    }

    .xs\:right-1--3 {
        right: 33.333333%;
    }

    .xs\:right-2--3 {
        right: 66.666667%;
    }

    .xs\:right-1--4 {
        right: 25%;
    }

    .xs\:right-2--4 {
        right: 50%;
    }

    .xs\:right-3--4 {
        right: 75%;
    }

    .xs\:right-full {
        right: 100%;
    }

    .xs\:-right-1--2 {
        right: -50%;
    }

    .xs\:-right-1--3 {
        right: -33.333333%;
    }

    .xs\:-right-2--3 {
        right: -66.666667%;
    }

    .xs\:-right-1--4 {
        right: -25%;
    }

    .xs\:-right-2--4 {
        right: -50%;
    }

    .xs\:-right-3--4 {
        right: -75%;
    }

    .xs\:-right-full {
        right: -100%;
    }
}

@media (min-width: 640px) {
    .sm\:right-0 {
        right: 0px;
    }

    .sm\:right-1 {
        right: 0.25rem;
    }

    .sm\:right-2 {
        right: 0.5rem;
    }

    .sm\:right-3 {
        right: 0.75rem;
    }

    .sm\:right-4 {
        right: 1rem;
    }

    .sm\:right-5 {
        right: 1.25rem;
    }

    .sm\:right-6 {
        right: 1.5rem;
    }

    .sm\:right-7 {
        right: 1.75rem;
    }

    .sm\:right-8 {
        right: 2rem;
    }

    .sm\:right-9 {
        right: 2.25rem;
    }

    .sm\:right-10 {
        right: 2.5rem;
    }

    .sm\:right-11 {
        right: 2.75rem;
    }

    .sm\:right-12 {
        right: 3rem;
    }

    .sm\:right-14 {
        right: 3.5rem;
    }

    .sm\:right-16 {
        right: 4rem;
    }

    .sm\:right-20 {
        right: 5rem;
    }

    .sm\:right-24 {
        right: 6rem;
    }

    .sm\:right-28 {
        right: 7rem;
    }

    .sm\:right-32 {
        right: 8rem;
    }

    .sm\:right-36 {
        right: 9rem;
    }

    .sm\:right-40 {
        right: 10rem;
    }

    .sm\:right-44 {
        right: 11rem;
    }

    .sm\:right-48 {
        right: 12rem;
    }

    .sm\:right-52 {
        right: 13rem;
    }

    .sm\:right-56 {
        right: 14rem;
    }

    .sm\:right-60 {
        right: 15rem;
    }

    .sm\:right-64 {
        right: 16rem;
    }

    .sm\:right-72 {
        right: 18rem;
    }

    .sm\:right-80 {
        right: 20rem;
    }

    .sm\:right-96 {
        right: 24rem;
    }

    .sm\:right-auto {
        right: auto;
    }

    .sm\:right-px {
        right: 1px;
    }

    .sm\:right-0-5 {
        right: 0.125rem;
    }

    .sm\:right-1-5 {
        right: 0.375rem;
    }

    .sm\:right-2-5 {
        right: 0.625rem;
    }

    .sm\:right-3-5 {
        right: 0.875rem;
    }

    .sm\:-right-0 {
        right: 0px;
    }

    .sm\:-right-1 {
        right: -0.25rem;
    }

    .sm\:-right-2 {
        right: -0.5rem;
    }

    .sm\:-right-3 {
        right: -0.75rem;
    }

    .sm\:-right-4 {
        right: -1rem;
    }

    .sm\:-right-5 {
        right: -1.25rem;
    }

    .sm\:-right-6 {
        right: -1.5rem;
    }

    .sm\:-right-7 {
        right: -1.75rem;
    }

    .sm\:-right-8 {
        right: -2rem;
    }

    .sm\:-right-9 {
        right: -2.25rem;
    }

    .sm\:-right-10 {
        right: -2.5rem;
    }

    .sm\:-right-11 {
        right: -2.75rem;
    }

    .sm\:.-right-12 {
        right: -3rem;
    }

    .sm\:-right-14 {
        right: -3.5rem;
    }

    .sm\:-right-16 {
        right: -4rem;
    }

    .sm\:-right-20 {
        right: -5rem;
    }

    .sm\:-right-24 {
        right: -6rem;
    }

    .sm\:-right-28 {
        right: -7rem;
    }

    .sm\:-right-32 {
        right: -8rem;
    }

    .sm\:-right-36 {
        right: -9rem;
    }

    .sm\:-right-40 {
        right: -10rem;
    }

    .sm\:-right-44 {
        right: -11rem;
    }

    .sm\:-right-48 {
        right: -12rem;
    }

    .sm\:-right-52 {
        right: -13rem;
    }

    .sm\:-right-56 {
        right: -14rem;
    }

    .sm\:-right-60 {
        right: -15rem;
    }

    .sm\:-right-64 {
        right: -16rem;
    }

    .sm\:-right-72 {
        right: -18rem;
    }

    .sm\:-right-80 {
        right: -20rem;
    }

    .sm\:-right-96 {
        right: -24rem;
    }

    .sm\:-right-px {
        right: -1px;
    }

    .sm\:-right-0-5 {
        right: -0.125rem;
    }

    .sm\:-right-1-5 {
        right: -0.375rem;
    }

    .sm\:-right-2-5 {
        right: -0.625rem;
    }

    .sm\:-right-3-5 {
        right: -0.875rem;
    }

    .sm\:right-1--2 {
        right: 50%;
    }

    .sm\:right-1--3 {
        right: 33.333333%;
    }

    .sm\:right-2--3 {
        right: 66.666667%;
    }

    .sm\:right-1--4 {
        right: 25%;
    }

    .sm\:right-2--4 {
        right: 50%;
    }

    .sm\:right-3--4 {
        right: 75%;
    }

    .sm\:right-full {
        right: 100%;
    }

    .sm\:-right-1--2 {
        right: -50%;
    }

    .sm\:-right-1--3 {
        right: -33.333333%;
    }

    .sm\:-right-2--3 {
        right: -66.666667%;
    }

    .sm\:-right-1--4 {
        right: -25%;
    }

    .sm\:-right-2--4 {
        right: -50%;
    }

    .sm\:-right-3--4 {
        right: -75%;
    }

    .sm\:-right-full {
        right: -100%;
    }
}

@media (min-width: 768px) {
    .md\:right-0 {
        right: 0px;
    }

    .md\:right-1 {
        right: 0.25rem;
    }

    .md\:right-2 {
        right: 0.5rem;
    }

    .md\:right-3 {
        right: 0.75rem;
    }

    .md\:right-4 {
        right: 1rem;
    }

    .md\:right-5 {
        right: 1.25rem;
    }

    .md\:right-6 {
        right: 1.5rem;
    }

    .md\:right-7 {
        right: 1.75rem;
    }

    .md\:right-8 {
        right: 2rem;
    }

    .md\:right-9 {
        right: 2.25rem;
    }

    .md\:right-10 {
        right: 2.5rem;
    }

    .md\:right-11 {
        right: 2.75rem;
    }

    .md\:right-12 {
        right: 3rem;
    }

    .md\:right-14 {
        right: 3.5rem;
    }

    .md\:right-16 {
        right: 4rem;
    }

    .md\:right-20 {
        right: 5rem;
    }

    .md\:right-24 {
        right: 6rem;
    }

    .md\:right-28 {
        right: 7rem;
    }

    .md\:right-32 {
        right: 8rem;
    }

    .md\:right-36 {
        right: 9rem;
    }

    .md\:right-40 {
        right: 10rem;
    }

    .md\:right-44 {
        right: 11rem;
    }

    .md\:right-48 {
        right: 12rem;
    }

    .md\:right-52 {
        right: 13rem;
    }

    .md\:right-56 {
        right: 14rem;
    }

    .md\:right-60 {
        right: 15rem;
    }

    .md\:right-64 {
        right: 16rem;
    }

    .md\:right-72 {
        right: 18rem;
    }

    .md\:right-80 {
        right: 20rem;
    }

    .md\:right-96 {
        right: 24rem;
    }

    .md\:right-auto {
        right: auto;
    }

    .md\:right-px {
        right: 1px;
    }

    .md\:right-0-5 {
        right: 0.125rem;
    }

    .md\:right-1-5 {
        right: 0.375rem;
    }

    .md\:right-2-5 {
        right: 0.625rem;
    }

    .md\:right-3-5 {
        right: 0.875rem;
    }

    .md\:-right-0 {
        right: 0px;
    }

    .md\:-right-1 {
        right: -0.25rem;
    }

    .md\:-right-2 {
        right: -0.5rem;
    }

    .md\:-right-3 {
        right: -0.75rem;
    }

    .md\:-right-4 {
        right: -1rem;
    }

    .md\:-right-5 {
        right: -1.25rem;
    }

    .md\:-right-6 {
        right: -1.5rem;
    }

    .md\:-right-7 {
        right: -1.75rem;
    }

    .md\:-right-8 {
        right: -2rem;
    }

    .md\:.-right-9 {
        right: -2.25rem;
    }

    .md\:-right-10 {
        right: -2.5rem;
    }

    .md\:-right-11 {
        right: -2.75rem;
    }

    .md\:-right-12 {
        right: -3rem;
    }

    .md\:-right-14 {
        right: -3.5rem;
    }

    .md\:-right-16 {
        right: -4rem;
    }

    .md\:-right-20 {
        right: -5rem;
    }

    .md\:-right-24 {
        right: -6rem;
    }

    .md\:-right-28 {
        right: -7rem;
    }

    .md\:-right-32 {
        right: -8rem;
    }

    .md\:-right-36 {
        right: -9rem;
    }

    .md\:-right-40 {
        right: -10rem;
    }

    .md\:-right-44 {
        right: -11rem;
    }

    .md\:-right-48 {
        right: -12rem;
    }

    .md\:-right-52 {
        right: -13rem;
    }

    .md\:-right-56 {
        right: -14rem;
    }

    .md\:-right-60 {
        right: -15rem;
    }

    .md\:-right-64 {
        right: -16rem;
    }

    .md\:-right-72 {
        right: -18rem;
    }

    .md\:-right-80 {
        right: -20rem;
    }

    .md\:-right-96 {
        right: -24rem;
    }

    .md\:-right-px {
        right: -1px;
    }

    .md\:-right-0-5 {
        right: -0.125rem;
    }

    .md\:-right-1-5 {
        right: -0.375rem;
    }

    .md\:-right-2-5 {
        right: -0.625rem;
    }

    .md\:-right-3-5 {
        right: -0.875rem;
    }

    .md\:right-1--2 {
        right: 50%;
    }

    .md\:right-1--3 {
        right: 33.333333%;
    }

    .md\:right-2--3 {
        right: 66.666667%;
    }

    .md\:right-1--4 {
        right: 25%;
    }

    .md\:right-2--4 {
        right: 50%;
    }

    .md\:right-3--4 {
        right: 75%;
    }

    .md\:right-full {
        right: 100%;
    }

    .md\:-right-1--2 {
        right: -50%;
    }

    .md\:-right-1--3 {
        right: -33.333333%;
    }

    .md\:-right-2--3 {
        right: -66.666667%;
    }

    .md\:-right-1--4 {
        right: -25%;
    }

    .md\:-right-2--4 {
        right: -50%;
    }

    .md\:-right-3--4 {
        right: -75%;
    }

    .md\:-right-full {
        right: -100%;
    }
}

@media (min-width: 1024px) {
    .lg\:right-0 {
        right: 0px;
    }

    .lg\:ight-1 {
        right: 0.25rem;
    }

    .lg\:right-2 {
        right: 0.5rem;
    }

    .lg\:right-3 {
        right: 0.75rem;
    }

    .lg\:right-4 {
        right: 1rem;
    }

    .lg\:right-5 {
        right: 1.25rem;
    }

    .lg\:right-6 {
        right: 1.5rem;
    }

    .lg\:right-7 {
        right: 1.75rem;
    }

    .lg\:right-8 {
        right: 2rem;
    }

    .lg\:right-9 {
        right: 2.25rem;
    }

    .lg\:right-10 {
        right: 2.5rem;
    }

    .lg\:right-11 {
        right: 2.75rem;
    }

    .lg\:right-12 {
        right: 3rem;
    }

    .lg\:right-14 {
        right: 3.5rem;
    }

    .lg\:right-16 {
        right: 4rem;
    }

    .lg\:right-20 {
        right: 5rem;
    }

    .lg\:right-24 {
        right: 6rem;
    }

    .lg\:right-28 {
        right: 7rem;
    }

    .lg\:right-32 {
        right: 8rem;
    }

    .lg\:ight-36 {
        right: 9rem;
    }

    .lg\:right-40 {
        right: 10rem;
    }

    .lg\:right-44 {
        right: 11rem;
    }

    .lg\:right-48 {
        right: 12rem;
    }

    .lg\:right-52 {
        right: 13rem;
    }

    .lg\:right-56 {
        right: 14rem;
    }

    .lg\:right-60 {
        right: 15rem;
    }

    .lg\:right-64 {
        right: 16rem;
    }

    .lg\:right-72 {
        right: 18rem;
    }

    .lg\:right-80 {
        right: 20rem;
    }

    .lg\:right-96 {
        right: 24rem;
    }

    .lg\:right-auto {
        right: auto;
    }

    .lg\:right-px {
        right: 1px;
    }

    .lg\:right-0-5 {
        right: 0.125rem;
    }

    .lg\:right-1-5 {
        right: 0.375rem;
    }

    .lg\:right-2-5 {
        right: 0.625rem;
    }

    .lg\:right-3-5 {
        right: 0.875rem;
    }

    .lg\:-right-0 {
        right: 0px;
    }

    .lg\:-right-1 {
        right: -0.25rem;
    }

    .lg\:-right-2 {
        right: -0.5rem;
    }

    .lg\:-right-3 {
        right: -0.75rem;
    }

    .lg\:-right-4 {
        right: -1rem;
    }

    .lg\:-right-5 {
        right: -1.25rem;
    }

    .lg\:-right-6 {
        right: -1.5rem;
    }

    .lg\:-right-7 {
        right: -1.75rem;
    }

    .lg\:-right-8 {
        right: -2rem;
    }

    .lg\:-right-9 {
        right: -2.25rem;
    }

    .lg\:-right-10 {
        right: -2.5rem;
    }

    .lg\:-right-11 {
        right: -2.75rem;
    }

    .lg\:-right-12 {
        right: -3rem;
    }

    .lg\:-right-14 {
        right: -3.5rem;
    }

    .lg\:-right-16 {
        right: -4rem;
    }

    .lg\:-right-20 {
        right: -5rem;
    }

    .lg\:-right-24 {
        right: -6rem;
    }

    .lg\:-right-28 {
        right: -7rem;
    }

    .lg\:-right-32 {
        right: -8rem;
    }

    .lg\:-right-36 {
        right: -9rem;
    }

    .lg\:-right-40 {
        right: -10rem;
    }

    .lg\:-right-44 {
        right: -11rem;
    }

    .lg\:.-right-48 {
        right: -12rem;
    }

    .lg\:-right-52 {
        right: -13rem;
    }

    .lg\:-right-56 {
        right: -14rem;
    }

    .lg\:-right-60 {
        right: -15rem;
    }

    .lg\:-right-64 {
        right: -16rem;
    }

    .lg\:-right-72 {
        right: -18rem;
    }

    .lg\:-right-80 {
        right: -20rem;
    }

    .lg\:-right-96 {
        right: -24rem;
    }

    .lg\:-right-px {
        right: -1px;
    }

    .lg\:-right-0-5 {
        right: -0.125rem;
    }

    .lg\:-right-1-5 {
        right: -0.375rem;
    }

    .lg\:-right-2-5 {
        right: -0.625rem;
    }

    .lg\:-right-3-5 {
        right: -0.875rem;
    }

    .lg\:right-1--2 {
        right: 50%;
    }

    .lg\:right-1--3 {
        right: 33.333333%;
    }

    .lg\:right-2--3 {
        right: 66.666667%;
    }

    .lg\:right-1--4 {
        right: 25%;
    }

    .lg\:right-2--4 {
        right: 50%;
    }

    .lg\:right-3--4 {
        right: 75%;
    }

    .lg\:right-full {
        right: 100%;
    }

    .lg\:-right-1--2 {
        right: -50%;
    }

    .lg\:-right-1--3 {
        right: -33.333333%;
    }

    .lg\:-right-2--3 {
        right: -66.666667%;
    }

    .lg\:-right-1--4 {
        right: -25%;
    }

    .lg\:-right-2--4 {
        right: -50%;
    }

    .lg\:.-right-3--4 {
        right: -75%;
    }

    .lg\:-right-full {
        right: -100%;
    }
}

@media (min-width: 1280px) {
    .xl\:right-0 {
        right: 0px;
    }

    .xl\:right-1 {
        right: 0.25rem;
    }

    .xl\:right-2 {
        right: 0.5rem;
    }

    .xl\:right-3 {
        right: 0.75rem;
    }

    .xl\:right-4 {
        right: 1rem;
    }

    .xl\:right-5 {
        right: 1.25rem;
    }

    .xl\:right-6 {
        right: 1.5rem;
    }

    .xl\:right-7 {
        right: 1.75rem;
    }

    .xl\:right-8 {
        right: 2rem;
    }

    .xl\:right-9 {
        right: 2.25rem;
    }

    .xl\:right-10 {
        right: 2.5rem;
    }

    .xl\:right-11 {
        right: 2.75rem;
    }

    .xl\:right-12 {
        right: 3rem;
    }

    .xl\:right-14 {
        right: 3.5rem;
    }

    .xl\:right-16 {
        right: 4rem;
    }

    .xl\:right-20 {
        right: 5rem;
    }

    .xl\:right-24 {
        right: 6rem;
    }

    .xl\:right-28 {
        right: 7rem;
    }

    .xl\:right-32 {
        right: 8rem;
    }

    .xl\:right-36 {
        right: 9rem;
    }

    .xl\:right-40 {
        right: 10rem;
    }

    .xl\:right-44 {
        right: 11rem;
    }

    .xl\:right-48 {
        right: 12rem;
    }

    .xl\:right-52 {
        right: 13rem;
    }

    .xl\:right-56 {
        right: 14rem;
    }

    .xl\:right-60 {
        right: 15rem;
    }

    .xl\:right-64 {
        right: 16rem;
    }

    .xl\:right-72 {
        right: 18rem;
    }

    .xl\:right-80 {
        right: 20rem;
    }

    .xl\:right-96 {
        right: 24rem;
    }

    .xl\:right-auto {
        right: auto;
    }

    .xl\:right-px {
        right: 1px;
    }

    .xl\:right-0-5 {
        right: 0.125rem;
    }

    .xl\:right-1-5 {
        right: 0.375rem;
    }

    .xl\:right-2-5 {
        right: 0.625rem;
    }

    .xl\:right-3-5 {
        right: 0.875rem;
    }

    .xl\:-right-0 {
        right: 0px;
    }

    .xl\:-right-1 {
        right: -0.25rem;
    }

    .xl\:-right-2 {
        right: -0.5rem;
    }

    .xl\:-right-3 {
        right: -0.75rem;
    }

    .xl\:-right-4 {
        right: -1rem;
    }

    .xl\:-right-5 {
        right: -1.25rem;
    }

    .xl\:-right-6 {
        right: -1.5rem;
    }

    .xl\:-right-7 {
        right: -1.75rem;
    }

    .xl\:-right-8 {
        right: -2rem;
    }

    .xl\:-right-9 {
        right: -2.25rem;
    }

    .xl\:-right-10 {
        right: -2.5rem;
    }

    .xl\:-right-11 {
        right: -2.75rem;
    }

    .xl\:-right-12 {
        right: -3rem;
    }

    .xl\:-right-14 {
        right: -3.5rem;
    }

    .xl\:-right-16 {
        right: -4rem;
    }

    .xl\:-right-20 {
        right: -5rem;
    }

    .xl\:-right-24 {
        right: -6rem;
    }

    .xl\:-right-28 {
        right: -7rem;
    }

    .xl\:-right-32 {
        right: -8rem;
    }

    .xl\:-right-36 {
        right: -9rem;
    }

    .xl\:-right-40 {
        right: -10rem;
    }

    .xl\:-right-44 {
        right: -11rem;
    }

    .xl\:-right-48 {
        right: -12rem;
    }

    .xl\:-right-52 {
        right: -13rem;
    }

    .xl\:-right-56 {
        right: -14rem;
    }

    .xl\:-right-60 {
        right: -15rem;
    }

    .xl\:-right-64 {
        right: -16rem;
    }

    .xl\:-right-72 {
        right: -18rem;
    }

    .xl\:-right-80 {
        right: -20rem;
    }

    .xl\:-right-96 {
        right: -24rem;
    }

    .xl\:-right-px {
        right: -1px;
    }

    .xl\:-right-0-5 {
        right: -0.125rem;
    }

    .xl\:-right-1-5 {
        right: -0.375rem;
    }

    .xl\:-right-2-5 {
        right: -0.625rem;
    }

    .xl\:-right-3-5 {
        right: -0.875rem;
    }

    .xl\:right-1--2 {
        right: 50%;
    }

    .xl\:right-1--3 {
        right: 33.333333%;
    }

    .xl\:right-2--3 {
        right: 66.666667%;
    }

    .xl\:right-1--4 {
        right: 25%;
    }

    .xl\:right-2--4 {
        right: 50%;
    }

    .xl\:right-3--4 {
        right: 75%;
    }

    .xl\:right-full {
        right: 100%;
    }

    .xl\:-right-1--2 {
        right: -50%;
    }

    .xl\:-right-1--3 {
        right: -33.333333%;
    }

    .xl\:-right-2--3 {
        right: -66.666667%;
    }

    .xl\:-right-1--4 {
        right: -25%;
    }

    .xl\:-right-2--4 {
        right: -50%;
    }

    .xl\:-right-3--4 {
        right: -75%;
    }

    .xl\:-right-full {
        right: -100%;
    }
}

@media (min-width: 1536px) {
    .\32xl\:right-0 {
        right: 0px;
    }

    .\32xl\:right-1 {
        right: 0.25rem;
    }

    .\32xl\:right-2 {
        right: 0.5rem;
    }

    .\32xl\:right-3 {
        right: 0.75rem;
    }

    .\32xl\:right-4 {
        right: 1rem;
    }

    .\32xl\:right-5 {
        right: 1.25rem;
    }

    .\32xl\:right-6 {
        right: 1.5rem;
    }

    .\32xl\:right-7 {
        right: 1.75rem;
    }

    .\32xl\:right-8 {
        right: 2rem;
    }

    .\32xl\:right-9 {
        right: 2.25rem;
    }

    .\32xl\:right-10 {
        right: 2.5rem;
    }

    .\32xl\:right-11 {
        right: 2.75rem;
    }

    .\32xl\:right-12 {
        right: 3rem;
    }

    .\32xl\:right-14 {
        right: 3.5rem;
    }

    .\32xl\:right-16 {
        right: 4rem;
    }

    .\32xl\:right-20 {
        right: 5rem;
    }

    .\32xl\:right-24 {
        right: 6rem;
    }

    .\32xl\:right-28 {
        right: 7rem;
    }

    .\32xl\:right-32 {
        right: 8rem;
    }

    .\32xl\:right-36 {
        right: 9rem;
    }

    .\32xl\:right-40 {
        right: 10rem;
    }

    .\32xl\:right-44 {
        right: 11rem;
    }

    .\32xl\:right-48 {
        right: 12rem;
    }

    .\32xl\:right-52 {
        right: 13rem;
    }

    .\32xl\:right-56 {
        right: 14rem;
    }

    .\32xl\:right-60 {
        right: 15rem;
    }

    .\32xl\:right-64 {
        right: 16rem;
    }

    .\32xl\:right-72 {
        right: 18rem;
    }

    .\32xl\:right-80 {
        right: 20rem;
    }

    .\32xl\:right-96 {
        right: 24rem;
    }

    .\32xl\:right-auto {
        right: auto;
    }

    .\32xl\:right-px {
        right: 1px;
    }

    .\32xl\:right-0-5 {
        right: 0.125rem;
    }

    .\32xl\:right-1-5 {
        right: 0.375rem;
    }

    .\32xl\:right-2-5 {
        right: 0.625rem;
    }

    .\32xl\:right-3-5 {
        right: 0.875rem;
    }

    .\32xl\:-right-0 {
        right: 0px;
    }

    .\32xl\:-right-1 {
        right: -0.25rem;
    }

    .\32xl\:-right-2 {
        right: -0.5rem;
    }

    .\32xl\:-right-3 {
        right: -0.75rem;
    }

    .\32xl\:-right-4 {
        right: -1rem;
    }

    .\32xl\:-right-5 {
        right: -1.25rem;
    }

    .\32xl\:-right-6 {
        right: -1.5rem;
    }

    .\32xl\:-right-7 {
        right: -1.75rem;
    }

    .\32xl\:-right-8 {
        right: -2rem;
    }

    .\32xl\:-right-9 {
        right: -2.25rem;
    }

    .\32xl\:-right-10 {
        right: -2.5rem;
    }

    .\32xl\:-right-11 {
        right: -2.75rem;
    }

    .\32xl\:-right-12 {
        right: -3rem;
    }

    .\32xl\:-right-14 {
        right: -3.5rem;
    }

    .\32xl\:-right-16 {
        right: -4rem;
    }

    .\32xl\:-right-20 {
        right: -5rem;
    }

    .\32xl\:-right-24 {
        right: -6rem;
    }

    .\32xl\:-right-28 {
        right: -7rem;
    }

    .\32xl\:-right-32 {
        right: -8rem;
    }

    .\32xl\:-right-36 {
        right: -9rem;
    }

    .\32xl\:-right-40 {
        right: -10rem;
    }

    .\32xl\:-right-44 {
        right: -11rem;
    }

    .\32xl\:-right-48 {
        right: -12rem;
    }

    .\32xl\:-right-52 {
        right: -13rem;
    }

    .\32xl\:-right-56 {
        right: -14rem;
    }

    .\32xl\:-right-60 {
        right: -15rem;
    }

    .\32xl\:-right-64 {
        right: -16rem;
    }

    .\32xl\:-right-72 {
        right: -18rem;
    }

    .\32xl\:-right-80 {
        right: -20rem;
    }

    .\32xl\:-right-96 {
        right: -24rem;
    }

    .\32xl\:-right-px {
        right: -1px;
    }

    .\32xl\:-right-0-5 {
        right: -0.125rem;
    }

    .\32xl\:-right-1-5 {
        right: -0.375rem;
    }

    .\32xl\:-right-2-5 {
        right: -0.625rem;
    }

    .\32xl\:-right-3-5 {
        right: -0.875rem;
    }

    .\32xl\:right-1--2 {
        right: 50%;
    }

    .\32xl\:right-1--3 {
        right: 33.333333%;
    }

    .\32xl\:right-2--3 {
        right: 66.666667%;
    }

    .\32xl\:right-1--4 {
        right: 25%;
    }

    .\32xl\:right-2--4 {
        right: 50%;
    }

    .\32xl\:right-3--4 {
        right: 75%;
    }

    .\32xl\:right-full {
        right: 100%;
    }

    .\32xl\:-right-1--2 {
        right: -50%;
    }

    .\32xl\:-right-1--3 {
        right: -33.333333%;
    }

    .\32xl\:-right-2--3 {
        right: -66.666667%;
    }

    .\32xl\:-right-1--4 {
        right: -25%;
    }

    .\32xl\:-right-2--4 {
        right: -50%;
    }

    .\32xl\:-right-3--4 {
        right: -75%;
    }

    .\32xl\:-right-full {
        right: -100%;
    }
}
