.right-0 {
  right: 0px !important;
}

.right-1 {
  right: 0.25rem !important;
}

.right-2 {
  right: 0.5rem !important;
}

.right-3 {
  right: 0.75rem !important;
}

.right-4 {
  right: 1rem !important;
}

.right-5 {
  right: 1.25rem !important;
}

.right-6 {
  right: 1.5rem !important;
}

.right-7 {
  right: 1.75rem !important;
}

.right-8 {
  right: 2rem !important;
}

.right-9 {
  right: 2.25rem !important;
}

.right-10 {
  right: 2.5rem !important;
}

.right-11 {
  right: 2.75rem !important;
}

.right-12 {
  right: 3rem !important;
}

.right-14 {
  right: 3.5rem !important;
}

.right-16 {
  right: 4rem !important;
}

.right-20 {
  right: 5rem !important;
}

.right-24 {
  right: 6rem !important;
}

.right-28 {
  right: 7rem !important;
}

.right-32 {
  right: 8rem !important;
}

.right-36 {
  right: 9rem !important;
}

.right-40 {
  right: 10rem !important;
}

.right-44 {
  right: 11rem !important;
}

.right-48 {
  right: 12rem !important;
}

.right-52 {
  right: 13rem !important;
}

.right-56 {
  right: 14rem !important;
}

.right-60 {
  right: 15rem !important;
}

.right-64 {
  right: 16rem !important;
}

.right-72 {
  right: 18rem !important;
}

.right-80 {
  right: 20rem !important;
}

.right-96 {
  right: 24rem !important;
}

.right-auto {
  right: auto !important;
}

.right-px {
  right: 1px !important;
}

.right-0\.5 {
  right: 0.125rem !important;
}

.right-1\.5 {
  right: 0.375rem !important;
}

.right-2\.5 {
  right: 0.625rem !important;
}

.right-3\.5 {
  right: 0.875rem !important;
}

.-right-0 {
  right: 0px !important;
}

.-right-1 {
  right: -0.25rem !important;
}

.-right-2 {
  right: -0.5rem !important;
}

.-right-3 {
  right: -0.75rem !important;
}

.-right-4 {
  right: -1rem !important;
}

.-right-5 {
  right: -1.25rem !important;
}

.-right-6 {
  right: -1.5rem !important;
}

.-right-7 {
  right: -1.75rem !important;
}

.-right-8 {
  right: -2rem !important;
}

.-right-9 {
  right: -2.25rem !important;
}

.-right-10 {
  right: -2.5rem !important;
}

.-right-11 {
  right: -2.75rem !important;
}

.-right-12 {
  right: -3rem !important;
}

.-right-14 {
  right: -3.5rem !important;
}

.-right-16 {
  right: -4rem !important;
}

.-right-20 {
  right: -5rem !important;
}

.-right-24 {
  right: -6rem !important;
}

.-right-28 {
  right: -7rem !important;
}

.-right-32 {
  right: -8rem !important;
}

.-right-36 {
  right: -9rem !important;
}

.-right-40 {
  right: -10rem !important;
}

.-right-44 {
  right: -11rem !important;
}

.-right-48 {
  right: -12rem !important;
}

.-right-52 {
  right: -13rem !important;
}

.-right-56 {
  right: -14rem !important;
}

.-right-60 {
  right: -15rem !important;
}

.-right-64 {
  right: -16rem !important;
}

.-right-72 {
  right: -18rem !important;
}

.-right-80 {
  right: -20rem !important;
}

.-right-96 {
  right: -24rem !important;
}

.-right-px {
  right: -1px !important;
}

.-right-0\.5 {
  right: -0.125rem !important;
}

.-right-1\.5 {
  right: -0.375rem !important;
}

.-right-2\.5 {
  right: -0.625rem !important;
}

.-right-3\.5 {
  right: -0.875rem !important;
}

.right-1\/2 {
  right: 50% !important;
}

.right-1\/3 {
  right: 33.333333% !important;
}

.right-2\/3 {
  right: 66.666667% !important;
}

.right-1\/4 {
  right: 25% !important;
}

.right-2\/4 {
  right: 50% !important;
}

.right-3\/4 {
  right: 75% !important;
}

.right-full {
  right: 100% !important;
}

.-right-1\/2 {
  right: -50% !important;
}

.-right-1\/3 {
  right: -33.333333% !important;
}

.-right-2\/3 {
  right: -66.666667% !important;
}

.-right-1\/4 {
  right: -25% !important;
}

.-right-2\/4 {
  right: -50% !important;
}

.-right-3\/4 {
  right: -75% !important;
}

.-right-full {
  right: -100% !important;
}

@media (min-width: 640px) {
  .sm\:right-0 {
    right: 0px !important;
  }

  .sm\:right-1 {
    right: 0.25rem !important;
  }

  .sm\:right-2 {
    right: 0.5rem !important;
  }

  .sm\:right-3 {
    right: 0.75rem !important;
  }

  .sm\:right-4 {
    right: 1rem !important;
  }

  .sm\:right-5 {
    right: 1.25rem !important;
  }

  .sm\:right-6 {
    right: 1.5rem !important;
  }

  .sm\:right-7 {
    right: 1.75rem !important;
  }

  .sm\:right-8 {
    right: 2rem !important;
  }

  .sm\:right-9 {
    right: 2.25rem !important;
  }

  .sm\:right-10 {
    right: 2.5rem !important;
  }

  .sm\:right-11 {
    right: 2.75rem !important;
  }

  .sm\:right-12 {
    right: 3rem !important;
  }

  .sm\:right-14 {
    right: 3.5rem !important;
  }

  .sm\:right-16 {
    right: 4rem !important;
  }

  .sm\:right-20 {
    right: 5rem !important;
  }

  .sm\:right-24 {
    right: 6rem !important;
  }

  .sm\:right-28 {
    right: 7rem !important;
  }

  .sm\:right-32 {
    right: 8rem !important;
  }

  .sm\:right-36 {
    right: 9rem !important;
  }

  .sm\:right-40 {
    right: 10rem !important;
  }

  .sm\:right-44 {
    right: 11rem !important;
  }

  .sm\:right-48 {
    right: 12rem !important;
  }

  .sm\:right-52 {
    right: 13rem !important;
  }

  .sm\:right-56 {
    right: 14rem !important;
  }

  .sm\:right-60 {
    right: 15rem !important;
  }

  .sm\:right-64 {
    right: 16rem !important;
  }

  .sm\:right-72 {
    right: 18rem !important;
  }

  .sm\:right-80 {
    right: 20rem !important;
  }

  .sm\:right-96 {
    right: 24rem !important;
  }

  .sm\:right-auto {
    right: auto !important;
  }

  .sm\:right-px {
    right: 1px !important;
  }

  .sm\:right-0\.5 {
    right: 0.125rem !important;
  }

  .sm\:right-1\.5 {
    right: 0.375rem !important;
  }

  .sm\:right-2\.5 {
    right: 0.625rem !important;
  }

  .sm\:right-3\.5 {
    right: 0.875rem !important;
  }

  .sm\:-right-0 {
    right: 0px !important;
  }

  .sm\:-right-1 {
    right: -0.25rem !important;
  }

  .sm\:-right-2 {
    right: -0.5rem !important;
  }

  .sm\:-right-3 {
    right: -0.75rem !important;
  }

  .sm\:-right-4 {
    right: -1rem !important;
  }

  .sm\:-right-5 {
    right: -1.25rem !important;
  }

  .sm\:-right-6 {
    right: -1.5rem !important;
  }

  .sm\:-right-7 {
    right: -1.75rem !important;
  }

  .sm\:-right-8 {
    right: -2rem !important;
  }

  .sm\:-right-9 {
    right: -2.25rem !important;
  }

  .sm\:-right-10 {
    right: -2.5rem !important;
  }

  .sm\:-right-11 {
    right: -2.75rem !important;
  }

  .sm\:.-right-12 {
    right: -3rem !important;
  }

  .sm\:-right-14 {
    right: -3.5rem !important;
  }

  .sm\:-right-16 {
    right: -4rem !important;
  }

  .sm\:-right-20 {
    right: -5rem !important;
  }

  .sm\:-right-24 {
    right: -6rem !important;
  }

  .sm\:-right-28 {
    right: -7rem !important;
  }

  .sm\:-right-32 {
    right: -8rem !important;
  }

  .sm\:-right-36 {
    right: -9rem !important;
  }

  .sm\:-right-40 {
    right: -10rem !important;
  }

  .sm\:-right-44 {
    right: -11rem !important;
  }

  .sm\:-right-48 {
    right: -12rem !important;
  }

  .sm\:-right-52 {
    right: -13rem !important;
  }

  .sm\:-right-56 {
    right: -14rem !important;
  }

  .sm\:-right-60 {
    right: -15rem !important;
  }

  .sm\:-right-64 {
    right: -16rem !important;
  }

  .sm\:-right-72 {
    right: -18rem !important;
  }

  .sm\:-right-80 {
    right: -20rem !important;
  }

  .sm\:-right-96 {
    right: -24rem !important;
  }

  .sm\:-right-px {
    right: -1px !important;
  }

  .sm\:-right-0\.5 {
    right: -0.125rem !important;
  }

  .sm\:-right-1\.5 {
    right: -0.375rem !important;
  }

  .sm\:-right-2\.5 {
    right: -0.625rem !important;
  }

  .sm\:-right-3\.5 {
    right: -0.875rem !important;
  }

  .sm\:right-1\/2 {
    right: 50% !important;
  }

  .sm\:right-1\/3 {
    right: 33.333333% !important;
  }

  .sm\:right-2\/3 {
    right: 66.666667% !important;
  }

  .sm\:right-1\/4 {
    right: 25% !important;
  }

  .sm\:right-2\/4 {
    right: 50% !important;
  }

  .sm\:right-3\/4 {
    right: 75% !important;
  }

  .sm\:right-full {
    right: 100% !important;
  }

  .sm\:-right-1\/2 {
    right: -50% !important;
  }

  .sm\:-right-1\/3 {
    right: -33.333333% !important;
  }

  .sm\:-right-2\/3 {
    right: -66.666667% !important;
  }

  .sm\:-right-1\/4 {
    right: -25% !important;
  }

  .sm\:-right-2\/4 {
    right: -50% !important;
  }

  .sm\:-right-3\/4 {
    right: -75% !important;
  }

  .sm\:-right-full {
    right: -100% !important;
  }
}

@media (min-width: 768px) {
  .md\:right-0 {
    right: 0px !important;
  }

  .md\:right-1 {
    right: 0.25rem !important;
  }

  .md\:right-2 {
    right: 0.5rem !important;
  }

  .md\:right-3 {
    right: 0.75rem !important;
  }

  .md\:right-4 {
    right: 1rem !important;
  }

  .md\:right-5 {
    right: 1.25rem !important;
  }

  .md\:right-6 {
    right: 1.5rem !important;
  }

  .md\:right-7 {
    right: 1.75rem !important;
  }

  .md\:right-8 {
    right: 2rem !important;
  }

  .md\:right-9 {
    right: 2.25rem !important;
  }

  .md\:right-10 {
    right: 2.5rem !important;
  }

  .md\:right-11 {
    right: 2.75rem !important;
  }

  .md\:right-12 {
    right: 3rem !important;
  }

  .md\:right-14 {
    right: 3.5rem !important;
  }

  .md\:right-16 {
    right: 4rem !important;
  }

  .md\:right-20 {
    right: 5rem !important;
  }

  .md\:right-24 {
    right: 6rem !important;
  }

  .md\:right-28 {
    right: 7rem !important;
  }

  .md\:right-32 {
    right: 8rem !important;
  }

  .md\:right-36 {
    right: 9rem !important;
  }

  .md\:right-40 {
    right: 10rem !important;
  }

  .md\:right-44 {
    right: 11rem !important;
  }

  .md\:right-48 {
    right: 12rem !important;
  }

  .md\:right-52 {
    right: 13rem !important;
  }

  .md\:right-56 {
    right: 14rem !important;
  }

  .md\:right-60 {
    right: 15rem !important;
  }

  .md\:right-64 {
    right: 16rem !important;
  }

  .md\:right-72 {
    right: 18rem !important;
  }

  .md\:right-80 {
    right: 20rem !important;
  }

  .md\:right-96 {
    right: 24rem !important;
  }

  .md\:right-auto {
    right: auto !important;
  }

  .md\:right-px {
    right: 1px !important;
  }

  .md\:right-0\.5 {
    right: 0.125rem !important;
  }

  .md\:right-1\.5 {
    right: 0.375rem !important;
  }

  .md\:right-2\.5 {
    right: 0.625rem !important;
  }

  .md\:right-3\.5 {
    right: 0.875rem !important;
  }

  .md\:-right-0 {
    right: 0px !important;
  }

  .md\:-right-1 {
    right: -0.25rem !important;
  }

  .md\:-right-2 {
    right: -0.5rem !important;
  }

  .md\:-right-3 {
    right: -0.75rem !important;
  }

  .md\:-right-4 {
    right: -1rem !important;
  }

  .md\:-right-5 {
    right: -1.25rem !important;
  }

  .md\:-right-6 {
    right: -1.5rem !important;
  }

  .md\:-right-7 {
    right: -1.75rem !important;
  }

  .md\:-right-8 {
    right: -2rem !important;
  }

  .md\:.-right-9 {
    right: -2.25rem !important;
  }

  .md\:-right-10 {
    right: -2.5rem !important;
  }

  .md\:-right-11 {
    right: -2.75rem !important;
  }

  .md\:-right-12 {
    right: -3rem !important;
  }

  .md\:-right-14 {
    right: -3.5rem !important;
  }

  .md\:-right-16 {
    right: -4rem !important;
  }

  .md\:-right-20 {
    right: -5rem !important;
  }

  .md\:-right-24 {
    right: -6rem !important;
  }

  .md\:-right-28 {
    right: -7rem !important;
  }

  .md\:-right-32 {
    right: -8rem !important;
  }

  .md\:-right-36 {
    right: -9rem !important;
  }

  .md\:-right-40 {
    right: -10rem !important;
  }

  .md\:-right-44 {
    right: -11rem !important;
  }

  .md\:-right-48 {
    right: -12rem !important;
  }

  .md\:-right-52 {
    right: -13rem !important;
  }

  .md\:-right-56 {
    right: -14rem !important;
  }

  .md\:-right-60 {
    right: -15rem !important;
  }

  .md\:-right-64 {
    right: -16rem !important;
  }

  .md\:-right-72 {
    right: -18rem !important;
  }

  .md\:-right-80 {
    right: -20rem !important;
  }

  .md\:-right-96 {
    right: -24rem !important;
  }

  .md\:-right-px {
    right: -1px !important;
  }

  .md\:-right-0\.5 {
    right: -0.125rem !important;
  }

  .md\:-right-1\.5 {
    right: -0.375rem !important;
  }

  .md\:-right-2\.5 {
    right: -0.625rem !important;
  }

  .md\:-right-3\.5 {
    right: -0.875rem !important;
  }

  .md\:right-1\/2 {
    right: 50% !important;
  }

  .md\:right-1\/3 {
    right: 33.333333% !important;
  }

  .md\:right-2\/3 {
    right: 66.666667% !important;
  }

  .md\:right-1\/4 {
    right: 25% !important;
  }

  .md\:right-2\/4 {
    right: 50% !important;
  }

  .md\:right-3\/4 {
    right: 75% !important;
  }

  .md\:right-full {
    right: 100% !important;
  }

  .md\:-right-1\/2 {
    right: -50% !important;
  }

  .md\:-right-1\/3 {
    right: -33.333333% !important;
  }

  .md\:-right-2\/3 {
    right: -66.666667% !important;
  }

  .md\:-right-1\/4 {
    right: -25% !important;
  }

  .md\:-right-2\/4 {
    right: -50% !important;
  }

  .md\:-right-3\/4 {
    right: -75% !important;
  }

  .md\:-right-full {
    right: -100% !important;
  }
}

@media (min-width: 1024px) {
  .lg\:right-0 {
    right: 0px !important;
  }

  .lg\:ight-1 {
    right: 0.25rem !important;
  }

  .lg\:right-2 {
    right: 0.5rem !important;
  }

  .lg\:right-3 {
    right: 0.75rem !important;
  }

  .lg\:right-4 {
    right: 1rem !important;
  }

  .lg\:right-5 {
    right: 1.25rem !important;
  }

  .lg\:right-6 {
    right: 1.5rem !important;
  }

  .lg\:right-7 {
    right: 1.75rem !important;
  }

  .lg\:right-8 {
    right: 2rem !important;
  }

  .lg\:right-9 {
    right: 2.25rem !important;
  }

  .lg\:right-10 {
    right: 2.5rem !important;
  }

  .lg\:right-11 {
    right: 2.75rem !important;
  }

  .lg\:right-12 {
    right: 3rem !important;
  }

  .lg\:right-14 {
    right: 3.5rem !important;
  }

  .lg\:right-16 {
    right: 4rem !important;
  }

  .lg\:right-20 {
    right: 5rem !important;
  }

  .lg\:right-24 {
    right: 6rem !important;
  }

  .lg\:right-28 {
    right: 7rem !important;
  }

  .lg\:right-32 {
    right: 8rem !important;
  }

  .lg\:ight-36 {
    right: 9rem !important;
  }

  .lg\:right-40 {
    right: 10rem !important;
  }

  .lg\:right-44 {
    right: 11rem !important;
  }

  .lg\:right-48 {
    right: 12rem !important;
  }

  .lg\:right-52 {
    right: 13rem !important;
  }

  .lg\:right-56 {
    right: 14rem !important;
  }

  .lg\:right-60 {
    right: 15rem !important;
  }

  .lg\:right-64 {
    right: 16rem !important;
  }

  .lg\:right-72 {
    right: 18rem !important;
  }

  .lg\:right-80 {
    right: 20rem !important;
  }

  .lg\:right-96 {
    right: 24rem !important;
  }

  .lg\:right-auto {
    right: auto !important;
  }

  .lg\:right-px {
    right: 1px !important;
  }

  .lg\:right-0\.5 {
    right: 0.125rem !important;
  }

  .lg\:right-1\.5 {
    right: 0.375rem !important;
  }

  .lg\:right-2\.5 {
    right: 0.625rem !important;
  }

  .lg\:right-3\.5 {
    right: 0.875rem !important;
  }

  .lg\:-right-0 {
    right: 0px !important;
  }

  .lg\:-right-1 {
    right: -0.25rem !important;
  }

  .lg\:-right-2 {
    right: -0.5rem !important;
  }

  .lg\:-right-3 {
    right: -0.75rem !important;
  }

  .lg\:-right-4 {
    right: -1rem !important;
  }

  .lg\:-right-5 {
    right: -1.25rem !important;
  }

  .lg\:-right-6 {
    right: -1.5rem !important;
  }

  .lg\:-right-7 {
    right: -1.75rem !important;
  }

  .lg\:-right-8 {
    right: -2rem !important;
  }

  .lg\:-right-9 {
    right: -2.25rem !important;
  }

  .lg\:-right-10 {
    right: -2.5rem !important;
  }

  .lg\:-right-11 {
    right: -2.75rem !important;
  }

  .lg\:-right-12 {
    right: -3rem !important;
  }

  .lg\:-right-14 {
    right: -3.5rem !important;
  }

  .lg\:-right-16 {
    right: -4rem !important;
  }

  .lg\:-right-20 {
    right: -5rem !important;
  }

  .lg\:-right-24 {
    right: -6rem !important;
  }

  .lg\:-right-28 {
    right: -7rem !important;
  }

  .lg\:-right-32 {
    right: -8rem !important;
  }

  .lg\:-right-36 {
    right: -9rem !important;
  }

  .lg\:-right-40 {
    right: -10rem !important;
  }

  .lg\:-right-44 {
    right: -11rem !important;
  }

  .lg\:.-right-48 {
    right: -12rem !important;
  }

  .lg\:-right-52 {
    right: -13rem !important;
  }

  .lg\:-right-56 {
    right: -14rem !important;
  }

  .lg\:-right-60 {
    right: -15rem !important;
  }

  .lg\:-right-64 {
    right: -16rem !important;
  }

  .lg\:-right-72 {
    right: -18rem !important;
  }

  .lg\:-right-80 {
    right: -20rem !important;
  }

  .lg\:-right-96 {
    right: -24rem !important;
  }

  .lg\:-right-px {
    right: -1px !important;
  }

  .lg\:-right-0\.5 {
    right: -0.125rem !important;
  }

  .lg\:-right-1\.5 {
    right: -0.375rem !important;
  }

  .lg\:-right-2\.5 {
    right: -0.625rem !important;
  }

  .lg\:-right-3\.5 {
    right: -0.875rem !important;
  }

  .lg\:right-1\/2 {
    right: 50% !important;
  }

  .lg\:right-1\/3 {
    right: 33.333333% !important;
  }

  .lg\:right-2\/3 {
    right: 66.666667% !important;
  }

  .lg\:right-1\/4 {
    right: 25% !important;
  }

  .lg\:right-2\/4 {
    right: 50% !important;
  }

  .lg\:right-3\/4 {
    right: 75% !important;
  }

  .lg\:right-full {
    right: 100% !important;
  }

  .lg\:-right-1\/2 {
    right: -50% !important;
  }

  .lg\:-right-1\/3 {
    right: -33.333333% !important;
  }

  .lg\:-right-2\/3 {
    right: -66.666667% !important;
  }

  .lg\:-right-1\/4 {
    right: -25% !important;
  }

  .lg\:-right-2\/4 {
    right: -50% !important;
  }

  .lg\:.-right-3\/4 {
    right: -75% !important;
  }

  .lg\:-right-full {
    right: -100% !important;
  }
}

@media (min-width: 1280px) {
  .xl\:right-0 {
    right: 0px !important;
  }

  .xl\:right-1 {
    right: 0.25rem !important;
  }

  .xl\:right-2 {
    right: 0.5rem !important;
  }

  .xl\:right-3 {
    right: 0.75rem !important;
  }

  .xl\:right-4 {
    right: 1rem !important;
  }

  .xl\:right-5 {
    right: 1.25rem !important;
  }

  .xl\:right-6 {
    right: 1.5rem !important;
  }

  .xl\:right-7 {
    right: 1.75rem !important;
  }

  .xl\:right-8 {
    right: 2rem !important;
  }

  .xl\:right-9 {
    right: 2.25rem !important;
  }

  .xl\:right-10 {
    right: 2.5rem !important;
  }

  .xl\:right-11 {
    right: 2.75rem !important;
  }

  .xl\:right-12 {
    right: 3rem !important;
  }

  .xl\:right-14 {
    right: 3.5rem !important;
  }

  .xl\:right-16 {
    right: 4rem !important;
  }

  .xl\:right-20 {
    right: 5rem !important;
  }

  .xl\:right-24 {
    right: 6rem !important;
  }

  .xl\:right-28 {
    right: 7rem !important;
  }

  .xl\:right-32 {
    right: 8rem !important;
  }

  .xl\:right-36 {
    right: 9rem !important;
  }

  .xl\:right-40 {
    right: 10rem !important;
  }

  .xl\:right-44 {
    right: 11rem !important;
  }

  .xl\:right-48 {
    right: 12rem !important;
  }

  .xl\:right-52 {
    right: 13rem !important;
  }

  .xl\:right-56 {
    right: 14rem !important;
  }

  .xl\:right-60 {
    right: 15rem !important;
  }

  .xl\:right-64 {
    right: 16rem !important;
  }

  .xl\:right-72 {
    right: 18rem !important;
  }

  .xl\:right-80 {
    right: 20rem !important;
  }

  .xl\:right-96 {
    right: 24rem !important;
  }

  .xl\:right-auto {
    right: auto !important;
  }

  .xl\:right-px {
    right: 1px !important;
  }

  .xl\:right-0\.5 {
    right: 0.125rem !important;
  }

  .xl\:right-1\.5 {
    right: 0.375rem !important;
  }

  .xl\:right-2\.5 {
    right: 0.625rem !important;
  }

  .xl\:right-3\.5 {
    right: 0.875rem !important;
  }

  .xl\:-right-0 {
    right: 0px !important;
  }

  .xl\:-right-1 {
    right: -0.25rem !important;
  }

  .xl\:-right-2 {
    right: -0.5rem !important;
  }

  .xl\:-right-3 {
    right: -0.75rem !important;
  }

  .xl\:-right-4 {
    right: -1rem !important;
  }

  .xl\:-right-5 {
    right: -1.25rem !important;
  }

  .xl\:-right-6 {
    right: -1.5rem !important;
  }

  .xl\:-right-7 {
    right: -1.75rem !important;
  }

  .xl\:-right-8 {
    right: -2rem !important;
  }

  .xl\:-right-9 {
    right: -2.25rem !important;
  }

  .xl\:-right-10 {
    right: -2.5rem !important;
  }

  .xl\:-right-11 {
    right: -2.75rem !important;
  }

  .xl\:-right-12 {
    right: -3rem !important;
  }

  .xl\:-right-14 {
    right: -3.5rem !important;
  }

  .xl\:-right-16 {
    right: -4rem !important;
  }

  .xl\:-right-20 {
    right: -5rem !important;
  }

  .xl\:-right-24 {
    right: -6rem !important;
  }

  .xl\:-right-28 {
    right: -7rem !important;
  }

  .xl\:-right-32 {
    right: -8rem !important;
  }

  .xl\:-right-36 {
    right: -9rem !important;
  }

  .xl\:-right-40 {
    right: -10rem !important;
  }

  .xl\:-right-44 {
    right: -11rem !important;
  }

  .xl\:-right-48 {
    right: -12rem !important;
  }

  .xl\:-right-52 {
    right: -13rem !important;
  }

  .xl\:-right-56 {
    right: -14rem !important;
  }

  .xl\:-right-60 {
    right: -15rem !important;
  }

  .xl\:-right-64 {
    right: -16rem !important;
  }

  .xl\:-right-72 {
    right: -18rem !important;
  }

  .xl\:-right-80 {
    right: -20rem !important;
  }

  .xl\:-right-96 {
    right: -24rem !important;
  }

  .xl\:-right-px {
    right: -1px !important;
  }

  .xl\:-right-0\.5 {
    right: -0.125rem !important;
  }

  .xl\:-right-1\.5 {
    right: -0.375rem !important;
  }

  .xl\:-right-2\.5 {
    right: -0.625rem !important;
  }

  .xl\:-right-3\.5 {
    right: -0.875rem !important;
  }

  .xl\:right-1\/2 {
    right: 50% !important;
  }

  .xl\:right-1\/3 {
    right: 33.333333% !important;
  }

  .xl\:right-2\/3 {
    right: 66.666667% !important;
  }

  .xl\:right-1\/4 {
    right: 25% !important;
  }

  .xl\:right-2\/4 {
    right: 50% !important;
  }

  .xl\:right-3\/4 {
    right: 75% !important;
  }

  .xl\:right-full {
    right: 100% !important;
  }

  .xl\:-right-1\/2 {
    right: -50% !important;
  }

  .xl\:-right-1\/3 {
    right: -33.333333% !important;
  }

  .xl\:-right-2\/3 {
    right: -66.666667% !important;
  }

  .xl\:-right-1\/4 {
    right: -25% !important;
  }

  .xl\:-right-2\/4 {
    right: -50% !important;
  }

  .xl\:-right-3\/4 {
    right: -75% !important;
  }

  .xl\:-right-full {
    right: -100% !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:right-0 {
    right: 0px !important;
  }

  .\32xl\:right-1 {
    right: 0.25rem !important;
  }

  .\32xl\:right-2 {
    right: 0.5rem !important;
  }

  .\32xl\:right-3 {
    right: 0.75rem !important;
  }

  .\32xl\:right-4 {
    right: 1rem !important;
  }

  .\32xl\:right-5 {
    right: 1.25rem !important;
  }

  .\32xl\:right-6 {
    right: 1.5rem !important;
  }

  .\32xl\:right-7 {
    right: 1.75rem !important;
  }

  .\32xl\:right-8 {
    right: 2rem !important;
  }

  .\32xl\:right-9 {
    right: 2.25rem !important;
  }

  .\32xl\:right-10 {
    right: 2.5rem !important;
  }

  .\32xl\:right-11 {
    right: 2.75rem !important;
  }

  .\32xl\:right-12 {
    right: 3rem !important;
  }

  .\32xl\:right-14 {
    right: 3.5rem !important;
  }

  .\32xl\:right-16 {
    right: 4rem !important;
  }

  .\32xl\:right-20 {
    right: 5rem !important;
  }

  .\32xl\:right-24 {
    right: 6rem !important;
  }

  .\32xl\:right-28 {
    right: 7rem !important;
  }

  .\32xl\:right-32 {
    right: 8rem !important;
  }

  .\32xl\:right-36 {
    right: 9rem !important;
  }

  .\32xl\:right-40 {
    right: 10rem !important;
  }

  .\32xl\:right-44 {
    right: 11rem !important;
  }

  .\32xl\:right-48 {
    right: 12rem !important;
  }

  .\32xl\:right-52 {
    right: 13rem !important;
  }

  .\32xl\:right-56 {
    right: 14rem !important;
  }

  .\32xl\:right-60 {
    right: 15rem !important;
  }

  .\32xl\:right-64 {
    right: 16rem !important;
  }

  .\32xl\:right-72 {
    right: 18rem !important;
  }

  .\32xl\:right-80 {
    right: 20rem !important;
  }

  .\32xl\:right-96 {
    right: 24rem !important;
  }

  .\32xl\:right-auto {
    right: auto !important;
  }

  .\32xl\:right-px {
    right: 1px !important;
  }

  .\32xl\:right-0\.5 {
    right: 0.125rem !important;
  }

  .\32xl\:right-1\.5 {
    right: 0.375rem !important;
  }

  .\32xl\:right-2\.5 {
    right: 0.625rem !important;
  }

  .\32xl\:right-3\.5 {
    right: 0.875rem !important;
  }

  .\32xl\:-right-0 {
    right: 0px !important;
  }

  .\32xl\:-right-1 {
    right: -0.25rem !important;
  }

  .\32xl\:-right-2 {
    right: -0.5rem !important;
  }

  .\32xl\:-right-3 {
    right: -0.75rem !important;
  }

  .\32xl\:-right-4 {
    right: -1rem !important;
  }

  .\32xl\:-right-5 {
    right: -1.25rem !important;
  }

  .\32xl\:-right-6 {
    right: -1.5rem !important;
  }

  .\32xl\:-right-7 {
    right: -1.75rem !important;
  }

  .\32xl\:-right-8 {
    right: -2rem !important;
  }

  .\32xl\:-right-9 {
    right: -2.25rem !important;
  }

  .\32xl\:-right-10 {
    right: -2.5rem !important;
  }

  .\32xl\:-right-11 {
    right: -2.75rem !important;
  }

  .\32xl\:-right-12 {
    right: -3rem !important;
  }

  .\32xl\:-right-14 {
    right: -3.5rem !important;
  }

  .\32xl\:-right-16 {
    right: -4rem !important;
  }

  .\32xl\:-right-20 {
    right: -5rem !important;
  }

  .\32xl\:-right-24 {
    right: -6rem !important;
  }

  .\32xl\:-right-28 {
    right: -7rem !important;
  }

  .\32xl\:-right-32 {
    right: -8rem !important;
  }

  .\32xl\:-right-36 {
    right: -9rem !important;
  }

  .\32xl\:-right-40 {
    right: -10rem !important;
  }

  .\32xl\:-right-44 {
    right: -11rem !important;
  }

  .\32xl\:-right-48 {
    right: -12rem !important;
  }

  .\32xl\:-right-52 {
    right: -13rem !important;
  }

  .\32xl\:-right-56 {
    right: -14rem !important;
  }

  .\32xl\:-right-60 {
    right: -15rem !important;
  }

  .\32xl\:-right-64 {
    right: -16rem !important;
  }

  .\32xl\:-right-72 {
    right: -18rem !important;
  }

  .\32xl\:-right-80 {
    right: -20rem !important;
  }

  .\32xl\:-right-96 {
    right: -24rem !important;
  }

  .\32xl\:-right-px {
    right: -1px !important;
  }

  .\32xl\:-right-0\.5 {
    right: -0.125rem !important;
  }

  .\32xl\:-right-1\.5 {
    right: -0.375rem !important;
  }

  .\32xl\:-right-2\.5 {
    right: -0.625rem !important;
  }

  .\32xl\:-right-3\.5 {
    right: -0.875rem !important;
  }

  .\32xl\:right-1\/2 {
    right: 50% !important;
  }

  .\32xl\:right-1\/3 {
    right: 33.333333% !important;
  }

  .\32xl\:right-2\/3 {
    right: 66.666667% !important;
  }

  .\32xl\:right-1\/4 {
    right: 25% !important;
  }

  .\32xl\:right-2\/4 {
    right: 50% !important;
  }

  .\32xl\:right-3\/4 {
    right: 75% !important;
  }

  .\32xl\:right-full {
    right: 100% !important;
  }

  .\32xl\:-right-1\/2 {
    right: -50% !important;
  }

  .\32xl\:-right-1\/3 {
    right: -33.333333% !important;
  }

  .\32xl\:-right-2\/3 {
    right: -66.666667% !important;
  }

  .\32xl\:-right-1\/4 {
    right: -25% !important;
  }

  .\32xl\:-right-2\/4 {
    right: -50% !important;
  }

  .\32xl\:-right-3\/4 {
    right: -75% !important;
  }

  .\32xl\:-right-full {
    right: -100% !important;
  }
}
