.rotate-0 {
    --rotate: 0deg;
}

.rotate-1 {
    --rotate: 1deg;
}

.rotate-2 {
    --rotate: 2deg;
}

.rotate-3 {
    --rotate: 3deg;
}

.rotate-6 {
    --rotate: 6deg;
}

.rotate-12 {
    --rotate: 12deg;
}

.rotate-45 {
    --rotate: 45deg;
}

.rotate-90 {
    --rotate: 90deg;
}

.rotate-180 {
    --rotate: 180deg;
}

.-rotate-180 {
    --rotate: -180deg;
}

.-rotate-90 {
    --rotate: -90deg;
}

.-rotate-45 {
    --rotate: -45deg;
}

.-rotate-12 {
    --rotate: -12deg;
}

.-rotate-6 {
    --rotate: -6deg;
}

.-rotate-3 {
    --rotate: -3deg;
}

.-rotate-2 {
    --rotate: -2deg;
}

.-rotate-1 {
    --rotate: -1deg;
}

.hover\:rotate-0:hover {
    --rotate: 0deg;
}

.hover\:rotate-1:hover {
    --rotate: 1deg;
}

.hover\:rotate-2:hover {
    --rotate: 2deg;
}

.hover\:rotate-3:hover {
    --rotate: 3deg;
}

.hover\:rotate-6:hover {
    --rotate: 6deg;
}

.hover\:rotate-12:hover {
    --rotate: 12deg;
}

.hover\:rotate-45:hover {
    --rotate: 45deg;
}

.hover\:rotate-90:hover {
    --rotate: 90deg;
}

.hover\:rotate-180:hover {
    --rotate: 180deg;
}

.hover\:-rotate-180:hover {
    --rotate: -180deg;
}

.hover\:-rotate-90:hover {
    --rotate: -90deg;
}

.hover\:-rotate-45:hover {
    --rotate: -45deg;
}

.hover\:-rotate-12:hover {
    --rotate: -12deg;
}

.hover\:-rotate-6:hover {
    --rotate: -6deg;
}

.hover\:-rotate-3:hover {
    --rotate: -3deg;
}

.hover\:-rotate-2:hover {
    --rotate: -2deg;
}

.hover\:-rotate-1:hover {
    --rotate: -1deg;
}

.focus\:rotate-0:focus {
    --rotate: 0deg;
}

.focus\:rotate-1:focus {
    --rotate: 1deg;
}

.focus\:rotate-2:focus {
    --rotate: 2deg;
}

.focus\:rotate-3:focus {
    --rotate: 3deg;
}

.focus\:rotate-6:focus {
    --rotate: 6deg;
}

.focus\:rotate-12:focus {
    --rotate: 12deg;
}

.focus\:rotate-45:focus {
    --rotate: 45deg;
}

.focus\:rotate-90:focus {
    --rotate: 90deg;
}

.focus\:rotate-180:focus {
    --rotate: 180deg;
}

.focus\:-rotate-180:focus {
    --rotate: -180deg;
}

.focus\:-rotate-90:focus {
    --rotate: -90deg;
}

.focus\:-rotate-45:focus {
    --rotate: -45deg;
}

.focus\:-rotate-12:focus {
    --rotate: -12deg;
}

.focus\:-rotate-6:focus {
    --rotate: -6deg;
}

.focus\:-rotate-3:focus {
    --rotate: -3deg;
}

.focus\:-rotate-2:focus {
    --rotate: -2deg;
}

.focus\:-rotate-1:focus {
    --rotate: -1deg;
}
