.rotate-0 {
  --rotate: 0deg !important;
}

.rotate-1 {
  --rotate: 1deg !important;
}

.rotate-2 {
  --rotate: 2deg !important;
}

.rotate-3 {
  --rotate: 3deg !important;
}

.rotate-6 {
  --rotate: 6deg !important;
}

.rotate-12 {
  --rotate: 12deg !important;
}

.rotate-45 {
  --rotate: 45deg !important;
}

.rotate-90 {
  --rotate: 90deg !important;
}

.rotate-180 {
  --rotate: 180deg !important;
}

.-rotate-180 {
  --rotate: -180deg !important;
}

.-rotate-90 {
  --rotate: -90deg !important;
}

.-rotate-45 {
  --rotate: -45deg !important;
}

.-rotate-12 {
  --rotate: -12deg !important;
}

.-rotate-6 {
  --rotate: -6deg !important;
}

.-rotate-3 {
  --rotate: -3deg !important;
}

.-rotate-2 {
  --rotate: -2deg !important;
}

.-rotate-1 {
  --rotate: -1deg !important;
}

.hover\:rotate-0:hover {
  --rotate: 0deg !important;
}

.hover\:rotate-1:hover {
  --rotate: 1deg !important;
}

.hover\:rotate-2:hover {
  --rotate: 2deg !important;
}

.hover\:rotate-3:hover {
  --rotate: 3deg !important;
}

.hover\:rotate-6:hover {
  --rotate: 6deg !important;
}

.hover\:rotate-12:hover {
  --rotate: 12deg !important;
}

.hover\:rotate-45:hover {
  --rotate: 45deg !important;
}

.hover\:rotate-90:hover {
  --rotate: 90deg !important;
}

.hover\:rotate-180:hover {
  --rotate: 180deg !important;
}

.hover\:-rotate-180:hover {
  --rotate: -180deg !important;
}

.hover\:-rotate-90:hover {
  --rotate: -90deg !important;
}

.hover\:-rotate-45:hover {
  --rotate: -45deg !important;
}

.hover\:-rotate-12:hover {
  --rotate: -12deg !important;
}

.hover\:-rotate-6:hover {
  --rotate: -6deg !important;
}

.hover\:-rotate-3:hover {
  --rotate: -3deg !important;
}

.hover\:-rotate-2:hover {
  --rotate: -2deg !important;
}

.hover\:-rotate-1:hover {
  --rotate: -1deg !important;
}

.focus\:rotate-0:focus {
  --rotate: 0deg !important;
}

.focus\:rotate-1:focus {
  --rotate: 1deg !important;
}

.focus\:rotate-2:focus {
  --rotate: 2deg !important;
}

.focus\:rotate-3:focus {
  --rotate: 3deg !important;
}

.focus\:rotate-6:focus {
  --rotate: 6deg !important;
}

.focus\:rotate-12:focus {
  --rotate: 12deg !important;
}

.focus\:rotate-45:focus {
  --rotate: 45deg !important;
}

.focus\:rotate-90:focus {
  --rotate: 90deg !important;
}

.focus\:rotate-180:focus {
  --rotate: 180deg !important;
}

.focus\:-rotate-180:focus {
  --rotate: -180deg !important;
}

.focus\:-rotate-90:focus {
  --rotate: -90deg !important;
}

.focus\:-rotate-45:focus {
  --rotate: -45deg !important;
}

.focus\:-rotate-12:focus {
  --rotate: -12deg !important;
}

.focus\:-rotate-6:focus {
  --rotate: -6deg !important;
}

.focus\:-rotate-3:focus {
  --rotate: -3deg !important;
}

.focus\:-rotate-2:focus {
  --rotate: -2deg !important;
}

.focus\:-rotate-1:focus {
  --rotate: -1deg !important;
}
