.scale-0 {
    --scale-x: 0 !important;
    --scale-y: 0 !important;
}

.scale-50 {
    --scale-x: .5 !important;
    --scale-y: .5 !important;
}

.scale-75 {
    --scale-x: .75 !important;
    --scale-y: .75 !important;
}

.scale-90 {
    --scale-x: .9 !important;
    --scale-y: .9 !important;
}

.scale-95 {
    --scale-x: .95 !important;
    --scale-y: .95 !important;
}

.scale-100 {
    --scale-x: 1 !important;
    --scale-y: 1 !important;
}

.scale-105 {
    --scale-x: 1.05 !important;
    --scale-y: 1.05 !important;
}

.scale-110 {
    --scale-x: 1.1 !important;
    --scale-y: 1.1 !important;
}

.scale-125 {
    --scale-x: 1.25 !important;
    --scale-y: 1.25 !important;
}

.scale-150 {
    --scale-x: 1.5 !important;
    --scale-y: 1.5 !important;
}

.hover\:scale-0:hover {
    --scale-x: 0 !important;
    --scale-y: 0 !important;
}

.hover\:scale-50:hover {
    --scale-x: .5 !important;
    --scale-y: .5 !important;
}

.hover\:scale-75:hover {
    --scale-x: .75 !important;
    --scale-y: .75 !important;
}

.hover\:scale-90:hover {
    --scale-x: .9 !important;
    --scale-y: .9 !important;
}

.hover\:scale-95:hover {
    --scale-x: .95 !important;
    --scale-y: .95 !important;
}

.hover\:scale-100:hover {
    --scale-x: 1 !important;
    --scale-y: 1 !important;
}

.hover\:scale-105:hover {
    --scale-x: 1.05 !important;
    --scale-y: 1.05 !important;
}

.hover\:scale-110:hover {
    --scale-x: 1.1 !important;
    --scale-y: 1.1 !important;
}

.hover\:scale-125:hover {
    --scale-x: 1.25 !important;
    --scale-y: 1.25 !important;
}

.hover\:scale-150:hover {
    --scale-x: 1.5 !important;
    --scale-y: 1.5 !important;
}

.focus\:scale-0:focus {
    --scale-x: 0 !important;
    --scale-y: 0 !important;
}

.focus\:scale-50:focus {
    --scale-x: .5 !important;
    --scale-y: .5 !important;
}

.focus\:scale-75:focus {
    --scale-x: .75 !important;
    --scale-y: .75 !important;
}

.focus\:scale-90:focus {
    --scale-x: .9 !important;
    --scale-y: .9 !important;
}

.focus\:scale-95:focus {
    --scale-x: .95 !important;
    --scale-y: .95 !important;
}

.focus\:scale-100:focus {
    --scale-x: 1 !important;
    --scale-y: 1 !important;
}

.focus\:scale-105:focus {
    --scale-x: 1.05 !important;
    --scale-y: 1.05 !important;
}

.focus\:scale-110:focus {
    --scale-x: 1.1 !important;
    --scale-y: 1.1 !important;
}

.focus\:scale-125:focus {
    --scale-x: 1.25 !important;
    --scale-y: 1.25 !important;
}

.focus\:scale-150:focus {
    --scale-x: 1.5 !important;
    --scale-y: 1.5 !important;
}

.scale-x-0 {
    --scale-x: 0 !important;
}

.scale-x-50 {
    --scale-x: .5 !important;
}

.scale-x-75 {
    --scale-x: .75 !important;
}

.scale-x-90 {
    --scale-x: .9 !important;
}

.scale-x-95 {
    --scale-x: .95 !important;
}

.scale-x-100 {
    --scale-x: 1 !important;
}

.scale-x-105 {
    --scale-x: 1.05 !important;
}

.scale-x-110 {
    --scale-x: 1.1 !important;
}

.scale-x-125 {
    --scale-x: 1.25 !important;
}

.scale-x-150 {
    --scale-x: 1.5 !important;
}

.scale-y-0 {
    --scale-y: 0 !important;
}

.scale-y-50 {
    --scale-y: .5 !important;
}

.scale-y-75 {
    --scale-y: .75 !important;
}

.scale-y-90 {
    --scale-y: .9 !important;
}

.scale-y-95 {
    --scale-y: .95 !important;
}

.scale-y-100 {
    --scale-y: 1 !important;
}

.scale-y-105 {
    --scale-y: 1.05 !important;
}

.scale-y-110 {
    --scale-y: 1.1 !important;
}

.scale-y-125 {
    --scale-y: 1.25 !important;
}

.scale-y-150 {
    --scale-y: 1.5 !important;
}

.hover\:scale-x-0:hover {
    --scale-x: 0 !important;
}

.hover\:scale-x-50:hover {
    --scale-x: .5 !important;
}

.hover\:scale-x-75:hover {
    --scale-x: .75 !important;
}

.hover\:scale-x-90:hover {
    --scale-x: .9 !important;
}

.hover\:scale-x-95:hover {
    --scale-x: .95 !important;
}

.hover\:scale-x-100:hover {
    --scale-x: 1 !important;
}

.hover\:scale-x-105:hover {
    --scale-x: 1.05 !important;
}

.hover\:scale-x-110:hover {
    --scale-x: 1.1 !important;
}

.hover\:scale-x-125:hover {
    --scale-x: 1.25 !important;
}

.hover\:scale-x-150:hover {
    --scale-x: 1.5 !important;
}

.hover\:scale-y-0:hover {
    --scale-y: 0 !important;
}

.hover\:scale-y-50:hover {
    --scale-y: .5 !important;
}

.hover\:scale-y-75:hover {
    --scale-y: .75 !important;
}

.hover\:scale-y-90:hover {
    --scale-y: .9 !important;
}

.hover\:scale-y-95:hover {
    --scale-y: .95 !important;
}

.hover\:scale-y-100:hover {
    --scale-y: 1 !important;
}

.hover\:scale-y-105:hover {
    --scale-y: 1.05 !important;
}

.hover\:scale-y-110:hover {
    --scale-y: 1.1 !important;
}

.hover\:scale-y-125:hover {
    --scale-y: 1.25 !important;
}

.hover\:scale-y-150:hover {
    --scale-y: 1.5 !important;
}

.focus\:scale-x-0:focus {
    --scale-x: 0 !important;
}

.focus\:scale-x-50:focus {
    --scale-x: .5 !important;
}

.focus\:scale-x-75:focus {
    --scale-x: .75 !important;
}

.focus\:scale-x-90:focus {
    --scale-x: .9 !important;
}

.focus\:scale-x-95:focus {
    --scale-x: .95 !important;
}

.focus\:scale-x-100:focus {
    --scale-x: 1 !important;
}

.focus\:scale-x-105:focus {
    --scale-x: 1.05 !important;
}

.focus\:scale-x-110:focus {
    --scale-x: 1.1 !important;
}

.focus\:scale-x-125:focus {
    --scale-x: 1.25 !important;
}

.focus\:scale-x-150:focus {
    --scale-x: 1.5 !important;
}

.focus\:scale-y-0:focus {
    --scale-y: 0 !important;
}

.focus\:scale-y-50:focus {
    --scale-y: .5 !important;
}

.focus\:scale-y-75:focus {
    --scale-y: .75 !important;
}

.focus\:scale-y-90:focus {
    --scale-y: .9 !important;
}

.focus\:scale-y-95:focus {
    --scale-y: .95 !important;
}

.focus\:scale-y-100:focus {
    --scale-y: 1 !important;
}

.focus\:scale-y-105:focus {
    --scale-y: 1.05 !important;
}

.focus\:scale-y-110:focus {
    --scale-y: 1.1 !important;
}

.focus\:scale-y-125:focus {
    --scale-y: 1.25 !important;
}

.focus\:scale-y-150:focus {
    --scale-y: 1.5 !important;
}