.scroll-snap-type-none {
  scroll-snap-type: none;
}

.scroll-snap-type-x {
  scroll-snap-type: x;
}

.scroll-snap-type-y {
  scroll-snap-type: y;
}

.scroll-snape-type-black {
  scroll-snap-type: block;
}

.scroll-snap-type-inline {
  scroll-snap-type: inline;
}

.scroll-snap-type-both {
  scroll-snap-type: both;
}

.scroll-snap-type-xm {
  scroll-snap-type: x mandatory;
}

.scroll-snap-type-yp {
  scroll-snap-type: y proximity;
}

.scroll-snap-type-both-m {
  scroll-snap-type: both mandatory;
}

.scroll-snap-type-inherit {
  scroll-snap-type: inherit;
}

.scroll-snap-type-initial {
  scroll-snap-type: initial;
}

.scroll-snap-type-unset {
  scroll-snap-type: unset;
}

.snap-normal {
  scroll-snap-stop: normal;
}

.snap-always {
  scroll-snap-stop: always;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-end {
  scroll-snap-align: end;
}

.snap-center {
  scroll-snap-align: center;
}

.snap-align-none {
  scroll-snap-align: none;
}
