.scroll-p-0 {
  scroll-padding: 0px !important;
}
.scroll-px-0 {
  scroll-padding-left: 0px !important;
  scroll-padding-right: 0px !important;
}
.scroll-py-0 {
  scroll-padding-top: 0px !important;
  scroll-padding-bottom: 0px !important;
}
.scroll-pt-0 {
  scroll-padding-top: 0px !important;
}
.scroll-pr-0 {
  scroll-padding-right: 0px !important;
}
.scroll-pb-0 {
  scroll-padding-bottom: 0px !important;
}
.scroll-pl-0 {
  scroll-padding-left: 0px !important;
}
.scroll-p-px {
  scroll-padding: 1px !important;
}
.scroll-px-px {
  scroll-padding-left: 1px !important;
  scroll-padding-right: 1px !important;
}
.scroll-py-px {
  scroll-padding-top: 1px !important;
  scroll-padding-bottom: 1px !important;
}
.scroll-pt-px {
  scroll-padding-top: 1px !important;
}
.scroll-pr-px {
  scroll-padding-right: 1px !important;
}
.scroll-pb-px {
  scroll-padding-bottom: 1px !important;
}
.scroll-pl-px {
  scroll-padding-left: 1px !important;
}
.scroll-p-0-5 {
  scroll-padding: 0.125rem !important;
}
.scroll-px-0-5 {
  scroll-padding-left: 0.125rem !important;
  scroll-padding-right: 0.125rem !important;
}
.scroll-py-0-5 {
  scroll-padding-top: 0.125rem !important;
  scroll-padding-bottom: 0.125rem !important;
}
.scroll-pt-0-5 {
  scroll-padding-top: 0.125rem !important;
}
.scroll-pr-0-5 {
  scroll-padding-right: 0.125rem !important;
}
.scroll-pb-0-5 {
  scroll-padding-bottom: 0.125rem !important;
}
.scroll-pl-0-5 {
  scroll-padding-left: 0.125rem !important;
}
.scroll-p-1 {
  scroll-padding: 0.25rem !important;
}
.scroll-px-1 {
  scroll-padding-left: 0.25rem !important;
  scroll-padding-right: 0.25rem !important;
}
.scroll-py-1 {
  scroll-padding-top: 0.25rem !important;
  scroll-padding-bottom: 0.25rem !important;
}
.scroll-pt-1 {
  scroll-padding-top: 0.25rem !important;
}
.scroll-pr-1 {
  scroll-padding-right: 0.25rem !important;
}
.scroll-pb-1 {
  scroll-padding-bottom: 0.25rem !important;
}
.scroll-pl-1 {
  scroll-padding-left: 0.25rem !important;
}
.scroll-p-1-5 {
  scroll-padding: 0.375rem !important;
}
.scroll-px-1-5 {
  scroll-padding-left: 0.375rem !important;
  scroll-padding-right: 0.375rem !important;
}
.scroll-py-1-5 {
  scroll-padding-top: 0.375rem !important;
  scroll-padding-bottom: 0.375rem !important;
}
.scroll-pt-1-5 {
  scroll-padding-top: 0.375rem !important;
}
.scroll-pr-1-5 {
  scroll-padding-right: 0.375rem !important;
}
.scroll-pb-1-5 {
  scroll-padding-bottom: 0.375rem !important;
}
.scroll-pl-1-5 {
  scroll-padding-left: 0.375rem !important;
}
.scroll-p-2 {
  scroll-padding: 0.5rem !important;
}
.scroll-px-2 {
  scroll-padding-left: 0.5rem !important;
  scroll-padding-right: 0.5rem !important;
}
.scroll-py-2 {
  scroll-padding-top: 0.5rem !important;
  scroll-padding-bottom: 0.5rem !important;
}
.scroll-pt-2 {
  scroll-padding-top: 0.5rem !important;
}
.scroll-pr-2 {
  scroll-padding-right: 0.5rem !important;
}
.scroll-pb-2 {
  scroll-padding-bottom: 0.5rem !important;
}
.scroll-pl-2 {
  scroll-padding-left: 0.5rem !important;
}
.scroll-p-2-5 {
  scroll-padding: 0.625rem !important;
}
.scroll-px-2-5 {
  scroll-padding-left: 0.625rem !important;
  scroll-padding-right: 0.625rem !important;
}
.scroll-py-2-5 {
  scroll-padding-top: 0.625rem !important;
  scroll-padding-bottom: 0.625rem !important;
}
.scroll-pt-2-5 {
  scroll-padding-top: 0.625rem !important;
}
.scroll-pr-2-5 {
  scroll-padding-right: 0.625rem !important;
}
.scroll-pb-2-5 {
  scroll-padding-bottom: 0.625rem !important;
}
.scroll-pl-2-5 {
  scroll-padding-left: 0.625rem !important;
}
.scroll-p-3 {
  scroll-padding: 0.75rem !important;
}
.scroll-px-3 {
  scroll-padding-left: 0.75rem !important;
  scroll-padding-right: 0.75rem !important;
}
.scroll-py-3 {
  scroll-padding-top: 0.75rem !important;
  scroll-padding-bottom: 0.75rem !important;
}
.scroll-pt-3 {
  scroll-padding-top: 0.75rem !important;
}
.scroll-pr-3 {
  scroll-padding-right: 0.75rem !important;
}
.scroll-pb-3 {
  scroll-padding-bottom: 0.75rem !important;
}
.scroll-pl-3 {
  scroll-padding-left: 0.75rem !important;
}
.scroll-p-3-5 {
  scroll-padding: 0.875rem !important;
}
.scroll-px-3-5 {
  scroll-padding-left: 0.875rem !important;
  scroll-padding-right: 0.875rem !important;
}
.scroll-py-3-5 {
  scroll-padding-top: 0.875rem !important;
  scroll-padding-bottom: 0.875rem !important;
}
.scroll-pt-3-5 {
  scroll-padding-top: 0.875rem !important;
}
.scroll-pr-3-5 {
  scroll-padding-right: 0.875rem !important;
}
.scroll-pb-3-5 {
  scroll-padding-bottom: 0.875rem !important;
}
.scroll-pl-3-5 {
  scroll-padding-left: 0.875rem !important;
}
.scroll-p-4 {
  scroll-padding: 1rem !important;
}
.scroll-px-4 {
  scroll-padding-left: 1rem !important;
  scroll-padding-right: 1rem !important;
}
.scroll-py-4 {
  scroll-padding-top: 1rem !important;
  scroll-padding-bottom: 1rem !important;
}
.scroll-pt-4 {
  scroll-padding-top: 1rem !important;
}
.scroll-pr-4 {
  scroll-padding-right: 1rem !important;
}
.scroll-pb-4 {
  scroll-padding-bottom: 1rem !important;
}
.scroll-pl-4 {
  scroll-padding-left: 1rem !important;
}
.scroll-p-5 {
  scroll-padding: 1.25rem !important;
}
.scroll-px-5 {
  scroll-padding-left: 1.25rem !important;
  scroll-padding-right: 1.25rem !important;
}
.scroll-py-5 {
  scroll-padding-top: 1.25rem !important;
  scroll-padding-bottom: 1.25rem !important;
}
.scroll-pt-5 {
  scroll-padding-top: 1.25rem !important;
}
.scroll-pr-5 {
  scroll-padding-right: 1.25rem !important;
}
.scroll-pb-5 {
  scroll-padding-bottom: 1.25rem !important;
}
.scroll-pl-5 {
  scroll-padding-left: 1.25rem !important;
}
.scroll-p-6 {
  scroll-padding: 1.5rem !important;
}
.scroll-px-6 {
  scroll-padding-left: 1.5rem !important;
  scroll-padding-right: 1.5rem !important;
}
.scroll-py-6 {
  scroll-padding-top: 1.5rem !important;
  scroll-padding-bottom: 1.5rem !important;
}
.scroll-pt-6 {
  scroll-padding-top: 1.5rem !important;
}
.scroll-pr-6 {
  scroll-padding-right: 1.5rem !important;
}
.scroll-pb-6 {
  scroll-padding-bottom: 1.5rem !important;
}
.scroll-pl-6 {
  scroll-padding-left: 1.5rem !important;
}
.scroll-p-7 {
  scroll-padding: 1.75rem !important;
}
.scroll-px-7 {
  scroll-padding-left: 1.75rem !important;
  scroll-padding-right: 1.75rem !important;
}
.scroll-py-7 {
  scroll-padding-top: 1.75rem !important;
  scroll-padding-bottom: 1.75rem !important;
}
.scroll-pt-7 {
  scroll-padding-top: 1.75rem !important;
}
.scroll-pr-7 {
  scroll-padding-right: 1.75rem !important;
}
.scroll-pb-7 {
  scroll-padding-bottom: 1.75rem !important;
}
.scroll-pl-7 {
  scroll-padding-left: 1.75rem !important;
}
.scroll-p-8 {
  scroll-padding: 2rem !important;
}
.scroll-px-8 {
  scroll-padding-left: 2rem !important;
  scroll-padding-right: 2rem !important;
}
.scroll-py-8 {
  scroll-padding-top: 2rem !important;
  scroll-padding-bottom: 2rem !important;
}
.scroll-pt-8 {
  scroll-padding-top: 2rem !important;
}
.scroll-pr-8 {
  scroll-padding-right: 2rem !important;
}
.scroll-pb-8 {
  scroll-padding-bottom: 2rem !important;
}
.scroll-pl-8 {
  scroll-padding-left: 2rem !important;
}
.scroll-p-9 {
  scroll-padding: 2.25rem !important;
}
.scroll-px-9 {
  scroll-padding-left: 2.25rem !important;
  scroll-padding-right: 2.25rem !important;
}
.scroll-py-9 {
  scroll-padding-top: 2.25rem !important;
  scroll-padding-bottom: 2.25rem !important;
}
.scroll-pt-9 {
  scroll-padding-top: 2.25rem !important;
}
.scroll-pr-9 {
  scroll-padding-right: 2.25rem !important;
}
.scroll-pb-9 {
  scroll-padding-bottom: 2.25rem !important;
}
.scroll-pl-9 {
  scroll-padding-left: 2.25rem !important;
}
.scroll-p-10 {
  scroll-padding: 2.5rem !important;
}
.scroll-px-10 {
  scroll-padding-left: 2.5rem !important;
  scroll-padding-right: 2.5rem !important;
}
.scroll-py-10 {
  scroll-padding-top: 2.5rem !important;
  scroll-padding-bottom: 2.5rem !important;
}
.scroll-pt-10 {
  scroll-padding-top: 2.5rem !important;
}
.scroll-pr-10 {
  scroll-padding-right: 2.5rem !important;
}
.scroll-pb-10 {
  scroll-padding-bottom: 2.5rem !important;
}
.scroll-pl-10 {
  scroll-padding-left: 2.5rem !important;
}
.scroll-p-11 {
  scroll-padding: 2.75rem !important;
}
.scroll-px-11 {
  scroll-padding-left: 2.75rem !important;
  scroll-padding-right: 2.75rem !important;
}
.scroll-py-11 {
  scroll-padding-top: 2.75rem !important;
  scroll-padding-bottom: 2.75rem !important;
}
.scroll-pt-11 {
  scroll-padding-top: 2.75rem !important;
}
.scroll-pr-11 {
  scroll-padding-right: 2.75rem !important;
}
.scroll-pb-11 {
  scroll-padding-bottom: 2.75rem !important;
}
.scroll-pl-11 {
  scroll-padding-left: 2.75rem !important;
}
.scroll-p-12 {
  scroll-padding: 3rem !important;
}
.scroll-px-12 {
  scroll-padding-left: 3rem !important;
  scroll-padding-right: 3rem !important;
}
.scroll-py-12 {
  scroll-padding-top: 3rem !important;
  scroll-padding-bottom: 3rem !important;
}
.scroll-pt-12 {
  scroll-padding-top: 3rem !important;
}
.scroll-pr-12 {
  scroll-padding-right: 3rem !important;
}
.scroll-pb-12 {
  scroll-padding-bottom: 3rem !important;
}
.scroll-pl-12 {
  scroll-padding-left: 3rem !important;
}
.scroll-p-14 {
  scroll-padding: 3.5rem !important;
}
.scroll-px-14 {
  scroll-padding-left: 3.5rem !important;
  scroll-padding-right: 3.5rem !important;
}
.scroll-py-14 {
  scroll-padding-top: 3.5rem !important;
  scroll-padding-bottom: 3.5rem !important;
}
.scroll-pt-14 {
  scroll-padding-top: 3.5rem !important;
}
.scroll-pr-14 {
  scroll-padding-right: 3.5rem !important;
}
.scroll-pb-14 {
  scroll-padding-bottom: 3.5rem !important;
}
.scroll-pl-14 {
  scroll-padding-left: 3.5rem !important;
}
.scroll-p-16 {
  scroll-padding: 4rem !important;
}
.scroll-px-16 {
  scroll-padding-left: 4rem !important;
  scroll-padding-right: 4rem !important;
}
.scroll-py-16 {
  scroll-padding-top: 4rem !important;
  scroll-padding-bottom: 4rem !important;
}
.scroll-pt-16 {
  scroll-padding-top: 4rem !important;
}
.scroll-pr-16 {
  scroll-padding-right: 4rem !important;
}
.scroll-pb-16 {
  scroll-padding-bottom: 4rem !important;
}
.scroll-pl-16 {
  scroll-padding-left: 4rem !important;
}
.scroll-p-20 {
  scroll-padding: 5rem !important;
}
.scroll-px-20 {
  scroll-padding-left: 5rem !important;
  scroll-padding-right: 5rem !important;
}
.scroll-py-20 {
  scroll-padding-top: 5rem !important;
  scroll-padding-bottom: 5rem !important;
}
.scroll-pt-20 {
  scroll-padding-top: 5rem !important;
}
.scroll-pr-20 {
  scroll-padding-right: 5rem !important;
}
.scroll-pb-20 {
  scroll-padding-bottom: 5rem !important;
}
.scroll-pl-20 {
  scroll-padding-left: 5rem !important;
}
.scroll-p-24 {
  scroll-padding: 6rem !important;
}
.scroll-px-24 {
  scroll-padding-left: 6rem !important;
  scroll-padding-right: 6rem !important;
}
.scroll-py-24 {
  scroll-padding-top: 6rem !important;
  scroll-padding-bottom: 6rem !important;
}
.scroll-pt-24 {
  scroll-padding-top: 6rem !important;
}
.scroll-pr-24 {
  scroll-padding-right: 6rem !important;
}
.scroll-pb-24 {
  scroll-padding-bottom: 6rem !important;
}
.scroll-pl-24 {
  scroll-padding-left: 6rem !important;
}
.scroll-p-28 {
  scroll-padding: 7rem !important;
}
.scroll-px-28 {
  scroll-padding-left: 7rem !important;
  scroll-padding-right: 7rem !important;
}
.scroll-py-28 {
  scroll-padding-top: 7rem !important;
  scroll-padding-bottom: 7rem !important;
}
.scroll-pt-28 {
  scroll-padding-top: 7rem !important;
}
.scroll-pr-28 {
  scroll-padding-right: 7rem !important;
}
.scroll-pb-28 {
  scroll-padding-bottom: 7rem !important;
}
.scroll-pl-28 {
  scroll-padding-left: 7rem !important;
}
.scroll-p-32 {
  scroll-padding: 8rem !important;
}
.scroll-px-32 {
  scroll-padding-left: 8rem !important;
  scroll-padding-right: 8rem !important;
}
.scroll-py-32 {
  scroll-padding-top: 8rem !important;
  scroll-padding-bottom: 8rem !important;
}
.scroll-pt-32 {
  scroll-padding-top: 8rem !important;
}
.scroll-pr-32 {
  scroll-padding-right: 8rem !important;
}
.scroll-pb-32 {
  scroll-padding-bottom: 8rem !important;
}
.scroll-pl-32 {
  scroll-padding-left: 8rem !important;
}
.scroll-p-36 {
  scroll-padding: 9rem !important;
}
.scroll-px-36 {
  scroll-padding-left: 9rem !important;
  scroll-padding-right: 9rem !important;
}
.scroll-py-36 {
  scroll-padding-top: 9rem !important;
  scroll-padding-bottom: 9rem !important;
}
.scroll-pt-36 {
  scroll-padding-top: 9rem !important;
}
.scroll-pr-36 {
  scroll-padding-right: 9rem !important;
}
.scroll-pb-36 {
  scroll-padding-bottom: 9rem !important;
}
.scroll-pl-36 {
  scroll-padding-left: 9rem !important;
}
.scroll-p-40 {
  scroll-padding: 10rem !important;
}
.scroll-px-40 {
  scroll-padding-left: 10rem !important;
  scroll-padding-right: 10rem !important;
}
.scroll-py-40 {
  scroll-padding-top: 10rem !important;
  scroll-padding-bottom: 10rem !important;
}
.scroll-pt-40 {
  scroll-padding-top: 10rem !important;
}
.scroll-pr-40 {
  scroll-padding-right: 10rem !important;
}
.scroll-pb-40 {
  scroll-padding-bottom: 10rem !important;
}
.scroll-pl-40 {
  scroll-padding-left: 10rem !important;
}
.scroll-p-44 {
  scroll-padding: 11rem !important;
}
.scroll-px-44 {
  scroll-padding-left: 11rem !important;
  scroll-padding-right: 11rem !important;
}
.scroll-py-44 {
  scroll-padding-top: 11rem !important;
  scroll-padding-bottom: 11rem !important;
}
.scroll-pt-44 {
  scroll-padding-top: 11rem !important;
}
.scroll-pr-44 {
  scroll-padding-right: 11rem !important;
}
.scroll-pb-44 {
  scroll-padding-bottom: 11rem !important;
}
.scroll-pl-44 {
  scroll-padding-left: 11rem !important;
}
.scroll-p-48 {
  scroll-padding: 12rem !important;
}
.scroll-px-48 {
  scroll-padding-left: 12rem !important;
  scroll-padding-right: 12rem !important;
}
.scroll-py-48 {
  scroll-padding-top: 12rem !important;
  scroll-padding-bottom: 12rem !important;
}
.scroll-pt-48 {
  scroll-padding-top: 12rem !important;
}
.scroll-pr-48 {
  scroll-padding-right: 12rem !important;
}
.scroll-pb-48 {
  scroll-padding-bottom: 12rem !important;
}
.scroll-pl-48 {
  scroll-padding-left: 12rem !important;
}
.scroll-p-52 {
  scroll-padding: 13rem !important;
}
.scroll-px-52 {
  scroll-padding-left: 13rem !important;
  scroll-padding-right: 13rem !important;
}
.scroll-py-52 {
  scroll-padding-top: 13rem !important;
  scroll-padding-bottom: 13rem !important;
}
.scroll-pt-52 {
  scroll-padding-top: 13rem !important;
}
.scroll-pr-52 {
  scroll-padding-right: 13rem !important;
}
.scroll-pb-52 {
  scroll-padding-bottom: 13rem !important;
}
.scroll-pl-52 {
  scroll-padding-left: 13rem !important;
}
.scroll-p-56 {
  scroll-padding: 14rem !important;
}
.scroll-px-56 {
  scroll-padding-left: 14rem !important;
  scroll-padding-right: 14rem !important;
}
.scroll-py-56 {
  scroll-padding-top: 14rem !important;
  scroll-padding-bottom: 14rem !important;
}
.scroll-pt-56 {
  scroll-padding-top: 14rem !important;
}
.scroll-pr-56 {
  scroll-padding-right: 14rem !important;
}
.scroll-pb-56 {
  scroll-padding-bottom: 14rem !important;
}
.scroll-pl-56 {
  scroll-padding-left: 14rem !important;
}
.scroll-p-60 {
  scroll-padding: 15rem !important;
}
.scroll-px-60 {
  scroll-padding-left: 15rem !important;
  scroll-padding-right: 15rem !important;
}
.scroll-py-60 {
  scroll-padding-top: 15rem !important;
  scroll-padding-bottom: 15rem !important;
}
.scroll-pt-60 {
  scroll-padding-top: 15rem !important;
}
.scroll-pr-60 {
  scroll-padding-right: 15rem !important;
}
.scroll-pb-60 {
  scroll-padding-bottom: 15rem !important;
}
.scroll-pl-60 {
  scroll-padding-left: 15rem !important;
}
.scroll-p-64 {
  scroll-padding: 16rem !important;
}
.scroll-px-64 {
  scroll-padding-left: 16rem !important;
  scroll-padding-right: 16rem !important;
}
.scroll-py-64 {
  scroll-padding-top: 16rem !important;
  scroll-padding-bottom: 16rem !important;
}
.scroll-pt-64 {
  scroll-padding-top: 16rem !important;
}
.scroll-pr-64 {
  scroll-padding-right: 16rem !important;
}
.scroll-pb-64 {
  scroll-padding-bottom: 16rem !important;
}
.scroll-pl-64 {
  scroll-padding-left: 16rem !important;
}
.scroll-p-72 {
  scroll-padding: 18rem !important;
}
.scroll-px-72 {
  scroll-padding-left: 18rem !important;
  scroll-padding-right: 18rem !important;
}
.scroll-py-72 {
  scroll-padding-top: 18rem !important;
  scroll-padding-bottom: 18rem !important;
}
.scroll-pt-72 {
  scroll-padding-top: 18rem !important;
}
.scroll-pr-72 {
  scroll-padding-right: 18rem !important;
}
.scroll-pb-72 {
  scroll-padding-bottom: 18rem !important;
}
.scroll-pl-72 {
  scroll-padding-left: 18rem !important;
}
.scroll-p-80 {
  scroll-padding: 20rem !important;
}
.scroll-px-80 {
  scroll-padding-left: 20rem !important;
  scroll-padding-right: 20rem !important;
}
.scroll-py-80 {
  scroll-padding-top: 20rem !important;
  scroll-padding-bottom: 20rem !important;
}
.scroll-pt-80 {
  scroll-padding-top: 20rem !important;
}
.scroll-pr-80 {
  scroll-padding-right: 20rem !important;
}
.scroll-pb-80 {
  scroll-padding-bottom: 20rem !important;
}
.scroll-pl-80 {
  scroll-padding-left: 20rem !important;
}
.scroll-p-96 {
  scroll-padding: 24rem !important;
}
.scroll-px-96 {
  scroll-padding-left: 24rem !important;
  scroll-padding-right: 24rem !important;
}
.scroll-py-96 {
  scroll-padding-top: 24rem !important;
  scroll-padding-bottom: 24rem !important;
}
.scroll-pt-96 {
  scroll-padding-top: 24rem !important;
}
.scroll-pr-96 {
  scroll-padding-right: 24rem !important;
}
.scroll-pb-96 {
  scroll-padding-bottom: 24rem !important;
}
.scroll-pl-96 {
  scroll-padding-left: 24rem !important;
}
