.scroll-auto {
  scroll-behavior: auto !important;
}

.scroll-smooth {
  scroll-behavior: smooth !important;
}

.scroll-inherit {
  scroll-behavior: inherit !important;
}

.scroll-initial {
  scroll-behavior: initial !important;
}

.scroll-revert {
  scroll-behavior: revert !important;
}

.scroll-unset {
  scroll-behavior: unset !important;
}
