.scroll-snap-type-none {
  scroll-snap-type: none !important;
}

.scroll-snap-type-x {
  scroll-snap-type: x !important;
}

.scroll-snap-type-y {
  scroll-snap-type: y !important;
}

.scroll-snape-type-black {
  scroll-snap-type: block !important;
}

.scroll-snap-type-inline {
  scroll-snap-type: inline !important;
}

.scroll-snap-type-both {
  scroll-snap-type: both !important;
}

.scroll-snap-type-xm {
  scroll-snap-type: x mandatory !important;
}

.scroll-snap-type-yp {
  scroll-snap-type: y proximity !important;
}

.scroll-snap-type-both-m {
  scroll-snap-type: both mandatory !important;
}

.scroll-snap-type-inherit {
  scroll-snap-type: inherit !important;
}

.scroll-snap-type-initial {
  scroll-snap-type: initial !important;
}

.scroll-snap-type-unset {
  scroll-snap-type: unset !important;
}

.snap-normal {
  scroll-snap-stop: normal !important;
}

.snap-always {
  scroll-snap-stop: always !important;
}

.snap-start {
  scroll-snap-align: start !important;
}

.snap-end {
  scroll-snap-align: end !important;
}

.snap-center {
  scroll-snap-align: center !important;
}

.snap-align-none {
  scroll-snap-align: none !important;
}
