.space-x-0 {
    margin-left: 0px;
}

.space-y-0 {
    margin-top: 0px;
}

.space-x-0-5 {
    margin-left: 0.125rem;
}

.space-y-0-5 {
    margin-top: 0.125rem;
}

.space-x-1 {
    margin-left: 0.25rem;
}

.space-y-1 {
    margin-top: 0.25rem;
}

.space-x-1-5 {
    margin-left: 0.375rem;
}

.space-y-1-5 {
    margin-top: 0.375rem;
}

.space-x-2 {
    margin-left: 0.5rem;
}

.space-y-2 {
    margin-top: 0.5rem;
}

.space-x-2-5 {
    margin-left: 0.625rem;
}

.space-y-2-5 {
    margin-top: 0.625rem;
}

.space-x-3 {
    margin-left: 0.75rem;
}

.space-y-3 {
    margin-top: 0.75rem;
}

.space-x-3-5 {
    margin-left: 0.875rem;
}

.space-y-3-5 {
    margin-top: 0.875rem;
}

.space-x-4 {
    margin-left: 1rem;
}

.space-y-4 {
    margin-top: 1rem;
}

.space-x-5 {
    margin-left: 1.25rem;
}

.space-y-5 {
    margin-top: 1.25rem;
}

.space-x-6 {
    margin-left: 1.5rem;
}

.space-y-6 {
    margin-top: 1.5rem;
}

.space-x-7 {
    margin-left: 1.75rem;
}

.space-y-7 {
    margin-top: 1.75rem;
}

.space-x-8 {
    margin-left: 2rem;
}

.space-y-8 {
    margin-top: 2rem;
}

.space-x-9 {
    margin-left: 2.25rem;
}

.space-y-9 {
    margin-top: 2.25rem;
}

.space-x-10 {
    margin-left: 2.5rem;
}

.space-y-10 {
    margin-top: 2.5rem;
}

.space-x-11 {
    margin-left: 2.75rem;
}

.space-y-11 {
    margin-top: 2.75rem;
}

.space-x-12 {
    margin-left: 3rem;
}

.space-y-12 {
    margin-top: 3rem;
}

.space-x-14 {
    margin-left: 3.5rem;
}

.space-y-14 {
    margin-top: 3.5rem;
}

.space-x-16 {
    margin-left: 4rem;
}

.space-y-16 {
    margin-top: 4rem;
}

.space-x-20 {
    margin-left: 5rem;
}

.space-y-20 {
    margin-top: 5rem;
}

.space-x-24 {
    margin-left: 6rem;
}

.space-y-24 {
    margin-top: 6rem;
}

.space-x-28 {
    margin-left: 7rem;
}

.space-y-28 {
    margin-top: 7rem;
}

.space-x-32 {
    margin-left: 8rem;
}

.space-y-32 {
    margin-top: 8rem;
}

.space-x-36 {
    margin-left: 9rem;
}

.space-y-36 {
    margin-top: 9rem;
}

.space-x-40 {
    margin-left: 10rem;
}

.space-y-40 {
    margin-top: 10rem;
}

.space-x-44 {
    margin-left: 11rem;
}

.space-y-44 {
    margin-top: 11rem;
}

.space-x-48 {
    margin-left: 12rem;
}

.space-y-48 {
    margin-top: 12rem;
}

.space-x-52 {
    margin-left: 13rem;
}

.space-y-52 {
    margin-top: 13rem;
}

.space-x-56 {
    margin-left: 14rem;
}

.space-y-56 {
    margin-top: 14rem;
}

.space-x-60 {
    margin-left: 15rem;
}

.space-y-60 {
    margin-top: 15rem;
}

.space-x-64 {
    margin-left: 16rem;
}

.space-y-64 {
    margin-top: 16rem;
}

.space-x-72 {
    margin-left: 18rem;
}

.space-y-72 {
    margin-top: 18rem;
}

.space-x-80 {
    margin-left: 20rem;
}

.space-y-80 {
    margin-top: 20rem;
}

.space-x-96 {
    margin-left: 24rem;
}

.space-y-96 {
    margin-top: 24rem;
}

.space-x-px {
    margin-left: 1px;
}

.space-y-px {
    margin-top: 1px;
}

@media (min-width: 360px) {
    .xs\:space-x-0 {
        margin-left: 0px;
    }

    .xs\:space-y-0 {
        margin-top: 0px;
    }

    .xs\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .xs\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .xs\:space-x-1 {
        margin-left: 0.25rem;
    }

    .xs\:space-y-1 {
        margin-top: 0.25rem;
    }

    .xs\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .xs\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .xs\:space-x-2 {
        margin-left: 0.5rem;
    }

    .xs\:space-y-2 {
        margin-top: 0.5rem;
    }

    .xs\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .xs\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .xs\:space-x-3 {
        margin-left: 0.75rem;
    }

    .xs\:space-y-3 {
        margin-top: 0.75rem;
    }

    .xs\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .xs\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .xs\:space-x-4 {
        margin-left: 1rem;
    }

    .xs\:space-y-4 {
        margin-top: 1rem;
    }

    .xs\:pace-x-5 {
        margin-left: 1.25rem;
    }

    .xs\:space-y-5 {
        margin-top: 1.25rem;
    }

    .xs\:space-x-6 {
        margin-left: 1.5rem;
    }

    .xs\:space-y-6 {
        margin-top: 1.5rem;
    }

    .xs\:space-x-7 {
        margin-left: 1.75rem;
    }

    .xs\:space-y-7 {
        margin-top: 1.75rem;
    }

    .xs\:space-x-8 {
        margin-left: 2rem;
    }

    .xs\:space-y-8 {
        margin-top: 2rem;
    }

    .xs\:space-x-9 {
        margin-left: 2.25rem;
    }

    .xs\:space-y-9 {
        margin-top: 2.25rem;
    }

    .xs\:space-x-10 {
        margin-left: 2.5rem;
    }

    .xs\:space-y-10 {
        margin-top: 2.5rem;
    }

    .xs\:space-x-11 {
        margin-left: 2.75rem;
    }

    .xs\:space-y-11 {
        margin-top: 2.75rem;
    }

    .xs\:space-x-12 {
        margin-left: 3rem;
    }

    .xs\:space-y-12 {
        margin-top: 3rem;
    }

    .xs\:space-x-14 {
        margin-left: 3.5rem;
    }

    .xs\:space-y-14 {
        margin-top: 3.5rem;
    }

    .xs\:space-x-16 {
        margin-left: 4rem;
    }

    .xs\:space-y-16 {
        margin-top: 4rem;
    }

    .xs\:space-x-20 {
        margin-left: 5rem;
    }

    .xs\:space-y-20 {
        margin-top: 5rem;
    }

    .xs\:space-x-24 {
        margin-left: 6rem;
    }

    .xs\:space-y-24 {
        margin-top: 6rem;
    }

    .xs\:space-x-28 {
        margin-left: 7rem;
    }

    .xs\:space-y-28 {
        margin-top: 7rem;
    }

    .xs\:space-x-32 {
        margin-left: 8rem;
    }

    .xs\:space-y-32 {
        margin-top: 8rem;
    }

    .xs\:space-x-36 {
        margin-left: 9rem;
    }

    .xs\:.space-y-36 {
        margin-top: 9rem;
    }

    .xs\:space-x-40 {
        margin-left: 10rem;
    }

    .xs\:space-y-40 {
        margin-top: 10rem;
    }

    .xs\:space-x-44 {
        margin-left: 11rem;
    }

    .xs\:space-y-44 {
        margin-top: 11rem;
    }

    .xs\:space-x-48 {
        margin-left: 12rem;
    }

    .xs\:space-y-48 {
        margin-top: 12rem;
    }

    .xs\:space-x-52 {
        margin-left: 13rem;
    }

    .xs\:space-y-52 {
        margin-top: 13rem;
    }

    .xs\:space-x-56 {
        margin-left: 14rem;
    }

    .xs\:space-y-56 {
        margin-top: 14rem;
    }

    .xs\:space-x-60 {
        margin-left: 15rem;
    }

    .xs\:space-y-60 {
        margin-top: 15rem;
    }

    .xs\:space-x-64 {
        margin-left: 16rem;
    }

    .xs\:space-y-64 {
        margin-top: 16rem;
    }

    .xs\:space-x-72 {
        margin-left: 18rem;
    }

    .xs\:space-y-72 {
        margin-top: 18rem;
    }

    .xs\:space-x-80 {
        margin-left: 20rem;
    }

    .xs\:space-y-80 {
        margin-top: 20rem;
    }

    .xs\:space-x-96 {
        margin-left: 24rem;
    }

    .xs\:space-y-96 {
        margin-top: 24rem;
    }

    .xs\:space-x-px {
        margin-left: 1px;
    }

    .xs\:space-y-px {
        margin-top: 1px;
    }
}

@media (min-width: 640px) {
    .sm\:space-x-0 {
        margin-left: 0px;
    }

    .sm\:space-y-0 {
        margin-top: 0px;
    }

    .sm\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .sm\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .sm\:space-x-1 {
        margin-left: 0.25rem;
    }

    .sm\:space-y-1 {
        margin-top: 0.25rem;
    }

    .sm\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .sm\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .sm\:space-x-2 {
        margin-left: 0.5rem;
    }

    .sm\:space-y-2 {
        margin-top: 0.5rem;
    }

    .sm\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .sm\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .sm\:space-x-3 {
        margin-left: 0.75rem;
    }

    .sm\:space-y-3 {
        margin-top: 0.75rem;
    }

    .sm\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .sm\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .sm\:space-x-4 {
        margin-left: 1rem;
    }

    .sm\:space-y-4 {
        margin-top: 1rem;
    }

    .sm\:pace-x-5 {
        margin-left: 1.25rem;
    }

    .sm\:space-y-5 {
        margin-top: 1.25rem;
    }

    .sm\:space-x-6 {
        margin-left: 1.5rem;
    }

    .sm\:space-y-6 {
        margin-top: 1.5rem;
    }

    .sm\:space-x-7 {
        margin-left: 1.75rem;
    }

    .sm\:space-y-7 {
        margin-top: 1.75rem;
    }

    .sm\:space-x-8 {
        margin-left: 2rem;
    }

    .sm\:space-y-8 {
        margin-top: 2rem;
    }

    .sm\:space-x-9 {
        margin-left: 2.25rem;
    }

    .sm\:space-y-9 {
        margin-top: 2.25rem;
    }

    .sm\:space-x-10 {
        margin-left: 2.5rem;
    }

    .sm\:space-y-10 {
        margin-top: 2.5rem;
    }

    .sm\:space-x-11 {
        margin-left: 2.75rem;
    }

    .sm\:space-y-11 {
        margin-top: 2.75rem;
    }

    .sm\:space-x-12 {
        margin-left: 3rem;
    }

    .sm\:space-y-12 {
        margin-top: 3rem;
    }

    .sm\:space-x-14 {
        margin-left: 3.5rem;
    }

    .sm\:space-y-14 {
        margin-top: 3.5rem;
    }

    .sm\:space-x-16 {
        margin-left: 4rem;
    }

    .sm\:space-y-16 {
        margin-top: 4rem;
    }

    .sm\:space-x-20 {
        margin-left: 5rem;
    }

    .sm\:space-y-20 {
        margin-top: 5rem;
    }

    .sm\:space-x-24 {
        margin-left: 6rem;
    }

    .sm\:space-y-24 {
        margin-top: 6rem;
    }

    .sm\:space-x-28 {
        margin-left: 7rem;
    }

    .sm\:space-y-28 {
        margin-top: 7rem;
    }

    .sm\:space-x-32 {
        margin-left: 8rem;
    }

    .sm\:space-y-32 {
        margin-top: 8rem;
    }

    .sm\:space-x-36 {
        margin-left: 9rem;
    }

    .sm\:.space-y-36 {
        margin-top: 9rem;
    }

    .sm\:space-x-40 {
        margin-left: 10rem;
    }

    .sm\:space-y-40 {
        margin-top: 10rem;
    }

    .sm\:space-x-44 {
        margin-left: 11rem;
    }

    .sm\:space-y-44 {
        margin-top: 11rem;
    }

    .sm\:space-x-48 {
        margin-left: 12rem;
    }

    .sm\:space-y-48 {
        margin-top: 12rem;
    }

    .sm\:space-x-52 {
        margin-left: 13rem;
    }

    .sm\:space-y-52 {
        margin-top: 13rem;
    }

    .sm\:space-x-56 {
        margin-left: 14rem;
    }

    .sm\:space-y-56 {
        margin-top: 14rem;
    }

    .sm\:space-x-60 {
        margin-left: 15rem;
    }

    .sm\:space-y-60 {
        margin-top: 15rem;
    }

    .sm\:space-x-64 {
        margin-left: 16rem;
    }

    .sm\:space-y-64 {
        margin-top: 16rem;
    }

    .sm\:space-x-72 {
        margin-left: 18rem;
    }

    .sm\:space-y-72 {
        margin-top: 18rem;
    }

    .sm\:space-x-80 {
        margin-left: 20rem;
    }

    .sm\:space-y-80 {
        margin-top: 20rem;
    }

    .sm\:space-x-96 {
        margin-left: 24rem;
    }

    .sm\:space-y-96 {
        margin-top: 24rem;
    }

    .sm\:space-x-px {
        margin-left: 1px;
    }

    .sm\:space-y-px {
        margin-top: 1px;
    }
}

@media (min-width: 768px) {
    .md\:space-x-0 {
        margin-left: 0px;
    }

    .md\:space-y-0 {
        margin-top: 0px;
    }

    .md\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .md\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .md\:space-x-1 {
        margin-left: 0.25rem;
    }

    .md\:space-y-1 {
        margin-top: 0.25rem;
    }

    .md\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .md\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .md\:space-x-2 {
        margin-left: 0.5rem;
    }

    .md\:space-y-2 {
        margin-top: 0.5rem;
    }

    .md\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .md\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .md\:space-x-3 {
        margin-left: 0.75rem;
    }

    .md\:space-y-3 {
        margin-top: 0.75rem;
    }

    .md\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .md\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .md\:space-x-4 {
        margin-left: 1rem;
    }

    .md\:space-y-4 {
        margin-top: 1rem;
    }

    .md\:space-x-5 {
        margin-left: 1.25rem;
    }

    .md\:space-y-5 {
        margin-top: 1.25rem;
    }

    .md\:space-x-6 {
        margin-left: 1.5rem;
    }

    .md\:space-y-6 {
        margin-top: 1.5rem;
    }

    .md\:space-x-7 {
        margin-left: 1.75rem;
    }

    .md\:space-y-7 {
        margin-top: 1.75rem;
    }

    .md\:space-x-8 {
        margin-left: 2rem;
    }

    .md\:space-y-8 {
        margin-top: 2rem;
    }

    .md\:space-x-9 {
        margin-left: 2.25rem;
    }

    .md\:space-y-9 {
        margin-top: 2.25rem;
    }

    .md\:space-x-10 {
        margin-left: 2.5rem;
    }

    .md\:space-y-10 {
        margin-top: 2.5rem;
    }

    .md\:space-x-11 {
        margin-left: 2.75rem;
    }

    .md\:space-y-11 {
        margin-top: 2.75rem;
    }

    .md\:space-x-12 {
        margin-left: 3rem;
    }

    .md\:space-y-12 {
        margin-top: 3rem;
    }

    .md\:space-x-14 {
        margin-left: 3.5rem;
    }

    .md\:space-y-14 {
        margin-top: 3.5rem;
    }

    .md\:.space-x-16 {
        margin-left: 4rem;
    }

    .md\:space-y-16 {
        margin-top: 4rem;
    }

    .md\:space-x-20 {
        margin-left: 5rem;
    }

    .md\:space-y-20 {
        margin-top: 5rem;
    }

    .md\:space-x-24 {
        margin-left: 6rem;
    }

    .md\:space-y-24 {
        margin-top: 6rem;
    }

    .md\:space-x-28 {
        margin-left: 7rem;
    }

    .md\:space-y-28 {
        margin-top: 7rem;
    }

    .md\:space-x-32 {
        margin-left: 8rem;
    }

    .md\:space-y-32 {
        margin-top: 8rem;
    }

    .md\:space-x-36 {
        margin-left: 9rem;
    }

    .md\:space-y-36 {
        margin-top: 9rem;
    }

    .md\:space-x-40 {
        margin-left: 10rem;
    }

    .md\:space-y-40 {
        margin-top: 10rem;
    }

    .md\:space-x-44 {
        margin-left: 11rem;
    }

    .md\:space-y-44 {
        margin-top: 11rem;
    }

    .md\:space-x-48 {
        margin-left: 12rem;
    }

    .md\:space-y-48 {
        margin-top: 12rem;
    }

    .md\:space-x-52 {
        margin-left: 13rem;
    }

    .md\:space-y-52 {
        margin-top: 13rem;
    }

    .md\:space-x-56 {
        margin-left: 14rem;
    }

    .md\:space-y-56 {
        margin-top: 14rem;
    }

    .md\:space-x-60 {
        margin-left: 15rem;
    }

    .md\:space-y-60 {
        margin-top: 15rem;
    }

    .md\:space-x-64 {
        margin-left: 16rem;
    }

    .md\:space-y-64 {
        margin-top: 16rem;
    }

    .md\:space-x-72 {
        margin-left: 18rem;
    }

    .md\:space-y-72 {
        margin-top: 18rem;
    }

    .md\:space-x-80 {
        margin-left: 20rem;
    }

    .md\:space-y-80 {
        margin-top: 20rem;
    }

    .md\:space-x-96 {
        margin-left: 24rem;
    }

    .md\:space-y-96 {
        margin-top: 24rem;
    }

    .md\:space-x-px {
        margin-left: 1px;
    }

    .md\:space-y-px {
        margin-top: 1px;
    }
}

@media (min-width: 1024px) {
    .lg\:space-x-0 {
        margin-left: 0px;
    }

    .lg\:space-y-0 {
        margin-top: 0px;
    }

    .lg\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .lg\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .lg\:space-x-1 {
        margin-left: 0.25rem;
    }

    .lg\:space-y-1 {
        margin-top: 0.25rem;
    }

    .lg\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .lg\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .lg\:space-x-2 {
        margin-left: 0.5rem;
    }

    .lg\:space-y-2 {
        margin-top: 0.5rem;
    }

    .lg\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .lg\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .lg\:space-x-3 {
        margin-left: 0.75rem;
    }

    .lg\:space-y-3 {
        margin-top: 0.75rem;
    }

    .lg\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .lg\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .lg\:space-x-4 {
        margin-left: 1rem;
    }

    .lg\:space-y-4 {
        margin-top: 1rem;
    }

    .lg\:space-x-5 {
        margin-left: 1.25rem;
    }

    .lg\:space-y-5 {
        margin-top: 1.25rem;
    }

    .lg\:space-x-6 {
        margin-left: 1.5rem;
    }

    .lg\:space-y-6 {
        margin-top: 1.5rem;
    }

    .lg\:space-x-7 {
        margin-left: 1.75rem;
    }

    .lg\:space-y-7 {
        margin-top: 1.75rem;
    }

    .lg\:.space-x-8 {
        margin-left: 2rem;
    }

    .lg\:space-y-8 {
        margin-top: 2rem;
    }

    .lg\:space-x-9 {
        margin-left: 2.25rem;
    }

    .lg\:space-y-9 {
        margin-top: 2.25rem;
    }

    .lg\:space-x-10 {
        margin-left: 2.5rem;
    }

    .lg\:space-y-10 {
        margin-top: 2.5rem;
    }

    .lg\:space-x-11 {
        margin-left: 2.75rem;
    }

    .lg\:space-y-11 {
        margin-top: 2.75rem;
    }

    .lg\:space-x-12 {
        margin-left: 3rem;
    }

    .lg\:space-y-12 {
        margin-top: 3rem;
    }

    .lg\:space-x-14 {
        margin-left: 3.5rem;
    }

    .lg\:space-y-14 {
        margin-top: 3.5rem;
    }

    .lg\:.space-x-16 {
        margin-left: 4rem;
    }

    .lg\:space-y-16 {
        margin-top: 4rem;
    }

    .lg\:space-x-20 {
        margin-left: 5rem;
    }

    .lg\:space-y-20 {
        margin-top: 5rem;
    }

    .lg\:space-x-24 {
        margin-left: 6rem;
    }

    .lg\:space-y-24 {
        margin-top: 6rem;
    }

    .lg\:space-x-28 {
        margin-left: 7rem;
    }

    .lg\:space-y-28 {
        margin-top: 7rem;
    }

    .lg\:space-x-32 {
        margin-left: 8rem;
    }

    .lg\:space-y-32 {
        margin-top: 8rem;
    }

    .lg\:space-x-36 {
        margin-left: 9rem;
    }

    .lg\:space-y-36 {
        margin-top: 9rem;
    }

    .lg\:space-x-40 {
        margin-left: 10rem;
    }

    .lg\:space-y-40 {
        margin-top: 10rem;
    }

    .lg\:space-x-44 {
        margin-left: 11rem;
    }

    .lg\:space-y-44 {
        margin-top: 11rem;
    }

    .lg\:space-x-48 {
        margin-left: 12rem;
    }

    .lg\:space-y-48 {
        margin-top: 12rem;
    }

    .lg\:space-x-52 {
        margin-left: 13rem;
    }

    .lg\:space-y-52 {
        margin-top: 13rem;
    }

    .lg\:space-x-56 {
        margin-left: 14rem;
    }

    .lg\:space-y-56 {
        margin-top: 14rem;
    }

    .lg\:space-x-60 {
        margin-left: 15rem;
    }

    .lg\:space-y-60 {
        margin-top: 15rem;
    }

    .lg\:space-x-64 {
        margin-left: 16rem;
    }

    .lg\:space-y-64 {
        margin-top: 16rem;
    }

    .lg\:space-x-72 {
        margin-left: 18rem;
    }

    .lg\:space-y-72 {
        margin-top: 18rem;
    }

    .lg\:space-x-80 {
        margin-left: 20rem;
    }

    .lg\:space-y-80 {
        margin-top: 20rem;
    }

    .lg\:space-x-96 {
        margin-left: 24rem;
    }

    .lg\:space-y-96 {
        margin-top: 24rem;
    }

    .lg\:space-x-px {
        margin-left: 1px;
    }

    .lg\:space-y-px {
        margin-top: 1px;
    }
}

@media (min-width: 1280px) {
    .xl\:space-x-0 {
        margin-left: 0px;
    }

    .xl\:space-y-0 {
        margin-top: 0px;
    }

    .xl\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .xl\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .xl\:space-x-1 {
        margin-left: 0.25rem;
    }

    .xl\:space-y-1 {
        margin-top: 0.25rem;
    }

    .xl\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .xl\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .xl\:space-x-2 {
        margin-left: 0.5rem;
    }

    .xl\:space-y-2 {
        margin-top: 0.5rem;
    }

    .xl\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .xl\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .xl\:space-x-3 {
        margin-left: 0.75rem;
    }

    .xl\:space-y-3 {
        margin-top: 0.75rem;
    }

    .xl\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .xl\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .xl\:space-x-4 {
        margin-left: 1rem;
    }

    .xl\:space-y-4 {
        margin-top: 1rem;
    }

    .xl\:space-x-5 {
        margin-left: 1.25rem;
    }

    .xl\:space-y-5 {
        margin-top: 1.25rem;
    }

    .xl\:space-x-6 {
        margin-left: 1.5rem;
    }

    .xl\:space-y-6 {
        margin-top: 1.5rem;
    }

    .xl\:space-x-7 {
        margin-left: 1.75rem;
    }

    .xl\:space-y-7 {
        margin-top: 1.75rem;
    }

    .xl\:space-x-8 {
        margin-left: 2rem;
    }

    .xl\:space-y-8 {
        margin-top: 2rem;
    }

    .xl\:space-x-9 {
        margin-left: 2.25rem;
    }

    .xl\:space-y-9 {
        margin-top: 2.25rem;
    }

    .xl\:space-x-10 {
        margin-left: 2.5rem;
    }

    .xl\:space-y-10 {
        margin-top: 2.5rem;
    }

    .xl\:space-x-11 {
        margin-left: 2.75rem;
    }

    .xl\:space-y-11 {
        margin-top: 2.75rem;
    }

    .xl\:space-x-12 {
        margin-left: 3rem;
    }

    .xl\:space-y-12 {
        margin-top: 3rem;
    }

    .xl\:space-x-14 {
        margin-left: 3.5rem;
    }

    .xl\:space-y-14 {
        margin-top: 3.5rem;
    }

    .xl\:space-x-16 {
        margin-left: 4rem;
    }

    .xl\:space-y-16 {
        margin-top: 4rem;
    }

    .xl\:space-x-20 {
        margin-left: 5rem;
    }

    .xl\:space-y-20 {
        margin-top: 5rem;
    }

    .xl\:space-x-24 {
        margin-left: 6rem;
    }

    .xl\:space-y-24 {
        margin-top: 6rem;
    }

    .xl\:space-x-28 {
        margin-left: 7rem;
    }

    .xl\:space-y-28 {
        margin-top: 7rem;
    }

    .xl\:space-x-32 {
        margin-left: 8rem;
    }

    .xl\:space-y-32 {
        margin-top: 8rem;
    }

    .xl\:space-x-36 {
        margin-left: 9rem;
    }

    .xl\:space-y-36 {
        margin-top: 9rem;
    }

    .xl\:space-x-40 {
        margin-left: 10rem;
    }

    .xl\:space-y-40 {
        margin-top: 10rem;
    }

    .xl\:space-x-44 {
        margin-left: 11rem;
    }

    .xl\:space-y-44 {
        margin-top: 11rem;
    }

    .xl\:space-x-48 {
        margin-left: 12rem;
    }

    .xl\:space-y-48 {
        margin-top: 12rem;
    }

    .xl\:space-x-52 {
        margin-left: 13rem;
    }

    .xl\:space-y-52 {
        margin-top: 13rem;
    }

    .xl\:space-x-56 {
        margin-left: 14rem;
    }

    .xl\:space-y-56 {
        margin-top: 14rem;
    }

    .xl\:space-x-60 {
        margin-left: 15rem;
    }

    .xl\:space-y-60 {
        margin-top: 15rem;
    }

    .xl\:space-x-64 {
        margin-left: 16rem;
    }

    .xl\:space-y-64 {
        margin-top: 16rem;
    }

    .xl\:space-x-72 {
        margin-left: 18rem;
    }

    .xl\:space-y-72 {
        margin-top: 18rem;
    }

    .xl\:space-x-80 {
        margin-left: 20rem;
    }

    .xl\:space-y-80 {
        margin-top: 20rem;
    }

    .xl\:space-x-96 {
        margin-left: 24rem;
    }

    .xl\:space-y-96 {
        margin-top: 24rem;
    }

    .xl\:space-x-px {
        margin-left: 1px;
    }

    .xl\:space-y-px {
        margin-top: 1px;
    }
}

@media (min-width: 1536px) {
    .\32xl\:space-x-0 {
        margin-left: 0px;
    }

    .\32xl\:space-y-0 {
        margin-top: 0px;
    }

    .\32xl\:space-x-0-5 {
        margin-left: 0.125rem;
    }

    .\32xl\:space-y-0-5 {
        margin-top: 0.125rem;
    }

    .\32xl\:space-x-1 {
        margin-left: 0.25rem;
    }

    .\32xl\:space-y-1 {
        margin-top: 0.25rem;
    }

    .\32xl\:space-x-1-5 {
        margin-left: 0.375rem;
    }

    .\32xl\:space-y-1-5 {
        margin-top: 0.375rem;
    }

    .\32xl\:space-x-2 {
        margin-left: 0.5rem;
    }

    .\32xl\:space-y-2 {
        margin-top: 0.5rem;
    }

    .\32xl\:space-x-2-5 {
        margin-left: 0.625rem;
    }

    .\32xl\:space-y-2-5 {
        margin-top: 0.625rem;
    }

    .\32xl\:space-x-3 {
        margin-left: 0.75rem;
    }

    .\32xl\:space-y-3 {
        margin-top: 0.75rem;
    }

    .\32xl\:space-x-3-5 {
        margin-left: 0.875rem;
    }

    .\32xl\:space-y-3-5 {
        margin-top: 0.875rem;
    }

    .\32xl\:space-x-4 {
        margin-left: 1rem;
    }

    .\32xl\:space-y-4 {
        margin-top: 1rem;
    }

    .\32xl\:space-x-5 {
        margin-left: 1.25rem;
    }

    .\32xl\:space-y-5 {
        margin-top: 1.25rem;
    }

    .\32xl\:space-x-6 {
        margin-left: 1.5rem;
    }

    .\32xl\:space-y-6 {
        margin-top: 1.5rem;
    }

    .\32xl\:space-x-7 {
        margin-left: 1.75rem;
    }

    .\32xl\:.space-y-7 {
        margin-top: 1.75rem;
    }

    .\32xl\:space-x-8 {
        margin-left: 2rem;
    }

    .\32xl\:space-y-8 {
        margin-top: 2rem;
    }

    .\32xl\:space-x-9 {
        margin-left: 2.25rem;
    }

    .\32xl\:space-y-9 {
        margin-top: 2.25rem;
    }

    .\32xl\:space-x-10 {
        margin-left: 2.5rem;
    }

    .\32xl\:space-y-10 {
        margin-top: 2.5rem;
    }

    .\32xl\:space-x-11 {
        margin-left: 2.75rem;
    }

    .\32xl\:space-y-11 {
        margin-top: 2.75rem;
    }

    .\32xl\:space-x-12 {
        margin-left: 3rem;
    }

    .\32xl\:space-y-12 {
        margin-top: 3rem;
    }

    .\32xl\:space-x-14 {
        margin-left: 3.5rem;
    }

    .\32xl\:space-y-14 {
        margin-top: 3.5rem;
    }

    .\32xl\:space-x-16 {
        margin-left: 4rem;
    }

    .\32xl\:space-y-16 {
        margin-top: 4rem;
    }

    .\32xl\:space-x-20 {
        margin-left: 5rem;
    }

    .\32xl\:space-y-20 {
        margin-top: 5rem;
    }

    .\32xl\:space-x-24 {
        margin-left: 6rem;
    }

    .\32xl\:space-y-24 {
        margin-top: 6rem;
    }

    .\32xl\:space-x-28 {
        margin-left: 7rem;
    }

    .\32xl\:space-y-28 {
        margin-top: 7rem;
    }

    .\32xl\:space-x-32 {
        margin-left: 8rem;
    }

    .\32xl\:space-y-32 {
        margin-top: 8rem;
    }

    .\32xl\:space-x-36 {
        margin-left: 9rem;
    }

    .\32xl\:space-y-36 {
        margin-top: 9rem;
    }

    .\32xl\:space-x-40 {
        margin-left: 10rem;
    }

    .\32xl\:space-y-40 {
        margin-top: 10rem;
    }

    .\32xl\:space-x-44 {
        margin-left: 11rem;
    }

    .\32xl\:space-y-44 {
        margin-top: 11rem;
    }

    .\32xl\:space-x-48 {
        margin-left: 12rem;
    }

    .\32xl\:space-y-48 {
        margin-top: 12rem;
    }

    .\32xl\:space-x-52 {
        margin-left: 13rem;
    }

    .\32xl\:space-y-52 {
        margin-top: 13rem;
    }

    .\32xl\:space-x-56 {
        margin-left: 14rem;
    }

    .\32xl\:space-y-56 {
        margin-top: 14rem;
    }

    .\32xl\:space-x-60 {
        margin-left: 15rem;
    }

    .\32xl\:space-y-60 {
        margin-top: 15rem;
    }

    .\32xl\:space-x-64 {
        margin-left: 16rem;
    }

    .\32xl\:space-y-64 {
        margin-top: 16rem;
    }

    .\32xl\:space-x-72 {
        margin-left: 18rem;
    }

    .\32xl\:space-y-72 {
        margin-top: 18rem;
    }

    .\32xl\:space-x-80 {
        margin-left: 20rem;
    }

    .\32xl\:space-y-80 {
        margin-top: 20rem;
    }

    .\32xl\:space-x-96 {
        margin-left: 24rem;
    }

    .\32xl\:space-y-96 {
        margin-top: 24rem;
    }

    .\32xl\:space-x-px {
        margin-left: 1px;
    }

    .\32xl\:space-y-px {
        margin-top: 1px;
    }
}
