.space-x-0 {
  margin-left: 0px !important;
}

.space-y-0 {
  margin-top: 0px !important;
}

.space-x-0-5 {
  margin-left: 0.125rem !important;
}

.space-y-0-5 {
  margin-top: 0.125rem !important;
}

.space-x-1 {
  margin-left: 0.25rem !important;
}

.space-y-1 {
  margin-top: 0.25rem !important;
}

.space-x-1-5 {
  margin-left: 0.375rem !important;
}

.space-y-1-5 {
  margin-top: 0.375rem !important;
}

.space-x-2 {
  margin-left: 0.5rem !important;
}

.space-y-2 {
  margin-top: 0.5rem !important;
}

.space-x-2-5 {
  margin-left: 0.625rem !important;
}

.space-y-2-5 {
  margin-top: 0.625rem !important;
}

.space-x-3 {
  margin-left: 0.75rem !important;
}

.space-y-3 {
  margin-top: 0.75rem !important;
}

.space-x-3-5 {
  margin-left: 0.875rem !important;
}

.space-y-3-5 {
  margin-top: 0.875rem !important;
}

.space-x-4 {
  margin-left: 1rem !important;
}

.space-y-4 {
  margin-top: 1rem !important;
}

.space-x-5 {
  margin-left: 1.25rem !important;
}

.space-y-5 {
  margin-top: 1.25rem !important;
}

.space-x-6 {
  margin-left: 1.5rem !important;
}

.space-y-6 {
  margin-top: 1.5rem !important;
}

.space-x-7 {
  margin-left: 1.75rem !important;
}

.space-y-7 {
  margin-top: 1.75rem !important;
}

.space-x-8 {
  margin-left: 2rem !important;
}

.space-y-8 {
  margin-top: 2rem !important;
}

.space-x-9 {
  margin-left: 2.25rem !important;
}

.space-y-9 {
  margin-top: 2.25rem !important;
}

.space-x-10 {
  margin-left: 2.5rem !important;
}

.space-y-10 {
  margin-top: 2.5rem !important;
}

.space-x-11 {
  margin-left: 2.75rem !important;
}

.space-y-11 {
  margin-top: 2.75rem !important;
}

.space-x-12 {
  margin-left: 3rem !important;
}

.space-y-12 {
  margin-top: 3rem !important;
}

.space-x-14 {
  margin-left: 3.5rem !important;
}

.space-y-14 {
  margin-top: 3.5rem !important;
}

.space-x-16 {
  margin-left: 4rem !important;
}

.space-y-16 {
  margin-top: 4rem !important;
}

.space-x-20 {
  margin-left: 5rem !important;
}

.space-y-20 {
  margin-top: 5rem !important;
}

.space-x-24 {
  margin-left: 6rem !important;
}

.space-y-24 {
  margin-top: 6rem !important;
}

.space-x-28 {
  margin-left: 7rem !important;
}

.space-y-28 {
  margin-top: 7rem !important;
}

.space-x-32 {
  margin-left: 8rem !important;
}

.space-y-32 {
  margin-top: 8rem !important;
}

.space-x-36 {
  margin-left: 9rem !important;
}

.space-y-36 {
  margin-top: 9rem !important;
}

.space-x-40 {
  margin-left: 10rem !important;
}

.space-y-40 {
  margin-top: 10rem !important;
}

.space-x-44 {
  margin-left: 11rem !important;
}

.space-y-44 {
  margin-top: 11rem !important;
}

.space-x-48 {
  margin-left: 12rem !important;
}

.space-y-48 {
  margin-top: 12rem !important;
}

.space-x-52 {
  margin-left: 13rem !important;
}

.space-y-52 {
  margin-top: 13rem !important;
}

.space-x-56 {
  margin-left: 14rem !important;
}

.space-y-56 {
  margin-top: 14rem !important;
}

.space-x-60 {
  margin-left: 15rem !important;
}

.space-y-60 {
  margin-top: 15rem !important;
}

.space-x-64 {
  margin-left: 16rem !important;
}

.space-y-64 {
  margin-top: 16rem !important;
}

.space-x-72 {
  margin-left: 18rem !important;
}

.space-y-72 {
  margin-top: 18rem !important;
}

.space-x-80 {
  margin-left: 20rem !important;
}

.space-y-80 {
  margin-top: 20rem !important;
}

.space-x-96 {
  margin-left: 24rem !important;
}

.space-y-96 {
  margin-top: 24rem !important;
}

.space-x-px {
  margin-left: 1px !important;
}

.space-y-px {
  margin-top: 1px !important;
}

@media (min-width: 360px) {
  .xs\:space-x-0 {
    margin-left: 0px !important;
  }

  .xs\:space-y-0 {
    margin-top: 0px !important;
  }

  .xs\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .xs\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .xs\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .xs\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .xs\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .xs\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .xs\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .xs\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .xs\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .xs\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .xs\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .xs\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .xs\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .xs\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .xs\:space-x-4 {
    margin-left: 1rem !important;
  }

  .xs\:space-y-4 {
    margin-top: 1rem !important;
  }

  .xs\:pace-x-5 {
    margin-left: 1.25rem !important;
  }

  .xs\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .xs\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .xs\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .xs\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .xs\:space-y-7 {
    margin-top: 1.75rem !important;
  }

  .xs\:space-x-8 {
    margin-left: 2rem !important;
  }

  .xs\:space-y-8 {
    margin-top: 2rem !important;
  }

  .xs\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .xs\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .xs\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .xs\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .xs\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .xs\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .xs\:space-x-12 {
    margin-left: 3rem !important;
  }

  .xs\:space-y-12 {
    margin-top: 3rem !important;
  }

  .xs\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .xs\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .xs\:space-x-16 {
    margin-left: 4rem !important;
  }

  .xs\:space-y-16 {
    margin-top: 4rem !important;
  }

  .xs\:space-x-20 {
    margin-left: 5rem !important;
  }

  .xs\:space-y-20 {
    margin-top: 5rem !important;
  }

  .xs\:space-x-24 {
    margin-left: 6rem !important;
  }

  .xs\:space-y-24 {
    margin-top: 6rem !important;
  }

  .xs\:space-x-28 {
    margin-left: 7rem !important;
  }

  .xs\:space-y-28 {
    margin-top: 7rem !important;
  }

  .xs\:space-x-32 {
    margin-left: 8rem !important;
  }

  .xs\:space-y-32 {
    margin-top: 8rem !important;
  }

  .xs\:space-x-36 {
    margin-left: 9rem !important;
  }

  .xs\:.space-y-36 {
    margin-top: 9rem !important;
  }

  .xs\:space-x-40 {
    margin-left: 10rem !important;
  }

  .xs\:space-y-40 {
    margin-top: 10rem !important;
  }

  .xs\:space-x-44 {
    margin-left: 11rem !important;
  }

  .xs\:space-y-44 {
    margin-top: 11rem !important;
  }

  .xs\:space-x-48 {
    margin-left: 12rem !important;
  }

  .xs\:space-y-48 {
    margin-top: 12rem !important;
  }

  .xs\:space-x-52 {
    margin-left: 13rem !important;
  }

  .xs\:space-y-52 {
    margin-top: 13rem !important;
  }

  .xs\:space-x-56 {
    margin-left: 14rem !important;
  }

  .xs\:space-y-56 {
    margin-top: 14rem !important;
  }

  .xs\:space-x-60 {
    margin-left: 15rem !important;
  }

  .xs\:space-y-60 {
    margin-top: 15rem !important;
  }

  .xs\:space-x-64 {
    margin-left: 16rem !important;
  }

  .xs\:space-y-64 {
    margin-top: 16rem !important;
  }

  .xs\:space-x-72 {
    margin-left: 18rem !important;
  }

  .xs\:space-y-72 {
    margin-top: 18rem !important;
  }

  .xs\:space-x-80 {
    margin-left: 20rem !important;
  }

  .xs\:space-y-80 {
    margin-top: 20rem !important;
  }

  .xs\:space-x-96 {
    margin-left: 24rem !important;
  }

  .xs\:space-y-96 {
    margin-top: 24rem !important;
  }

  .xs\:space-x-px {
    margin-left: 1px !important;
  }

  .xs\:space-y-px {
    margin-top: 1px !important;
  }
}

@media (min-width: 640px) {
  .sm\:space-x-0 {
    margin-left: 0px !important;
  }

  .sm\:space-y-0 {
    margin-top: 0px !important;
  }

  .sm\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .sm\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .sm\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .sm\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .sm\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .sm\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .sm\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .sm\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .sm\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .sm\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .sm\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .sm\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .sm\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .sm\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .sm\:space-x-4 {
    margin-left: 1rem !important;
  }

  .sm\:space-y-4 {
    margin-top: 1rem !important;
  }

  .sm\:pace-x-5 {
    margin-left: 1.25rem !important;
  }

  .sm\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .sm\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .sm\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .sm\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .sm\:space-y-7 {
    margin-top: 1.75rem !important;
  }

  .sm\:space-x-8 {
    margin-left: 2rem !important;
  }

  .sm\:space-y-8 {
    margin-top: 2rem !important;
  }

  .sm\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .sm\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .sm\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .sm\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .sm\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .sm\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .sm\:space-x-12 {
    margin-left: 3rem !important;
  }

  .sm\:space-y-12 {
    margin-top: 3rem !important;
  }

  .sm\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .sm\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .sm\:space-x-16 {
    margin-left: 4rem !important;
  }

  .sm\:space-y-16 {
    margin-top: 4rem !important;
  }

  .sm\:space-x-20 {
    margin-left: 5rem !important;
  }

  .sm\:space-y-20 {
    margin-top: 5rem !important;
  }

  .sm\:space-x-24 {
    margin-left: 6rem !important;
  }

  .sm\:space-y-24 {
    margin-top: 6rem !important;
  }

  .sm\:space-x-28 {
    margin-left: 7rem !important;
  }

  .sm\:space-y-28 {
    margin-top: 7rem !important;
  }

  .sm\:space-x-32 {
    margin-left: 8rem !important;
  }

  .sm\:space-y-32 {
    margin-top: 8rem !important;
  }

  .sm\:space-x-36 {
    margin-left: 9rem !important;
  }

  .sm\:.space-y-36 {
    margin-top: 9rem !important;
  }

  .sm\:space-x-40 {
    margin-left: 10rem !important;
  }

  .sm\:space-y-40 {
    margin-top: 10rem !important;
  }

  .sm\:space-x-44 {
    margin-left: 11rem !important;
  }

  .sm\:space-y-44 {
    margin-top: 11rem !important;
  }

  .sm\:space-x-48 {
    margin-left: 12rem !important;
  }

  .sm\:space-y-48 {
    margin-top: 12rem !important;
  }

  .sm\:space-x-52 {
    margin-left: 13rem !important;
  }

  .sm\:space-y-52 {
    margin-top: 13rem !important;
  }

  .sm\:space-x-56 {
    margin-left: 14rem !important;
  }

  .sm\:space-y-56 {
    margin-top: 14rem !important;
  }

  .sm\:space-x-60 {
    margin-left: 15rem !important;
  }

  .sm\:space-y-60 {
    margin-top: 15rem !important;
  }

  .sm\:space-x-64 {
    margin-left: 16rem !important;
  }

  .sm\:space-y-64 {
    margin-top: 16rem !important;
  }

  .sm\:space-x-72 {
    margin-left: 18rem !important;
  }

  .sm\:space-y-72 {
    margin-top: 18rem !important;
  }

  .sm\:space-x-80 {
    margin-left: 20rem !important;
  }

  .sm\:space-y-80 {
    margin-top: 20rem !important;
  }

  .sm\:space-x-96 {
    margin-left: 24rem !important;
  }

  .sm\:space-y-96 {
    margin-top: 24rem !important;
  }

  .sm\:space-x-px {
    margin-left: 1px !important;
  }

  .sm\:space-y-px {
    margin-top: 1px !important;
  }
}

@media (min-width: 768px) {
  .md\:space-x-0 {
    margin-left: 0px !important;
  }

  .md\:space-y-0 {
    margin-top: 0px !important;
  }

  .md\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .md\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .md\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .md\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .md\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .md\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .md\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .md\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .md\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .md\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .md\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .md\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .md\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .md\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .md\:space-x-4 {
    margin-left: 1rem !important;
  }

  .md\:space-y-4 {
    margin-top: 1rem !important;
  }

  .md\:space-x-5 {
    margin-left: 1.25rem !important;
  }

  .md\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .md\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .md\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .md\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .md\:space-y-7 {
    margin-top: 1.75rem !important;
  }

  .md\:space-x-8 {
    margin-left: 2rem !important;
  }

  .md\:space-y-8 {
    margin-top: 2rem !important;
  }

  .md\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .md\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .md\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .md\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .md\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .md\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .md\:space-x-12 {
    margin-left: 3rem !important;
  }

  .md\:space-y-12 {
    margin-top: 3rem !important;
  }

  .md\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .md\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .md\:.space-x-16 {
    margin-left: 4rem !important;
  }

  .md\:space-y-16 {
    margin-top: 4rem !important;
  }

  .md\:space-x-20 {
    margin-left: 5rem !important;
  }

  .md\:space-y-20 {
    margin-top: 5rem !important;
  }

  .md\:space-x-24 {
    margin-left: 6rem !important;
  }

  .md\:space-y-24 {
    margin-top: 6rem !important;
  }

  .md\:space-x-28 {
    margin-left: 7rem !important;
  }

  .md\:space-y-28 {
    margin-top: 7rem !important;
  }

  .md\:space-x-32 {
    margin-left: 8rem !important;
  }

  .md\:space-y-32 {
    margin-top: 8rem !important;
  }

  .md\:space-x-36 {
    margin-left: 9rem !important;
  }

  .md\:space-y-36 {
    margin-top: 9rem !important;
  }

  .md\:space-x-40 {
    margin-left: 10rem !important;
  }

  .md\:space-y-40 {
    margin-top: 10rem !important;
  }

  .md\:space-x-44 {
    margin-left: 11rem !important;
  }

  .md\:space-y-44 {
    margin-top: 11rem !important;
  }

  .md\:space-x-48 {
    margin-left: 12rem !important;
  }

  .md\:space-y-48 {
    margin-top: 12rem !important;
  }

  .md\:space-x-52 {
    margin-left: 13rem !important;
  }

  .md\:space-y-52 {
    margin-top: 13rem !important;
  }

  .md\:space-x-56 {
    margin-left: 14rem !important;
  }

  .md\:space-y-56 {
    margin-top: 14rem !important;
  }

  .md\:space-x-60 {
    margin-left: 15rem !important;
  }

  .md\:space-y-60 {
    margin-top: 15rem !important;
  }

  .md\:space-x-64 {
    margin-left: 16rem !important;
  }

  .md\:space-y-64 {
    margin-top: 16rem !important;
  }

  .md\:space-x-72 {
    margin-left: 18rem !important;
  }

  .md\:space-y-72 {
    margin-top: 18rem !important;
  }

  .md\:space-x-80 {
    margin-left: 20rem !important;
  }

  .md\:space-y-80 {
    margin-top: 20rem !important;
  }

  .md\:space-x-96 {
    margin-left: 24rem !important;
  }

  .md\:space-y-96 {
    margin-top: 24rem !important;
  }

  .md\:space-x-px {
    margin-left: 1px !important;
  }

  .md\:space-y-px {
    margin-top: 1px !important;
  }
}

@media (min-width: 1024px) {
  .lg\:space-x-0 {
    margin-left: 0px !important;
  }

  .lg\:space-y-0 {
    margin-top: 0px !important;
  }

  .lg\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .lg\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .lg\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .lg\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .lg\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .lg\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .lg\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .lg\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .lg\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .lg\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .lg\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .lg\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .lg\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .lg\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .lg\:space-x-4 {
    margin-left: 1rem !important;
  }

  .lg\:space-y-4 {
    margin-top: 1rem !important;
  }

  .lg\:space-x-5 {
    margin-left: 1.25rem !important;
  }

  .lg\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .lg\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .lg\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .lg\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .lg\:space-y-7 {
    margin-top: 1.75rem !important;
  }

  .lg\:.space-x-8 {
    margin-left: 2rem !important;
  }

  .lg\:space-y-8 {
    margin-top: 2rem !important;
  }

  .lg\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .lg\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .lg\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .lg\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .lg\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .lg\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .lg\:space-x-12 {
    margin-left: 3rem !important;
  }

  .lg\:space-y-12 {
    margin-top: 3rem !important;
  }

  .lg\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .lg\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .lg\:.space-x-16 {
    margin-left: 4rem !important;
  }

  .lg\:space-y-16 {
    margin-top: 4rem !important;
  }

  .lg\:space-x-20 {
    margin-left: 5rem !important;
  }

  .lg\:space-y-20 {
    margin-top: 5rem !important;
  }

  .lg\:space-x-24 {
    margin-left: 6rem !important;
  }

  .lg\:space-y-24 {
    margin-top: 6rem !important;
  }

  .lg\:space-x-28 {
    margin-left: 7rem !important;
  }

  .lg\:space-y-28 {
    margin-top: 7rem !important;
  }

  .lg\:space-x-32 {
    margin-left: 8rem !important;
  }

  .lg\:space-y-32 {
    margin-top: 8rem !important;
  }

  .lg\:space-x-36 {
    margin-left: 9rem !important;
  }

  .lg\:space-y-36 {
    margin-top: 9rem !important;
  }

  .lg\:space-x-40 {
    margin-left: 10rem !important;
  }

  .lg\:space-y-40 {
    margin-top: 10rem !important;
  }

  .lg\:space-x-44 {
    margin-left: 11rem !important;
  }

  .lg\:space-y-44 {
    margin-top: 11rem !important;
  }

  .lg\:space-x-48 {
    margin-left: 12rem !important;
  }

  .lg\:space-y-48 {
    margin-top: 12rem !important;
  }

  .lg\:space-x-52 {
    margin-left: 13rem !important;
  }

  .lg\:space-y-52 {
    margin-top: 13rem !important;
  }

  .lg\:space-x-56 {
    margin-left: 14rem !important;
  }

  .lg\:space-y-56 {
    margin-top: 14rem !important;
  }

  .lg\:space-x-60 {
    margin-left: 15rem !important;
  }

  .lg\:space-y-60 {
    margin-top: 15rem !important;
  }

  .lg\:space-x-64 {
    margin-left: 16rem !important;
  }

  .lg\:space-y-64 {
    margin-top: 16rem !important;
  }

  .lg\:space-x-72 {
    margin-left: 18rem !important;
  }

  .lg\:space-y-72 {
    margin-top: 18rem !important;
  }

  .lg\:space-x-80 {
    margin-left: 20rem !important;
  }

  .lg\:space-y-80 {
    margin-top: 20rem !important;
  }

  .lg\:space-x-96 {
    margin-left: 24rem !important;
  }

  .lg\:space-y-96 {
    margin-top: 24rem !important;
  }

  .lg\:space-x-px {
    margin-left: 1px !important;
  }

  .lg\:space-y-px {
    margin-top: 1px !important;
  }
}

@media (min-width: 1280px) {
  .xl\:space-x-0 {
    margin-left: 0px !important;
  }

  .xl\:space-y-0 {
    margin-top: 0px !important;
  }

  .xl\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .xl\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .xl\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .xl\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .xl\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .xl\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .xl\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .xl\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .xl\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .xl\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .xl\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .xl\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .xl\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .xl\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .xl\:space-x-4 {
    margin-left: 1rem !important;
  }

  .xl\:space-y-4 {
    margin-top: 1rem !important;
  }

  .xl\:space-x-5 {
    margin-left: 1.25rem !important;
  }

  .xl\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .xl\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .xl\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .xl\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .xl\:space-y-7 {
    margin-top: 1.75rem !important;
  }

  .xl\:space-x-8 {
    margin-left: 2rem !important;
  }

  .xl\:space-y-8 {
    margin-top: 2rem !important;
  }

  .xl\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .xl\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .xl\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .xl\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .xl\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .xl\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .xl\:space-x-12 {
    margin-left: 3rem !important;
  }

  .xl\:space-y-12 {
    margin-top: 3rem !important;
  }

  .xl\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .xl\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .xl\:space-x-16 {
    margin-left: 4rem !important;
  }

  .xl\:space-y-16 {
    margin-top: 4rem !important;
  }

  .xl\:space-x-20 {
    margin-left: 5rem !important;
  }

  .xl\:space-y-20 {
    margin-top: 5rem !important;
  }

  .xl\:space-x-24 {
    margin-left: 6rem !important;
  }

  .xl\:space-y-24 {
    margin-top: 6rem !important;
  }

  .xl\:space-x-28 {
    margin-left: 7rem !important;
  }

  .xl\:space-y-28 {
    margin-top: 7rem !important;
  }

  .xl\:space-x-32 {
    margin-left: 8rem !important;
  }

  .xl\:space-y-32 {
    margin-top: 8rem !important;
  }

  .xl\:space-x-36 {
    margin-left: 9rem !important;
  }

  .xl\:space-y-36 {
    margin-top: 9rem !important;
  }

  .xl\:space-x-40 {
    margin-left: 10rem !important;
  }

  .xl\:space-y-40 {
    margin-top: 10rem !important;
  }

  .xl\:space-x-44 {
    margin-left: 11rem !important;
  }

  .xl\:space-y-44 {
    margin-top: 11rem !important;
  }

  .xl\:space-x-48 {
    margin-left: 12rem !important;
  }

  .xl\:space-y-48 {
    margin-top: 12rem !important;
  }

  .xl\:space-x-52 {
    margin-left: 13rem !important;
  }

  .xl\:space-y-52 {
    margin-top: 13rem !important;
  }

  .xl\:space-x-56 {
    margin-left: 14rem !important;
  }

  .xl\:space-y-56 {
    margin-top: 14rem !important;
  }

  .xl\:space-x-60 {
    margin-left: 15rem !important;
  }

  .xl\:space-y-60 {
    margin-top: 15rem !important;
  }

  .xl\:space-x-64 {
    margin-left: 16rem !important;
  }

  .xl\:space-y-64 {
    margin-top: 16rem !important;
  }

  .xl\:space-x-72 {
    margin-left: 18rem !important;
  }

  .xl\:space-y-72 {
    margin-top: 18rem !important;
  }

  .xl\:space-x-80 {
    margin-left: 20rem !important;
  }

  .xl\:space-y-80 {
    margin-top: 20rem !important;
  }

  .xl\:space-x-96 {
    margin-left: 24rem !important;
  }

  .xl\:space-y-96 {
    margin-top: 24rem !important;
  }

  .xl\:space-x-px {
    margin-left: 1px !important;
  }

  .xl\:space-y-px {
    margin-top: 1px !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:space-x-0 {
    margin-left: 0px !important;
  }

  .\32xl\:space-y-0 {
    margin-top: 0px !important;
  }

  .\32xl\:space-x-0-5 {
    margin-left: 0.125rem !important;
  }

  .\32xl\:space-y-0-5 {
    margin-top: 0.125rem !important;
  }

  .\32xl\:space-x-1 {
    margin-left: 0.25rem !important;
  }

  .\32xl\:space-y-1 {
    margin-top: 0.25rem !important;
  }

  .\32xl\:space-x-1-5 {
    margin-left: 0.375rem !important;
  }

  .\32xl\:space-y-1-5 {
    margin-top: 0.375rem !important;
  }

  .\32xl\:space-x-2 {
    margin-left: 0.5rem !important;
  }

  .\32xl\:space-y-2 {
    margin-top: 0.5rem !important;
  }

  .\32xl\:space-x-2-5 {
    margin-left: 0.625rem !important;
  }

  .\32xl\:space-y-2-5 {
    margin-top: 0.625rem !important;
  }

  .\32xl\:space-x-3 {
    margin-left: 0.75rem !important;
  }

  .\32xl\:space-y-3 {
    margin-top: 0.75rem !important;
  }

  .\32xl\:space-x-3-5 {
    margin-left: 0.875rem !important;
  }

  .\32xl\:space-y-3-5 {
    margin-top: 0.875rem !important;
  }

  .\32xl\:space-x-4 {
    margin-left: 1rem !important;
  }

  .\32xl\:space-y-4 {
    margin-top: 1rem !important;
  }

  .\32xl\:space-x-5 {
    margin-left: 1.25rem !important;
  }

  .\32xl\:space-y-5 {
    margin-top: 1.25rem !important;
  }

  .\32xl\:space-x-6 {
    margin-left: 1.5rem !important;
  }

  .\32xl\:space-y-6 {
    margin-top: 1.5rem !important;
  }

  .\32xl\:space-x-7 {
    margin-left: 1.75rem !important;
  }

  .\32xl\:.space-y-7 {
    margin-top: 1.75rem !important;
  }

  .\32xl\:space-x-8 {
    margin-left: 2rem !important;
  }

  .\32xl\:space-y-8 {
    margin-top: 2rem !important;
  }

  .\32xl\:space-x-9 {
    margin-left: 2.25rem !important;
  }

  .\32xl\:space-y-9 {
    margin-top: 2.25rem !important;
  }

  .\32xl\:space-x-10 {
    margin-left: 2.5rem !important;
  }

  .\32xl\:space-y-10 {
    margin-top: 2.5rem !important;
  }

  .\32xl\:space-x-11 {
    margin-left: 2.75rem !important;
  }

  .\32xl\:space-y-11 {
    margin-top: 2.75rem !important;
  }

  .\32xl\:space-x-12 {
    margin-left: 3rem !important;
  }

  .\32xl\:space-y-12 {
    margin-top: 3rem !important;
  }

  .\32xl\:space-x-14 {
    margin-left: 3.5rem !important;
  }

  .\32xl\:space-y-14 {
    margin-top: 3.5rem !important;
  }

  .\32xl\:space-x-16 {
    margin-left: 4rem !important;
  }

  .\32xl\:space-y-16 {
    margin-top: 4rem !important;
  }

  .\32xl\:space-x-20 {
    margin-left: 5rem !important;
  }

  .\32xl\:space-y-20 {
    margin-top: 5rem !important;
  }

  .\32xl\:space-x-24 {
    margin-left: 6rem !important;
  }

  .\32xl\:space-y-24 {
    margin-top: 6rem !important;
  }

  .\32xl\:space-x-28 {
    margin-left: 7rem !important;
  }

  .\32xl\:space-y-28 {
    margin-top: 7rem !important;
  }

  .\32xl\:space-x-32 {
    margin-left: 8rem !important;
  }

  .\32xl\:space-y-32 {
    margin-top: 8rem !important;
  }

  .\32xl\:space-x-36 {
    margin-left: 9rem !important;
  }

  .\32xl\:space-y-36 {
    margin-top: 9rem !important;
  }

  .\32xl\:space-x-40 {
    margin-left: 10rem !important;
  }

  .\32xl\:space-y-40 {
    margin-top: 10rem !important;
  }

  .\32xl\:space-x-44 {
    margin-left: 11rem !important;
  }

  .\32xl\:space-y-44 {
    margin-top: 11rem !important;
  }

  .\32xl\:space-x-48 {
    margin-left: 12rem !important;
  }

  .\32xl\:space-y-48 {
    margin-top: 12rem !important;
  }

  .\32xl\:space-x-52 {
    margin-left: 13rem !important;
  }

  .\32xl\:space-y-52 {
    margin-top: 13rem !important;
  }

  .\32xl\:space-x-56 {
    margin-left: 14rem !important;
  }

  .\32xl\:space-y-56 {
    margin-top: 14rem !important;
  }

  .\32xl\:space-x-60 {
    margin-left: 15rem !important;
  }

  .\32xl\:space-y-60 {
    margin-top: 15rem !important;
  }

  .\32xl\:space-x-64 {
    margin-left: 16rem !important;
  }

  .\32xl\:space-y-64 {
    margin-top: 16rem !important;
  }

  .\32xl\:space-x-72 {
    margin-left: 18rem !important;
  }

  .\32xl\:space-y-72 {
    margin-top: 18rem !important;
  }

  .\32xl\:space-x-80 {
    margin-left: 20rem !important;
  }

  .\32xl\:space-y-80 {
    margin-top: 20rem !important;
  }

  .\32xl\:space-x-96 {
    margin-left: 24rem !important;
  }

  .\32xl\:space-y-96 {
    margin-top: 24rem !important;
  }

  .\32xl\:space-x-px {
    margin-left: 1px !important;
  }

  .\32xl\:space-y-px {
    margin-top: 1px !important;
  }
}
