.text-gradient-blue-purple {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #373b44, #4286f4);
}

.text-gradient-orange-pink {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ffa07a, #ff6e7f);
}

.text-gradient-red-yellow {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff4e50, #f9d423);
}

.text-gradient-green-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #1abc9c, #2ecc71);
}

.text-gradient-purple-pink {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #9343d8, #ff416c);
}

.text-gradient-pink-orange {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff00cc, #ff8000);
}

.text-gradient-blue-green {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2f80ed, #56ccf2);
}

.text-gradient-red-orange {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #fc4a1a, #f7b733);
}

.text-gradient-green-yellow {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.text-gradient-purple-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #3d4e81, #5753c9);
}

.text-gradient-orange-red {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ff6b6b, #ee8e1d);
}

.text-gradient-blue-pink {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #1a2980, #26d0ce);
}

.text-gradient-green-purple {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #4776e6, #8e54e9);
}

.text-gradient-orange-blue {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ffb75e, #ed8f03);
}

.text-gradient-red-purple {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #ca1d7e, #e35157);
}

.text-gradient-moonlit-ocean {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #616e8a, #1c2a3e);
}
.text-gradient-electric-violet {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #4776e6, #8e54e9);
}
.text-gradient-peachy {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #fdb813, #d9544d);
}
.text-gradient-candy-cane {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #da4453, #89216b);
}
.text-gradient-summer-sunset {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #fa709a, #7048e8);
}
.text-gradient-purple-love {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #7b4397, #dc2430);
}
.text-gradient-dark-seafoam {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #3e5151, #decba4);
}
.text-gradient-honeydew {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #f7ff00, #db36a4);
}
.text-gradient-summer-skies {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #fcee21, #66a6ff);
}
.text-gradient-fiery-rose {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background: linear-gradient(to right, #ff758c, #ff7eb3);
}
