.whitespace-normal {
  white-space: normal !important;
}

.whitespace-nowrap {
  white-space: nowrap !important;
}

.whitespace-pre {
  white-space: pre !important;
}

.whitespace-pre-line {
  white-space: pre-line !important;
}

.whitespace-pre-wrap {
  white-space: pre-wrap !important;
}

.whitespace-break-spaces {
  white-space: break-spaces !important;
}

@media (min-width: 360px) {
  .xs\:whitespace-normal {
    white-space: normal !important;
  }

  .xs\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .xs\:whitespace-pre {
    white-space: pre !important;
  }

  .xs\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .xs\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }

  .xs\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}

@media (min-width: 640px) {
  .sm\:whitespace-normal {
    white-space: normal !important;
  }

  .sm\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .sm\:whitespace-pre {
    white-space: pre !important;
  }

  .sm\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .sm\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }

  .sm\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}

@media (min-width: 768px) {
  .md\:whitespace-normal {
    white-space: normal !important;
  }

  .md\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .md\:whitespace-pre {
    white-space: pre !important;
  }

  .md\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .md\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }
  .md\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}

@media (min-width: 1024px) {
  .lg\:whitespace-normal {
    white-space: normal !important;
  }

  .lg\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .lg\:whitespace-pre {
    white-space: pre !important;
  }

  .lg\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .lg\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }
  .lg\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}

@media (min-width: 1280px) {
  .xl\:whitespace-normal {
    white-space: normal !important;
  }

  .xl\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .xl\:whitespace-pre {
    white-space: pre !important;
  }

  .xl\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .xl\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }
  .xl\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:whitespace-normal {
    white-space: normal !important;
  }

  .\32xl\:whitespace-nowrap {
    white-space: nowrap !important;
  }

  .\32xl\:whitespace-pre {
    white-space: pre !important;
  }

  .\32xl\:whitespace-pre-line {
    white-space: pre-line !important;
  }

  .\32xl\:whitespace-pre-wrap {
    white-space: pre-wrap !important;
  }
  .\32xl\:whitespace-break-spaces {
    white-space: break-spaces !important;
  }
}
