.will-change-auto {
    will-change: auto;
}

.will-change-scroll-position {
    will-change: scroll-position;
}

.will-change-contents {
    will-change: contents;
}

.will-change-transform {
    will-change: transform;
}

.will-change-opacity {
    will-change: opacity;
}

.will-change-left-top {
    will-change: left, top;
}

.will-change-inherit {
    will-change: inherit;
}

.will-change-initial {
    will-change: initial;
}

.will-change-revert {
    will-change: revert;
}

.will-change-revert {
    will-change: unset;
}

@media (min-width: 360px) {
    .xs\:will-change-auto {
        will-change: auto;
    }

    .xs\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .xs\:will-change-contents {
        will-change: contents;
    }

    .xs\:will-change-transform {
        will-change: transform;
    }

    .xs\:will-change-opacity {
        will-change: opacity;
    }

    .xs\:will-change-left-top {
        will-change: left, top;
    }

    .xs\:will-change-inherit {
        will-change: inherit;
    }

    .xs\:will-change-initial {
        will-change: initial;
    }

    .xs\:will-change-revert {
        will-change: revert;
    }

    .xs\:will-change-revert {
        will-change: unset;
    }
}

@media (min-width: 640px) {
    .sm\:will-change-auto {
        will-change: auto;
    }

    .sm\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .sm\:will-change-contents {
        will-change: contents;
    }

    .sm\:will-change-transform {
        will-change: transform;
    }

    .sm\:will-change-opacity {
        will-change: opacity;
    }

    .sm\:will-change-left-top {
        will-change: left, top;
    }

    .sm\:will-change-inherit {
        will-change: inherit;
    }

    .sm\:will-change-initial {
        will-change: initial;
    }

    .sm\:will-change-revert {
        will-change: revert;
    }

    .sm\:will-change-revert {
        will-change: unset;
    }
}

@media (min-width: 768px) {
    .md\:will-change-auto {
        will-change: auto;
    }

    .md\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .md\:will-change-contents {
        will-change: contents;
    }

    .md\:will-change-transform {
        will-change: transform;
    }

    .md\:will-change-opacity {
        will-change: opacity;
    }

    .md\:will-change-left-top {
        will-change: left, top;
    }

    .md\:will-change-inherit {
        will-change: inherit;
    }

    .md\:will-change-initial {
        will-change: initial;
    }

    .md\:will-change-revert {
        will-change: revert;
    }

    .md\:will-change-revert {
        will-change: unset;
    }
}

@media (min-width: 1024px) {
    .lg\:will-change-auto {
        will-change: auto;
    }

    .lg\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .lg\:will-change-contents {
        will-change: contents;
    }

    .lg\:will-change-transform {
        will-change: transform;
    }

    .lg\:will-change-opacity {
        will-change: opacity;
    }

    .lg\:will-change-left-top {
        will-change: left, top;
    }

    .lg\:will-change-inherit {
        will-change: inherit;
    }

    .lg\:will-change-initial {
        will-change: initial;
    }

    .lg\:will-change-revert {
        will-change: revert;
    }

    .lg\:will-change-revert {
        will-change: unset;
    }
}

@media (min-width: 1280px) {
    .xl\:will-change-auto {
        will-change: auto;
    }

    .xl\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .xl\:will-change-contents {
        will-change: contents;
    }

    .xl\:will-change-transform {
        will-change: transform;
    }

    .xl\:will-change-opacity {
        will-change: opacity;
    }

    .xl\:will-change-left-top {
        will-change: left, top;
    }

    .xl\:will-change-inherit {
        will-change: inherit;
    }

    .xl\:will-change-initial {
        will-change: initial;
    }

    .xl\:will-change-revert {
        will-change: revert;
    }

    .xl\:will-change-revert {
        will-change: unset;
    }
}

@media (min-width: 1536px) {
    .\32xl\:will-change-auto {
        will-change: auto;
    }

    .\32xl\:will-change-scroll-position {
        will-change: scroll-position;
    }

    .\32xl\:will-change-contents {
        will-change: contents;
    }

    .\32xl\:will-change-transform {
        will-change: transform;
    }

    .\32xl\:will-change-opacity {
        will-change: opacity;
    }

    .\32xl\:will-change-left-top {
        will-change: left, top;
    }

    .\32xl\:will-change-inherit {
        will-change: inherit;
    }

    .\32xl\:will-change-initial {
        will-change: initial;
    }

    .\32xl\:will-change-revert {
        will-change: revert;
    }

    .\32xl\:will-change-revert {
        will-change: unset;
    }
}
