.z-0 {
  z-index: 0 !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-10 {
  z-index: 10 !important;
}

.z-20 {
  z-index: 20 !important;
}

.z-30 {
  z-index: 30 !important;
}

.z-40 {
  z-index: 40 !important;
}

.z-50 {
  z-index: 50 !important;
}

.z-auto {
  z-index: auto !important;
}

@media (min-width: 640px) {
  .sm\:z-0 {
    z-index: 0 !important;
  }

  .sm\:z-1 {
    z-index: 1 !important;
  }

  .sm\:z-10 {
    z-index: 10 !important;
  }

  .sm\:z-20 {
    z-index: 20 !important;
  }

  .sm\:z-30 {
    z-index: 30 !important;
  }

  .sm\:z-40 {
    z-index: 40 !important;
  }

  .sm\:z-50 {
    z-index: 50 !important;
  }

  .sm\:z-auto {
    z-index: auto !important;
  }
}

@media (min-width: 768px) {
  .md\:z-0 {
    z-index: 0 !important;
  }

  .md\:z-1 {
    z-index: 1 !important;
  }

  .md\:z-10 {
    z-index: 10 !important;
  }

  .md\:z-20 {
    z-index: 20 !important;
  }

  .md\:z-30 {
    z-index: 30 !important;
  }

  .md\:z-40 {
    z-index: 40 !important;
  }

  .md\:z-50 {
    z-index: 50 !important;
  }

  .md\:z-auto {
    z-index: auto !important;
  }
}

@media (min-width: 1024px) {
  .lg\:z-0 {
    z-index: 0 !important;
  }

  .lg\:z-1 {
    z-index: 1 !important;
  }

  .lg\:z-10 {
    z-index: 10 !important;
  }

  .lg\:z-20 {
    z-index: 20 !important;
  }

  .lg\:z-30 {
    z-index: 30 !important;
  }

  .lg\:z-40 {
    z-index: 40 !important;
  }

  .lg\:z-50 {
    z-index: 50 !important;
  }

  .lg\:z-auto {
    z-index: auto !important;
  }
}

@media (min-width: 1280px) {
  .xl\:z-0 {
    z-index: 0 !important;
  }

  .xl\:z-1 {
    z-index: 1 !important;
  }

  .xl\:z-10 {
    z-index: 10 !important;
  }

  .xl\:z-20 {
    z-index: 20 !important;
  }

  .xl\:z-30 {
    z-index: 30 !important;
  }

  .xl\:z-40 {
    z-index: 40 !important;
  }

  .xl\:z-50 {
    z-index: 50 !important;
  }

  .xl\:z-auto {
    z-index: auto !important;
  }
}

@media (min-width: 1536px) {
  .\32xl\:z-0 {
    z-index: 0 !important;
  }

  .\32xl\:z-1 {
    z-index: 1 !important;
  }

  .\32xl\:z-10 {
    z-index: 10 !important;
  }

  .\32xl\:z-20 {
    z-index: 20 !important;
  }

  .\32xl\:z-30 {
    z-index: 30 !important;
  }

  .\32xl\:z-40 {
    z-index: 40 !important;
  }

  .\32xl\:z-50 {
    z-index: 50 !important;
  }

  .\32xl\:z-auto {
    z-index: auto !important;
  }
}
