.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 40;
}

.z-50 {
    z-index: 50;
}

.z-auto {
    z-index: auto;
}

@media (min-width: 360px) {
    .xs\:z-0 {
        z-index: 0;
    }

    .xs\:z-1 {
        z-index: 1;
    }

    .xs\:z-10 {
        z-index: 10;
    }

    .xs\:z-20 {
        z-index: 20;
    }

    .xs\:z-30 {
        z-index: 30;
    }

    .xs\:z-40 {
        z-index: 40;
    }

    .xs\:z-50 {
        z-index: 50;
    }

    .xs\:z-auto {
        z-index: auto;
    }
}

@media (min-width: 640px) {
    .sm\:z-0 {
        z-index: 0;
    }

    .sm\:z-1 {
        z-index: 1;
    }

    .sm\:z-10 {
        z-index: 10;
    }

    .sm\:z-20 {
        z-index: 20;
    }

    .sm\:z-30 {
        z-index: 30;
    }

    .sm\:z-40 {
        z-index: 40;
    }

    .sm\:z-50 {
        z-index: 50;
    }

    .sm\:z-auto {
        z-index: auto;
    }
}

@media (min-width: 768px) {
    .md\:z-0 {
        z-index: 0;
    }

    .md\:z-1 {
        z-index: 1;
    }

    .md\:z-10 {
        z-index: 10;
    }

    .md\:z-20 {
        z-index: 20;
    }

    .md\:z-30 {
        z-index: 30;
    }

    .md\:z-40 {
        z-index: 40;
    }

    .md\:z-50 {
        z-index: 50;
    }

    .md\:z-auto {
        z-index: auto;
    }
}

@media (min-width: 1024px) {
    .lg\:z-0 {
        z-index: 0;
    }

    .lg\:z-1 {
        z-index: 1;
    }

    .lg\:z-10 {
        z-index: 10;
    }

    .lg\:z-20 {
        z-index: 20;
    }

    .lg\:z-30 {
        z-index: 30;
    }

    .lg\:z-40 {
        z-index: 40;
    }

    .lg\:z-50 {
        z-index: 50;
    }

    .lg\:z-auto {
        z-index: auto;
    }
}

@media (min-width: 1280px) {
    .xl\:z-0 {
        z-index: 0;
    }

    .xl\:z-1 {
        z-index: 1;
    }

    .xl\:z-10 {
        z-index: 10;
    }

    .xl\:z-20 {
        z-index: 20;
    }

    .xl\:z-30 {
        z-index: 30;
    }

    .xl\:z-40 {
        z-index: 40;
    }

    .xl\:z-50 {
        z-index: 50;
    }

    .xl\:z-auto {
        z-index: auto;
    }
}

@media (min-width: 1536px) {
    .\32xl\:z-0 {
        z-index: 0;
    }

    .\32xl\:z-1 {
        z-index: 1;
    }

    .\32xl\:z-10 {
        z-index: 10;
    }

    .\32xl\:z-20 {
        z-index: 20;
    }

    .\32xl\:z-30 {
        z-index: 30;
    }

    .\32xl\:z-40 {
        z-index: 40;
    }

    .\32xl\:z-50 {
        z-index: 50;
    }

    .\32xl\:z-auto {
        z-index: auto;
    }
}
