:root {
  --slate: #F1F5F9;
  --slate-200: #E2E8F0;
  --slate-300: #CBD5E1;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1E293B;
  --blue: #0d6efd;
  --blue-300: #93C5FD;
  --blue-400: #2680eb;
  --blue-500: #1473e6;
  --blue-600: #0d66d0;
  --blue-700: #095aba;
  --indigo: #6610f2;
  --indigo-400: #6767ec;
  --indigo-500: #5c5ce0;
  --indigo-600: #5151d3;
  --indigo-700: #4646c6;
  --purple: #6f42c1;
  --purple-400: #C084FC;
  --purple-500: #A855F7;
  --purple-600: #9333EA;
  --purple-700: #7E22CE;
  --purple-800: #6B21A8;
  --pink: #d63384;
  --pink-400: #F472B6;
  --pink-500: #EC4899;
  --pink-600: #DB2777;
  --pink-700: #BE185D;
  --rose-300: #FDA4AF;
  --rose-400: #FB7185;
  --rose-500: #F43F5E;
  --rose-600: #E11D48;
  --rose-700: #BE123C;
  --rose-800: #9F1239;
  --red: #b42f3c;
  --red-400: #F87171;
  --red-500: #EF4444;
  --red-600: #DC2626;
  --red-700: #B91C1C;
  --orange: #ff7300;
  --orange-400: #e68619;
  --orange-500: #da7b11;
  --orange-600: #cb6f10;
  --orange-700: #bd640d;
  --yellow: #ffc107;
  --yellow-300: #FDE047;
  --yellow-400: #FACC15;
  --yellow-500: #EAB308;
  --yellow-600: #CA8A04;
  --yellow-700: #A16207;
  --lime-300: #BEF264;
  --lime-400: #A3E635;
  --lime-500: #84CC16;
  --lime-600: #16A34A;
  --green: #198754;
  --green-300: #86EFAC;
  --green-400: #2d9d78;
  --green-500: #268e6c;
  --green-600: #12805c;
  --green-700: #107154;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --black: #000000;
  --gray: #6c757d;
  --gray-dark: #111111;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --lightgray: #6c757d;
  --success: #18ca77;
  --info: #0fd7ff;
  --warning: #ffbf00;
  --danger: #ee1a2f;
  --light: #f3f0f0;
  --dark: #212529;
  --deafult-fonts: "Inter V", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-s: 640px;
  --breakpoint-m: 768px;
  --breakpoint-l: 1042px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;
}