/* Inline form */
.form-inline,
.form-inline .form-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline .form-group {
  width: 100%;
}

.form-inline>.form-control,
.form-inline>.input-group,
.form-inline .form-group>.form-control,
.form-inline .form-group>.input-group {
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
}

.form-inline>label,
.form-inline>.custom-control,
.form-inline>.form-text,
.form-inline>.invalid-feedback,
.form-inline .form-group>label,
.form-inline .form-group>.custom-control,
.form-inline .form-group>.form-text,
.form-inline .form-group>.invalid-feedback {
  display: flex;
  align-items: center;
  min-width: 0;
}

.form-inline>label,
.form-inline>.form-text,
.form-inline>.invalid-feedback,
.form-inline .form-group>label,
.form-inline .form-group>.form-text,
.form-inline .form-group>.invalid-feedback {
  margin: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
}

.form-inline>.form-control:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>.input-group:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>label:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>.custom-control {
  margin-right: 1rem;
}

.form-inline>.btn:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>a.btn:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>.form-text:not(:last-child) {
  margin-right: 1rem;
}

.form-inline>.invalid-feedback:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>.form-control:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>.input-group:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>label:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>.custom-control {
  margin-right: 1rem;
}

.form-inline .form-group>.btn:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>a.btn:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>.form-text:not(:last-child) {
  margin-right: 1rem;
}

.form-inline .form-group>.invalid-feedback:not(:last-child) {
  margin-right: 1rem;
}

/* Inline form for small screens and up (> 576px) */
@media (min-width: 577px) {

  .form-inline-sm,
  .form-inline-sm .form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline-sm .form-group {
    width: 100%;
  }

  .form-inline-sm>.form-control,
  .form-inline-sm>.input-group,
  .form-inline-sm .form-group>.form-control,
  .form-inline-sm .form-group>.input-group {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
  }

  .form-inline-sm>label,
  .form-inline-sm>.custom-control,
  .form-inline-sm>.form-text,
  .form-inline-sm>.invalid-feedback,
  .form-inline-sm .form-group>label,
  .form-inline-sm .form-group>.custom-control,
  .form-inline-sm .form-group>.form-text,
  .form-inline-sm .form-group>.invalid-feedback {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .form-inline-sm>label,
  .form-inline-sm>.form-text,
  .form-inline-sm>.invalid-feedback,
  .form-inline-sm .form-group>label,
  .form-inline-sm .form-group>.form-text,
  .form-inline-sm .form-group>.invalid-feedback {
    margin: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
  }

  .form-inline-sm>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-sm>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-sm .form-group>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .form-inline-sm>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-sm>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm .form-group>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm .form-group>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm .form-group>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-sm .form-group>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-sm .form-group>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* Inline form for medium screens and up (> 768px) */
@media (min-width: 769px) {

  .form-inline-md,
  .form-inline-md .form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline-md .form-group {
    width: 100%;
  }

  .form-inline-md>.form-control,
  .form-inline-md>.input-group,
  .form-inline-md .form-group>.form-control,
  .form-inline-md .form-group>.input-group {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
  }

  .form-inline-md>label,
  .form-inline-md>.custom-control,
  .form-inline-md>.form-text,
  .form-inline-md>.invalid-feedback,
  .form-inline-md .form-group>label,
  .form-inline-md .form-group>.custom-control,
  .form-inline-md .form-group>.form-text,
  .form-inline-md .form-group>.invalid-feedback {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .form-inline-md>label,
  .form-inline-md>.form-text,
  .form-inline-md>.invalid-feedback,
  .form-inline-md .form-group>label,
  .form-inline-md .form-group>.form-text,
  .form-inline-md .form-group>.invalid-feedback {
    margin: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
  }

  .form-inline-md>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-md>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-md .form-group>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 768px) {
  .form-inline-md>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-md>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md .form-group>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md .form-group>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md .form-group>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-md .form-group>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-md .form-group>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* Inline form for large screens and up (> 992px) */
@media (min-width: 993px) {

  .form-inline-lg,
  .form-inline-lg .form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline-lg .form-group {
    width: 100%;
  }

  .form-inline-lg>.form-control,
  .form-inline-lg>.input-group,
  .form-inline-lg .form-group>.form-control,
  .form-inline-lg .form-group>.input-group {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
  }

  .form-inline-lg>label,
  .form-inline-lg>.custom-control,
  .form-inline-lg>.form-text,
  .form-inline-lg>.invalid-feedback,
  .form-inline-lg .form-group>label,
  .form-inline-lg .form-group>.custom-control,
  .form-inline-lg .form-group>.form-text,
  .form-inline-lg .form-group>.invalid-feedback {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .form-inline-lg>label,
  .form-inline-lg>.form-text,
  .form-inline-lg>.invalid-feedback,
  .form-inline-lg .form-group>label,
  .form-inline-lg .form-group>.form-text,
  .form-inline-lg .form-group>.invalid-feedback {
    margin: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
  }

  .form-inline-lg>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-lg>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-lg .form-group>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 992px) {
  .form-inline-lg>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-lg>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg .form-group>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg .form-group>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg .form-group>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-lg .form-group>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-lg .form-group>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }
}

/* Inline form for extra large screens and up (> 1200px) */
@media (min-width: 1201px) {

  .form-inline-xl,
  .form-inline-xl .form-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline-xl .form-group {
    width: 100%;
  }

  .form-inline-xl>.form-control,
  .form-inline-xl>.input-group,
  .form-inline-xl .form-group>.form-control,
  .form-inline-xl .form-group>.input-group {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
  }

  .form-inline-xl>label,
  .form-inline-xl>.custom-control,
  .form-inline-xl>.form-text,
  .form-inline-xl>.invalid-feedback,
  .form-inline-xl .form-group>label,
  .form-inline-xl .form-group>.custom-control,
  .form-inline-xl .form-group>.form-text,
  .form-inline-xl .form-group>.invalid-feedback {
    display: flex;
    align-items: center;
    min-width: 0;
  }

  .form-inline-xl>label,
  .form-inline-xl>.form-text,
  .form-inline-xl>.invalid-feedback,
  .form-inline-xl .form-group>label,
  .form-inline-xl .form-group>.form-text,
  .form-inline-xl .form-group>.invalid-feedback {
    margin: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
  }

  .form-inline-xl>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-xl>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.form-control:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.input-group:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>label:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.custom-control {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>a.btn:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.form-text:not(:last-child) {
    margin-right: 1rem;
  }

  .form-inline-xl .form-group>.invalid-feedback:not(:last-child) {
    margin-right: 1rem;
  }
}

@media (max-width: 1200px) {
  .form-inline-xl>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-xl>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl .form-group>.form-control:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl .form-group>.input-group:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl .form-group>.custom-control {
    margin-bottom: 2rem;
  }

  .form-inline-xl .form-group>.btn:not(:last-child) {
    margin-bottom: 2rem;
  }

  .form-inline-xl .form-group>a.btn:not(:last-child) {
    margin-bottom: 2rem;
  }
}