.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.breadcrumb > * {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.breadcrumb > * > * {
  display: inline-block;
  font-size: 0.875rem;
  color: #999;
}

/* Hover + Focus */
.breadcrumb > * > :hover,
.breadcrumb > * > :focus {
  color: #666;
  text-decoration: none;
}

/* Disabled */
/* Active */
.breadcrumb > :last-child > span,
.breadcrumb > :last-child > a:not([href]) {
  color: #666;
}

.breadcrumb > :nth-child(n + 2):not(.first-column)::before {
  content: "/";
  display: inline-block;
  margin: 0 20px;
  font-size: 0.875rem;
  color: #999;
}
