li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link.disabled {
  color: var(--lightgray);
  pointer-events: none;
  cursor: default;
}

.nav-link:hover {
  color: var(--blue-500);
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills a {
  display: inline-flex;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 7px;
}

.nav-pills.vertical a {
  display: flex;
  max-width: 300px;
}

.nav-pills a:hover {
  background-color: rgba(223, 223, 223, 0.377);
  color: var(--dark);
}

.nav-pills a.active {
  background-color: var(--blue-500);
  color: white;
}

.nav-pills.dark a.active {
  background-color: var(--gray-dark);
  color: white;
}

.nav-pills.blue a.active {
  background-color: var(--blue-500);
  color: white;
}

.nav-pills.indigo a.active {
  background-color: var(--indigo-400);
  color: white;
}

.nav-pills.red a.active {
  background-color: var(--red-600);
  color: white;
}

.nav-pills.orange a.active {
  background-color: var(--orange-500);
  color: white;
}

.nav-pills.green a.active {
  background-color: var(--green-400);
  color: white;
}

.nav-pills.white a.active {
  background-color: var(--white);
  color: white;
}

.nav-pills.info a.active {
  background-color: var(--info);
  color: white;
}

.nav-pills.success a.active {
  background-color: var(--success);
  color: white;
}

.nav-pills .nav-fill>.nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified>.nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.hover-dropdown-button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.hover-dropdown-button::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M18.59 16.41L20 15l-8-8-8 8 1.41 1.41L12 9.83'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill='%235f6368'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: rotate(180deg);
  transform-origin: center center;
  display: inline-block;
  width: 12px;
  margin-left: 4px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  transition: transform 350ms ease;
}

.hover-dropdown {
  position: relative;
  display: inline-block;
}

.hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.096);
  z-index: 1;
}

.hover-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.hover-dropdown-content a:hover {
  background-color: #f3f3f3;
  border: none;
  border-radius: 10px;
  z-index: 1;
}

.hover-dropdown:hover .hover-dropdown-content {
  display: block;
}

.hover-dropdown-content.is-normal {
  min-width: 160px;
}

.hover-dropdown-content.is-medium {
  min-width: 300px;
}

.hover-dropdown-content.is-large {
  min-width: 600px;
}

.hover-dropdown:hover .hover-dropdown-button {
  background-color: transparent;
}

.clickable-dropbutton {
  background-color: var(--blue-400);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 10px;
}

.clickable-dropbutton::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M18.59 16.41L20 15l-8-8-8 8 1.41 1.41L12 9.83'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill='%235f6368'%3E%3Cpath d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: rotate(180deg);
  transform-origin: center center;
  display: inline-block;
  width: 12px;
  margin-left: 4px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  transition: transform 350ms ease;
}

.clickable-dropbutton:hover,
.clickable-dropbutton:focus {
  background-color: var(--blue-500);
}

.clickable-dropdown {
  position: relative;
  display: inline-block;
}

.clickable-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 500px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.158);
  z-index: 1;
}

.clickable-dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.clickable-dropdown a:hover {
  background-color: rgba(221, 221, 221, 0.26);
}

.clickable-dropdown-show {
  display: block;
}

.clickable-dropdown-content.is-small {
  min-width: 160px;
}

.clickable-dropdown-content.is-normal {
  min-width: 200px;
}

.clickable-dropdown-content.is-medium {
  min-width: 300px;
}

.clickable-dropdown-content.is-large {
  min-width: 600px;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}