.backdrop-blur-none {
    backdrop-filter: blur(0) !important;
}

.backdrop-blur-sm {
    backdrop-filter: blur(4px) !important;
}

.backdrop-blur {
    backdrop-filter: blur(8px) !important;
}

.backdrop-blur-md {
    backdrop-filter: blur(12px) !important;
}

.backdrop-blur-lg {
    backdrop-filter: blur(16px) !important;
}

.backdrop-blur-xl {
    backdrop-filter: blur(24px) !important;
}

.backdrop-blur-2xl {
    backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
    backdrop-filter: blur(64px) !important;
}

.backdrop-brightness-0 {
    backdrop-filter: brightness(0) !important;
}

.backdrop-brightness-50 {
    backdrop-filter: brightness(.5) !important;
}

.backdrop-brightness-75 {
    backdrop-filter: brightness(.75) !important;
}

.backdrop-brightness-90 {
    backdrop-filter: brightness(.9) !important;
}

.backdrop-brightness-95 {
    backdrop-filter: brightness(.95) !important;
}

.backdrop-brightness-100 {
    backdrop-filter: brightness(1) !important;
}

.backdrop-brightness-105 {
    backdrop-filter: brightness(1.05) !important;
}

.backdrop-brightness-110 {
    backdrop-filter: brightness(1.1) !important;
}

.backdrop-brightness-125 {
    backdrop-filter: brightness(1.25) !important;
}

.backdrop-brightness-150 {
    backdrop-filter: brightness(1.5) !important;
}

.backdrop-brightness-200 {
    backdrop-filter: brightness(2) !important;
}

.backdrop-contrast-0 {
    backdrop-filter: contrast(0) !important;
}

.backdrop-contrast-50 {
    backdrop-filter: contrast(.5) !important;
}

.backdrop-contrast-75 {
    backdrop-filter: contrast(.75) !important;
}

.backdrop-contrast-100 {
    backdrop-filter: contrast(1) !important;
}

.backdrop-contrast-125 {
    backdrop-filter: contrast(1.25) !important;
}

.backdrop-contrast-150 {
    backdrop-filter: contrast(1.5) !important;
}

.backdrop-contrast-200 {
    backdrop-filter: contrast(2) !important;
}

.backdrop-grayscale-0 {
    backdrop-filter: grayscale(0) !important;
}

.backdrop-grayscale {
    backdrop-filter: grayscale(100%) !important;
}

.backdrop-hue-rotate-0 {
    backdrop-filter: hue-rotate(0deg) !important;
}

.backdrop-hue-rotate-15 {
    backdrop-filter: hue-rotate(15deg) !important;
}

.backdrop-hue-rotate-30 {
    backdrop-filter: hue-rotate(30deg) !important;
}

.backdrop-hue-rotate-60 {
    backdrop-filter: hue-rotate(60deg) !important;
}

.backdrop-hue-rotate-90 {
    backdrop-filter: hue-rotate(90deg) !important;
}

.backdrop-hue-rotate-180 {
    backdrop-filter: hue-rotate(180deg) !important;
}

.backdrop-invert-0 {
    backdrop-filter: invert(0) !important;
}

.backdrop-invert {
    backdrop-filter: invert(100%) !important;
}

.backdrop-opacity-0 {
    backdrop-filter: opacity(0) !important;
}

.backdrop-opacity-5 {
    backdrop-filter: opacity(0.05) !important;
}

.backdrop-opacity-10 {
    backdrop-filter: opacity(0.1) !important;
}

.backdrop-opacity-20 {
    backdrop-filter: opacity(0.2) !important;
}

.backdrop-opacity-25 {
    backdrop-filter: opacity(0.25) !important;
}

.backdrop-opacity-30 {
    backdrop-filter: opacity(0.3) !important;
}

.backdrop-opacity-40 {
    backdrop-filter: opacity(0.4) !important;
}

.backdrop-opacity-50 {
    backdrop-filter: opacity(0.5) !important;
}

.backdrop-saturate-0 {
    backdrop-filter: saturate(0) !important;
}

.backdrop-saturate-50 {
    backdrop-filter: saturate(.5) !important;
}

.backdrop-saturate-100 {
    backdrop-filter: saturate(1) !important;
}

.backdrop-saturate-150 {
    backdrop-filter: saturate(1.5) !important;
}

.backdrop-saturate-200 {
    backdrop-filter: saturate(2) !important;
}

.backdrop-sepia-0 {
    backdrop-filter: sepia(0) !important;
}

.backdrop-sepia {
    backdrop-filter: sepia(100%) !important;
}