.breakpoint-s::before {
  content: "640px" !important;
}

.breakpoint-m::before {
  content: "960px" !important;
}

.breakpoint-l::before {
  content: "1200px" !important;
}

.breakpoint-xl::before {
  content: "1600px" !important;
}