.caret-inherit {
    caret-color: inherit;
}

.caret-current {
    caret-color: currentColor;
}

.caret-transparent {
    caret-color: transparent;
}

.caret-black {
    caret-color: var(--black);
}

.caret-white {
    caret-color: var(--white);
}

.caret-slate {
    caret-color: var(--slate);
}

.caret-slate-200 {
    caret-color: var(--slate-200);
}

.caret-slate-300 {
    caret-color: var(--slate-300);
}

.caret-slate-400 {
    caret-color: var(--slate-400);
}

.caret-slate-500 {
    caret-color: var(--slate-500);
}

.caret-slate-600 {
    caret-color: var(--slate-600);
}

.caret-slate-700 {
    caret-color: var(--slate-700);
}

.caret-slate-800 {
    caret-color: var(--slate-800);
}

.caret-blue {
    caret-color: var(--blue);
}

.caret-blue-400 {
    caret-color: var(--blue-400);
}

.caret-blue-500 {
    caret-color: var(--blue-500);
}

.caret-blue-600 {
    caret-color: var(--blue-600);
}

.caret-blue-700 {
    caret-color: var(--blue-700);
}

.caret-purple {
    caret-color: var(--purple);
}

.caret-purple-400 {
    caret-color: var(--purple-400);
}

.caret-purple-500 {
    caret-color: var(--purple-500);
}

.caret-purple-600 {
    caret-color: var(--purple-600);
}

.caret-purple-700 {
    caret-color: var(--purple-700);
}

.caret-pink {
    caret-color: var(--pink);
}

.caret-pink-400 {
    caret-color: var(--pink-400);
}

.caret-pink-500 {
    caret-color: var(--pink-500);
}

.caret-pink-600 {
    caret-color: var(--pink-600);
}

.caret-pink-700 {
    caret-color: var(--pink-700);
}

.caret-red {
    caret-color: var(--red);
}

.caret-red-400 {
    caret-color: var(--red-400);
}

.caret-red-500 {
    caret-color: var(--red-500);
}

.caret-red-600 {
    caret-color: var(--red-600);
}

.caret-orange {
    caret-color: var(--orange);
}

.caret-orange-400 {
    caret-color: var(--orange-400);
}

.caret-orange-500 {
    caret-color: var(--orange-500);
}

.caret-orange-600 {
    caret-color: var(--orange-600);
}

.caret-orange-700 {
    caret-color: var(--orange-700);
}

.caret-yellow {
    caret-color: var(--yellow);
}

.caret-yellow-400 {
    caret-color: var(--yellow-400);
}

.caret-yellow-500 {
    caret-color: var(--yellow-500);
}

.caret-yellow-600 {
    caret-color: var(--yellow-600);
}

.caret-yellow-700 {
    caret-color: var(--yellow-700);
}

.caret-green {
    caret-color: var(--green);
}

.caret-green-400 {
    caret-color: var(--green-400);
}

.caret-green-500 {
    caret-color: var(--green-500);
}

.caret-green-600 {
    caret-color: var(--green-600);
}

.caret-green-700 {
    caret-color: var(--green-700);
}

.caret-gray {
    caret-color: var(--gray);
}

.caret-gray-100 {
    caret-color: var(--gray-100);
}

.caret-gray-200 {
    caret-color: var(--gray-200);
}

.caret-gray-300 {
    caret-color: var(--gray-300);
}

.caret-gray-400 {
    caret-color: var(--gray-400);
}

.caret-gray-500 {
    caret-color: var(--gray-500);
}

.caret-gray-600 {
    caret-color: var(--gray-600);
}

.caret-gray-700 {
    caret-color: var(--gray-700);
}

.caret-gray-800 {
    caret-color: var(--gray-800);
}

.caret-gray-900 {
    caret-color: var(--gray-900);
}