.svg,
.svg:not(.preserve) [fill*="#"]:not(.preserve) {
  fill: currentcolor;
}

.svg:not(.preserve) [stroke*="#"]:not(.preserve) {
  stroke: currentcolor;
}

/*
* Fix Firefox blurry SVG rendering: https://bugzilla.mozilla.org/show_bug.cgi?id=1046835
*/
.svg {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* Screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.focus-within\:sr-only:focus-within {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus-within\:not-sr-only:focus-within {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.focus\:sr-only:focus {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* Pointer events utilities */

.pointer-events-all {
  pointer-events: all !important;
}

.pointer-events-fill {
  pointer-events: fill !important;
}

.pointer-events-painted {
  pointer-events: painted !important;
}

.pointer-events-stroke {
  pointer-events: stroke !important;
}

.pointer-events-visible {
  pointer-events: visible !important;
}

.pointer-events-inherit {
  pointer-events: inherit !important;
}

.pointer-events-initial {
  pointer-events: initial !important;
}

.pointer-events-unset {
  pointer-events: unset !important;
}

.pointer-events-auto {
  pointer-events: auto !important;
}

.pointer-events-none {
  pointer-events: none !important;
}