.outline {
    outline-style: solid;
}

.outline-dashed {
    outline-style: dashed;
}

.outline-dotted {
    outline-style: dotted;
}

.outline-double {
    outline-style: double;
}

.outline-hidden {
    outline-style: hidden;
}

.outline-none {
    outline-style: none;
}

.outline-inherit {
    outline-color: inherit;
}

.outline-current {
    outline-color: currentColor;
}

.outline-transparent {
    outline-color: transparent;
}

.outline-black {
    outline-color: var(--black);
}

.outline-white {
    outline-color: var(--white);
}

.outline-slate {
    outline-color: var(--slate);
}

.outline-slate-200 {
    outline-color: var(--slate-200);
}

.outline-slate-300 {
    outline-color: var(--slate-300);
}

.outline-slate-400 {
    outline-color: var(--slate-400);
}

.outline-slate-500 {
    outline-color: var(--slate-500);
}

.outline-slate-600 {
    outline-color: var(--slate-600);
}

.outline-slate-700 {
    outline-color: var(--slate-700);
}

.outline-slate-800 {
    outline-color: var(--slate-800);
}

.outline-blue {
    outline-color: var(--blue);
}

.outline-blue-400 {
    outline-color: var(--blue-400);
}

.outline-blue-500 {
    outline-color: var(--blue-500);
}

.outline-blue-600 {
    outline-color: var(--blue-600);
}

.outline-blue-700 {
    outline-color: var(--blue-700);
}

.outline-indigo {
    outline-color: var(--indigo);
}

.outline-indigo-400 {
    outline-color: var(--indigo-400);
}

.outline-indigo-500 {
    outline-color: var(--indigo-500);
}

.outline-indigo-600 {
    outline-color: var(--indigo-600);
}

.outline-indigo-700 {
    outline-color: var(--indigo-700);
}

.outline-purple {
    outline-color: var(--purple);
}

.outline-purple-400 {
    outline-color: var(--purple-400);
}

.outline-purple-500 {
    outline-color: var(--purple-500);
}

.outline-purple-600 {
    outline-color: var(--purple-600);
}

.outline-purple-700 {
    outline-color: var(--purple-700);
}

.outline-pink {
    outline-color: var(--pink);
}

.outline-pink-400 {
    outline-color: var(--pink-400);
}

.outline-pink-500 {
    outline-color: var(--pink-500);
}

.outline-pink-600 {
    outline-color: var(--pink-600);
}

.outline-pink-700 {
    outline-color: var(--pink-700);
}

.outline-red {
    outline-color: var(--red);
}

.outline-red-400 {
    outline-color: var(--red-400);
}

.outline-red-500 {
    outline-color: var(--red-500);
}

.outline-red-600 {
    outline-color: var(--red-600);
}

.outline-yellow {
    outline-color: var(--yellow);
}

.outline-yellow-400 {
    outline-color: var(--yellow-400);
}

.outline-yellow-500 {
    outline-color: var(--yellow-500);
}

.outline-yellow-600 {
    outline-color: var(--yellow-600);
}

.outline-yellow-700 {
    outline-color: var(--yellow-700);
}

.outline-green {
    outline-color: var(--green);
}

.outline-green-400 {
    outline-color: var(--green-400);
}

.outline-green-500 {
    outline-color: var(--green-500);
}

.outline-green-600 {
    outline-color: var(--green-600);
}

.outline-green-700 {
    outline-color: var(--green-700);
}

.outline-gray-100 {
    outline-color: var(--gray-100);
}

.outline-gray-200 {
    outline-color: var(--gray-200);
}

.outline-gray-300 {
    outline-color: var(--gray-300);
}

.outline-gray-400 {
    outline-color: var(--gray-400);
}

.outline-gray-500 {
    outline-color: var(--gray-500);
}

.outline-gray-600 {
    outline-color: var(--gray-600);
}

.outline-gray-700 {
    outline-color: var(--gray-700);
}

.outline-gray-800 {
    outline-color: var(--gray-800);
}

.outline-gray-900 {
    outline-color: var(--gray-900);
}

.outline-0 {
    outline-width: 0px
}

.outline-1 {
    outline-width: 1px
}

.outline-2 {
    outline-width: 2px
}

.outline-4 {
    outline-width: 4px
}

.outline-8 {
    outline-width: 8px
}

.outline-offset-0 {
    outline-offset: 0px
}

.outline-offset-1 {
    outline-offset: 1px
}

.outline-offset-2 {
    outline-offset: 2px
}

.outline-offset-4 {
    outline-offset: 4px
}

.outline-offset-8 {
    outline-offset: 8px
}