.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-x-auto {
  overflow-x: auto !important;
}

.overflow-y-auto {
  overflow-y: auto !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-x-scroll {
  overflow-x: scroll !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.text-ellipsis {
  text-overflow: ellipsis !important;
}

.text-clip {
  text-overflow: clip !important;
}

.overflow-clip {
  overflow: clip !important;
}

.overflow-x-clip {
  overflow-x: clip !important;
}

.overflow-y-clip {
  overflow-y: clip !important;
}

@media (min-width: 640px) {
  .overflow-sm-hidden {
    overflow: hidden !important;
  }

  .overflow-x-sm-hidden {
    overflow-x: hidden !important;
  }

  .overflow-y-sm-hidden {
    overflow-y: hidden !important;
  }

  .overflow-sm-auto {
    overflow: auto !important;
  }

  .overflow-x-sm-auto {
    overflow-x: auto !important;
  }

  .overflow-y-sm-auto {
    overflow-y: auto !important;
  }

  .overflow-sm-scroll {
    overflow: scroll !important;
  }

  .overflow-x-sm-scroll {
    overflow-x: scroll !important;
  }

  .overflow-y-sm-scroll {
    overflow-y: scroll !important;
  }
}

@media (min-width: 768px) {
  .overflow-md-hidden {
    overflow: hidden !important;
  }

  .overflow-x-md-hidden {
    overflow-x: hidden !important;
  }

  .overflow-y-md-hidden {
    overflow-y: hidden !important;
  }

  .overflow-md-auto {
    overflow: auto !important;
  }

  .overflow-x-md-auto {
    overflow-x: auto !important;
  }

  .overflow-y-md-auto {
    overflow-y: auto !important;
  }

  .overflow-md-scroll {
    overflow: scroll !important;
  }

  .overflow-x-md-scroll {
    overflow-x: scroll !important;
  }

  .overflow-y-md-scroll {
    overflow-y: scroll !important;
  }
}

@media (min-width: 1024px) {
  .overflow-lg-hidden {
    overflow: hidden !important;
  }

  .overflow-x-lg-hidden {
    overflow-x: hidden !important;
  }

  .overflow-y-lg-hidden {
    overflow-y: hidden !important;
  }

  .overflow-lg-auto {
    overflow: auto !important;
  }

  .overflow-x-lg-auto {
    overflow-x: auto !important;
  }

  .overflow-y-lg-auto {
    overflow-y: auto !important;
  }

  .overflow-lg-scroll {
    overflow: scroll !important;
  }

  .overflow-x-lg-scroll {
    overflow-x: scroll !important;
  }

  .overflow-y-lg-scroll {
    overflow-y: scroll !important;
  }
}

@media (min-width: 1280px) {
  .overflow-xl-hidden {
    overflow: hidden !important;
  }

  .overflow-x-xl-hidden {
    overflow-x: hidden !important;
  }

  .overflow-y-xl-hidden {
    overflow-y: hidden !important;
  }

  .overflow-xl-auto {
    overflow: auto !important;
  }

  .overflow-x-xl-auto {
    overflow-x: auto !important;
  }

  .overflow-y-xl-auto {
    overflow-y: auto !important;
  }

  .overflow-xl-scroll {
    overflow: scroll !important;
  }

  .overflow-x-xl-scroll {
    overflow-x: scroll !important;
  }

  .overflow-y-xl-scroll {
    overflow-y: scroll !important;
  }
}