.scroll-behavior-auto {
    scroll-behavior: auto;
}

.scroll-behavior-smooth {
    scroll-behavior: smooth;
}

/* Global values */
.scroll-behavior-inherit {
    scroll-behavior: inherit;
}

.scroll-behavior-initial {
    scroll-behavior: initial;
}

.scroll-behavior-revert {
    scroll-behavior: revert;
}

.scroll-behavior-unset {
    scroll-behavior: unset;
}