.scroll-auto {
    scroll-behavior: auto;
}

.scroll-smooth {
    scroll-behavior: smooth;
}

/* Global values */
.scroll-inherit {
    scroll-behavior: inherit;
}

.scroll-initial {
    scroll-behavior: initial;
}

.scroll-revert {
    scroll-behavior: revert;
}

.scroll-unset {
    scroll-behavior: unset;
}