.z-0 {
  z-index: 0 !important;
}

.z-1 {
  z-index: 1 !important;
}

.z-10 {
  z-index: 10 !important;
}

.z-20 {
  z-index: 20 !important;
}

.z-30 {
  z-index: 30 !important;
}

.z-40 {
  z-index: 40 !important;
}

.z-50 {
  z-index: 50 !important;
}

.z-auto {
  z-index: auto !important;
}

@media (min-width: 577px) {
  .z-sm-0 {
    z-index: 0 !important;
  }

  .z-sm-1 {
    z-index: 1 !important;
  }

  .z-sm-10 {
    z-index: 10 !important;
  }

  .z-sm-20 {
    z-index: 20 !important;
  }

  .z-sm-30 {
    z-index: 30 !important;
  }

  .z-sm-40 {
    z-index: 40 !important;
  }

  .z-sm-50 {
    z-index: 50 !important;
  }

  .z-sm-auto {
    z-index: auto !important;
  }
}

@media (min-width: 769px) {
  .z-md-0 {
    z-index: 0 !important;
  }

  .z-md-1 {
    z-index: 1 !important;
  }

  .z-md-10 {
    z-index: 10 !important;
  }

  .z-md-20 {
    z-index: 20 !important;
  }

  .z-md-30 {
    z-index: 30 !important;
  }

  .z-md-40 {
    z-index: 40 !important;
  }

  .z-md-50 {
    z-index: 50 !important;
  }

  .z-md-auto {
    z-index: auto !important;
  }
}

@media (min-width: 993px) {
  .z-lg-0 {
    z-index: 0 !important;
  }

  .z-lg-1 {
    z-index: 1 !important;
  }

  .z-lg-10 {
    z-index: 10 !important;
  }

  .z-lg-20 {
    z-index: 20 !important;
  }

  .z-lg-30 {
    z-index: 30 !important;
  }

  .z-lg-40 {
    z-index: 40 !important;
  }

  .z-lg-50 {
    z-index: 50 !important;
  }

  .z-lg-auto {
    z-index: auto !important;
  }
}

@media (min-width: 1201px) {
  .z-xl-0 {
    z-index: 0 !important;
  }

  .z-xl-1 {
    z-index: 1 !important;
  }

  .z-xl-10 {
    z-index: 10 !important;
  }

  .z-xl-20 {
    z-index: 20 !important;
  }

  .z-xl-30 {
    z-index: 30 !important;
  }

  .z-xl-40 {
    z-index: 40 !important;
  }

  .z-xl-50 {
    z-index: 50 !important;
  }

  .z-xl-auto {
    z-index: auto !important;
  }
}