/* Footer */
.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
  margin-top: 5rem;
  width: 100%;

  &.fixed {
    bottom: 0;
    position: fixed;
  }

  &.is-dark {
    background-color: var(--gray-900);
    color: var(--white);
  }

  &.is-grey {
    background-color: var(--grey-400);
    color: var(--black);
  }
}
