.section {
  padding: 3rem 1.5rem;

  &.xs-small {
    @media screen and (min-width: 1024px) {
      padding: 4.5rem 1.5rem;
    }
  }

  &.small {
    @media screen and (min-width: 1024px) {
      padding: 4.5rem 1.5rem;
    }
  }

  &.medium {
    @media screen and (min-width: 1024px) {
      padding: 9rem 1.5rem;
    }
  }

  &.large {
    @media screen and (min-width: 1024px) {
      padding: 18rem 1.5rem;
    }
  }

  &.xl-large {
    @media screen and (min-width: 1024px) {
      padding: 24rem 1.5rem;
    }
  }
}
