.section {
  padding: 3rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3rem 3rem;
  }
  .section.xs-small {
    padding: 4.5rem 1.5rem;
  }
  .section.small {
    padding: 4.5rem 1.5rem;
  }
  .section.medium {
    padding: 9rem 1.5rem;
  }
  .section.large {
    padding: 18rem 1.5rem;
  }
  .section.xl-large {
    padding: 24rem 1.5rem;
  }
}
