.hero {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 65vh;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  background: url() center center no-repeat;
  background-size: cover;
}

.hero .navbar {
  background: none;
}

.hero.is-small .hero-body {
  padding: 1.5rem;
}

@media screen and (min-width: 769px),
print {
  .hero.is-medium .hero-body {
    padding: 9rem 1.5rem;
  }
}

@media screen and (min-width: 769px),
print {
  .hero.is-large .hero-body {
    padding: 18rem 1.5rem;
  }
}

.hero.is-halfheight .hero-body,
.hero.is-fullheight .hero-body,
.hero.is-fullheight-with-navbar .hero-body {
  align-items: center;
  display: flex;
}

.hero.is-halfheight .hero-body>.container,
.hero.is-fullheight .hero-body>.container,
.hero.is-fullheight-with-navbar .hero-body>.container {
  flex-grow: 1;
  flex-shrink: 1;
}

.hero.is-halfheight {
  min-height: 50vh;
}

.hero.is-fullheight {
  min-height: 100vh;
}

.hero-video {
  overflow: hidden;
}

.hero-video video {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.hero-video.is-transparent {
  opacity: 0.3;
}

@media screen and (max-width: 768px) {
  .hero-video {
    display: none;
  }
}

.hero-video.fullscreen video {
  height: 100%;
  object-fit: fill;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.hero-btns {
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .hero-btns .btn {
    display: flex;
  }

  .hero-btns .btn:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

@media screen and (min-width: 769px),
print {
  .hero-btns {
    display: flex;
    justify-content: center;
  }

  .hero-btns .btn:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.hero-head,
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

// Some color options

.hero.is-white {
  background-color: var(--white);
  color: var(--black);
}

.hero.is-black {
  background-color: var(--black);
  color: var(--white);
}

.hero.is-blue {
  background-color: var(--blue);
  color: var(--white);
}

.hero.is-indigo {
  background-color: var(--indigo);
  color: var(--white);
}

.hero.is-purple {
  background-color: var(--purple);
  color: var(--white);
}

.hero.is-pink {
  background-color: var(--pink);
  color: var(--white);
}

.hero.is-red {
  background-color: var(--red);
  color: var(--white);
}

.hero.is-orange {
  background-color: var(--orange);
  color: var(--black);
}

.hero.is-yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.hero.is-green {
  background-color: var(--green);
  color: var(--black);
}