/* Sticky alerts */
.sticky-alerts {
  position: fixed;
  top: 0;
  right: 2.4rem;
  z-index: 100;
  /* Can be used on top of modals */
}

.alert {
  position: relative;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #1890ff;
  background-image: none;
  border-color: #1890ff;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.alert-heading {
  color: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

.alert-link,
.alert-link {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}

.alert-link:hover,
.alert-link:hover {
  color: inherit;
  opacity: 0.75;
}

.alert .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: inherit;
  padding: 0.4rem 0.6rem;
  line-height: 1;
  font-size: 1.6rem;
  background-color: transparent;
  border-color: transparent;
}

.alert .close:focus {
  outline: 2px solid rgba(0, 0, 0, 0.5);
  outline-offset: 0.2rem;
}

.alert.dispose {
  display: none;
}

/* Sticky alerts */
.sticky-alerts .alert {
  display: none;
  width: 27rem;
  margin-top: 1rem;
  right: -50rem;
  /* Hidden by default */
  -webkit-box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.045);
}

.sticky-alerts .alert.show {
  right: 0;
  -webkit-transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: right 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.sticky-alerts .alert.fade {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s 0.4s, opacity 0.4s linear;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.sticky-alerts .alert.alert-block {
  display: block;
}

.sticky-alerts .alert.alert-block.dispose {
  display: none;
}

/* Filled alerts */

.alert.alert-primary.filled {
  color: #ffffff;
  background-color: #1890ff;
  background-image: none;
  border-color: #1890ff;
}

.alert.alert-primary.filled-lm {
  color: #ffffff;
  background-color: #1890ff;
  background-image: none;
  border-color: #1890ff;
}

.alert.alert-success.filled {
  color: rgba(0, 0, 0, 0.85);
  background-color: #0be881;
  background-image: none;
  border-color: #0be881;
}

.alert.alert-success.filled-lm {
  color: rgba(0, 0, 0, 0.85);
  background-color: #0be881;
  background-image: none;
  border-color: #0be881;
}

.alert.alert-secondary.filled {
  color: rgba(0, 0, 0, 0.85);
  background-color: #ffcf00;
  background-image: none;
  border-color: #ffcf00;
}

.alert.alert-secondary.filled-lm {
  color: rgba(0, 0, 0, 0.85);
  background-color: #ffcf00;
  background-image: none;
  border-color: #ffcf00;
}

.alert.alert-danger.filled {
  color: #ffffff;
  background-color: #ff4d4f;
  background-image: none;
  border-color: #ff4d4f;
}

.alert.alert-danger.filled-lm {
  color: #ffffff;
  background-color: #ff4d4f;
  background-image: none;
  border-color: #ff4d4f;
}

/* Colors */
.alert.alert-blue {
  background-color: white;
  color: var(--blue);
}

.alert.alert-indigo {
  background-color: white;
  color: var(--indigo);
}

.alert.alert-pink {
  background-color: white;
  color: var(--pink);
}

.alert.alert-red {
  background-color: white;
  color: var(--red);
}

.alert.alert-orange {
  background-color: white;
  color: var(--orange);
}

.alert.alert-green {
  background-color: white;
  color: var(--green);
}

.alert.alert-dark-grey {
  background-color: white;
  color: var(--gray-dark);
}

.alert.alert-warning {
  background-color: var(--darkmode-background);
  color: var(--warning);
}

.alert.alert-danger {
  background-color: var(--darkmode-background);
  color: var(--danger);
}

.alert.alert-light {
  background-color: var(--darkmode-background);
  color: var(--light);
}

.alert.alert-dark {
  background: white;
  color: var(--dark);
}
