.empty {
  background: #f7f8f9;
  border-radius: 0.1rem;
  color: #66758c;
  padding: 3.2rem 1.6rem;
  text-align: center;

  &__icon {
    margin-bottom: 1rem;
  }

  &__title,
  &__subtitle {
    margin: 0.4rem auto;
  }

  &__action {
    margin-top: 0.8rem;
  }
}
