$responsive-embed-height: 0;
$responsive-embed-margin-bottom: 1rem;
$responsive-embed-padding-bottom: 75%;
$responsive-embed-overflow: hidden;

$responsive-embed-widescreen-padding-bottom: 56.25%;

$responsive-embed-media-position: absolute;
$responsive-embed-media-top: 0;
$responsive-embed-media-left: 0;
$responsive-embed-media-width: 100%;
$responsive-embed-media-height: 100%;

.responsive-embed,
.flex-video {
  position: $responsive-embed-media-position;
  height: $responsive-embed-height;
  margin-bottom: $responsive-embed-margin-bottom;
  padding-bottom: $responsive-embed-padding-bottom;
  overflow: $responsive-embed-overflow;

  iframe,
  object,
  embed,
  video {
    position: $responsive-embed-media-position;
    top: $responsive-embed-media-top;
    left: $responsive-embed-media-left;
    width: $responsive-embed-media-width;
    height: $responsive-embed-media-height;
  }

  &.widescreen {
    padding-bottom: $responsive-embed-widescreen-padding-bottom;
  }
}
